@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";
.country-settings {
  .country-info {
    .kyc-header {
      color: $yellow-500;
    }
    .country-header {
      letter-spacing: 1px;
    }
    .country-sub-header {
      color: #9fb3b4;
    }
    .divider{
      border-top: 1px solid $custom-grey-7;
    }

  }
}

.download-csv-btn {
  @media (max-width: map-get($grid-breakpoints , 'lg')){
    float: left;
  }
  @media (min-width: map-get($grid-breakpoints , 'lg')){
    float: right;
  }
}

