<div class="container-binance">

  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        <div class="text-center">
          <h1 class="title">OST Token</h1>
          <p class="desc">Did you miss the OST token sale? Here are some recommended places to purchase OST.</p>
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/st-company/images/st-company-binance-logo@3x.png" alt="Binance Logo" width="202"/>
          <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/documents" class="btn-common btn-gold" title="Buy OST Token ">buy ost token</a>
        </div>

      </div>

    </div>

  </div>

</div>