<div class="container container-features" id="features">

  <div class="row feature">
    <div class="col-sm-6 col-left">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-1.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-1-2x.png 1000w" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Simple Development</h2>
      <p class="desc">
        Focus on your users and your marketplace rather than on learning and developing blockchain infrastructure. Leverage the Simple Token protocols to easily tokenize your app.
      </p>
    </div>
  </div>
  <div class="row feature-mobile">
    <div class="col-xs-12">
      <h2>Simple Development</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-1.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-1-2x.png 1000w" class="img-responsive" />
      <p class="desc">
        Focus on your users and your marketplace rather than on learning and developing blockchain infrastructure. Leverage the Simple Token protocols to easily tokenize your app.
      </p>
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left col-text">
      <h2>Customize the Experience</h2>
      <p class="desc">
        Simple Token lets you design a unique experience. Brand your token, set desired exchange rates and allowable fluctuations, setup various transaction types and user incentives. You own the experience from end to end.
      </p>
    </div>
    <div class="col-sm-6 col-right">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-2.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-2-2x.png 1000w" class="img-responsive" />
    </div>
  </div>
  <div class="row feature-mobile">
    <div class="col-xs-12">
      <h2>Customize the Experience</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-2.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-2-2x.png 1000w" class="img-responsive" />
      <p class="desc">
        Simple Token lets you design a unique experience. Brand your token, set desired exchange rates and allowable fluctuations, setup various transaction types and user incentives. You own the experience from end to end.
      </p>
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-3.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-3-2x.png 1000w" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Analyze &amp; Optimize</h2>
      <p class="desc">
        It's your economy, we give you the tools to manage it. Simple Token includes world class monitoring, analytics, macro and micro economy trends, fraud detection and prevention, and security.
      </p>
    </div>
  </div>
  <div class="row feature-mobile">
    <div class="col-xs-12">
      <h2>Analyze &amp; Optimize</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-3.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/features-image-3-2x.png 1000w" class="img-responsive" />
      <p class="desc">
        It's your economy, we give you the tools to manage it. Simple Token includes world class monitoring, analytics, macro and micro economy trends, fraud detection and prevention, and security.
      </p>
    </div>
  </div>

</div>