<div class="container container-jumbotron">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-left">
      <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline.png" srcset="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-2x.png 1000w" class="logo-desktop img-responsive" />
      <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-mobile.png" class="logo-mobile img-responsive" />
      <div class="desc">
        <h1>Simple Token is the bridge between crypto-currencies and mainstream consumer apps.</h1>
        <p>
          Any app can launch branded tokens on open scalable side-chains, powered by
          Simple Token, a protocol for consumer-app tokenization and an ERC-20 utility token.
        </p>
      </div>
      <a href="#features" class="btn-common btn-gold smooth-scroll btn-features">Learn More</a>
      <a href="/documents" class="btn-common btn-grey smooth-scroll btn-documents" title="Get The Docs">Get The Docs</a>
    </div>
  </div>
</div>

<div class="container-fluid container-illustration-desktop">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-6 col-right">
      <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/image/illustration.png" srcset="//d3attjoi5jlede.cloudfront.net/simpletoken/image/illustration-2x.png 1000w" class="img-responsive" style="position: absolute;top: -440px;max-width: 490px"/>
    </div>
  </div>
</div>

<div class="container-fluid container-illustration-vtablet-mobile">
  <div class="row">
    <div class="col-xs-12" style="background: linear-gradient(to bottom, #fff 0%,#fff 80%,#000000 50%,#91c0ad 20%,#91c0ad 20%);">
      <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/image/illustration.png" srcset="//d3attjoi5jlede.cloudfront.net/simpletoken/image/illustration-2x.png 1000w" class="img-responsive" style="margin:0 auto;"/>
    </div>
  </div>
</div>

<div class="container-fluid container-jumbotron-desc">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <p class="desc">
        We're building a network and ecosystem for consumer app tokenization.
        Join in and get all the benefits of blockchain tokens without the high costs and risks of building everything yourself from scratch.
      </p>
    </div>
  </div>
  <div class="container-social text-center">
    <ul style="margin: 30px 0 0">
      <li>
        <a href="https://twitter.com/TheSimpleToken" target="_blank" title="Simple Token Twitter">
          <span class="jumbotron-twitter-icon"></span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/18209852/" target="_blank" title="Simple Token LinkedIn">
          <span class="jumbotron-linkedIn-icon"></span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/simpletoken/" target="_blank" title="Simple Token Facebook">
          <span class="jumbotron-facebook-icon"></span>
        </a>
      </li>
      <li>
        <a href="https://t.me/simpletoken" target="_blank" title="Simple Token Telegram">
          <span class="jumbotron-telegram-icon"></span>
        </a>
      </li>
      <li>
        <a href="https://medium.com/simple-token" target="_blank" title="Simple Token Medium">
          <span class="jumbotron-medium-icon"></span>
        </a>
      </li>
    </ul>
  </div>
</div>