<div class="container-fluid container-play-video container-jumbotron" style="background: transparent;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="side-by-side-content">
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-2x.png 1000w" class="logo-desktop img-responsive" alt="Simple Token Logo"/>
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" class="logo-mobile img-responsive"/>
            <div class="desc">
              <h1>Cryptocurrency to Empower Digital Communities</h1>
              <p>Easily launch digital currencies on open Ethereum sidechains and turn any business into a dynamic ecosystem.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-5">
            <div class="image no-mobile illustration">
              <%= render :partial => "/web/home/index/play_video" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => '/web/home/index/medium_articles' %>

<div class="container-fluid container-jumbotron-desc">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <p class="desc">
        We're building a network for consumer apps tokenization. Get all the benefits of a blockchain infrastructure
        without the high costs and risks of building everything yourself from scratch.
      </p>
    </div>
  </div>
  <div class="container-social text-center">
    <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/product" class="btn-common btn-gold" title="About the Product">About
      the Product</a>
    <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/documents" class="btn-common btn-grey" title="Get the Docs">Get
      the Docs</a>
  </div>
</div>