<div class="container container-jumbotron">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-left">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-2x.png 1000w" class="logo-desktop img-responsive" />
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" class="logo-mobile img-responsive" />
      <div class="desc">
        <h1>Simple Token enables any business to launch a branded cryptocurrency on open Ethereum sidechains.</h1>
        <p>
          Register today for the Early Access whitelist. Only people on the Early Access whitelist can purchase on November 14th. The general public must wait until the November 15th to purchase, if token supplies last.
        </p>
      </div>
      <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/" class="btn-common btn-gold btn-features" title="Register for early access">Register for early access</a>
    </div>

    <div class="col-sm-12 col-md-6 illustration">
      <div class="btn-common btn-play" data-toggle="modal" data-target="#youtube-video-modal" data-src="https://www.youtube.com/embed/oLQSM5prDgk?rel=0&autoplay=1">
        <div class="play" style="vertical-align: middle;">
          <svg class="svg">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
            </switch>
          </svg>
        </div>
        <span style="vertical-align: middle;line-height: 25px;">Play Video</span>
      </div>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/illustration.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/illustration-2x.png 1000w" class="img-responsive" />
    </div>

  </div>
</div>

<div class="container-fluid container-jumbotron-desc">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <p class="desc">
        We're building a network and ecosystem for consumer app tokenization.
        Join in and get all the benefits of blockchain tokens without the high costs and risks of building everything yourself from scratch.
      </p>
    </div>
  </div>
  <div class="container-social text-center">
    <ul style="margin: 30px 0 0">
      <li>
        <a href="https://twitter.com/TheSimpleToken" target="_blank" title="Simple Token Twitter">
          <span class="jumbotron-twitter-icon"></span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/18209852/" target="_blank" title="Simple Token LinkedIn">
          <span class="jumbotron-linkedIn-icon"></span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/simpletoken/" target="_blank" title="Simple Token Facebook">
          <span class="jumbotron-facebook-icon"></span>
        </a>
      </li>
      <li>
        <a href="https://t.me/simpletoken" target="_blank" title="Simple Token Telegram">
          <span class="jumbotron-telegram-icon"></span>
        </a>
      </li>
      <li>
        <a href="https://medium.com/simple-token" target="_blank" title="Simple Token Medium">
          <span class="jumbotron-medium-icon"></span>
        </a>
      </li>
      <li>
        <a href="https://github.com/OpenSTFoundation" target="_blank" title="Simple Token Github">
          <span class="jumbotron-github-icon"></span>
        </a>
      </li>
    </ul>
  </div>
</div>