<section class="container-fluid container-openst-jumbotron text-center">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h1 class="title">OpenST</h1>
          <p class="primary">
            The OpenST Foundation is a non-profit Hong Kong membership company. The Foundation’s mandate is to support ongoing development and utility of the OpenST protocol, provide administrative oversight to the OST token economy, and to further the OST ecosystem.
          </p>
          <p class="primary">
            Simple Token company has the mandate to build the initial OpenST solutions and application of the OpenST protocol.
          </p>
          <div class="btn-container">
            <a href="https://simpletoken.org/" target="_blank" class="btn-common btn-gold" title="Explore Open ST">Explore Open ST</a>
            <a href="#token" class="btn-common btn-grey" title="OpenST Protocol">OpenST Protocol</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
