<div class="btn-common btn-play" data-toggle="modal" data-target="#youtube-video-modal" data-src="https://www.youtube.com/embed/-SxJ8c1Xh_A?rel=0&autoplay=1" title="Watch Demo">
  <div class="play" style="vertical-align: middle;">
    <svg class="svg">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
      </switch>
    </svg>
  </div>
  <span style="vertical-align: middle;line-height: 25px;">Watch Intro</span>
</div>
<img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-1x.png" alt="Watch Demo" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-2x.png" />
