<div class="container-press">

  <div class="container">

    <h2>A bit more about Simple Token</h2>

    <div class="row">

        <div class="col-xs-12">

          <div class="video-carousel">

<%
   videos = [
       {
               title: "CEO Jason Goldberg at Immutable Blockchain Summit",
               video_embed: "https://www.youtube.com/embed/qz8LhpKCsw0?rel=0&autoplay=1",
               image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-video-poster-qz8LhpKCsw0.png",
       },
       {
               title: "Jason Goldberg intros Simple Token for apps to launch branded crytpo tokens",
               video_embed: "https://www.youtube.com/embed/7aY5R1yXhwA?rel=0&autoplay=1",
               image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-video-poster-7aY5R1yXhwA.png",
       },
       {
               title: "Epicenter - Bringing Tokens to Mainstream Consumer Applications",
               video_embed: "https://www.youtube.com/embed/c8swtDtappM?rel=0&autoplay=1",
               image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-video-poster-c8swtDtappM.png",
       },
       {
               title: "Simple Token Technical Talk: Blockchain & Side-Chain Process",
               video_embed: "https://www.youtube.com/embed/W8iedA2dQKs?rel=0&autoplay=1",
               image: "https://img.youtube.com/vi/W8iedA2dQKs/maxresdefault.jpg",
       },
       {
               title: "Simple Token Finalizes Token Sale Price, Launches “Proof of Support” Program, Announces Advisors",
               video_embed: "https://www.youtube.com/embed/9OP7Q8uzjjg?rel=0&autoplay=1",
               image: "https://img.youtube.com/vi/9OP7Q8uzjjg/maxresdefault.jpg",
       },
       {
               title: "Simple Token Technical Talk: Blockchain & Side-Chain Process",
               video_embed: "https://www.youtube.com/embed/D4z13HqRjFU?rel=0&autoplay=1",
               image: "https://img.youtube.com/vi/D4z13HqRjFU/maxresdefault.jpg",
       },
       {
               title: "Simple Token CEO Jason Goldberg @ Immutable Blockchain Summit 2017, Hong Kong",
               video_embed: "https://www.youtube.com/embed/qz8LhpKCsw0?rel=0&autoplay=1",
               image: "https://img.youtube.com/vi/qz8LhpKCsw0/maxresdefault.jpg",
       }
   ]
%>

            <% videos.each_with_index do|video, index| %>

                <div class="carousel-item" data-toggle="modal" data-target="#youtube-video-modal" data-src="<%=video[:video_embed]%>">
                  <div class="thumbnail">
                    <div class="video-container">
                      <div class="play">
                        <svg class="svg">
                          <switch>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                          </switch>
                        </svg>
                      </div>
                      <img src="<%=video[:image]%>" alt="<%=video[:title]%>" style="width: 100%;">
                    </div>
                    <div class="caption">
                      <h4><%=video[:title]%></h4>
                    </div>
                  </div>
                </div>

            <% end %>

          </div>

        </div>

    </div>

    <div class="row">
      <ul class="bit-more-sponsors">
        <li class="col-xs-12 col-sm-4 text-center">
          <a href="https://epicenter.tv/episode/204/" title="Epic Enter" target="_blank">
            <span class="epic-enter-logo"></span>
          </a>
        </li>
        <li class="col-xs-12 col-sm-4 text-center">
          <a href="https://finance.yahoo.com/video/bitcoin-may-stiff-competition-142955745.html" title="Yahoo Finance" target="_blank">
            <span class="yahoo-finance-logo"></span>
          </a>
        </li>
        <li class="col-xs-12 col-sm-4 text-center">
          <a href="http://blocktribune.com/simple-tokens-aims-keep-tokening-simple-ico-soon/" title="Block Tribune" target="_blank">
            <span class="block-tribune-logo"></span>
          </a>
        </li>
      </ul>
    </div>

  </div>

</div>

<div class="modal fade youtube-modal" id="youtube-video-modal" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal" style="opacity: 1;font-size: 18px;position: absolute;right: 12px;top: 15px;z-index: 1">
    <span aria-hidden="true" class="modal-close-icon" title="close"></span>
  </button>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background: transparent; box-shadow: none; -webkit-box-shadow:none; border:none">
      <div class="modal-body" style="padding: 0px;">
        <iframe src="" frameborder="0" allowfullscreen id="frameVideo" style="width:100%"></iframe>
      </div>
    </div>
  </div>
</div>