<div class="container-press">

  <div class="container">

    <h2>A bit more about Simple Token</h2>

    <div class="row">

        <div class="col-xs-12">

          <div class="video-carousel">

            <div class="carousel-item">
              <div class="thumbnail">
                <img src="http://via.placeholder.com/320x180?text=1" alt="CEO Jason Goldberg at Immutable Blockchain Summit">
                <div class="caption">
                  <h4>CEO Jason Goldberg at Immutable Blockchain Summit</h4>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="thumbnail">
                <img src="http://via.placeholder.com/320x180?text=2" alt="Jason Goldberg intros Simple Token for apps to launch branded crytpo tokens">
                <div class="caption">
                  <h4>Jason Goldberg intros Simple Token for apps to launch branded crytpo tokens</h4>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="thumbnail">
                <img src="http://via.placeholder.com/320x180?text=3" alt="Epicenter - Bringing Tokens to Mainstream Consumer Applications">
                <div class="caption">
                  <h4>Epicenter - Bringing Tokens to Mainstream Consumer Applications</h4>
                </div>
              </div>
            </div>

            <div class="carousel-item">
                <div class="thumbnail">
                  <img src="http://via.placeholder.com/320x180?text=4" alt="CEO Jason Goldberg at Immutable Blockchain Summit">
                  <div class="caption">
                    <h4>CEO Jason Goldberg at Immutable Blockchain Summit</h4>
                  </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="thumbnail">
                  <img src="http://via.placeholder.com/320x180?text=5" alt="Jason Goldberg intros Simple Token for apps to launch branded crytpo tokens">
                  <div class="caption">
                    <h4>Jason Goldberg intros Simple Token for apps to launch branded crytpo tokens</h4>
                  </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="thumbnail">
                  <img src="http://via.placeholder.com/320x180?text=6" alt="Epicenter - Bringing Tokens to Mainstream Consumer Applications">
                  <div class="caption">
                    <h4>Epicenter - Bringing Tokens to Mainstream Consumer Applications</h4>
                  </div>
                </div>
            </div>

          </div>

        </div>

    </div>

  </div>

</div>