<div class="container container-subscribe" id="subscribe">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h2>Get Started with Simple Token</h2>
      <form class="simpletoken-form" id="subscribe-form">
        <div class="form-group">
          <label class="help-block">I'm interested in:</label>
        </div>
        <div class="form-group" id="subscribe-form-attrs">
          <div class="checkbox">
            <input type="checkbox" value="1" id="is_general_update" name="is_general_update" checked>
            <label for="is_general_update">
              Getting email updates about Simple Token
              <span class="help-block">We'll let you know about our upcoming token sale and new Simple Token platform developments.</span>
            </label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value="1" id="is_stnap" name="is_stnap">
            <label for="is_stnap">
              Learning about the Network Accelerator Program
              <span class="help-block">We are accepting applications for early-adopter companies to join the Simple Token Network Accelerator Program. STNAP projects will be the first to deploy Simple Token and could receive Simple Token grants to jointly develop and refine real-world use cases.</span>
            </label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value="1" id="is_developer" name="is_developer">
            <label for="is_developer">
              Learning about helping develop Simple Token
              <span class="help-block">We're building an ecosystem of developers working to create and enhance the Simple Token protocols. Developers can earn Simple Tokens through their contributions.</span>
            </label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value="1" id="is_token_pre_sale_user" name="is_token_pre_sale_user">
            <label for="is_token_pre_sale_user">
              The Simple Token private pre-sale <span class="label label-info">Underway!</span>
              <span class="help-block">The Simple Token pre-sale began on 5 September, 2017. $200,000 minimum purchase, 20%-50% bonuses based on purchase size, accredited purchasers only. Contact us to request the data sheet and more info.</span>
            </label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value="1" id="is_token_sale_user" name="is_token_sale_user">
            <label for="is_token_sale_user">
              Getting information about the Simple Token Public Sale
              <span class="help-block">We will launch Simple Token on 14 November, 2017, to empower the ecosystem and finance further development of the protocols and platform. Sign up to be notified about token sale news and pre-registration requirements. Make sure to read the project deck / whitepaper beforehand.</span>
            </label>
          </div>
        </div>
        <div class="form-inline subscribe">
          <div class="form-group">
            <input type="email" class="form-control" id="subscribe-form-email" name="email" placeholder="email@example.com">
            <button type="submit" class="btn btn-square-gold" id="subscribe-form-submit" data-jsonp="<%= GlobalConstant::PepoCampaign.subscribe_url %>">Sign up</button>
            <div class="error"></div>
          </div>
        </div>
      </form>
      <div id="subscribe-success" style="display: none">
        <span class="small-title">Almost finished</span>
        <span class="small-desc">To confirm your email address, please click the link in the email we just sent you.</span>
      </div>
    </div>
  </div>
</div>