<div class="container container-subscribe" id="subscribe">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
      <h2>Sign Up Now For Early Access</h2>
      <div class="desc"> Preregistration starts 1 November and we will launch Simple Token on 14 November, 2017,
        to empower the ecosystem and finance further development of the protocols and platform.
        Make sure to sign up to be notified about token sale news and preregistration requirements.</div>
        <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/" class="btn-common btn-gold register-now-btn" title="Register Now">Register Now</a>
    </div>
  </div>
</div>