<div class="text-center uber-banner hidden-xs">
  <span class="uber-banner-icon"></span>&nbsp;&nbsp;<a href="https://coinmarketcap.com/currencies/simple-token/" target="_blank" title="$OST">$OST</a> now available for purchase on 3 of the top 5 global crypto exchanges. <a href="https://medium.com/simple-token/ost-news-simple-token-ost-now-available-for-purchase-on-3-of-the-top-5-global-crypto-1a36e4cd1bfd" target="_blank" title="Learn more">Learn more</a>
</div>

<div class="container-fluid hidden-sm hidden-md hidden-lg hidden-xl">
  <div class="row uber-banner">
    <div class="col-xs-1">
      <div class="row">
        <span class="uber-banner-icon"></span>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="col-xs-11">
      <div class="row">
        <a href="https://coinmarketcap.com/currencies/simple-token/" target="_blank" title="$OST">$OST</a> now available for purchase on 3 of the top 5 global crypto exchanges. <a href="https://medium.com/simple-token/ost-news-simple-token-ost-now-available-for-purchase-on-3-of-the-top-5-global-crypto-1a36e4cd1bfd" target="_blank" title="Learn more">Learn more</a>
      </div>
    </div>
  </div>
</div>

