<div class="text-center uber-banner hidden-xs">
  <span class="uber-banner-icon"></span>&nbsp;&nbsp;<a href="https://coinmarketcap.com/currencies/simple-token/" target="_blank" title="$OST">$OST</a> Invests in Unsplash — to Create the new Currency for Photography. <a href="https://medium.com/ostdotcom/ost-invests-in-unsplash-to-create-the-new-currency-for-photography-ost-unsplash-5e531bcce8b9" target="_blank" title="Learn more">Learn more</a>
</div>

<div class="container-fluid hidden-sm hidden-md hidden-lg hidden-xl">
  <div class="row uber-banner">
    <div class="col-xs-1">
      <div class="row">
        <span class="uber-banner-icon"></span>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="col-xs-11">
      <div class="row">
        <a href="https://coinmarketcap.com/currencies/simple-token/" target="_blank" title="$OST">$OST</a> Invests in Unsplash — to Create the new Currency for Photography. <a href="https://medium.com/ostdotcom/ost-invests-in-unsplash-to-create-the-new-currency-for-photography-ost-unsplash-5e531bcce8b9" target="_blank" title="Learn more">Learn more</a>
      </div>
    </div>
  </div>
</div>

