<div class="text-center uber-banner hidden-xs">
  <span class="uber-banner-icon"></span>&nbsp;&nbsp;Simple Token pre-sale underway. Launch and public token sale starts November 14. <a href="https://t.me/simpletoken" target="_blank" title="Join our Telegram channel">Join our Telegram channel</a>
</div>

<div class="container-fluid hidden-sm hidden-md hidden-lg hidden-xl">
  <div class="row uber-banner">
    <div class="col-xs-1">
      <div class="row">
        <span class="uber-banner-icon"></span>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="col-xs-11">
      <div class="row">
        Simple Token pre-sale underway. Launch and public token sale starts November 14. <a href="https://t.me/simpletoken" target="_blank" title="Join our Telegram channel">Join our Telegram channel</a>
      </div>
    </div>
  </div>
</div>
