<div class="text-center uber-banner hidden-xs">
  <span class="uber-banner-icon"></span>&nbsp;&nbsp;Tokens Unlocked, Listing of “OST” on Binance, OpenST v0.9.1 Release. <a href="https://medium.com/simple-token/simple-token-announces-unlocking-of-tokens-exclusive-debut-listing-of-ost-on-binance-exchange-dcc2ecb41180" target="_blank" title="Learn more">Learn more</a>
</div>

<div class="container-fluid hidden-sm hidden-md hidden-lg hidden-xl">
  <div class="row uber-banner">
    <div class="col-xs-1">
      <div class="row">
        <span class="uber-banner-icon"></span>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="col-xs-11">
      <div class="row">
        Tokens Unlocked, Listing of “OST” on Binance, OpenST v0.9.1 Release. <a href="https://medium.com/simple-token/simple-token-announces-unlocking-of-tokens-exclusive-debut-listing-of-ost-on-binance-exchange-dcc2ecb41180" target="_blank" title="Learn more">Learn more</a>
      </div>
    </div>
  </div>
</div>

