<div class="container-fluid container-about-nav">

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="row">
        <div class="col-xs-3 col-sm-3 nav-item">Team Members</div>
        <div class="col-xs-3 col-sm-3 nav-item">Advisors</div>
        <div class="col-xs-3 col-sm-3 nav-item">Extended Team</div>
        <div class="col-xs-3 col-sm-3 nav-item">Early Backers</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="nav-gradient"></div>
  </div>

</div>