<div class="container-fluid container-about-nav">

  <div class="row">
    <div class="col-xs-3 col-sm-2 col-sm-offset-2 nav-item">Team Members</div>
    <div class="col-xs-3 col-sm-2 nav-item">Advisors</div>
    <div class="col-xs-3 col-sm-2 nav-item">Extended Team</div>
    <div class="col-xs-3 col-sm-2 nav-item">Early Backers</div>
  </div>

  <div class="row">
    <div class="nav-gradient"></div>
  </div>

</div>