<div class="container-work-with-us">
  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <div class="row">
          <div class="col-xs-12 text-center">
            <h2 class="heading">Work with us</h2>
            <p>We are looking for individuals who share our passion for bringing blockchain online and are driven by the challenge that it presents. Be it the Product team that is fuelled with the mission to build products that people love or the Engineering team that is tasked to solve complex, real problems at scale or the Design, who we'd like to think as the cello in our orchestra, your work would touch hundreds of millions of lives.</p>
            <a href="" class="btn-common btn-gold btn-features">open positions</a>
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124"/>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
