html {
  position: relative;
  min-height: 100%;
}


body {

  #site-content {
    min-height: calc(100vh - #{$bottom-footer-height});
  }

  .display-none {
    display: none;
  }

  .info-icon {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
  }

  .container-footer {
    font-size: $text3-size;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing;
    text-align: center;
    padding: 20px 10px 19px;
    color: $blue-800;
    background: $green-1100;

    @media (max-width: map-get($grid-breakpoints, "md")) {
      font-size: $text4-size;
    }

    a,
    a:hover,
    a:active{
      color: $custom-gray-6;
      border-bottom: 1px solid $custom-gray-6;
    }
  }

  .modal {
    top: 50px;
  }

}