<%= render :partial => "/shared/web/common/navbarsubmenu" %>
<%= render :partial => "/shared/web/common/index_svg_sprite" %>

<div class="container container-text-page mb-5">

  <div class="row">
    <div class="content col-12">
      <h2 class="mt-4 mb-2" id="gdpr">General Data Protection Regulation (GDPR)</h2>

      <h5 class="mt-4 pt-2" id="gdpr_info">What is it?</h5>
      <p>
        GDPR is a regulation that requires businesses to forfend the personal data and secrecy of EU citizens for transactions that occur within EU member states. Non-compliance could cost companies heavily.
      </p>
      <h5 class="mt-4 pt-2" id="gdpr_impacted">Who is Impacted:</h5>
      <p>
        Any company that collects data on citizens in European Union (EU) countries will need to comply with strict new rules around protecting customer data by May 25, 2018. Companies will need the same level of protection for things like an individual’s IP address or cookie data as they do for name, address or other identity details.
      </p>


      <h5 class="mt-4 pt-2" id="gdpr_verification">Impact on Identity Verification:</h5>
      <p>
        For some, businesses, organizations regularly need to build up confide in computerized character confirmation arrangements that can ensure "the person claiming a particular identity is in fact the person to whom the identity was assigned." But, this forces strict prerequisites on the seller that is overseeing individual data, including pictures of government provided IDs, biometric and other individual data.
      </p>

      <p>
        Individual information should be handled in a way that guarantees fitting security of the individual information, including assurance against unapproved or unlawful preparing and against incidental misfortune, devastation or harm, utilizing suitable specialized or authoritative measures ('trustworthiness and secrecy')
      </p>

      <p>
        Past the safe treatment of information, there are extra contemplations when the result of that check brings about a "programmed refusal" Fully mechanized confirmation arrangements that neglect to give the information subject the privilege "to get human intercession with respect to the (information) controller, to express his or her perspective and to challenge the choice" (Article 22(3) GDPR) are not permitted under GDPR.
      </p>

      <p>
        OST is GDPR consistent and can enable organizations to meet their GDPR commitments by May 2018.
      </p>

      <p>
        GDPR classifies information holders into two gatherings: processors and controllers.
      </p>

      <ul>
        <li>Controllers collect, process, store, and basically "own" the data and the relationship with EU citizens.
        </li>
        <li>Processors are essentially sub-contractors of controllers who may process, store, and utilize EU citizen data on behalf of a controller.
        </li>
      </ul>

      <p>
        There are additional required measures, processes, and documentation requirements for controllers. OST is considered a data processor.
      </p>

      <p>
        We’ve adopted a strict arrangement of security norms intended to guarantee identity and information are encrypted, stored and kept up in a protected and reviewed condition.
      </p>

      <h5 class="mt-4 pt-2" id="gdpr_compliance">Statement of Compliance:</h5>
      <p>
        OST utilizes the European information protection orders as the gauge for its information security compliance internationally. Effective May, 2018 every single important advance to accomplish GDPR compliance have been accomplished. OST's information security compliance program is appropriate to all classes of individual information, including personal data, document ID, whitelisting address etc.

      </p>

      <h2 class="mt-4 mb-2" id="kyc">Know Your Customer (KYC)</h2>


      <h5 class="mt-4 pt-2" id="kyc_info">What is it?</h5>
      <p>
        The way toward knowing your client, generally alluded to as KYC, is the thing that organizations do keeping in mind the end goal to check the personality of their customers either previously or amid the time that they begin working with them. The term KYC is utilized to check customers' identity.
      </p>

      <h5 class="mt-4 pt-2" id="kyc_impacted">Who is Impacted:</h5>
      <p>
        Organizations of all sizes have turned out to be enormous supporters of KYC. It is progressively basic for managing an account establishments, credit organizations, and protection offices to require that their clients furnish them with point by point data keeping in mind the end goal to guarantee that they are not included with debasement, pay off, or tax evasion. At OST, KYC is exclusively used to help companies crowdfund their ICO (Initial Coin Offering).
      </p>

      <h5 class="mt-4 pt-2" id="kyc_verification">Impact on Identity Verification:</h5>
      <p>
        OST starts their KYC systems by just gathering essential information and data about their clients, ideally using online identity verification.
      </p>
      <p>
        KYC refers to the steps taken by businesses to:
      </p>
      <ul>
        <li>Establish the identity of the customer</li>
        <li>Understand the nature of the customer’s activities (primary goal is to satisfy that the source of the customer’s funds is legitimate)
        </li>
        <li>Assess money laundering risks associated with that customer for purposes of monitoring the customer’s activities.
        </li>
        <li>
          Whitelisting on Ethereum Mainnet
        </li>
      </ul>

      <p>
        Once the fundamental information is gathered, OST compares it to lists of individuals that are known for corruption, on a list of sanctions, suspected of being involved with a crime, or at a high risk of money laundering or counter terrorist financing. Financial institutions also look at lists of Politically Exposed Persons, or PEPs. OST enables companies to fulfil their KYC (Know Your Customer) obligations with fast and accurate online ID and identity verification. Our solutions have helped companies crowdfund their ICO (Initial Coin Offering) by supplanting moderate, insufficient, and manual KYC forms with more automated solutions that can be embedded within the online account setup , customised front end onboarding experience.
      </p>

    </div>
  </div>

</div>