<footer class="align-items-center d-flex footer-nav">
  <button id="exit-cms-btn" class="btn btn-secondary font-weight-normal">Exit</button>
  <button id="save-and-preview-btn-click" data-submitting="Saving..."
          class="btn btn-primary font-weight-normal ml-auto">Save to Preview</button>
</footer>
<div style="height: 60px"></div>