<footer class="align-items-center d-flex footer-nav">
  <div class="w-100">
    <div class="col-12 button-wrapper ">
      <button id="save-and-preview-btn-click" data-submitting="Saving..."
              class="btn btn-primary font-weight-normal">Save to Preview</button>
      <button id="exit-cms-btn" class="btn btn-secondary font-weight-normal float-right">Exit</button>
    </div>
    <div id="configurator-general-error" class="general_error col-12"></div>
  </div>
</footer>
<div class="footer-phantom"></div>