<footer class="align-items-center d-flex footer-nav">
  <button class="btn btn-secondary font-weight-normal">Exit</button>
  <button class="btn btn-primary font-weight-normal ml-auto">Save to Preview</button>
</footer>
<div style="height: 60px"></div>