<div class="ajax-processing-wrapper configurator-overlay  d-none"> <!-- TODO remove d-none-->
  <div class="align-self-center d-flex justify-content-center align-items-center h-100">
    <div class="text-center">
      <img class="img-fluid gif-loader mb-4" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif"/>
      <h5 class="processing-message mt-3">Loading the Configurator...</h5>
    </div>
  </div>
</div>


<div class="ajax-error-wrapper configurator-overlay "> <!-- TODO remove d-none-->
  <div class="align-self-center d-flex justify-content-center align-items-center h-100">
    <div class="text-center">
      <svg class="svg" width="40px" height="40px">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-error-icon"></use>
        </switch>
      </svg>
      <h5 class="error-message mt-3">Something went wrong, please try again.</h5>
    </div>
  </div>
</div>