<div class="loading-modal d-none">
  <div class="align-self-center d-flex justify-content-center align-items-center h-100">
    <div class="error-message text-center">
      <img class="img-fluid gif-loader mb-4" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif"/>
      <h5>Loading the Configurator...</h5>
    </div>
  </div>
</div>