<div class="modal cms-modal fade" id="unsaved-changes" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class='row'>
          <div class="text-center col-12">
            <p>
              There are unsaved changes made to this page.<br/>
              Leaving this page will discard those changes.<br/>
              Are you sure you want to continue?
            </p>
          </div>
            <div class="col-12 form-group text-center">
              <button class="btn btn-secondary mt-2 mr-md-2" data-dismiss="modal">Go Back</button>
              <button class="btn btn-primary mt-2">Discard</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal cms-modal fade" id="issues-while-submitting" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class='row'>
          <div class="text-center col-12">
            <svg class="modal-error-svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#modal-error-icon"></use>
              </switch>
            </svg>
            <p>There was were some issues while submitting the form.<br/> Please check the errors before retrying.</p>
          </div>
          <div class="col-12 form-group text-center">
            <button class="btn btn-primary mt-2 px-5" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal cms-modal fade" id="exit-cms" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class='row'>
          <div class="text-center col-12">
            <p>You’re choosing to exit KYC CMS.<br/>  If you have made changes, remember to copy the link and share it with your Super Admin to publish the page.</p>
          </div>
          <div class="col-12 form-group text-center">
            <button class="btn btn-secondary mt-2 mr-md-2" data-dismiss="modal">Go Back</button>
            <button class="btn btn-primary mt-2">Exit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal cms-modal fade" id="publish-changes-modal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">

        <div class="processing-state state-handler text-center p-1">
          <div class="loader-icon-wrap">
            <img class="img-fluid" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif"/>
          </div>
          <div class="processing-message">Publishing configurations … Please wait.</div>
        </div>

        <div class="success-state state-handler text-center p-1">
          <div class="warning-img mb-3">
            <svg class="svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-warning-icon"></use>
              </switch>
            </svg>
          </div>
          <div class="success-message">Your changes have been published.</div>
        </div>

        <div class="error-state state-handler text-center p-1">
          <div class="error-icon-wrap mb-3">
            <svg class="svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-error-icon"></use>
              </switch>
            </svg>
          </div>
          <div class="error-message">There were some issues while publishing the configurations. Please try again after some time.</div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal cms-modal fade" id="reset-changes-modal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">

          <div class="processing-state state-handler text-center p-1">
            <div class="loader-icon-wrap">
              <img class="img-fluid" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif"/>
            </div>
            <div class="processing-message">Resetting configuration … Please wait.</div>
          </div>

          <div class="success-state state-handler text-center p-1">
            <div class="warning-img mb-3">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-warning-icon"></use>
                </switch>
              </svg>
            </div>
            <div class="success-message">Configurations have been reset to currently published version.</div>
          </div>

          <div class="error-state state-handler text-center p-1">
            <div class="error-icon-wrap mb-3">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-error-icon"></use>
                </switch>
              </svg>
            </div>
            <div class="error-message">There were some issues while resetting the configurations. Please try again after some time.</div>
          </div>

      </div>
    </div>
  </div>
</div>



<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function () {

      $( 'body' ).on('show.bs.modal' , function( event ) {
        var dTarget = event.target
          , dPage = this
          , jPage           = $( dPage )
          , jTarget         = $( dTarget )
          , jPageParents    = jPage.parents()
          , jTargetParents  = jTarget.parents()
          , jPageChildren   = jPage.find("> *")
          , jToBlur
          , jChainElements
          ;

        jChainElements = jTargetParents.not( jPageParents );
        jChainElements.each( function (indx, el) {
          var jParent = $( el );
          var jThisToBlur = jParent.find("> *").not( jChainElements ).not( jTarget );
          if ( !jToBlur ) {
            jToBlur = jThisToBlur;
          } else {
            jToBlur = jToBlur.add( jThisToBlur );
          }
        });
        jToBlur.addClass("blured-by-modal-show");
      });

      $( 'body' ).on('hidden.bs.modal' , function( event ) {
        $('.blured-by-modal-show').removeClass('blured-by-modal-show');
      });

    });
  </script>
<% end %>
