<div class="modal cms-modal fade" id="unsaved-changes">
  <div class="modal-dialog modal-dialog-centered  modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class='row'>
          <div class="text-center col-12">
            <p>
              There are unsaved changes made to this page.<br/>
              Leaving this page will discard those changes.<br/>
              Are you sure you want to continue?
            </p>
          </div>
            <div class="col-12 form-group text-center">
              <button class="btn btn-secondary mt-2 mr-md-2">Go Back</button>
              <button class="btn btn-primary mt-2" data-dismiss="modal">Discard</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal cms-modal fade" id="issues-while-submitting">
  <div class="modal-dialog modal-dialog-centered  modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class='row'>
          <div class="text-center col-12">
            <svg class="modal-error-svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#modal-error-icon"></use>
              </switch>
            </svg>
            <p>There was were some issues while submitting the form.<br/> Please check the errors before retrying.</p>
          </div>
          <div class="col-12 form-group text-center">
            <button class="btn btn-primary mt-2 px-5" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal cms-modal fade" id="exit-cms">
  <div class="modal-dialog modal-dialog-centered  modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class='row'>
          <div class="text-center col-12">
            <p>You’re choosing to exit KYC CMS.<br/>  If you have made changes, remember to copy the link and share it with your Super Admin to publish the page.</p>
          </div>
          <div class="col-12 form-group text-center">
            <button class="btn btn-secondary mt-2 mr-md-2">Go Back</button>
            <button class="btn btn-primary mt-2" data-dismiss="modal">Exit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :javascript do %>
  <script text="text/javascript">
    $(document).ready(function () {

      $( 'body' ).on('show.bs.modal' , function( event ) {
        var dTarget = event.target
          , dPage = this
          , jPage           = $( dPage )
          , jTarget         = $( dTarget )
          , jPageParents    = jPage.parents()
          , jTargetParents  = jTarget.parents()
          , jPageChildren   = jPage.find("> *")
          , jToBlur
          , jChainElements
          ;

        jChainElements = jTargetParents.not( jPageParents );
        jChainElements.each( function (indx, el) {
          var jParent = $( el );
          var jThisToBlur = jParent.find("> *").not( jChainElements ).not( jTarget );
          if ( !jToBlur ) {
            jToBlur = jThisToBlur;
          } else {
            jToBlur = jToBlur.add( jThisToBlur );
          }
        });
        jToBlur.addClass("blured-by-modal-show");
      });

      $( 'body' ).on('hidden.bs.modal' , function( event ) {
        $('.blured-by-modal-show').removeClass('blured-by-modal-show');
      });

    });
  </script>
<% end %>
