<nav class="navbar navbar-expand-md navbar-light">
  <a href="/dashboard" class="navbar-brand font-weight-normal p-0 border-0" title="KYC CMS">
    <svg class="nav-svg align-middle">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-cms-logo"></use>
      </switch>
    </svg>
    <span class="align-middle text-uppercase">
      FRONT-END <span style="color: #c0993a; ">CONFIGURATOR</span>
    </span>
  </a>
  <div class="navbar-nav navbar-right ml-md-auto align-items-center">
    <div class="next-previous-wrap mr-3">
      <button id="previous-item-btn"  class="btn btn-secondary font-weight-normal float-left">Previous</button>
      <div class="form-group mx-3 float-left">
        <select id="configurator-options" class="form-control selectpicker" data-width="275px">
          <option value="theme">Theme Configurator</option>
          <option value="register">Register Landing</option>
          <option value="kyc_form">KYC Form</option>
          <option value="dashboard">User Dashboard</option>
        </select>
      </div>
      <button id="next-item-btn" class="btn btn-secondary font-weight-normal float-left">Next</button>
    </div>

    <button id="copy-shareable-link-btn" class="btn btn-secondary font-weight-normal">Copy</button>
    <button id="publish-changes-btn" class="btn btn-primary font-weight-normal ml-3">Publish</button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown nav-products">
        <a class="nav-link hamburger ml-2" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <ul class="dropdown-menu mega-dropdown-menu text-center px-2 pt-3" style="left: -148px;top: 60px;min-width: 200px;box-shadow: 0.5px 1px 2.5px 0 rgba(0, 0, 0, 0.22);border: none;">
          <li id="reset-configurator-changes">
            <span title="Discard Changes">Reset</span>
          </li>
          <li>
            <a href="" title="Go To KYC Dashboard">Go To KYC Dashboard</a>
          </li>
          <li>
            <a href="" title="Logout">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>