<aside id="sidebar" class="sidebar-nav">

  <div class="accordion mb-4" role="tablist"  data-accordion-content="sign_up_section">

  </div>


  <div style="height: 60px"></div>
</aside>

<footer class="align-items-center d-flex footer-nav">
  <button class="btn btn-secondary font-weight-normal">Exit</button>
  <button class="btn btn-primary font-weight-normal ml-auto">Save to Preview</button>
</footer>