<aside id="sidebar" class="sidebar-nav">

  <div class="accordion" role="tablist">

    <div class="card mb-4">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapsibleOne" data-parent="#accordion">
          Form Field Options
        </a>
      </div>
      <div class="collapse show" id="collapsibleOne">
        <div class="card-footer">
          Collapsible content
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapsibleTwo" data-parent="#accordion">
          Collapsible card 1
        </a>
      </div>
      <div class="collapse" id="collapsibleTwo">
        <div class="card-footer">
          Collapsible content
        </div>
      </div>
    </div>

  </div>

</aside>