<aside id="sidebar" class="sidebar-nav">

  <div class="accordion mb-4" role="tablist">
    <div class="card mb-3">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapsibleOne" data-parent="#accordion">
          Form Field Options
        </a>
      </div>
      <div class="collapse show" id="collapsibleOne">
        <div class="card-footer">
          Collapsible content
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapsibleTwo" data-parent="#accordion">
          Collapsible card 1
        </a>
      </div>
      <div class="collapse" id="collapsibleTwo">
        <div class="card-footer jCollapseContainer">
          Collapsible content
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapsibleTwo" data-parent="#accordion">
          Collapsible card 1
        </a>
      </div>
      <div class="collapse" id="collapsibleTwo">
        <div class="card-footer jCollapseContainer">
          Collapsible content
        </div>
      </div>
    </div>
  </div>

  <!--Accordion wrapper-->
  <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne">
        <a class="card-link" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Collapsible Group Item #1 <i class="fa fa-angle-down rotate-icon"></i></a>
      </div>

      <!-- Card body -->
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
        <div class="card-body">

        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingTwo">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2 <i class="fa fa-angle-down rotate-icon"></i></a>
      </div>

      <!-- Card body -->
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
        <div class="card-body">

        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3 <i class="fa fa-angle-down rotate-icon"></i></a>
      </div>

      <!-- Card body -->
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
      </div>
    </div>
    <!-- Accordion card -->
  </div>
  <!--/.Accordion wrapper-->
  <div style="height: 60px"></div>
</aside>

<footer style="" class="align-items-center d-flex footer-nav">
    <button class="btn btn-secondary font-weight-normal">Exit</button>
    <button class="btn btn-primary font-weight-normal ml-auto">Save to Preview</button>
</footer>

