<ng-template #defaultForDesktop>
  <div class="col-2 p-0">
        --
  </div>
</ng-template>
<ng-template #defaultForMobile>
  <span>
        --
  </span>
</ng-template>

<div class="row-body desktop d-none d-lg-flex py-3">
  <div class="col-3 name-date col p-0 px-3 display-3 text-truncate"  *ngIf="row.email; else defaultForDesktop;">
      {{row.email}}
  </div>

<div class="col-2 p-0 pr-3 display-3" *ngIf='row.registration_timestamp; else defaultForDesktop;'>
    {{row.registration_timestamp * 1000 | date: 'dd/MM/yyyy hh:mm:ss' }}
</div>
<div class="col-2 p-0 pr-3 display-3" *ngIf='row.kyc_submitted; else kycNotSubmitted' >
  Yes
</div>
<ng-template #kycNotSubmitted>
  <div class="col-2 p-0 pr-3 display-3">
    No
  </div>
</ng-template>
<div class="col-2 p-0 pr-3 display-3 text-capitalize" *ngIf="appConfigService.hasWhiteListSetUp()">
  <div *ngIf="row.whitelist_status; else  defaultForDesktop">
      {{row.whitelist_status}}
  </div>
</div>
<div class="col-3 p-0 pr-2 display-3">
    <button class='btn text-uppercase delete-button'
            [disabled]="isWhitelistPending() || isReopenInprocess()"
            (click)='deleteUser()'>delete user
    </button>
    <span *ngIf="isWhitelistPending() || isReopenInprocess()"  data-toggle="tooltip" data-placement="left"
      [title]="getTooltipMsg()" class='ml-2'>
      <svg class="svg" style="height: 16px;width: 16px">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info-icon"></use>
          </switch>
        </svg>
    </span>

  </div>
</div>

<div class="mobile d-lg-none mt-3">
  <div class="card mx-sm-3">
    <div class="card-body p-0">
        <div class="col-12 mobile-name-div py-3">
            <span class='display-1 mr-2 font-weight-500'> {{row.email}} </span>
            <span class="display-3 font-weight-500 d-block mt-2" *ngIf='row.registration_timestamp; else defaultForMobile'>{{row.registration_timestamp * 1000 | date: 'dd/MM/yyyy hh:mm:ss' }}
            </span>
        </div>
        <div class="row py-3 mx-0" >
          <div class="col-12">
              <span class='font-weight-600 display-4 text-transform-upper mb-1'>KYC SUBMITTED:</span>
              <span class="display-3 text-capitalize" *ngIf='row.kyc_submitted; else kycNotSubmittedMobile'>
                   Yes
              </span>
              <ng-template #kycNotSubmittedMobile>
                  <span class="display-3 text-capitalize">
                      No
                </span>
              </ng-template>
          </div>

          <div class="col-12" *ngIf="appConfigService.hasWhiteListSetUp()">
              <span class='font-weight-600 display-4 text-transform-upper'>Whitelist status:</span>
              <span class='display-3 text-capitalize' *ngIf="row.whitelist_status; else defaultForMobile;">
                {{row.whitelist_status}}
              </span>

          </div>



        </div>
        <div class="col-12 delete-btn-div py-3">

          <button class='btn text-uppercase delete-button' [disabled]="row.case_reopen_inprocess || row.whitelist_confirmation_pending" (click)='deleteUser()'>delete user</button>
          <span *ngIf="row.whitelist_confirmation_pending"  data-toggle="tooltip" data-placement="bottom"
            title="Whitelist confirmation is pending. Please wait to delete user." class='ml-2'>
            <svg class="svg" style="height: 16px;width: 16px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info-icon"></use>
                </switch>
              </svg>
          </span>
          <span *ngIf="row.case_reopen_inprocess"  data-toggle="tooltip" data-placement="bottom"
            title="Case reopening is in process. Please wait to delete user." class='ml-2'>
            <svg class="svg" style="height: 16px;width: 16px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info-icon"></use>
                </switch>
              </svg>
          </span>


        </div>

    </div>
  </div>


 </div>
