<section class="container py-5">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="security-auditors text-center">
        <h2 class="heading mb-4">Compliance Partner</h2>
        <a href="https://www.cynopsis-solutions.com/artemis" target="_blank" class="border-none d-inline-block">
          <span class="cynopsis-logo"></span>
        </a>
      </div>
    </div>
  </div>
</section>