<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="security-auditors text-center">
        <h2 class="heading">Compliance Partner</h2>
        <span class="cynopsis-logo"></span>
      </div>
    </div>
  </div>
</div>