<section class="container-fluid" id="contactus">
  <div class="row container-contact-us">
    <div class="mx-auto">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Contact Us</h2>
          <h3>Want to learn more about OST Infinity KYC?</h3>
          <p>Please provide us with the info below and we will get in touch shortly.</p>
        </div>
      </div>
      <div class="row">
        <form action="/api/home/contact-us-kyc" class="custom-form form-group col-12 col-md-8 col-lg-8 mx-auto" id="ost-kyc-contact-us-form">
          <div class="input-container">
            <label class="mb-1">FULL NAME</label>
            <input class="input" id="full_name" type="text" name="full_name" value="" title="full name" required autocomplete="off"/>
            <span class="border-line"></span>
          </div>
          <div class="error" data-for="full_name"></div>
          <div class="input-container">
            <label class="mb-1">EMAIL ADDRESS</label>
            <input class="input" id="email" type="email" name="email" value="" title="email address" required autocomplete="off" />
            <span class="border-line"></span>
          </div>
          <div class="error" data-for="email"></div>
          <div class="input-container">
            <label class="mb-1">COMPANY NAME</label>
            <input class="input" id="company" type="text" name="company" value="" title="company name" required autocomplete="off" />
            <span class="border-line"></span>
          </div>
          <div class="error" data-for="company"></div>
          <!--<div class="input-container">-->
            <!--<label class="mb-1">CONTACT NUMBER</label>-->
            <!--<input class="input" id="contact_number" type="text" name="contact_number" value="" title="contact number" required autocomplete="off" />-->
            <!--<span class="border-line"></span>-->
          <!--</div>-->
          <!--<div class="error" data-for="contact_number"></div>-->
          <div class="input-container">
            <label class="mb-1">PLANNED KYC START DATE</label>
            <input type="text" id="token_sale_start_date" class="form-control input rounded-0" name="token_sale_start_date" title="Token sale start date" placeholder="DD/MM/YYYY" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])[- /.](0[1-9]|1[012])[- /.][0-9]{4}" autocomplete="off" required/>
            <span class="border-line"></span>
          </div>
          <div class="error" data-for="token_sale_start_date"></div>

          <div class="input-container">
            <label class="mb-1 d-block">DO YOU NEED A CUSTOMIZABLE FRONT-END?</label>
            <input class="input" type="radio" name="need_front_end" value="yes"
                   title="DO YOU NEED A CUSTOMIZABLE FRONT-END?"
                   required autocomplete="off" /> Yes
            <input class="input ml-2" type="radio" name="need_front_end" value="no"
                   title="DO YOU NEED A CUSTOMIZABLE FRONT-END?"
                   required autocomplete="off" /> No
            <!--<span class="border-line mt-2"></span>-->
          </div>
          <div class="error" data-for="need_front_end"></div>


          <div class="input-container">
            <label class="mb-1 d-block">EXPECTED VOLUME OF PARTICIPANTS</label>
            <input class="input" type="radio" name="applicant_volume" value="Less than 300"
                   title="EXPECTED VOLUME OF PARTICIPANTS"
                   required autocomplete="off" />
            <span class="radio-label">Less than 300</span>
            <input class="input ml-2" type="radio" name="applicant_volume" value="Up to 5000"
                   title="EXPECTED VOLUME OF PARTICIPANTS"
                   required autocomplete="off" />
            <span class="radio-label">Up to 5000</span>
            <input class="input ml-2" type="radio" name="applicant_volume" value="More than 5000"
                   title="EXPECTED VOLUME OF PARTICIPANTS"
                   required autocomplete="off" />
            <span class="radio-label">More than 5000</span>
            <!--<span class="border-line mt-2"></span>-->
          </div>
          <div class="error" data-for="applicant_volume"></div>

          <div class="input-container">
            <label class="mb-2 d-block">SHORT PROJECT DESCRIPTION & COMMENTS</label>
            <textarea class="w-100" id="project_description" type="text" name="project_description"
                      value="" title="SHORT PROJECT DESCRIPTION & COMMENTS" autocomplete="off" style="resize:none" rows="4" cols="50"></textarea>
          </div>
          <div class="error" data-for="project_description"></div>



          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <div class="form-group form-recapcha">
            <div class="g-recaptcha form-recapcha-wrap" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>"></div>
            <div class="error" data-for="recaptcha" style="text-align: center"></div>
          </div>
          <button type="submit" class="btn btn-primary mx-auto d-block" id="ost-kyc-contact-us-submit" style="margin: 0 auto;display: block;" title="Submit">SUBMIT</button>
          <div class="error" data-for="general_error"></div>
        </form>
        <div id="send-message-success" style="display: none" class="w-100">
          <div class="send-message-success">
            <span class="small-title">Thank you for contacting us</span>
            <span class="small-desc">We have received your request and our team we’ll get back to you very soon.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


