<%
   faqs = [
     {
       title: "What is OST KYC?",
       description: "OST KYC is a complete solution for ICOs Know Your Customer (KYC), Anti Money Laundering (AML), and Counter Terrorist Financing (CTF). Only with OST KYC you can Whitelist your customers Public ETH Address directly in your Smart Contract.",
       readmore: "Read More",
       readmoreurl: "https://help.ost.com/support/solutions/folders/35000201337"
     },
     {
       title: "How long does it take to have the OST KYC solution up and running?",
       description: "As soon as all the required details for setup are provided from the client side, on average it is requiring ~1.5 days to have the dedicated sandbox environment ready. From there, once all is verified from the client side, it is easy to move to production and start the ICO.",
       readmore: "Read More",
       readmoreurl: "https://help.ost.com/support/solutions/folders/35000201337",
     },
   ]
%>

<section class="container-faqs">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2>FAQs</h2>
        <% faqs.each_with_index do|data, index| %>
          <% if (index % 3) == 0 %><div class="row"><% end %>
          <div class="col-12 col-sm-6">
            <h3><%= raw data[:title] %></h3>
            <p class="companies-desc"><%= raw data[:description] %></p>
            <!--<a href="<%#= raw data[:readmoreurl] %>" class="read-more text-uppercase font-weight-normal" target="_blank"><%#= raw data[:readmore] %></a>-->
          </div>
          <% if ((index % 3) == 2) || ((index + 1) == faqs.length) %></div><% end %>
        <% end %>
      </div>
      <div class="text-center col-12">
        <!--<img class="btn-bg-image" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kyc/images/marketing/faq-btn-bg@3x.png">-->
        <a href="https://help.ost.com/support/solutions/folders/35000201337" target="_blank" class="btn btn-primary square-btn" title="Read Documentation">Read All Faqs</a>
      </div>
    </div>
  </div>
</section>


