<%
   faqs = [
     {
       title: "Integration with Cynopsis-Artemis API",
       description: "OST KYC provides a seamless integration with Cynopsis-Artemis API to manage the anti money laundering / counter terrorism financing, risk assessment, risk scoring and risk rating of your customers.",
       readmore: "Read More",
       readmoreurl: ""
     },
     {
       title: "Level of Encryption of users’ Personal Data",
       description: "OST KYC APIs and tools are SSL protected and their infrastructure is hosted on AWS VPC. VPC is a virtual private cloud. Traffic to and from VPC stays within the company firewall without crossing the Internet.",
       readmore: "Read More",
       readmoreurl: ""
     },
   ]
%>

<section class="container-faqs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>FAQs</h2>
        <div class="bg-image">
          <% faqs.each_with_index do|data, index| %>
            <% if (index % 3) == 0 %><div class="row"><% end %>
            <div class="col-xs-12 col-sm-6 col-sm-offset-0">
              <h3><%= raw data[:title] %></h3>
              <p class="companies-desc"><%= raw data[:description] %></p>
              <a href="" class="read-more"><%= raw data[:readmore] %></a>
            </div>
            <% if ((index % 3) == 2) || ((index + 1) == faqs.length) %></div><% end %>
          <% end %>
          <div class="text-center col-xs-12">
            <a href="" class="btn btn-square-gold btn-gold square-btn" title="Read Documentation">Read Documentation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


