<section class="container-features">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>The New Standard for ICO KYC Compliance</h2>
          <p class="desc desc-luminos">
            Easily run your ICO with our complete KYC/AML management solution. Ensure a smooth, safe,
            and secure whitelist experience. Leverage our back-end tools to manage applicants,
            process change requests, and comply with legal requirements.
          </p>
          <div class="feature">
            <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-features-automation.svg" class="img-luminos"/>
            <h3 class="head-luminos">Customizable Front-End</h3>
            <p class="desc desc-luminos">
              As a part of the OST KYC experience we provide a customizable front-end, where your future token holders can register and submit their details for your token sale.
            </p>
          </div>
          <div class="feature">
            <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-features-encryption.svg" class="img-luminos"/>
            <h3 class="head-luminos">Security & Compliance</h3>
            <p class="desc desc-luminos">
              OST technology is SSL protected and two-way encrypted. Audited by Cure+53. OST KYC is a GDPR compliant product.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div style="height:80px" class="d-none d-sm-block"></div>
          <div class="feature">
            <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-features-ost-compliance.svg" class="img-luminos"/>
            <h3 class="head-luminos">Automated KYC/AML APIs</h3>
            <p class="desc desc-luminos">
              Integrated assessment of anti money laundering, counter terrorism financing, risk assessment, risk scoring and risk rating of customers backed by Cynopsis Artemis.
            </p>
          </div>
          <div class="feature">
            <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-features-whitelisting.svg" class="img-luminos"/>
            <h3 class="head-luminos">Whitelisting ETH Addresses</h3>
            <p class="desc desc-luminos">
              Whitelist the ETH adresses your customers provide during registration and allow them to safely purchase during your ICO.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="btn-wrap text-center">
            <a target="_blank" href="https://docs.google.com/document/d/1ZZJksQkK3c4Qa6ad8zaDRuL0gIha2Ecmdlsl0dtxejo/edit?usp=sharing"
               class="btn btn-primary" title="Read Documentation">Read Documentation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>