<section class="container-features">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h2>Achieve a Smooth and Safe ICO</h2>
          <p class="desc desc-luminos">
            Easily run your ICO with the OST Infinity KYC/AML management solution.
            Use our consumer-facing tools to ensure a great whitelist experience.
            Leverage our back-end tools to manage applicants, process change requests, and comply with legal requirements.
          </p>
          <div class="feature">
            <img src="/images/ost-automation.svg" class="img-luminos"/>
            <h3 class="head-luminos">Automated KYC/AML APIs</h3>
            <p class="desc desc-luminos">
              Integrated assessment of anti money laundering, counter terrorism financing, risk assessment, risk scoring and risk rating of customers powered by Cynopsis Artemis APIs.
            </p>
          </div>
          <div class="feature">
            <img src="/images/ost-encryption.svg" class="img-luminos"/>
            <h3 class="head-luminos">End-to-End Encryption</h3>
            <p class="desc desc-luminos">
              All Simple Token APIs, admin panel and database are SSL protected and two-way encrypted. Audited by Cure+53.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div style="height:80px" class="hidden-xs"></div>
          <div class="feature">
            <img src="/images/ost-compliance.svg" class="img-luminos"/>
            <h3 class="head-luminos">Faster Compliance</h3>
            <p class="desc desc-luminos">
              Process applicants rapidly and securely. Benchmarked at 14,000+ applicants per day. Navigate the complex regulatory requirements for KYC, AML, and CTF.
            </p>
          </div>
          <div class="feature">
            <img src="/images/ost-whitelisting.svg" class="img-luminos"/>
            <h3 class="head-luminos">Whitelisting ETH Addresses</h3>
            <p class="desc desc-luminos">
              Whitelist the ETH adresses your customers provided during the registration and allow them to safely purchase during your ICO.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-wrap text-center">
            <a href="#" class="btn btn-gold btn-ost-kyc" title="Read Documentation">Read Documentation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>