<section class="container-faqs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-12 col-sm-6 offset-sm-0 text-center order-sm-12">
            <h3 style="font-size: 30px" class="mt-0 d-md-none">EU GDPR Compliance</h3>
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kyc/images/marketing/gdpr-compliance@3x.png" alt="ost KYC" class="img-fluid my-5 my-md-0" width="252" />
          </div>
          <div class="col-12 col-sm-6 offset-sm-0 order-sm-1">
            <h3 style="font-size: 30px" class="mt-0 d-none d-md-block">EU GDPR Compliance</h3>
            <p class="companies-desc">OST utilizes the European information protection orders as the gauge for its information security compliance internationally. Effective May, 2018 every single important advance to fulfill GDPR compliance have been accomplished. OST’s information security compliance program is appropriate to all classes of individual information, including personal data, document ID and whitelisting addresses.</p>
            <a href="https://kyc.ost.com/gdpr" class="read-more text-uppercase font-weight-normal" target="_blank">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


