<div class="container-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="/images/ostKYC-logo.svg" alt="ost KYC" class="ost-kyc-logo" />
        <h2>The Complete Crypto-Powered KYC Solution for ICO's</h2>
        <p class="desc">
          OST Infinity KYC is the first plug-and-play KYC/AML management solution for token sales.
          Process thousands of applicants smoothly and securely. Developed for the OST ICO.
          Now available for any company to use.
        </p>
        <div class="btn-wrap">
          <a href="#contactus" class="btn btn-gold btn-ost-kyc smooth-scroll" title="Get a Quota">Contact Us</a>
          <a href="#kyc-video-carousel" title="Watch Demo" class="smooth-scroll" style="margin-left:10px">
            <div class="btn btn-play btn-ost-kyc btn-dark-grey" data-toggle="modal" data-target="#youtube-video-modal" data-src="https://www.youtube.com/embed/-SxJ8c1Xh_A?rel=0&autoplay=1" title="Watch Demo">
              <div class="play" style="vertical-align: middle;">
                <svg class="svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                  </switch>
                </svg>
              </div>
              <span title="Watch Demo">Watch Demo</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="/images/ost-kyc-hero.png" alt="ost KYC" class="img-responsive ost-kyc-hero" />
      </div>
    </div>
  </div>
</div>