<section class="container-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 my-3">
        <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-jumbotron-logo.svg" alt="ost KYC" class="ost-kyc-logo" />
        <h2 class="my-3">The Complete Crypto-Powered KYC Solution for ICOs</h2>
        <p class="m-0">
          OST KYC is the first plug-and-play KYC/AML management solution for token sales. Process thousands of applicants smoothly and securely. Developed for the Simple Token "OST" ICO. Now available for any company to use.
        </p>
        <a href="#contactus" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="Get Started">Get Started</a>
        <a href="javascript:void(0)" title="Watch Demo" class="my-2 ml-xl-3 btn btn-secondary btn-play" data-toggle="modal" data-target="#helpVideoModal" data-src="https://www.youtube.com/embed/3uCN1cqYfwo">
          <div class="play" style="vertical-align: middle;">
            <svg class="svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
              </switch>
            </svg>
          </div>
          <span title="Watch Intro">Watch Intro</span>
        </a>
      </div>
      <div class="col-12 col-md-6 my-3">
        <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-jumbotron-hero.png" alt="ost KYC" class="img-fluid ost-kyc-hero" />
      </div>
    </div>
  </div>
</section>

<%= render :partial => "shared/web/modals/help_video" %>