<nav class="navbar navbar-simpletoken">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-left" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" aria-expanded="false" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a
        <% if "#{params[:controller]}::#{params[:action]}" == 'web/kyc::index' %> class="selected-nav" href="javascript:void(0)"
        <% else %> href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/" title="Home"
        <% end %> >Home</a></li>
        <li class="dropdown">
          <a id="nav-products" href="#" class="dropdown-toggle" data-toggle="dropdown">Products</a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li><a href="#">Launch your own Branded Tokens and turn your business into a dynamic ecosystem.</a></li>
            <li><a href="#">The one place for your team to quickly review and process the KYC applications.</a></li>
          </ul>
        </li>
        <li><a
        <% if params[:action] == 'partners' %> class="selected-nav" href="javascript:void(0)"
        <% else %> href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/partners" title="Developers"
        <% end %> >Developers</a></li>
        <li><a
        <% if params[:action] == 'about' %> class="selected-nav" href="javascript:void(0)"
        <% else %> href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/team" title="Business"
        <% end %> >Business</a></li>
        <li><a
        <% if params[:action] == 'about' %> class="selected-nav" href="javascript:void(0)"
        <% else %> href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/team" title="About"
        <% end %> >About</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>