<%
   tick_image = "<img src='//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-green-check-mark.svg' width='20'/>";
   powered_by = [
     {
      col1: "User Registrations",
      col2: "400 user registrations ",
      col3: "5,000 user registrations Included",
      bg_color: 'active'
     },
     {
      col1: "Secure storage",
      col2: "3 months",
      col3: "3 months</br> <span class='font-weight-light'>12 Months Secure Storage included with any Add-On</span>",
      bg_color: 'transparent'
     },
     {
      col1: "Encryption",
      col2: "256-bit AES and SSL/TLS ",
      col3: "256-bit AES and SSL/TLS ",
      bg_color: 'active'
     },
     {
      col1: "Support",
      col2: "Email Support",
      col3: "Priority Support </br><span class='font-weight-light'>Email, Skype and Phone</span>",
      bg_color: 'transparent'
     },
     {
      col1: "ETH Whitelisting",
      col2: "Included",
      col3: "Available as Add-On (+$1)",
      bg_color: 'active'
     },
     {
      col1: "Customisable Front-End, User Interface development",
      col2: "Included",
      col3: "Available as Add-On (+$1)",
      bg_color: 'transparent'
     },
     {
       col1: "Pricing",
       col2: "Flat rate <br/> <span class='price-text'>$2,500</span> <br/> Payments accepted in OST",
       col3: "Starts at <br/> <span class='price-text mobilehide'>$2<small>Per User Submission</small></span> <span class='mobileshow price-text'>$2<small>/ User Submission</small></span><br/> Payments accepted in OST",
       bg_color: 'active'
     }
   ]
%>
<section id="pricing" class="container-powered">
  <div class="container-fluid">
    <div class="row powered-desc">
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h2>
          <span style="vertical-align: bottom">Powered by</span>
          <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-logo-white.svg" height="48" />
        </h2>
        <p>OST KYC offers flexible features to run your ICO and charges in OST.</p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <table class="table table-tabs">
              <thead>
              <tr>
                <th></th>
                <th class="align-top text-left">
                  <!--<span class="title">LITE</span>-->
                  <!--<span class="price">6<sup>OST</sup></span>-->
                  <span class="title">Presale Plan</span>
                </th>
                <th class="text-left">
                  <!--<span class="title">PLUS</span>-->
                  <!--<span class="price">10<sup>OST</sup></span>-->
                  <span class="title">Public Sale plan</span>
                  <!--small class="font-weight-light">12 Months Secure Storage and Priority Support included with any Add On</small-->
                </th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <table class="table data-rows mt-1">
          <tbody>
          <% powered_by.each_with_index do|data, index| %>
            <tr class="<%= data[:bg_color] %>">
              <td><%= data[:col1] %></td>
              <td><%= raw data[:col2] %></td>
              <td><%= raw data[:col3] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center">
      <a href="#contactus" class="btn btn-primary smooth-scroll mt-4" title="Get Started">Get Started</a>
    </div>
  </div>
</section>


