<%
   tick_image = "<img src='//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-green-check-mark.svg' width='20'/>";
   powered_by = [
     {
      col1: "Staging (KYC + AML/CTF + Eth whitelist)",
      col2: tick_image,
      col3: tick_image,
      bg_color: 'active'
     },
     {
      col1: "Easy-KYC Dashboard",
      col2: tick_image,
      col3: tick_image,
      bg_color: 'transparent'
     },
     {
      col1: "AML/CTF record checks",
      col2: tick_image,
      col3: tick_image,
      bg_color: 'active'
     },
     {
      col1: "Statutory record retention",
      col2: tick_image,
      col3: tick_image,
      bg_color: 'transparent'
     },
     {
      col1: "ETH Whitelisting",
      col2: tick_image,
      col3: tick_image,
      bg_color: 'active'
     },
     {
      col1: "256-bit AES and SSL/TLS encryption",
      col2: tick_image,
      col3: tick_image,
      bg_color: 'transparent'
     },
     {
       col1: "Pepo Campaigns (Email Marketing)",
       col2: tick_image,
       col3: tick_image,
       bg_color: 'active'
     },
     {
       col1: "Admin Logins w/ Two-Factor Auth",
       col2: "10 Logins",
       col3: "Unlimited Logins",
       bg_color: 'transparent'
     },
     {
       col1: "Priority Support",
       col2: "Email Support",
       col3: "Email & Phone/Skype Support",
       bg_color: 'active'
     },
     {
       col1: "Number of API calls included",
       col2: "10,000",
       col3: "25,000",
       bg_color: 'transparent'
     },
     {
       col1: "Automated Face Recognition",
       col2: "-",
       col3: "Coming Soon",
       bg_color: 'active'
     },
   ]
%>
<section class="container-powered">
  <div class="container-fluid">
    <div class="row powered-desc">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h2>Powered by <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-logo-white.svg" /></h2>
        <p>Two great ostKYC packages available depending on your needs.
          Pricing is in $OST based on your volume of API calls. View current $OST Price.</p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <table class="table table-tabs">
              <thead>
              <tr>
                <th></th>
                <th>
                  <span class="title">LITE</span>
                  <span class="price">6<sup>OST</sup></span>
                  <span class="desc">per API call</span>
                </th>
                <th>
                  <span class="title">PLUS</span>
                  <span class="price">10<sup>OST</sup></span>
                  <span class="desc">per API call</span>
                </th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <table class="table data-rows">
          <tbody>
          <% powered_by.each_with_index do|data, index| %>
            <tr class="<%= data[:bg_color] %>">
              <td><%= data[:col1] %></td>
              <td><%= raw data[:col2] %></td>
              <td><%= raw data[:col3] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center">
      <a href="#contactus" class="btn btn-square-gold btn-gold square-btn smooth-scroll" title="Contact Us">Contact Us</a>
    </div>
  </div>
</section>


