<section class="container-fluid py-5">
  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">
      <div class="security-auditors">
        <h2 class="heading text-center">Security Auditors</h2>
        <ul class="row m-0 p-0">
          <li class="col-12 col-md-4 mb-4">
            <a href="https://zeppelin.solutions/" title="Zeppelin" target="_blank" class="border-none">
              <span class="z-audits-logo"></span>
            </a>
          </li>
          <li class="col-12 col-md-4 mb-4">
            <a href="https://cure53.de/" title="Cure53" target="_blank" class="border-none">
              <span class="cure53-logo"></span>
            </a>
          </li>
          <li class="col-12 col-md-4 mb-4">
            <a href="https://www.bokconsulting.com.au/" title="Bok Consulting" target="_blank" class="border-none">
              <span class="bok-consulting-logo"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>