<div class="hidden-sm hidden-md hidden-lg hidden-xl">
  <h2>Fits All Your ICO <br /> Process Needs</h2>
  <div id="carousel-example-captions" class="carousel slide featuresSection carouselMobile" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators roundedIndicators">
      <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="3" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="4" class=""></li>
    </ol>
    <div class="new-caption-area-mobile"></div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
  <div class="item active">
    <span class="pepo-play-icon play-icon-position"></span>
    <div class="carousel-caption carouselCaptionDesktop">Design Gorgeous Responsive Emails to Inspire Your Customers</div>
    <img src="//d5qlujvqiya5c.cloudfront.net/common-assets/images/home_page/features_template_builder_image_v1.png" alt="Gorgeous Looking Emails Image" class="img-responsive"/>
    <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/W6zmaxrIrp4?loop=1&playlist=W6zmaxrIrp4&showinfo=0&enablejsapi=1&autoplay=1" allowfullscreen hidden style="border:0"></iframe>
  </div>
  <div class="item">
    <span class="pepo-play-icon play-icon-position"></span>
    <div class="carousel-caption carouselCaptionDesktop">Segment and Target Your Customers Based on Their Actions and Preferences</div>
    <img src="//d5qlujvqiya5c.cloudfront.net/common-assets/images/home_page/features_segments_image_v1.png" alt="Gorgeous Looking Emails Image" class="img-responsive"/>
    <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/XGKzzxN5g_8?loop=1&playlist=XGKzzxN5g_8&showinfo=0&enablejsapi=1&autoplay=1" allowfullscreen hidden style="border:0"></iframe>
  </div>
  <div class="item">
    <span class="pepo-play-icon play-icon-position"></span>
    <div class="carousel-caption carouselCaptionDesktop">Create Timely Workflows to Deliver Relevant and Effective Communications</div>
    <img src="//d5qlujvqiya5c.cloudfront.net/common-assets/images/home_page/features_automation_image_v1.png" alt="Gorgeous Looking Emails Image" class="img-responsive"/>
    <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/3BezOp-V_KU?loop=1&playlist=3BezOp-V_KU&showinfo=0&enablejsapi=1&autoplay=1" allowfullscreen hidden style="border:0"></iframe>
  </div>
  <div class="item">
    <span class="pepo-play-icon play-icon-position"></span>
    <div class="carousel-caption carouselCaptionDesktop">Analyze Your Campaigns Performance and Drive a Successful Strategy</div>
    <img src="//d5qlujvqiya5c.cloudfront.net/common-assets/images/home_page/features_reports_image_v1.png" alt="Gorgeous Looking Emails Image" class="img-responsive"/>
    <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/_-dPIhNfCow?loop=1&playlist=_-dPIhNfCow&showinfo=0&enablejsapi=1&autoplay=1" allowfullscreen hidden style="border:0"></iframe>
  </div>
  <div class="item">
    <span class="pepo-play-icon play-icon-position"></span>
    <div class="carousel-caption carouselCaptionDesktop">Ensure Deliverability and Instantly Engage Customers via Transactional API</div>
    <img src="//d5qlujvqiya5c.cloudfront.net/common-assets/images/home_page/features_transactionals_image_v1.png" alt="Gorgeous Looking Emails Image" class="img-responsive"/>
    <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/Blhru3vjj1Y?loop=1&playlist=Blhru3vjj1Y&showinfo=0&enablejsapi=1&autoplay=1" allowfullscreen hidden style="border:0"></iframe>
  </div>
</div>
  </div>
</div>