<div class="header-row d-none d-lg-flex">

  <div class="col p-0 px-3">NAME/DATE</div>
  <div class="col p-0 pr-3">ADMIN STATUS</div>
  <div class="col p-0 pr-3">CYNOPSIS </div>
  <div class="col p-0 pr-3" *ngIf="appConfigService.hasWhiteListSetUp()">WHITELIST</div>
  <div class="col p-0 pr-3">RESIDENCE COUNTRY</div>
  <div class="col p-0 pr-3">NATIONALITY </div>
  <div class="col p-0 pr-3">SUBMISSION</div>
  <div class="col p-0 pr-3">DUPLICATE STATUS</div>
  <div class="col p-0 pr-3">ADMIN</div>

</div>
