.form-control{
  border: solid 1px #cdd7da;
  color: #435353;
  &:focus{
    border-color: #597a84;
  }
}
.admin-form{
  width:40%;
  display: block;
  margin: 0 auto;
}
.cancel-btn{
  display: inline-block;
  margin: 0 auto;
  padding: 12px 0;
  letter-spacing: 2px;
  width: 200px;
  text-transform: uppercase;
}
.form-btn-gold-password{
  margin: 0 auto;
  padding: 12px 0;
  width: 200px;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
}

.simpletoken-alert{
  position:absolute;
  top: 0px;
  width:100%;
  opacity: 0;
  font-size: 20px;
  letter-spacing: 1.1px;
  color: #ffffff;
  padding: 20px 0;
  font-weight: 300;
  margin: 0;
  z-index: 999;

  &.success{
    background-color: #91c0ad;
  }

  &.error{
    background-color: #e7003b;
  }

  .icon{
    margin-right: 8px;
  }

  .ver-middle{
    vertical-align: middle;
  }

}