@import "../../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";


  
.sub-body{
  padding: 0px;
  border-bottom: none;
  color: #9aaaaa;
  font-size: $display4-size;
  font-weight: $font-weight-400;
}

.primary{
border-radius: 1px;
background-color: $yellow-800;
color: $white;
}

.cancel{  
border-radius: 1px;
border: solid 0.8px $blue-900;
color: $blue-900;
}

