<request-state-handler class="d-block w-100 page-loader" [isProcessing]="isProcessing" [hasError]="hasError">
  <ng-container class="error-content">
    <div class="col-12">{{ errorMessage }}</div>
  </ng-container>
</request-state-handler>

<div class="form-configurator">
  <div class="form-configurator-info">
    <div class="row mt-4 pt-2 ">
      <div class="col-12 col-lg-6">
        <h4 class="kyc-header text-transform-upper">Form Configurator</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mt-4 content pl-3">
          KYC CMS (Content Management System) is created to empower you to tailor the KYC experience for your users as per your requirement.

          Here, you can make the changes you desire, and click on ‘Save to Preview’ to view the changes made.

          Please note that there is no live preview available, hence the you will need to use the button ‘Save to Preview’ to see the changes.

          Once you’re done making the required changes, please copy the link of each page and share it with the Super Admin. The Super Admin will be able to publish the changes to Sandbox.
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <button (click)="goToFormConfigurator()" class="btn btn-primary mb-3 mb-xl-0">Go to form configurator</button>
        <button *ngIf="showButton" (click)="openUnpublishedDraft()" class="btn btn-secondary mb-3 mb-xl-0 ml-xl-3">Open Unpublished draft</button>
      </div>
    </div>
  </div>
</div>

