<ost-alert *ngIf="alertMessage"
           [alertStyleClass]="alertConfig.alertStyleClass"
           [viewMoreList]="failedReason">
  <ng-container class="svg-container">
    <svg attr.class="svg {{alertConfig.svgClass}}">
    <switch>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" attr.xlink:href="{{alertConfig.svgId}}"></use>
    </switch>
    </svg>
  </ng-container>

  <ng-container class="alert-message-content">
    {{alertMessage}}
    <ng-container *ngIf="isMatchDetectedMsg">
      - <a href="javascript:void(0)" (click)="scrollToAmlSection( $event )" > {{amlMatchCount}} matches </a>detected.
    </ng-container>
  </ng-container>

</ost-alert>
