<div class="modal fade right" id="logsModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4>Logs</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class='row'>
          <app-table class="w-100 alternate-style-md" 
                     [customErrorMessage]= "'Something went wrong, we could not load the data. We are looking into this.'"
                     [warningMessage]="'Sorry we could not find any results.'"
                     [dataUrl]="logUrl" 
                     [isPaginated]="false">

            <kyc-log-header class='header'></kyc-log-header>

            <ng-template #rowTemplate let-row>
              <kyc-log-row [row]='row'></kyc-log-row>
            </ng-template>
          </app-table>
        </div>
      </div>

      <!-- Modal footer -->

    </div>
  </div>
</div>
