<div class="container container-bonus-details paddingTop57" id="communityBonus">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
      <h2 class="header">ST Community Bonuses</h2>
      <div class="sub-title">The more everyone purchases, the more everyone benefits!</div>
      <p class="desc">Our goal with the token sale is to get ST into the hands of as many developers and companies as possible -- to kickstart an ecosystem around OpenST. Towards that goal, we have designed the ST sale to accrue more benefits to the community as more people participate in the sale.</p>
      <div class="well">
        <div class="text-line"><span class="text-bold">ST Target</span> activates <span class="text-bold">20% bonus</span> tokens for everyone</div>
      </div>
      <div class="well">
        <div class="text-line"><span class="text-bold">ST Kicker</span> grows the bonus to <span class="text-bold">25% bonus</span> tokens for everyone</div>
      </div>
      <div class="well">
        <div class="text-line"><span class="text-bold">ST Power</span> grows the bonus to <span class="text-bold">30% bonus</span> tokens for everyone</div>
      </div>
      <div style="margin-top: 50px">
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/community-bonus-image-web.png" class="img-responsive hidden-xs" alt="Simple Token Community Bonuses Image"/>
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/community-bonus-image-mobile.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="Simple Token Community Bonuses Image"/>
      </div>
    </div>
  </div>
</div>