<div class="container-fluid container-documents">
  <div class="content">
    <h2 class="header">Project Deck / Whitepaper</h2>
    <div class="iframe-wrapper">
      <div class="iframe-container">
        <iframe src="https://www.slideshare.net/slideshow/embed_code/key/BhNr7eoLmfAtr1" allowfullscreen></iframe>
      </div>
    </div>
    <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/documents" class="small-title see-all" title="View all documents">View all documents</a>
  </div>
</div>