<div class="container container-jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-2x.png 1000w" class="logo-desktop img-responsive" />
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" class="logo-mobile img-responsive" />
          <div class="desc">
            <h1>Simple Token enables anyone to create and manage their own branded token economy.</h1>
            <p>Pre-registration is now open. You must be pre-registered and pass KYC/AML checks in order to pre-reserve your brand’s tokens and to purchase on day 1.</p>
          </div>
          <div class="desc">
            <p>Have questions on the Token Sale? Check these documents.</p>
            <a href="/login" class="btn-common btn-grey btn-top-bottom-15">Login to Participate</a>
            <p>
              <a href="javascript:void(0)" class="link" target="_blank">Token Sale Guide</a>
              <a href="javascript:void(0)" class="link" target="_blank" style="margin-left:20px">Wallet Setup Guide</a>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-5">
          <div class="registration-timer text-center">
            <%
               if @presenter_obj.has_general_access_sale_started?
                 top_lang = 'register and buy now the public sale is live'
                 countdown_timer = GlobalConstant::StTokenSale.general_access_sale_end_date
               elsif @presenter_obj.has_early_access_register_ended?
                 top_lang = 'register now for public access'
                 countdown_timer = GlobalConstant::StTokenSale.general_access_sale_start_date
               else
                 top_lang = 'sign up now for early access'
                 countdown_timer = GlobalConstant::StTokenSale.early_access_register_end_date
               end
            %>

            <h2><%= top_lang %></h2>
            <div class="time-remaining">Time Remaining</div>
            <%=
                render partial: '/shared/web/common/marketing_countdown_timer', locals: {timestamp: countdown_timer.to_i * 1000}
            %>
            <div class="token-sale-progress">
              <h2>TOKEN SALE PROGRESS - 60%</h2>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </div>
            <a href="/sign-up" class="btn-common btn-gold btn-top-bottom-15">register now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>