<div class="container container-jumbotron">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-2x.png 1000w" class="logo-desktop img-responsive" />
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" class="logo-mobile img-responsive" />
      <div class="desc">
        <h1>Simple Token enables anyone to create and manage their own branded token economy.</h1>
        <p>Pre-registration is now open. You must be pre-registered and pass KYC/AML checks in order to pre-reserve your brand’s tokens and to purchase on day 1.</p>
      </div>
      <div class="desc">
        <p>Have questions on the Token Sale? Check these documents.</p>
        <p>
          <a href="#" class="link">Token Sale Guide</a>
          <a href="#" class="link" style="margin-left:20px">Wallet Setup Guide</a>
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="registration-timer">
        <h2>Pre-Registration Closes</h2>
        <%=
            render partial: '/shared/web/common/countdown_timer',
                   locals: {
                           timestamp: '1510703999000'
                   }
        %>
        <a href="/sign-up" class="btn-common btn-gold btn-top-bottom-15">Pre-register now</a>
      </div>
    </div>
  </div>
</div>