
<section class="container container-reserve" id="reserve-token-name-section">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

        <h2 class="header text-center">Reserve your branded token name today</h2>
        <p class="desc">Every purchase of Simple Tokens includes a branded token name reservation. What will your token be named? Please note: All token name reservations are subject to project vetting and applicable trademark laws prior to approval for launch on Simple Token sidechains.</p>

      <div id="reserve-token-name-input-wrap" class="dashboard-page" style="margin: 0 auto">
        <fieldset id="reserve-token-name-fieldset" class="reserve-token-name-fieldset">
          <input type="text" id="reserve-token-name-input" class="reserve-token-name-input" placeholder="Reserve your branded token name" value="" readonly />
          <input type="button" id="reserve-token-name-validate-btn" class="btn-gold reserve-token-name-validate-btn" value="RESERVE">
          <div id="reserve-token-name-success" class="reserve-token-name-success" style="display:none;">
            <span class="kyc-status-icon-approved ver-middle"></span>
            <span class="ver-middle">Branded Token Name Reserved</span>
          </div>
        </fieldset>
      </div>

    </div>

  </div>
</section>