<div class="item-parent mb-3 mx-3">
  <div class="item">
    <span class="progress-total-sold-icon"></span>
    <div class="item-stats">
      <% if @presenter_obj.has_sale_ended? %>
        <div class="total-header">st purchased</div>
      <% else %>
        <div class="total-header">st towards <%= @presenter_obj.next_milestone_to_achieve == 'hard_cap' ? 'sale end' : @presenter_obj.next_milestone_to_achieve %></div>
      <% end %>
      <div class="total-value">261,070,175 ST</div>
      <div style="text-transform: capitalize">Including Bonuses</div>
    </div>
  </div>
</div>
<div class="item-parent mb-3 mx-3">
  <div class="item">
    <span class="progress-total-eth-icon"></span>
    <div class="item-stats">
      <div class="total-header">total eth raised</div>
      <div class="total-value"><%=  @presenter_obj.formatted_total_eth_raised %> ETH</div>
    </div>
  </div>
</div>
<div class="item-parent mb-3 mx-3">
  <div class="item">
    <span class="progress-total-purchasers-icon"></span>
    <div class="item-stats">
      <div class="total-header">total purchasers</div>
      <div class="total-value">6,871</div>
    </div>
  </div>
</div>