<div class="container">
  <div class="row">
    <div class="item-parent">
      <div class="item">
        <span class="progress-total-sold-icon"></span>
        <div class="item-stats">
          <div class="total-header">total st sold</div>
          <div class="total-value">140,000,000 ST</div>
        </div>
      </div>
    </div>
    <div class="item-parent">
      <div class="item">
        <span class="progress-total-eth-icon"></span>
        <div class="item-stats">
          <div class="total-header">total eth raised</div>
          <div class="total-value">973912 EHT</div>
        </div>
      </div>
    </div>
  </div>
</div>