<section class="container container-jumbotron pt-5">
  <div class="row">

    <div class="col-12 col-lg-6 col-left text-center text-lg-left">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-2x.png 1000w" class="logo-desktop img-responsive" alt="Simple Token Logo"/>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" class="logo-mobile img-responsive" alt="Simple Token Logo"/>
       <div class="desc">
        <h1 class="mt-4">The Token Sale Ended with 189% of Target Achieved!</h1>
        <p>We are overwhelmed and humbled by the outpouring of support from the community for our mission to empower digital communities with blockchain technology.</p>
       </div>
      <div class="text-center text-lg-left">
        <a href="http://openst.org/#token" class="btn btn-primary btn-jumbotron" title="Buy OST Token">Buy OST Token</a>
        <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/login" class="btn btn-secondary ml-md-3 mt-3 mt-md-0 btn-jumbotron" title="Login">login</a>
      </div>
      <div class="links-box mt-4 p-3 pb-0 text-center text-lg-left">
        <p class="m-0">Have questions on the Token Sale?</p>
        <span class="jumbotron-links">
          <a href="https://www.t.me/simpletoken" class="link border-none mt-2" target="_blank" title="Telegram">
            <span class="go-to-telegram-link-icon icon-pos"></span>
            <span class="border-btm">Telegram</span>
          </a>
        </span>
        <span class="jumbotron-links">
          <a href="https://docs.google.com/document/d/19eUCyVHSWBGB79djGnTS6h-OV1EtTkNl8v4ECPQ8xNk/edit" class="link border-none mt-2 ml-3" target="_blank" title="After Sale Guide">
            <span class="token-sale-link-icon icon-pos"></span>
            <span class="border-btm">After Sale Guide</span>
          </a>
        </span>
      </div>
    </div>

    <div class="col-12 col-lg-6 illustration mt-lg-3">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/illustration.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/illustration-2x.png 1000w" class="img-responsive" alt="Simple Token Play Video"/>
    </div>

  </div>
</section>

<section class="container-fluid container-jumbotron-desc text-center">
  <div class="row token-sale-progress justify-content-center">
    <%= render :partial => "/web/token_sale/sale_stats" %>
  </div>
</section>