<div class="container-fluid container-telegram">
  <div class="content">
    <p>For Live Updates & News on the Public Token Sale, connect with us on Telegram</p>
    <a href="https://t.me/simpletoken" title="Simple Token Telegram" class="telegram-link" target="_blank">
      <div class="telegram-connect">
        <span style="margin-right:50px;letter-spacing: 1px">Telegram</span><span style="margin-left:50px;letter-spacing: 1px">Connect</span>
        <span class="telegram-connect-symbol"><span class="telegram-connect-icon"></span></span>
      </div>
    </a>
  </div>
</div>