<div class="container-fluid container-telegram">
  <div class="content">
    <p>For Live Updates & News on the Public Token Sale, connect with us on Telegram</p>
    <div class="telegram-connect">
      <span style="margin-right:30px">Telegram</span> <span style="margin-left:30px">Connect</span>
    </div>
  </div>
</div>