<div class="container-fluid container-telegram token-sale-telegram">
  <div class="content">
    <p>Earn Your 10% Early Access Bonus</p>
    <a href="https://www.t.me/simpletoken" title="Simple Token Telegram" class="telegram-link" target="_blank">
      <div class="telegram-connect token-sale-telegram-connect">
        <div class="left-comp">Learn More</div>
        <div class="right-comp">on telegram</div>
        <span class="telegram-connect-symbol"><span class="microsite-telegram-connect-icon"></span></span>
      </div>
    </a>
  </div>
</div>