<div class="container-ribbon hidden-xs">
  <div class="ribbon">
    <a class="twitter-share-button"
       href="https://twitter.com/share"
       data-size="large"
       data-text="I just bought @theSimpleToken — cryptocurrencies for digital communities. Join the #ICO. When target reached: 20% bonus for everyone!"
       data-url="https://sale.simpletoken.org"
       data-hashtags="tokensale,ethereum,bitcoin,crytpocurrency">
      Tweet
    </a>
  </div>
</div>

<% content_for :end_js do %>
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>
<% end %>