<section class="container container-why paddingTop57" id="whybuy">

  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">

        <div class="row">
          <h2 class="header text-center">Why Simple Token</h2>
        </div>

        <div class="row">
          <div class="col-xs-12 col-lg-6 image only-mobile illustration">
            <%= render :partial => "/web/token_sale/why_image_svg" %>
          </div>
          <div class="side-by-side-content">
            <div class="col-xs-12 col-sm-6 copy">
              <h3>The new standard in blockchain technology</h3>
              <p class="desc">The business and technical challenge our team set out to solve is to enable mainstream businesses to benefit from deploying their own branded crypto-backed token economies, without the legal, regulatory, and technology headaches involved with going it alone.</p>
              <p class="desc">Monetize user contributions and content. Power peer-to-peer transactions. Provide meaningful incentives and rewards. Develop transparent loyalty programs. Unleash thousands of new monetization and supply & demand possibilities.</p>
            </div>
            <div class="col-xs-12 col-sm-6 image no-mobile illustration">
              <%= render :partial => "/web/token_sale/why_image_svg" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 button">
            <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/product" class="btn-common btn-gold" title="About The Product">About The Product</a>
            <a href="https://github.com/OpenSTFoundation" class="btn-common btn-grey view-on-github" title="View On Github" target="_blank">
              <span style="vertical-align: middle">View On Github</span>
              <span class="view-on-github-icon" style="vertical-align: middle"></span></a>
          </div>
        </div>

    </div>
  </div>

</section>