<section class="container container-why">

  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">

        <div class="row">
          <h2 class="header text-center">Why Simple Token</h2>
        </div>

        <div class="row">
          <div class="col-xs-12 col-lg-6 image only-mobile">
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-1x.png" alt="Sale Details" title="Sale Details" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-2x.png" />
          </div>
          <div class="col-xs-12 col-lg-6 copy">
            <h3>Create your own branded token ecosystem</h3>
            <p class="desc">The business and technical challenge our team set out to solve is to enable mainstream businesses to benefit from deploying their own branded crypto-backed token economies, without the legal, regulatory, and technology headaches involved with going it alone.</p>
            <p class="desc">Monetize user contributions and content. Power peer-to-peer transactions. Provide meaningful incentives and rewards. Develop transparent loyalty programs. Unleash thousands of new monetization and supply & demand possibilities.</p>
          </div>
          <div class="col-xs-12 col-lg-6 image no-mobile">
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-1x.png" alt="Sale Details" title="Sale Details" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-2x.png" />
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 button">
            <a href="" class="btn-common btn-gold">Learn More</a>
          </div>
        </div>

    </div>
  </div>

</section>