<section class="container container-why paddingTop57" id="whybuy">

  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">

        <div class="row">
          <h2 class="header text-center">Why Simple Token</h2>
        </div>

        <div class="row">
          <div class="col-xs-12 col-lg-6 image only-mobile illustration">
            <div class="btn-common btn-play" data-toggle="modal" data-target="#youtube-video-modal" data-src="https://www.youtube.com/embed/oLQSM5prDgk?rel=0&autoplay=1">
              <div class="play" style="vertical-align: middle;">
                <svg class="svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                  </switch>
                </svg>
              </div>
              <span style="vertical-align: middle;line-height: 25px;">Play Video</span>
            </div>
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-1x.png" alt="Sale Details" title="Sale Details" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-2x.png" />
          </div>
          <div class="side-by-side-content">
            <div class="col-xs-12 col-sm-6 copy">
              <h3>The new standard in blockchain technology</h3>
              <p class="desc">The business and technical challenge our team set out to solve is to enable mainstream businesses to benefit from deploying their own branded crypto-backed token economies, without the legal, regulatory, and technology headaches involved with going it alone.</p>
              <p class="desc">Monetize user contributions and content. Power peer-to-peer transactions. Provide meaningful incentives and rewards. Develop transparent loyalty programs. Unleash thousands of new monetization and supply & demand possibilities.</p>
            </div>
            <div class="col-xs-12 col-sm-6 image no-mobile illustration">
              <div class="btn-common btn-play" data-toggle="modal" data-target="#youtube-video-modal" data-src="https://www.youtube.com/embed/oLQSM5prDgk?rel=0&autoplay=1">
                <div class="play" style="vertical-align: middle;">
                  <svg class="svg">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                    </switch>
                  </svg>
                </div>
                <span style="vertical-align: middle;line-height: 25px;">Play Video</span>
              </div>
              <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-1x.png" alt="Sale Details" title="Sale Details" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/why-simple-token-2x.png" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 button">
            <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/product" class="btn-common btn-gold" title="About The Product">About The Product</a>
            <a href="https://github.com/OpenSTFoundation" class="btn-common btn-grey view-on-github" title="View On Github" target="_blank">
              <span style="vertical-align: middle">View On Github</span>
              <span class="view-on-github-icon" style="vertical-align: middle"></span></a>
          </div>
        </div>

    </div>
  </div>

</section>