@import "../../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";

.header-row{
  background-color: $green-1100;
  padding: 20px 0px;
  .col, .header-name{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
  }
}
