<table class="countdown" data-countdown="<%= timestamp %>">
  <tr>
    <td>
      <span class="days element">00</span>
      <span class="labels">Days</span>
    </td>
    <td>
      <span class="hours element">00</span>
      <span class="labels">Hours</span>
    </td>
    <td>
      <span class="minutes element">00</span>
      <span class="labels">Mins</span>
    </td>
    <td>
      <span class="seconds element">00</span>
      <span class="labels">Secs</span>
    </td>
  </tr>
</table>

<!--<table class="countdown" data-countdown="<%= timestamp %>">-->
  <!--<tr class="time">-->
    <!--<td class="days">00</td>-->
    <!--<td>:</td>-->
    <!--<td class="hours">00</td>-->
    <!--<td>:</td>-->
    <!--<td class="minutes">00</td>-->
    <!--<td>:</td>-->
    <!--<td class="seconds">00</td>-->
  <!--</tr>-->
  <!--<tr class="labels">-->
    <!--<td>Days</td>-->
    <!--<td></td>-->
    <!--<td>Hours</td>-->
    <!--<td></td>-->
    <!--<td>Mins</td>-->
    <!--<td></td>-->
    <!--<td>Secs</td>-->
  <!--</tr>-->
<!--</table>-->