<footer class="container-footer">
  Copyright &copy; <%= Date.today.year %> Simple Token. All Rights Reserved. <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/privacy" title="Privacy Policy" target="_blank">Privacy Policy</a>, <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/terms" title="Website Terms" target="_blank">Website Terms</a> and <a href="https://drive.google.com/file/d/0B1E_xJPbELBKeU9pUk5uSnNqWFU/view" title="OST Token Terms" target="_blank">OST Token Terms</a>
</footer>