<footer class="container-footer">
  Copyright &copy; 2017 Simple Token. All Rights Reserved. <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/privacy" title="Privacy Policy" target="_blank">Privacy Policy</a> and <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/terms" title="Terms of Use" target="_blank">Terms of Use</a>.
</footer>