<div class="text-center">
  <a href="<%= @client_setup_presenter_obj.header_logo['href'] %>" title="<%= @client_setup_presenter_obj.header_logo['title'] %>">
    <img src="<%= @client_setup_presenter_obj.header_logo['src'] %>" width="202" alt="<%= @client_setup_presenter_obj.header_logo['alt'] %>"/>
  </a>
</div>

