<table class="countdown" data-countdown="<%= timestamp %>">
  <tr>
    <td>
      <span class="days element">00</span>
      <span class="labels">Days</span>
    </td>
    <td>
      <span class="hours element">00</span>
      <span class="labels">Hours</span>
    </td>
    <td>
      <span class="minutes element">00</span>
      <span class="labels">Mins</span>
    </td>
    <td>
      <span class="seconds element">00</span>
      <span class="labels">Secs</span>
    </td>
  </tr>
</table>