<div class="container container-social text-center">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h2 class="header">Connect With Us</h2>
      <ul>
        <li>
          <a href="https://twitter.com/TheSimpleToken" target="_blank" title="Simple Token Twitter">
            <span class="social-twitter-icon"></span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/18209852/" target="_blank" title="Simple Token LinkedIn">
            <span class="social-linkedIn-icon"></span>
          </a>
        </li>
        <!--<li>-->
          <!--<a href="https://www.slideshare.net/fabulis/simple-token?ref=https://simpletoken.org/" target="_blank" title="Simple Token Slideshare">-->
            <!--<span class="social-slideshare-icon"></span>-->
          <!--</a>-->
        <!--</li>-->
        <li>
          <a href="https://www.facebook.com/simpletoken/" target="_blank" title="Simple Token Facebook">
            <span class="social-facebook-icon"></span>
          </a>
        </li>
        <li>
          <a href="https://t.me/simpletoken" target="_blank" title="Simple Token Telegram">
            <span class="social-telegram-icon"></span>
          </a>
        </li>
        <li>
          <a href="https://medium.com/simple-token" target="_blank" title="Simple Token Medium">
            <span class="social-medium-icon"></span>
          </a>
        </li>
        <li>
          <a href="https://github.com/orgs/OpenSTFoundation" target="_blank" title="Simple Token Github">
            <span class="social-github-icon"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>