<div class="token-header">token sale progress</div>
<div class="progress token-sale-progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
  </div>
</div>