<div class="row py-3 mx-0 px-0 desktop d-none d-md-flex">
  <div class="col display-3">
  {{row.created_at_timestamp * 1000 | date: 'dd/MM/yyyy hh:mm'}}
  </div>
  <div class="col display-3 text-capitalize">
      <div *ngIf="row.agent; else default">
          {{row.agent }}
      </div>
      <ng-template #default>
        --
      </ng-template>

  </div>
  <div class="col display-3 text-capitalize">
      <span [innerHTML]='row.action'></span>
  </div>
</div>

<div class="mobile d-md-none mt-3">
  <div class="card">
    <div class="card-body p-0">
        <div class="col-12 mobile-name-div py-3">
            <span class='display-1 mr-2 font-weight-500'>Date/Time </span>
            <span class="display-3 font-weight-500">  {{row.created_at_timestamp * 1000 | date: 'dd/MM/yyyy hh:mm'}}</span>
        </div>
        <div class="row py-3 mx-0">
          <div class="col-6">
              <div class='font-weight-600 display-4 text-transform-upper mb-1'>AGENT </div>
              <span class="display-3 text-capitalize">
                  <div *ngIf="row.agent; else default">
                      {{row.agent }}
                  </div>

              </span>
          </div>

          <div class="col-6">
              <div class='font-weight-600 display-4 text-transform-upper'>ACTIVITY </div>
              <span [innerHTML]='row.action' class='display-3 text-capitalize'></span>

          </div>

        </div>

    </div>
  </div>


 </div>
