<div class="container-fluid container-management" id="manage-economy">

  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2 class="heading">Software to Manage Your Token Economy</h2>
      <p class="desc">
        Simple Token gives you all the tools you need to design, customize, monitor, analyze, and manage your economy.
      </p>
    </div>
  </div>

</div>

<div class="container container-management-images">
  <div class="row">
    <div class="col-xs-12">
      <div class="embed-responsive embed-responsive-4by3 images-desktop hidden-xs">
        <img class="ipad" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-ipad-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-ipad-2x.png 1000w" />
        <img class="iphone" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-2x.png 1000w" />
      </div>
      <div class="images-mobile hidden-sm hidden-md hidden-lg">
        <img class="iphone-1" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-1-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-1-2x.png 1000w" />
        <img class="iphone-2" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-2-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-2-2x.png 1000w" />
        <img class="iphone-3" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-3-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-3-1x.png 1000w" />
      </div>
    </div>
  </div>
</div>