<div class="container-token-sale-nav container-about-nav container-sticky-nav">
  <div class="container-fluid">

    <div class="row nav-gradient">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="row">
          <ul class="navbar-nav">
            <li class="nav-item col-xs-1 col-sm-2"><!-- Pre-Padding--></li>
            <li class="nav-item col-xs-4 col-sm-3">
              <a class="nav-item scroll" href="#business_cases">Business Cases</a>
            </li>
            <li class="nav-item col-xs-3 col-sm-2">
              <a class="nav-item scroll" href="#manage-economy">Features</a>
            </li>
            <li class="nav-item col-xs-3 col-sm-2">
              <a class="nav-item scroll" href="#partner-companies">Partners</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
