<div class="text-center uber-banner hidden-xs">
  <span class="uber-banner-icon"></span>&nbsp;&nbsp;Latest News:
  <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/#sale-progress-container">CEO Jason Goldberg at Immutable Blockchain Summit</a>
</div>

<div class="container-fluid hidden-sm hidden-md hidden-lg hidden-xl">
  <div class="row uber-banner">
    <div class="col-xs-1">
      <div class="row">
        <span class="uber-banner-icon"></span>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class="col-xs-11">
      <div class="row">
        Latest News:
        <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/#sale-progress-container">CEO Jason Goldberg at Immutable Blockchain Summit</a>
      </div>
    </div>
  </div>
</div>
