<request-state-handler class="d-block w-100 page-loader" [isProcessing]="isProcessing" [hasError]="hasError">
  <ng-container class="error-content">
    <div class="col-12">{{ errorMessage }}</div>
  </ng-container>
</request-state-handler>


<div class="artificial-intelligence" *ngIf="!isProcessing && !hasError">
  <form  #aiForm="ngForm" >
    <div class="intelligence-info pb-5">
      <div class="row mt-4 pt-4 ">
        <div class="col-12 ">
          <h4 class="kyc-header text-transform-upper ">AUTOMATION SETTINGS
              <span *ngIf="!isSuperAdmin" class="view-only py-1 px-2 d-inline-block"> View only</span>
          </h4>
          <div *ngIf="isSuperAdmin" class='mt-3 ai-sub-header'>
                Artificial Intelligence is a part of the Admin features set, independent of the selected qualification settings. The settings on this page can only be
                changed once every 60 minutes.
          </div>
        </div>
      </div>
      <div class="my-3 form-group">
        <span class="form-label">
        HOW DO YOU WANT TO QUALIFY THE USER?
        </span>
      </div>
      <div class="row mt-4">
        <div class=" col-12">
          <div class="form-check form-check-inline">
              <input  type="radio"
                      class="form-check-input radio-button radio-button-yes"
                      [(ngModel)]="approveType" id="ai-manual"
                      name="approve_type"  value="manual" />
              <label class="radio-button-label position-relative" for="ai-manual" style="top: 5px;">
                <span class="radio-button-circle d-inline"></span>Manual
              </label>
            </div>
          <div class="pl-4 display-4">
              All the cases will need to be manually approved. Admins can refer to the Facial Recognition (FR) and Optical Character Recognition (OCR)
              results to make an informed decision.
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
            <div class="form-check form-check-inline">
                <input  [disabled]="!isSuperAdmin" type="radio"
                        class="form-check-input radio-button radio-button-yes"
                        [(ngModel)]="approveType" id="ai-automation"
                        name="approve_type" value="auto" />
                <label class="radio-button-label position-relative" for="ai-automation" style="top: 5px;">
                  <span class="radio-button-circle d-inline"></span>
                  Automation
                </label>
            </div>
          <div class="pl-4 display-4">
              This will automatically approve cases based on Facial Recognition (FR) and Optical Character Recognition (OCR).
          </div>
        </div>
      </div>
    </div>

      <div class="aml-ctf-info mb-4">
          <div class="row mt-4">
              <div class="col-12 col-md-10 display-2 mb-4 extra-header">
                  Artificial Intelligence is a part of the Admin features set, independent of the selected
                  qualification settings.
              </div>
              <div class="form-group col-12 col-md-10 col-lg-11 col-xl-8">
                <div class="form-label pt-2">
                  FACIAL RECOGNITION
                </div>
                <div class="read-only-fields display-4">
                  To be able to use automation, you may not choose a value lower than 20%.
                </div>
                <div class="row">
                  <div class="col-12 col-lg-10 my-3">
                    <ost-slider [name]="'fr_match_percent'" [value]="frMmatchPercent" [serverError]="errorResponse"
                                [min]="20" [max]="100" [step]="1" [tooltip]="show" [postfix]="'%'"
                                [disabled]="!isSuperAdmin" (sliderValChange)="onSliderUpdate( $event )">
                    </ost-slider>
                    <input class="not-in-view" name="fr_match_percent" [ngModel]="frMmatchPercent">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group col-12">
                <div class="form-label">
                  OPTICAL CHARACTER RECOGINITION
                </div>
                <div class="read-only-fields display-4  mb-3">
                    Minimum one field needs to selected be able to use automation.
                </div>
                <div class="pt-2 pr-2 pb-2 pl-0 form-check" *ngFor="let option of ocrOptions; let i = index">
                  <input  [disabled]="!isSuperAdmin"
                          type="checkbox" required
                          class="form-check-input"
                          (change)="onChange( option.value )"
                          [checked]="isChecked( option.value )"
                          name="{{option.key}}"
                          id="{{option.value}}"  />
                  <label class="form-check-label ocr-options"
                         for="{{option.value}}">{{option.display_text}}</label>
                </div>
              </div>
            </div>
      </div>
      <div class="form-group user-form-footer row my-4" *ngIf="isSuperAdmin">
          <div class="col-12">
            <button [disabled]="!isVaild( aiForm )"
                    (click)="updateSettings( aiForm )"
                    class="btn btn-primary mb-3 mb-xl-0"
                    type="button">Apply
            </button>
            <!--<button class="btn btn-secondary ml-xl-3 mb-3 mb-xl-0" type="button" (click)="onCancel( )">-->
              <!--cancel-->
            <!--</button>-->
          </div>
      </div>
  </form>
</div>


<ai-confrimation-modal [params]="params"
                       (onSuccessEvent)="onUpdateSuccess( $event )"
                       (onErrorEvent)="onUpdateError( $event )">
</ai-confrimation-modal>
