@import "admin/simple_token_theme_admin/variables";


admin-dashboard {
  .bootstrap-select {
    width: 170px!important;
    .dropdown-toggle {
      background-color: $custom-grey-7!important;
    }
    &.show {
      .dropdown-toggle {
        background-color: $custom-grey-8!important;
      }
    }
    .text{
      color: $blue-800!important;
      font-size: $display4-size!important;
      font-weight: $font-weight-500!important;
      letter-spacing: 1px!important;
    }
    .filter-option {
      color: $blue-900!important;
    }
  }
}
.tooltip{
  &.bs-tooltip-left{
    .arrow::before{
      border-left-color: $white;

    }
  }
  &.bs-tooltip-right{
    .arrow::before{
      border-right-color: $white;

    }
  }
  &.bs-tooltip-top{
    .arrow::before{
      border-top-color: $white;

    }
  }
  &.bs-tooltip-bottom{
    .arrow::before{
      border-bottom-color: $white;

    }
  }
  .arrow::before{
    opacity:1;
  }
  &.show{
    opacity:1;
  }
 
  .tooltip-inner {
    font-size: $display4-size;
    background-color: $white;
    color: inherit;
    opacity: 1;
    box-shadow: 0 0.5px 3px 2px rgba(50, 50, 50, 0.09);

   }

}
