table.custom-table-grid {
  margin-top: 0 !important;
  border: 1px solid #91C0AD !important;
  margin-bottom: 25px!important;
  background-color: #fff;
  thead {
    > tr > th {
      text-align: left;
      padding: 15px 15px;
      font-size: 12px;
      color: #ffffff;
      font-weight: lighter;
      vertical-align: middle;
      border: none;
      letter-spacing: 1.3px;
      background-color: #91C0AD;
      &:first-child{
        border-left: none;
      }
      &.column-bg-color{
        pointer-events: none;
      }
    }
  }

  tbody {
    tr {
      color: #46595a;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
    }
  }

  &.table tbody tr td {
    vertical-align: middle;
    border: none;
    padding: 15px;
    max-width: 0;
  }

}

#kycLogsTable{
  tbody {
    tr {
      border-bottom: 1px solid #91C0AD;
      cursor: default;
    }
    td{
      max-width: 30px;
    }
  }
  thead{
    th{
      max-width: 30px;
    }
  }
}