<h4>Report Issue</h4>
<p class="lead">Please select the issues you see in the uploaded documents and forms</p>
<hr />
<div class="row">
  <div class="col-12 col-sm-6">

          <div [formGroup]="form">
          <div class="form-section">
          <label class="form-section-label">Data Mismatch</label>
          <div *ngFor="let data of data_mismatch; let i = index" formArrayName="data_mismatch">
            <div class="form-check">
              <input type="checkbox" class="form-check-input"  [formControlName]="i" id="id-{{data.key}}" ngModel/>
              <label class="form-check-label" for="id-{{data.key}}">{{data.value}}</label>
            </div>
          </div>

        </div>
          <div class="form-section">
          <label class="form-section-label">Document Issue</label>

          <div *ngFor="let data of document_issue; let i = index" formArrayName="document_issue">
              <div class="form-check">
                <input type="checkbox" class="form-check-input"  [formControlName]="i" id="id-{{data.key}}" ngModel/>
                <label class="form-check-label" for="id-{{data.key}}">{{data.value}}</label>
              </div>
            </div>
          </div>

          <div class="form-section">
              <div class="form-check form-group">
                <input type="checkbox" class="form-check-input" id="other_issue_other_issue" formControlName="other_issue"/>
                <label class="form-check-label" for="other_issue_other_issue" >Other Issue</label>
                <textarea class="form-control" name="other_issue" id="other_issue" rows="5" formControlName="other_issue_expln"></textarea>
              </div>
            </div>





        </div>
      <div class='form-group'>
          <span class='error'> {{frontEndError}} </span>
          <button type="button" class="btn btn-primary text-uppercase mb-2 mr-2" (click)='validateAndOpenModal()'>Send email</button>
          <button type="button" class="btn btn-light text-uppercase mb-2" (click)="hideReportIssue()">Cancel</button>
      </div>
  </div>
</div>
<div class="modal fade" id="confirmation">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body p-5">
              <div class='row' *ngIf="!isProcessing && !hasError && !isMailSent">
                <div class="col-12">
                  <h4 class="text-center">Are you sure you want to report this issue and send the email?</h4>
                </div>
                <div class="col-12 form-group mt-4 text-center">
                    <button class="btn btn-secondary ml-3" data-dismiss="modal">CANCEL</button>
                   <button class="btn btn-primary" (click)="onReportIssue(form)">SEND EMAIL</button>

                </div>
              </div>

              <div class="row">
                  <request-state-handler class="d-block w-100"
                                        [isProcessing]="isProcessing"
                                        [hasError]="hasError">
                  <div class="processing-content mt-3">Sending email, please wait ... </div>
                  <div class="error-content col-12 text-center">
                    <div *ngIf="errorMessage">{{errorMessage}}</div>
                    <div *ngIf="!errorMessage">There was some issue while sending mail.<br>Please Try Again.</div>
                    <button class="btn btn-primary mt-3" data-dismiss="modal">OK</button>
                  </div>
                  </request-state-handler>
              </div>

              <div class="row">
                  <div class="col-12 success-hanlder-wrap text-center p-1" *ngIf="isMailSent">
                      <div class="success-icon-wrap mb-3">
                          <svg class="icon" style="width:50px; height: 50px">
                              <switch>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon">
                                </use>
                              </switch>
                          </svg>
                      </div>
                      <div class="mt-2 mb-3">Email sent</div>
                      <button class="btn btn-primary" data-dismiss="modal">OK</button>
                  </div>
              </div>
            </div>


      </div>
    </div>
  </div>
