<div class="container mt-4">
  <h4>Request Details Update</h4>
  <p class="lead">Please select the field or document you want to request the user to update</p>
  <hr />
  <div class="row">
    <div class="col-12 col-lg-6">
      <div [formGroup]="form">
            <div class="form-section">
            <label class="form-section-label">Data Mismatch</label>
            <div *ngFor="let data of data_mismatch; let i = index" formArrayName="data_mismatch">
              <div class="form-check">
                <input type="checkbox" class="form-check-input"  [formControlName]="i" id="id-{{data.key}}" ngModel/>
                <label class="form-check-label" for="id-{{data.key}}">{{data.value}}</label>
              </div>
            </div>

          </div>
            <div class="form-section">
            <label class="form-section-label">Document Issue</label>

            <div *ngFor="let data of document_issue; let i = index" formArrayName="document_issue">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input"  [formControlName]="i" id="id-{{data.key}}" ngModel/>
                  <label class="form-check-label" for="id-{{data.key}}">{{data.value}}</label>
                </div>
              </div>
            </div>

            <div class="form-section mt-4 mb-0">
                <div class="form-check form-group">
                  <input type="checkbox" class="form-check-input" (ngModelChange)='otherIssueToggled()' id="other_issue_other_issue" formControlName="other_issue"/>
                  <label class="form-check-label" for="other_issue_other_issue" >Other Issue</label>
                  <textarea class="form-control mt-3" name="other_issue" [attr.disabled]=otherIssueDisabled id="other_issue" rows="5" formControlName="other_issue_expln"></textarea>
                  <span class='error'>{{otherIssueError}}</span>
                </div>
            </div>

          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <div class='row px-3 form-group pb-4'>
        <span class='col-12 error mb-1'> {{frontEndError}} </span>
        <button type="button" class="col-12 col-sm-5 order-1 order-sm-2 btn btn-primary mt-3 ml-sm-3" (click)='validateAndOpenModal()'>Send email</button>
        <button type="button" class="col-12 col-sm-5 order-2 order-sm-1 mt-3 btn btn-secondary" (click)="hideReportIssue()">Cancel</button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmation">
      <div class="modal-dialog modal-dialog-centered h-100 my-0 pb-5">
        <div class="modal-content">
          <div class="modal-header border-none">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body pb-5 pt-0">
                <div class='row' *ngIf="!isProcessing && !hasError && !isMailSent">
                  <div class="col-12">
                    <h5 class="text-center">Are you sure you want to request via email the user to update the submitted details?</h5>
                  </div>
                  <div class="col-12 form-group mt-4 text-center">
                      <button class="btn btn-primary mr-md-2 mt-2" (click)="onReportIssue(form)">SEND EMAIL</button>
                      <!--<button class="btn btn-secondary mt-2" data-dismiss="modal">CANCEL</button>-->
                  </div>
                </div>

                <div class="row">
                    <request-state-handler class="d-block w-100"
                                          [isProcessing]="isProcessing"
                                          [hasError]="hasError">
                    <div class="processing-content mt-3">Sending email, please wait ... </div>
                    <div class="error-content col-12 text-center">
                      <div *ngIf="errorMessage">{{errorMessage}}</div>
                      <div *ngIf="!errorMessage">There was some issue while sending mail.<br>Please Try Again.</div>
                      <button class="btn btn-primary mt-3" data-dismiss="modal">OK</button>
                    </div>
                    </request-state-handler>
                </div>

                <div class="row">
                    <div class="col-12 success-hanlder-wrap text-center p-1" *ngIf="isMailSent">
                        <div class="success-icon-wrap mb-3">
                            <svg class="icon" style="width:50px; height: 50px">
                                <switch>
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon">
                                  </use>
                                </switch>
                            </svg>
                        </div>
                        <div class="mt-2 mb-3">Email sent</div>
                    </div>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>
