<div class="container-fluid">
  <div class="row">
    <div class="container-contact-us">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Contact Us</h2>
            <p>Connect with us if you are interested in exploring how the Simple Token solution can apply to your business.</p>
          </div>
        </div>
      </div>
      <form action="#" class="custom-form">
        <div class="input-container">
          <label>FULL NAME</label>
          <input class="input" id="txtFirstName" type="text" value="">
          <span class="border"></span>
        </div>
        <br/>
        <div class="input-container">
          <label>COMPANY</label>
          <input class="input" id="txtCompany" type="text" value="">
          <span class="border"></span>
        </div>
        <br/>
        <div class="input-container">
          <label>EMAIL ADDRESS</label>
          <input class="input" id="txtEmailAddress" type="text" value="">
          <span class="border"></span>
        </div>
        <br/>
        <div class="input-container">
          <label>CONTACT NUMBER</label>
          <input class="input" id="txtEmailAddress" type="text" value="">
          <span class="border"></span>
        </div>
        <button type="submit" class="btn btn-square-gold" id="" data-jsonp="<%= GlobalConstant::PepoCampaign.subscribe_url %>" style="margin: 40px auto 0;display: block;">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</div>