<div class="container-fluid" id="contactus">
  <div class="row">
    <div class="container-contact-us">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Contact Us</h2>
            <p>Connect with us if you are interested in exploring how the Simple Token solution can apply to your business.</p>
          </div>
        </div>
      </div>
      <form action="/api/home/contact-us" class="custom-form" id="partners-contact-us-form">
        <div class="input-container">
          <label>FULL NAME</label>
          <input class="input" id="full_name" type="text" value="">
          <span class="border"></span>
        </div>
        <div class="error" data-for="full-name"></div>
        <br/>
        <div class="input-container">
          <label>COMPANY</label>
          <input class="input" id="company" type="text" value="">
          <span class="border"></span>
        </div>
        <div class="error" data-for="company"></div>
        <br/>
        <div class="input-container">
          <label>EMAIL ADDRESS</label>
          <input class="input" id="email" type="email" value="">
          <span class="border"></span>
        </div>
        <div class="error" data-for="email"></div>
        <br/>
        <div class="input-container">
          <label>CONTACT NUMBER</label>
          <input class="input" id="contact_number" type="number" value="">
          <span class="border"></span>
        </div>
        <div class="error" data-for="contact-number"></div>
        <button type="submit" class="btn btn-square-gold" id="partners-contact-us-submit" style="margin: 40px auto 0;display: block;">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</div>