<div class="container">
  <div class="row container-jumbotron">
    <div class="col-xs-12">
      <h1 class="heading">OST Partner Companies</h1>
      <p class="desc">
        The business and technical challenge our team set out to solve with Simple Token is to enable mainstream applications to benefit from deploying their own branded crypto-backed token economies, in a scalable and cryptographically-auditable manner, without needing to mint and maintain their own publicly-tradable crypto tokens.
      </p>
      <a href="#contactus" class="btn-common btn-gold get-started smooth-scroll" title="Contact Us">Contact Us</a>
      <a href="#member-companies" class="btn-common btn-grey get-started smooth-scroll" title="Meet Partners">Meet Partners</a>
    </div>
  </div>
</div>