<div class="container container-jumbotron">

  <div class="row">
    <div class="col-xs-12">
        <div class="text-center copy">
          <h1 class="heading">The Simple Token Solution</h1>
          <p class="text-left">
            Launch your own Branded Tokens and turn your business into a dynamic ecosystem. The OpenST protocol enables any business to stake Simple Tokens against minting their own Branded Tokens. The Simple Token Software-as-a-Service gives you the tools to manage, customize, and analyze your token economy.
          </p>
          <a href="javascript:void(0)" class="btn-common btn-gold get-started" title="Contact Us">Contact Us</a>
          <a href="javascript:void(0)" class="btn-common btn-grey get-started" title="Meet Partners">Meet Partners</a>
        </div>
    </div>
  </div>
</div>


<div class="modal fade youtube-modal" id="youtube-video-modal" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal" style="opacity: 1;font-size: 18px;position: absolute;right: 12px;top: 15px;z-index: 1">
    <span aria-hidden="true" class="modal-close-icon" title="close"></span>
  </button>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background: transparent; box-shadow: none; -webkit-box-shadow:none; border:none">
      <div class="modal-body" style="padding: 0px;">
        <iframe src="" frameborder="0" allowfullscreen id="frameVideo" style="width:100%"></iframe>
      </div>
    </div>
  </div>
</div>