<div class="container container-member-companies" id="member-companies">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/704Games-logo.png" class="img-responsive" width="135" alt="Simple Token Member Companies - 704games Image"/>
          <p class="companies-desc">
            <span class="text-bold">704games</span> is the exclusive game publisher for Nascar racing games with over 1million online races of their latest publication since September 2017. Extending existing in-game buying, spending and earning virtual value points into real world monetary value is a prized use case for tokenization that will be the focus of the partnership.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/Tesloop-logo.png" class="img-responsive" width="77" alt="Simple Token Member Companies - Tesloop Image"/>
          <p class="companies-desc">
            <span class="text-bold">Tesloop</span> is the world's first sustainable mobility company with a fleet of Tesla vehicles uniquely able to share real-time telemetry ideally suited to a range of cases to tokenize transportation. The partneship will focus on tokenizing consumer-vehicle interactions including car ownership, ride hailing, black car and car rental services.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/floship@2x.png" class="img-responsive" width="180" alt="Simple Token Member Companies - Floship Image"/>
          <p class="companies-desc">
            <span class="text-bold">Floship</span> is the World’s #1 international crowdfunding fulfillment provider by packages shipped; they have delivered rewards globally for over 100 of the most funded Kickstarter and Indiegogo projects. In addition to micro-payments they are exploring blockchain benefits to smooth the supply chain through their integrations with webshops and couriers.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/vidi-vr@2x.png" class="img-responsive" width="96" alt="Simple Token Member Companies - VR/AR Image"/>
          <p class="companies-desc">
            Look (by Vidi-VR)  is a VR/AR social media platform and application integrating  tokenization as a core feature for members of the community to reward and incentivize eachother for actively participating in the 3D media creation and sharing experience through elements such as bounties, ratings, and micro-payments.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/gushcloud@2x.png" class="img-responsive" width="221" alt="Simple Token Member Companies - Gushcloud Image"/>
          <p class="companies-desc">
            <span class="text-bold">Gushcloud</span> is Asia’s leading influencer marketing and entertainment network that connects audiences and brands with more than 12,000 global influencers and creators. We have been exploring tokenization across rewarding and incentivizing online influencer marketing, micro-payments, gaming, and analytics.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/xain-1@2x.png" class="img-responsive" width="214" alt="Simple Token Member Companies - XAIN Image"/>
          <p class="companies-desc">
            <span class="text-bold">XAIN</span> builds applications using AI to secure, stabilize and scale distributed ledger networks and in turn using the blockchain verified data to develop AI products. Xain will be using the OpenST protocol to explore tokenized applications on their networks for ride-sharing and medical patient records amongst others.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/interviewbit@2x.png" class="img-responsive" width="140" alt="Simple Token Member Companies - Interview Bit Image"/>
          <p class="companies-desc">
            <span class="text-bold">Interview Bit</span> is a SaaS e-learning and job-discovery platform that prepared > 250,000 software engineers for companies including Amazon, Uber, Facebook and others. InterviewBit is exploring tokenizing their native coin, that users can spend on courses and coaches as they build a portfolio, to give it a tradable marketvalue.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/digital-knights@2x.png" class="img-responsive" width="144" alt="Simple Token Member Companies - Digital Knights Image"/>
          <p class="companies-desc">
            <span class="text-bold">Digital Knights</span> is building a network of verified development teams and innovation projects. The marketplace will be driven through the tech due diligence curation of participants and tokenized rewards and feedback mechanisms down to individual developer level. Blockchain supported features will make the marketplace transparent to all participants.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/pepo@2x.png" class="img-responsive" width="144" alt="Simple Token Member Companies - Pepo Image"/>
          <p class="companies-desc">
            Thousands of people use <span class="text-bold">Pepo</span> every day to share insider tips on local hot spots and travel destinations. Every time a tip is upvoted, Pepo Coin are transferred from one user to another as thanks for the tip. Pepo users will be able to spend Pepo Coin on related local and travel services such as travel advise, personalized itineraries and tours.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cta-group text-center">
      <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/public" class="btn-common btn-gold get-started" title="Token Sale Results">Token Sale Results</a>
      <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/documents" class="btn-common btn-grey get-started" title="Get the Docs">Get the Docs</a>
    </div>
  </div>
</div>