<div class="container-member-companies" id="member-companies">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <%
           member_companies = [
             {
               image: "http://developmentsimpletoken.org:8081/images/korhal-logo@2x.png",
           image_width: '110',
           image_alt: 'Korhal',
           description: "<span class='text-bold'>Korhal</span> When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/treat-logo@2x.png",
           image_width: '110',
           image_alt: 'Treat',
           description: "<span class='text-bold'>Treat</span> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word 'and' and the Little Blind Text should turn around and return to its own, safe country."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/connect-scale-logo@2x.png",
           image_width: '110',
           image_alt: 'Connect Scale',
           description: '<span class="text-bold">Connect Scale</span> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word and" and the Little Blind Text should turn around and return to its own, safe country.'
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/license-rocks-logo@2x.png",
           image_width: '110',
           image_alt: 'License Rocks',
           description: '<span class="text-bold">Connect Scale</span> License Rocks On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.'
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/lookhave@2x.png",
           image_width: '60',
           image_alt: 'lookhave',
           description: '<span class="text-bold">Connect Scale</span> License Rocks On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.'
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/tomorrow-logo@2x.png",
           image_width: '60',
           image_alt: 'Tomorrow',
           description: '<span class="text-bold">Connect Scale</span> License Rocks On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.'
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/kokomo-logo@2x.png",
           image_width: '110',
           image_alt: 'Kokomo',
           description: '<span class="text-bold">Connect Scale</span> License Rocks On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.'
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/tribecoin-logo@2x.png",
           image_width: '110',
           image_alt: 'tribecoin',
           description: '<span class="text-bold">Connect Scale</span> License Rocks On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.'
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/radmule-logo@2x.png",
           image_width: '110',
           image_alt: 'radmule',
           description: '<span class="text-bold">Connect Scale</span> License Rocks On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.'
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/stelth@2x.png",
           image_width: '110',
           image_alt: 'radmule',
           description: '<span class="text-bold">Connect Scale</span> License Rocks On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.'
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/stelth@2x.png",
           image_width: '110',
           image_alt: 'radmule',
           description: '<span class="text-bold">Connect Scale</span> License Rocks On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.'
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/704games-logo@2x.png",
           image_width: '110',
           image_alt: '704Games',
           description: "<span class='text-bold'>704games</span> is the exclusive game publisher for Nascar racing games with over 1million online races of their latest publication since September 2017. Extending existing in-game buying, spending and earning virtual value points into real world monetary value is a prized use case for tokenization that will be the focus of the partnership."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/Tesloop-logo.png",
           image_width: '320',
           image_alt: 'Tesloop',
           description: "<span class='text-bold'>Tesloop</span> is the world's first sustainable mobility company with a fleet of Tesla vehicles uniquely able to share real-time telemetry ideally suited to a range of cases to tokenize transportation. The partneship will focus on tokenizing consumer-vehicle interactions including car ownership, ride hailing, black car and car rental services."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/flopship-logo.png",
           image_width: '320',
           image_alt: 'floship',
           description: "<span class='text-bold'>Floship</span> is the World’s #1 international crowdfunding fulfillment provider by packages shipped; they have delivered rewards globally for over 100 of the most funded Kickstarter and Indiegogo projects. In addition to micro-payments they are exploring blockchain benefits to smooth the supply chain through their integrations with webshops and couriers."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/vidivr-logo.png",
           image_width: '320',
           image_alt: 'vidi-vr',
           description: "Look (by Vidi-VR)  is a VR/AR social media platform and application integrating  tokenization as a core feature for members of the community to reward and incentivize eachother for actively participating in the 3D media creation and sharing experience through elements such as bounties, ratings, and micro-payments."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/vidivr-logo.png",
           image_width: '320',
           image_alt: 'vidi-vr',
           description: "Look (by Vidi-VR)  is a VR/AR social media platform and application integrating  tokenization as a core feature for members of the community to reward and incentivize eachother for actively participating in the 3D media creation and sharing experience through elements such as bounties, ratings, and micro-payments."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/vidivr-logo.png",
           image_width: '320',
           image_alt: 'Gushcloud',
           description: "<span class='text-bold'>Gushcloud</span> is Asia’s leading influencer marketing and entertainment network that connects audiences and brands with more than 12,000 global influencers and creators. We have been exploring tokenization across rewarding and incentivizing online influencer marketing, micro-payments, gaming, and analytics."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/xain-logo.png",
           image_width: '320',
           image_alt: 'XAIN',
           description: "<span class='text-bold'>XAIN</span> builds applications using AI to secure, stabilize and scale distributed ledger networks and in turn using the blockchain verified data to develop AI products. Xain will be using the OpenST protocol to explore tokenized applications on their networks for ride-sharing and medical patient records amongst others."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/interviewbit-logo.png",
           image_width: '320',
           image_alt: 'Interview Bit',
           description: "<span class='text-bold'>Interview Bit</span> is a SaaS e-learning and job-discovery platform that prepared > 250,000 software engineers for companies including Amazon, Uber, Facebook and others. InterviewBit is exploring tokenizing their native coin, that users can spend on courses and coaches as they build a portfolio, to give it a tradable marketvalue."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/digitalknights-logo.png",
           image_width: '320',
           image_alt: 'Digital Knights',
           description: "<span class='text-bold'>Digital Knights</span> is building a network of verified development teams and innovation projects. The marketplace will be driven through the tech due diligence curation of participants and tokenized rewards and feedback mechanisms down to individual developer level. Blockchain supported features will make the marketplace transparent to all participants."
           },
           {
             image: "http://developmentsimpletoken.org:8081/images/digitalknights-logo.png",
           image_width: '320',
           image_alt: 'Pepo',
           description: "Thousands of people use <span class='text-bold'>Pepo</span> every day to share insider tips on local hot spots and travel destinations. Every time a tip is upvoted, Pepo Coin are transferred from one user to another as thanks for the tip. Pepo users will be able to spend Pepo Coin on related local and travel services such as travel advise, personalized itineraries and tours."
           },
           ]
        %>


        <% member_companies.each_with_index do|member, index| %>
          <% if (index % 2) == 0 %><div class="row"><% end %>
          <div class="col-xs-12 col-sm-6 col-sm-offset-0" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <img itemprop="photo" src="<%=member[:image] %>" alt="<%=member[:image_alt] %>" height="<%=member[:image_width] %>">
            <div class="caption">
              <p class="companies-desc"><%= raw member[:description] %></p>
            </div>
          </div>
          <% if ((index % 2) == 1) || ((index + 1) == member_companies.length) %></div><% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>