<div class="d-none d-lg-block h-100 desktop-menus-list pt-5">
  <div class="desktop-menu font-weight-500 display-2 pl-2 align-items-center d-flex first" [routerLink]="['settings/admin']">Admin Management</div>
  <div class="desktop-menu font-weight-500 display-2 pl-2 align-items-center d-flex" [routerLink]="['settings/user']">User Mangement </div>
</div>

<div class="d-lg-none">
  <button class="btn container-fluid btn-style" type="button" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
    Settings
    <img class="img-topbar-style" src="https://goo.gl/images/AbHREA">
  </button>
  <div class="collapse " id="collapseSettings">
    <ul class="list-group list-group-flush">
      <li class="list-group-item li-color-back">
        <a [routerLink]="['settings/admin']" class="list-style"> <img class="img-style" src="https://goo.gl/images/AbHREA"> Go to Dashboard</a><br>
      </li>
      <li class="list-group-item li-color-back">
        <a [routerLink]="['settings/admin']" class="list-style"> <img class="img-style" src="https://goo.gl/images/AbHREA"> Admin management mobile</a><br>
      </li>
      <li class="list-group-item li-color-back">
        <a [routerLink]="['settings/user']" class="list-style"><img class="img-style" src="https://goo.gl/images/AbHREA">User Mangement mobile </a>
      </li>

    </ul>
  </div>

</div>
