<div class="d-none d-lg-block h-100 desktop-menus-list pt-5"   >
  <div class="desktop-menu display-2 pl-2 align-items-center d-flex first" [routerLink]="['/admin/dashboard']">
    <span>
        <svg class="go-to-dashboard-icon" height="20px" width="20px">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#go-to-dashboard-icon"></use>
            </switch>
          </svg>
    </span>
    <span class="pl-2">Go to Dashboard </span></div>
  <div class="desktop-menu display-2 pl-2 align-items-center d-flex" data-menu="admin" [routerLink]="['/admin/settings/admin']" [routerLinkActive]="['selected']" >
    <span>
        <svg class="admin-dashboard" height="20px" width="20px">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#admin-management-icon"></use>
            </switch>
          </svg>
    </span>
    <span class="pl-2">Admin Management</span></div>
  <div class="desktop-menu display-2 pl-2 align-items-center d-flex"  *ngIf="isSuperAdmin" data-menu="user" [routerLink]="['/admin/settings/user']" [routerLinkActive]="['selected']">
    <span>
        <svg class="user-dashboard" height="20px" width="20px">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user-management-icon"></use>
            </switch>
        </svg>
    </span>
    <span class="pl-2">User Management</span> </div>
</div>

<div class="d-lg-none mobile-list">
  <button class="btn container-fluid btn-style px-3" type="button" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
    Settings
    <img class="img-topbar-style menu-open" src="https://goo.gl/images/AbHREA"><img class="img-topbar-style menu-close" src="https://www.iconspng.com/images/up-button-arrow/up-button-arrow.jpg">
  </button>
  <div class="collapse " id="collapseSettings">
    <div class="d-lg-none mobile-menus-list"  >
        <div class="desktop-menu pl-2 align-items-center d-flex" [routerLink]="['/admin/dashboard']">
          <span>
              <svg class="go-to-dashboard-icon" height="20px" width="20px">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#go-to-dashboard-icon"></use>
                  </switch>
                </svg>
          </span>
          <span class="pl-2">Go to Dashboard </span>
        </div>
        <div class="desktop-menu pl-2 align-items-center d-flex" data-menu="admin" [routerLink]="['/admin/settings/admin']" [routerLinkActive]="['selected']" >
          <span>
              <svg class="admin-dashboard" height="20px" width="20px">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#admin-management-icon"></use>
                  </switch>
                </svg>
          </span>
          <span class="pl-2">Admin Management</span>
        </div>
        <div class="desktop-menu pl-2 align-items-center d-flex" *ngIf="isSuperAdmin" data-menu="user" [routerLink]="['/admin/settings/user']" [routerLinkActive]="['selected']">
          <span>
              <svg class="user-dashboard" height="20px" width="20px">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user-management-icon"></use>
                  </switch>
              </svg>
          </span>
          <span class="pl-2">User Management</span>
        </div>
      </div>
  </div>

</div>
