<div class="d-none d-lg-block h-100 desktop-menus-list pt-5"   >
  <div class="desktop-menu display-2 pl-2 align-items-center d-flex first" [routerLink]="['/admin/dashboard']">Go to Dashboard</div>
  <div class="desktop-menu display-2 pl-2 align-items-center d-flex" data-menu="admin" [routerLink]="['/admin/settings/admin']" [routerLinkActive]="['selected']" >Admin Management</div>
  <div class="desktop-menu display-2 pl-2 align-items-center d-flex" data-menu="user" [routerLink]="['/admin/settings/user']" [routerLinkActive]="['selected']">User Mangement </div>
</div>

<div class="d-lg-none mobile-list">
  <button class="btn container-fluid btn-style px-3" type="button" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
    Settings
    <img class="img-topbar-style menu-open" src="https://goo.gl/images/AbHREA"><img class="img-topbar-style menu-close" src="https://www.iconspng.com/images/up-button-arrow/up-button-arrow.jpg">
  </button>
  <div class="collapse " id="collapseSettings">
    <div class="d-lg-none mobile-menus-list"  >
        <div class="desktop-menu pl-2 align-items-center d-flex" [routerLink]="['/admin/dashboard']">Go to Dashboard</div>
        <div class="desktop-menu pl-2 align-items-center d-flex" data-menu="admin" [routerLink]="['/admin/settings/admin']" [routerLinkActive]="['selected']" >Admin Management</div>
        <div class="desktop-menu pl-2 align-items-center d-flex" data-menu="user" [routerLink]="['/admin/settings/user']" [routerLinkActive]="['selected']">User Mangement </div>
      </div>
  </div>

</div>
