@import "../../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";
.admin-settings {
  .desktop-menus-list {
    background-color: $teal-bg;
    min-height: 100vh;

    .desktop-menu {
      height: 56px;
      outline: none;
      border-bottom: solid 1px $custom-grey-7;
      cursor: pointer;
      font-size: $display3-size;
      &.first {
        border-top: solid 1px $custom-grey-7;
      }
      svg {
        vertical-align: top;
      }
    }
  }

  .mobile-list {
    .btn-style {
      text-align: left;
      color: $yellow-300;
      border-bottom: solid 1px $custom-grey-7;
      letter-spacing: 3px;
      font-size: 16px;
      background-color: $white;
      .img-topbar-style {
        float: right;
      }
    }
    svg {
      vertical-align: top;
    }
    .down-arrow-icon,
    .up-arrow-icon {
      pointer-events: none;
        stroke: #E4B030;
    }

    .mobile-menus-list {
      background-color: $teal-bg;

      .desktop-menu {
        height: 56px;
        outline: none;
        border-bottom: solid 1px $custom-grey-7;
        font-size: $display3-size;
        cursor: pointer;
      }
    }

  }

  .unselected-icon {
    display: inline;
  }
  .selected-icon {
    display: none;
  }

  .selected {
    background-color: $blue-400;
    color: $white;
    .unselected-icon {
      display: none;
    }
    .selected-icon {
      display: inline;
    }
  }
}
