<form method="POST" action="">
  <div class="accordion mb-4" role="tablist" data-accordion-content="sale_live_dashboard_configuration">
  </div>

  <div class="accordion mb-4" role="tablist" data-accordion-content="deposit_address_popup">
  </div>

  <div class="accordion mb-4" role="tablist" data-accordion-content="deposit_address_user_dashboard">
  </div>

</form>


<% content_for :javascript do %>
  <script type="text/javascript">
    $(function () {
      ost.dashboardConfigurator.init({});
    });
  </script>
<%end%>