<%
  configurator_get_api = "/api/admin/configurator/kyc-form/config?gid=1&uuid=1131312"
%>

<form method="POST" action="">
  <div class="accordion shown" role="tablist">
    <div class="accordion-header">
      <span class="circle mr-1">1</span>
      <span>KYC FORM</span>
    </div>
    <div class="accordion-content-wrapper" data-accordion-content="kyc_configuration"></div>
  </div>

  <div class="accordion" role="tablist">
    <div class="accordion-header">
      <span class="circle mr-1">2</span>
      <span>KYC FORM POP-UP</span>
    </div>
    <div class="accordion-content-wrapper" data-accordion-content="popup_kyc_configuration"></div>
  </div>
</form>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function () {
      ost.kycConfigurator.init({
        'api' : "<%= api_get_url('kyc') %>"
      });
    });
  </script>
<%end%>