<form method="POST" action="">
  <div class="accordion mb-4" role="tablist" data-accordion-content="register_configuration">
  </div>
</form>


<% content_for :javascript do %>
  <script type="text/javascript">
    $(function () {
      ost.registerConfigurator.init({});
    });
  </script>
<%end%>