<form method="POST" action="" data-ost-formhelper>

  <div class="accordion shown" role="tablist">
    <div class="accordion-content-wrapper mb-4 pt-4" role="tablist" data-accordion-content="theme_configuration"></div>
  </div>

</form>


<% content_for :javascript do %>
  <script type="text/javascript">
    $(function () {
      ost.themeConfigurator.init({
        'api' : "<%= api_get_url('theme') %>"
      });
    });
  </script>
<%end%>