<div class="container">
  <div class="invite-user-wrapper row">
    <div class="col-12 invite-user-header mb-3"><h4>Invite Admin</h4></div>
    <div class="invite-user-form-wrapper col-12 col-sm-8 col-md-6  col-lg-4 ">
      <form #inviteUserForm="ngForm" name="invite-user">
        <div class="form-group">
          <label class="form-label">email address</label>
          <input  class="form-control"  autocomplete="off"
                  pattern= '^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                  name="email" type="email" [(ngModel)]="email" #userEmail="ngModel" required/>
          <div class="error">
            <ng-container *ngIf="userEmail.touched && userEmail.errors">
              <ng-container *ngIf="userEmail.errors.required">
                Email is required.
              </ng-container>
              <ng-container *ngIf="userEmail.errors.pattern">
                  Email is invalid.
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="form-group">
            <label class="form-label">full name</label>
            <input class="form-control" name="name" type="text" autocomplete="off" pattern=".*[^ ].*"
                   [(ngModel)]="name" required #userName="ngModel" />
            <div class="error">
              <ng-container *ngIf="userName.touched && userName.errors">
                <ng-container *ngIf="userName.errors.required || userName.errors.pattern">
                  Name is required.
                </ng-container>
              </ng-container>
          </div>
        </div>
      </form>
      <div class="invite-user-btn-wrap">
          <button [disabled]="!inviteUserForm.valid"
                  data-toggle="modal"
                  data-target="#inviteUser"
                  class="btn btn-primary">INVITE</button>
          <button class="btn btn-secondary ml-3" (click)="hideInviteUser()">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<invite-user-modal  (onInviteSuccessEvent)="hideInviteUser()"  [inviteUserForm]="inviteUserForm" >
</invite-user-modal>
