
<div class="pagination mt-5">

  <div class="numbers mx-auto p-2">
    <button class="btn px-2 arrow-btn" (click)="onPrev()" [disabled]="!isPrev()" [ngClass]="{ 'disabled': !isPrev() || loading }">
      &lang;</button>

    <button  class='btn px-2' *ngFor="let pageNum of getPages()"
      (click)="changePage(pageNum)"
      [ngClass]="{'active': isActive(pageNum)}">
      {{ pageNum }}
    </button>

    <button class="btn px-2 arrow-btn" (click)="onNext()" [disabled]="!isNext()" [ngClass]="{ 'disabled': !isNext() || loading }">
      <span> &rang; </span>
    </button>
  </div>
</div>
