<div class="developer-integrations">
  <div class="integtration-info pb-4">
    <div class="row mt-4 pt-2 ">
      <div class="col-12">
        <h4 class="kyc-header text-transform-upper">DEVELOPER INTEGRATIONS
            <span class="view-only py-1 px-2 d-inline-block"> View only</span>
        </h4>
      </div>
    </div>
    <div class="my-3 integration-header">
      API Information
    </div>
    <div class="row mt-4">
      <div class="form-group col-12 col-md-5">
        <div class="form-label">
          api key
        </div>
        <div class="read-only-fields p-2">
          <small>{{apiKey}}</small>
        </div>

      </div>
    </div>

    <div class="row mt-4">
      <div class="form-group col-12 col-md-5">
        <div class="form-label">
          api secret
        </div>
        <div class="read-only-fields p-2">
          <small>{{apiSecret}}</small>
        </div>

      </div>
    </div>
  </div>


  <div class="aml-ctf-info">
      <div class="row mt-4">
          <div class="form-group col-12 col-md-5">
            <div class="form-label">
                AML/CTF LOGIN URL
            </div>
            <div class="read-only-fields p-2">
              <small>{{amlLoginUrl}}</small>
            </div>

          </div>
        </div>

        <div class="row mt-4">
          <div class="form-group col-12 col-md-5">
            <div class="form-label">
                AML/CTF USERNAME
            </div>
            <div class="read-only-fields p-2">
              <small>{{amlUsername}}</small>
            </div>

          </div>
        </div>
  </div>
</div>
