.container-jumbotron{
  @media(min-width: 768px){
    padding-top: 40px;  
  }
  padding-bottom: 40px;
  .desc{
    color: #597a84;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0 15px 0;
    line-height: 1.5;
    letter-spacing: 0.8px;
    h1{
      font-weight: 600;
      color: #597a84;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.8px;
    }
    .jumbotron-links{
      display: inline-block;
      margin: 10px 10px 0px 0px;
      a.link{
        margin: 0;
        vertical-align: middle;
        text-decoration: none;
        color: #597a84;
        display: inline-block;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 12px;
        @media (min-width: 768px){
          font-size: 14px;
        }
        text-transform: uppercase;
        &:hover{
          color: #c0993a;
          text-decoration: none;
          .border-btm{
            border-bottom: 1px solid #c0993a;
          }
        }
        &:focus{
          color: #597a84;
          text-decoration: none;
          border-bottom: none;
        }
      }
      .icon-pos{
        vertical-align: middle;
      }
      .border-btm{
        vertical-align: bottom;
        border-bottom: solid 1px #597a84;
      }
    }
  }
  .logo-desktop{
    max-width: 60%;
  }
  .logo-mobile{
    display: none;
  }

  .time-remaining{
//    background-color: rgba(145, 192, 173, 0.1);
//    padding: 5px;
    margin: 10px 0 20px 0;
    text-align: center;
    color: #91c0ad;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .registration-timer{
    padding: 30px 0;
    border-radius: 5px;
    background-color: #f1f8f5;
    h2{
      margin-top: 0;
    }
    .countdown{
      @media (min-width: 768px) {
        width: 75%;
        margin: 0 auto;
      }
    }
  }

}

// Mobile portrait, landscape
@media (max-width: 767px) {

  .container-jumbotron{

    .logo-desktop{
      display: none;
    }
    .logo-mobile{
      display: block;
      max-width: 220px;
      width:80%;
      text-align: center;
      margin:0 auto;
    }

  }
}

.early-investors{
  background: #6ca3a9;
  padding: 40px 0;
  margin-top: 0;
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
  }
  .heading{
    color: #fff;
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 38px;
    margin-top: 0;
  }
  .col-sm-4, .col-sm-3{
    margin-bottom: 25px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 60px;
  }
}

.container-token-sale-nav{

  .navbar-nav{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-item{
    text-align: center;
    color: #597a84;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 0;
    &.active{
      a{
        color: #597a84;
      }
      &:before{
        content: '';
        display: inline-block;
        border-bottom: solid 4px #6ca3a9;
        width: 100%;
        bottom: -1px;
        position: absolute;
        left: 0;
      }
    }
    &:hover, &:focus{
      text-decoration: none;
    }
  }

  .nav-gradient{
    border-bottom: solid 2px #6ca3a9;
  }
  ul{
    li{
      list-style-type: none;
    }
  }
}


.container-sale-details{
  .header{
    color: #6ca3a9;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 38px;
    letter-spacing: 1.3px;
    font-weight: 300;
  }
  .well{
    padding: 15px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
    background-color: rgba(244, 248, 246, 0.8);
    .header-title{
      font-size: 16px;
      font-weight: 300;
      color: #597a84;
      margin-top: 0;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
    .desc{
      font-size: 18px;
      font-weight: 500;
      color: #597a84;
    }
  }
  &.container-faqs{
    .header-title{
      text-transform: none;
      font-size: 20px;
      font-weight: 500;
    }
    .desc{
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}


.container-why, .container-token-key-dates{
  .header{
    color: #6ca3a9;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 1.5;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 1.3px;
  }

  .illustration{
    .btn-play{
      border: none;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
      color: #34445b;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 15px;
      -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      cursor: pointer;
      .play{
        width: 25px;
        height: 25px;
        padding: 5px;
        display: inline-block;
        svg{
          width:100%;
          height:100%;
          fill: #34445b;
        }
      }

      &:hover{
        .play{
          .svg{
            fill: #e4b030;
          }
        }
        span{
          color: #e4b030;
        }
      }
    }
  }

  .image{
    text-align: center;
    img{
      width: 100%;
    }
  }

  .copy{
    h3{
      font-size: 20px;
      color: #6ca3a9;
      line-height: 1.2;
    }
  }

  .button{
    text-align: center;
    margin: 50px 0 20px;
    a{
      margin: 0 0 20px;
      min-width: 260px;
      vertical-align: top;
      &:last-child{
        padding: 13px 20px;
        @media (min-width: 768px) {
          margin-left: 30px;
        }
      }
    }
    span{
      vertical-align: middle;
    }
  }

  .desc{
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #597a84;
    font-weight: 300;
  }
}

.nav-sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

.paddingTop57{
  padding-top: 57px;
}

.no-mobile{
  display: block !important;
}
.only-mobile{
  display: none !important;
}

// Mobile portrait, landscape
@media (max-width: 767px) {
  .no-mobile{
    display: none !important;
  }
  .only-mobile{
    display: block !important;
  }
}

.token-sale-progress{
  padding: 30px 0 0;
  &.bg-color{
    background-color: #91c0ad;
  }
  .header{
    margin: 0;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .progress{
    background-color: #fff;
    border: solid 1px #8fc0ae;
    box-shadow: none;
    height: 15px;
    border-radius: 25px;
    margin: 20px 0 0;
  }
  .progress-bar{
    background-color: #6e9686;
    box-shadow: none;
  }
  .item{
    padding: 20px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #ffffff;
    margin: 30px 0;
  }
}

.container-social{
  padding-top: 40px;
}

.container-press{
  &.token-sale-press{
    padding: 0;
  }
}

.side-by-side-content{
  @media (min-width: 768px) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}