.container-jumbotron{
  padding-top: 40px;
  padding-bottom: 40px;
  .desc{
    color: #597a84;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0 15px 0;
    line-height: 1.5;
    letter-spacing: 0.8px;
    h1{
      font-weight: 600;
      color: #597a84;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.8px;
    }
    a.link{
      color: #597a84;
      text-decoration: none;
      border-bottom: 1px #597a84 solid;
    }
  }
  .logo-desktop{
    max-width: 60%;
  }
  .logo-mobile{
    display: none;
  }

  .time-remaining{
    background-color: rgba(145, 192, 173, 0.1);
    padding: 5px;
    margin: 10px 0 20px 0;
    text-align: center;
    color: #91c0ad;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .registration-timer{
    padding-top: 30px;
  }

}

// Mobile portrait, landscape
@media (max-width: 767px) {

  .container-jumbotron{

    .logo-desktop{
      display: none;
    }
    .logo-mobile{
      display: block;
      max-width: 220px;
      width:80%;
      text-align: center;
      margin:0 auto;
    }

  }
}

.early-investors{
  background: #6ca3a9;
  padding: 40px 0;
  margin-top: 0;
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
  }
  .heading{
    color: #fff;
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 38px;
    margin-top: 0;
  }
  .col-sm-4, .col-sm-3{
    margin-bottom: 25px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 60px;
  }
}

.container-token-sale-nav{

  .navbar-nav{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-item{
    text-align: center;
    color: #597a84;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 0;
    &.active{
      a{
        color: #597a84;
      }
      &:before{
        content: '';
        display: inline-block;
        border-bottom: solid 4px #6ca3a9;
        width: 100%;
        bottom: -1px;
        position: absolute;
        left: 0;
      }
    }
    &:hover, &:focus{
      text-decoration: none;
    }
  }

  .nav-gradient{
    border-bottom: solid 2px #6ca3a9;
  }
  ul{
    li{
      list-style-type: none;
    }
  }
}


.container-sale-details{
  .header{
    color: #6ca3a9;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 38px;
    letter-spacing: 1.3px;
    font-weight: 300;
  }
  .well{
    padding: 15px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
    background-color: rgba(244, 248, 246, 0.8);
    .header-title{
      font-size: 16px;
      font-weight: 300;
      color: #597a84;
      margin-top: 0;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
    .desc{
      font-size: 18px;
      font-weight: 500;
      color: #597a84;
    }
  }
  .ext-links{
    color: #597a84;
    margin: 0 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: solid 1px #597a84;
    &:hover, &:focus{
      text-decoration: none;
    }
  }
  &.container-faqs{
    .header-title{
      text-transform: none;
      font-size: 20px;
      font-weight: 500;
    }
    .desc{
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}


.container-why, .container-token-key-dates{
  .header{
    color: #6ca3a9;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 1.5;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 1.3px;
  }

  .image{
    text-align: center;
    img{
      width: 100%;
    }
  }

  .copy{
    h3{
      font-size: 20px;
      color: #6ca3a9;
      line-height: 1.2;
    }
  }

  .button{
    text-align: center;
    margin: 30px 0;
  }

  .desc{
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #597a84;
    font-weight: 300;
  }
}

.nav-sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

.paddingTop57{
  @media (min-width: 415px) {
    padding-top: 57px;
  }
  padding-top: 83px;
}

.no-mobile{
  display: block !important;
}
.only-mobile{
  display: none !important;
}

// Mobile portrait, landscape
@media (max-width: 767px) {
  .no-mobile{
    display: none !important;
  }
  .only-mobile{
    display: block !important;
  }
}

.token-sale-progress{
  padding-top: 25px;
  margin-top: 20px;
  border-top: 2px solid rgba(145, 192, 173, 0.1);
  .progress{
    background-color: #fff;
    border: solid 1px #8fc0ae;
    box-shadow: none;
    height: 35px;
  }
  .progress-bar{
    background-color: #8fc0ae;
    box-shadow: none;
  }
}

.container-social{
  padding-top: 40px;
}

.side-by-side-content{
  @media (min-width: 768px) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}