.container-progress{
  text-align: center;
  margin:40px auto;
  h2.header{
    color: #6ca3a9;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 0;
    font-size: 38px;
    letter-spacing: 1.3px;
    text-align: center;
  }

  .container-timeline{

    width: 900px;
    margin: 0 auto;
    padding: 80px 0;
    position: relative;

    .progress{
      height: 5px;
      background-color: #c6ede8;
      box-shadow: none;

      .progress-bar{

        background-color: inherit;
        box-shadow: none;

        .pb-inner{
          height: 100%;
        }

        &.pb-1{
          .in-progress{
            background: #61bfba;
          }
          .complete{
            background: #61bfba;
            width: 100%;
          }
        }
        &.pb-2{
          .in-progress{
            background: #61bfba;
          }
          .complete{
            background: linear-gradient(to right, #61bfba, #e4b030 100%);
            width: 100%;
          }
        }
        &.pb-3{
          .in-progress{
            background: #e4b030;
          }
          .complete{
            background: linear-gradient(to right, #e4b030, #f58a23 100%);
            width: 100%;
          }
        }
        &.pb-4{
          .in-progress{
            background: #f58a23;
          }
          .complete{
            background: linear-gradient(to right, #f58a23, #d0021b 100%);
            width: 100%;
          }
        }
        &.pb-5{
          .in-progress{
            background: #d0021b;
          }
          .complete{
            background: linear-gradient(to right, #d0021b, #740602 100%);
            width: 100%;
          }
        }
      }
    }

    .milestones{
      .milestone{
        position: absolute;
        top: 40px;
        width: 150px;
        height: 100px;
        text-align: center;
        .st{
          font-size: 16px;
          font-weight: 600;
          color: #597a84;
          margin-bottom:5px;
        }
        .point{
          width:30px;
          height:30px;
          background: #fff;
          border: 3px solid #91c0ad;
          border-radius: 50%;
          margin: 0 auto 5px auto;
        }
        .title{
          font-size: 13px;
          font-weight: 600;
          color: #597a84;
          margin-bottom:5px;
        }
      }
    }

  }
  .container-timeline-vertical{
    display: none;
  }
}

@media (max-width: 767px) {

  .container-dates{

    .container-timeline{
      display:none;
    }
    .container-timeline-vertical{
      display: block;
      margin: 80px 0;
      position: relative;

      .progress{
        height: 500px;
        width: 10px;
        margin: 20px auto;
        background-color: #91c0ad;
        .progress-bar{
          width: 100%;
          height:0;
        }
        .progress-bar-completed{
          background-color: #597a84;
        }
      }

      .milestone{
        position: absolute;
        left: calc(50% - 125px);
        width: 250px;
        height: 100px;
        &:nth-of-type(odd){
          text-align: left;
          .st,
          .title{
            margin-left: 150px;
          }
        }
        &:nth-of-type(even){
          text-align: right;
          .st,
          .title{
            margin-right: 150px;
          }
        }
        .st{
          font-size: 16px;
          font-weight: 600;
          color: #597a84;
          margin-top: -50px;
        }
        .point{
          width:30px;
          height:30px;
          background: #fff;
          border: 3px solid #91c0ad;
          border-radius: 50%;
          margin: 0 auto 5px auto;
        }
        .title{
          font-size: 13px;
          font-weight: 600;
          color: #597a84;
        }
      }
    }

  }

}