.container-progress{
  text-align: center;
  margin:40px auto;
  h2.header{
    color: #6ca3a9;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 0;
    font-size: 38px;
    letter-spacing: 1.3px;
    text-align: center;
  }
  p.lead{
    color: #6ca3a9;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 0;
    font-size: 20px;
    letter-spacing: 1.3px;
    text-align: center;
  }

  .container-timeline{

    width: 900px;
    margin: 0 auto;
    padding: 110px 0;
    position: relative;

    .progress{
      height: 5px;
      background-color: #c6ede8;
      box-shadow: none;

      .progress-bar{

        background-color: inherit;
        box-shadow: none;

        .pb-inner{
          height: 100%;
        }

        &.pb-1{
          .in-progress{
            background: #61bfba;
          }
          .complete{
            background: #61bfba;
            width: 100%;
          }
        }
        &.pb-2{
          .in-progress{
            background: #61bfba;
          }
          .complete{
            background: linear-gradient(to right, #61bfba, #e4b030 100%);
            width: 100%;
          }
        }
        &.pb-3{
          .in-progress{
            background: #e4b030;
          }
          .complete{
            background: linear-gradient(to right, #e4b030, #f58a23 100%);
            width: 100%;
          }
        }
        &.pb-4{
          .in-progress{
            background: #f58a23;
          }
          .complete{
            background: linear-gradient(to right, #f58a23, #d0021b 100%);
            width: 100%;
          }
        }
        &.pb-5{
          .in-progress{
            background: #d0021b;
          }
          .complete{
            background: linear-gradient(to right, #d0021b, #740602 100%);
            width: 100%;
          }
        }
      }
    }

    .milestones{
      .milestone{
        position: absolute;
        top: 40px;
        width: 100px;
        height: 200px;
        text-align: center;
        .st{
          font-size: 16px;
          color: #a7b2b5;
          margin-bottom:5px;
          strong{
            font-weight: 500;
          }
        }
        .line{
          height: 70px;
          width: 1px;
          border: 1px dashed #54b79e;
          position: absolute;
          left: 49px;
          top: 22px;
          z-index: -1;
        }
        .point{
          width:25px;
          height:25px;
          background: #fff;
          border: 3px solid #6c9ba9;
          border-radius: 50%;
          margin: 36px auto 36px auto;
          .point-inner{
            width: 10px;
            height: 10px;
            margin: 5px;
            background: #afe1d4;
            border-radius: 50%;
          }
        }
        .check{
          height: 20px;
          width: 20px;
          border-radius: 50%;
          position: absolute;
          left: 41px;
          top: 97px;
          z-index: -1;
          background: #a7d677;
          color: #fff;
          font-size: 12px;
          padding: 2px;
          display: none;
        }

        .desc{
          text-align: center;
          color: #6c9ba9;
          .title{
            font-size: 16px;
            font-weight: 500;
          }
          .sub{
            font-size: 11px;
          }
          .bonus{
            font-size: 13px;
            font-weight: 500;
          }
        }

        &.in-progress{
          .st{
            color: #54b79e;
          }
          .point{
            width:30px;
            height:30px;
            border: none;
            margin: 34px auto 34px auto;
            .point-inner{
              display: none;
            }
          }
          .check{
            display: block;
          }
        }

        &.complete{
          .st{
            color: #597a84;
          }
          .point{
            border: none;
            .point-inner{
              display: none;
            }
          }
          .check{
            display: block;
          }
        }

        &.ms-1.in-progress,
        &.ms-1.complete{
          .point{
            background: #61bfba;
          }
          .desc{
            color: #61bfba;
          }
        }

        &.ms-2.in-progress,
        &.ms-2.complete{
          .point{
            background: #e4b030;
          }
          .desc{
            color: #e4b030;
          }
        }

        &.ms-3.in-progress,
        &.ms-3.complete{
          .point{
            background: #f58a23;
          }
          .desc{
            color: #f58a23;
          }
        }

        &.ms-4.in-progress,
        &.ms-4.complete{
          .point{
            background: #d0021b;
          }
          .desc{
            color: #d0021b;
          }
        }

        &.ms-5.in-progress,
        &.ms-5.complete{
          .point{
            background: #740602;
          }
          .desc{
            color: #740602;
          }
        }

      }

    }

  }
  .container-timeline-vertical{
    display: none;
  }
}

@media (max-width: 767px) {

  .container-progress{

    .container-timeline{
      display:none;
    }
    .container-timeline-vertical{
      display: block;
      margin: 80px 0;
      position: relative;

      .progress{
        height: 500px;
        width: 10px;
        margin: 20px auto;
        background-color: #91c0ad;
        .progress-bar{
          width: 100%;
          height:0;
        }
        .progress-bar-completed{
          background-color: #597a84;
        }
      }

      .milestone{
        position: absolute;
        left: calc(50% - 125px);
        width: 250px;
        height: 100px;
        &:nth-of-type(odd){
          text-align: left;
          .st,
          .title{
            margin-left: 150px;
          }
        }
        &:nth-of-type(even){
          text-align: right;
          .st,
          .title{
            margin-right: 150px;
          }
        }
        .st{
          font-size: 16px;
          font-weight: 600;
          color: #597a84;
          margin-top: -50px;
        }
        .point{
          width:30px;
          height:30px;
          background: #fff;
          border: 3px solid #91c0ad;
          border-radius: 50%;
          margin: 0 auto 5px auto;
        }
        .title{
          font-size: 13px;
          font-weight: 600;
          color: #597a84;
        }
      }
    }

  }

}