.container-token-allocation{
  .header{
    color: #6ca3a9;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
  }
  .ver-middle{
    display: table;
    .ver-middle-inner{
      display: table-cell;
      vertical-align: middle;
    }
  }
}
