.rich-editor{
  border: 1px solid #d3e3e5;
  border-radius: 4px;
  overflow: hidden;

  .ql-toolbar{
    &.ql-snow {
      border: none;
      padding: 4px;
      background-color: #f6f8fa;
      .ql-stroke{
        stroke: #597a84;
      }
      .ql-formats{
        display: block;
        margin-right: 0;
        button{
          width: 25%;
          float: none;
          svg{
            float: none;
          }
        }
      }
    }
  }

  .ql-container{
    font-size: 16px;
    &.ql-snow{
      border: none;
      color: #597a84;
      .ql-editor{
        padding: 12px;
      }
    }
  }

}