@import "../../admin/simple_token_theme_admin/variables";

.sign-up-form {
  .btn-primary , .btn-secondary {
    width: 220px;
  }
}

.logged-in-header{
  box-shadow: 0 0.5px 3px 2px rgba(237, 242, 246, 0.89);
}

.cloud-bg{
  background: url(https://dxwfxs8b4lg24.cloudfront.net/ost-kyc/images/graphic-bg.png) bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: inherit;
}