@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";
.kyc-banner{
  background-color: $orange;
  color:$white;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}
