.header{
  color: #6ca3a9;
  font-size: 24px;
  font-weight: 300;
  margin: 25px 0 0;
  line-height: 30px;
}
.kyc-status-msg{
  color: #597a84;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px 0 25px;
}
.pause-status{
  color: #597a84;
  font-weight: 300;
  margin-top: 20px;
  font-size: 20px;
}
.dashboard-page{
  @media (min-width: 736px) {
    width: 450px;
  }
  .registration-timer{
    padding: 0 30px;
  }
  .kyc-panel{
    color: #597a84;
    font-weight: 300;
    .panel-body{
      width: 100%;
      td{
        padding: 15px;
        &:first-child{
          text-align: left;
          padding-right: 0;
          text-transform: capitalize;
        }
        &:last-child{
          text-align: right;
          padding-left: 0;
          text-transform: uppercase;
        }
      }
    }
    &.approved{
      background-color: #fbfdfd;
      border: solid 1px #6c9ba9;
    }
    &.denied{
      background-color: rgba(231, 0, 59, 0.05);
      border: solid 1px #e7003b;
    }
    &.pending-issue{
      background-color: #fffdf9;
      border: solid 1px #e4b030;
    }
    a{
      color: #597a84;
      border-bottom: 1px solid #597a84;
      margin-top: 2px;
      &:hover{
        text-decoration: none;
      }
    }
    .ver-middle{
      vertical-align: middle;
    }
    #prove-support-link, #community-bonus-link{
      &:focus{
        text-decoration: none;
      }
      &.close-accordian-icon {
        border-bottom: none;
        margin-top: 6px;
        text-indent: -9999px;
      }
    }
    .prove-support-content{
      color: #597a84;
      &.drop-bonus{
        .header{
          border-top: solid 2px #e0eaed;
        }
      }
      .header{
        font-size: 18px;
        margin: 15px 0 0;
        font-weight: 400;
        padding: 15px 0 5px;
        color: #6ca3a9;
        border-top: solid 1px #597a84;
      }
      .desc{
        color: #6ca3a9;
      }
      a{
        display: inline-block;
        margin-top: 20px;
        &:focus{
          text-decoration: none;
        }
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .progress-stats{
    font-weight: 300;
    color: #597a84;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    .stats-number{
      font-weight: 500;
    }
  }
  .stats-note-desc{
    font-size: 12px;
    padding: 20px 0 0;
  }
  .time-remain{
    border: none;
    color: #91c0ad;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 20px;
    .panel-body{
      padding: 8px 10px;
      text-transform: uppercase;
      background-color: rgba(145, 192, 173, 0.15);
    }
  }
  .early-access-purchase{
    color: #597a84;
    margin: 0px 0 10px;
    font-weight: 500;
  }
}

.forgot-eth{
//  margin-bottom: 40px;
  .header{
    font-size: 18px;
    font-weight: 500;
    color: #597a84;
    margin-bottom: 20px;
    margin-top: 0;
  }
  a{
    padding: 15px 0;
  }
}

.eth-deposit-address{
  background-color: #6c99a6;
  padding: 30px 0;
  .header{
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .btn{
    padding: 15px 30px;
  }
  .max-cap{
    span{
      padding: 5px 20px;
      letter-spacing: 1px;
      color: #6c99a6;
      background-color: #ffffff;
      display: inline-block;
      margin-bottom: 20px;
      font-weight: 500;
    }
  }
}

//.eth-address-links{
//  a{
//    font-size: 12px;
//    font-weight: 500;
//    color: #597a84;
//    display: inline-block;
//    margin: 0 10px;
//    text-transform: uppercase;
//    letter-spacing: 1px;
//    border-bottom: 1px solid #597a84;
//    &:hover, &:focus{
//      text-decoration: none;
//    }
//  }
//}

.instructions{
  color: #597a84;
  font-weight: 300;
  padding: 20px 0 30px;
  .font500{
    font-weight: 500;
  }
  a{
    font-size: 14px;
    font-weight: 500;
    color: #597a84;
    display: inline-block;
    margin-top: 10px;
    border-bottom: 1px solid #597a84;
    &:hover, &:focus{
      text-decoration: none;
    }
  }
}

.have-question{
//  margin: 40px 0;
  .question-txt{
    color: #597a84;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px;
  }
//  a{
//    font-size: 12px;
//    font-weight: 500;
//    color: #597a84;
//    display: inline-block;
//    margin: 0 15px;
//    text-transform: uppercase;
//    border-bottom: 1px solid #597a84;
//    &:hover, &:focus{
//      text-decoration: none;
//    }
//  }
}


.ethereum-deposit-address{
  border: 0;
  padding: 0;
  margin-top: 20px;
  position: relative;
  .copy-address-input{
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #435353;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    -webkit-appearance: none;
    border: solid 1px #cdd7da;
    padding: 15px 18px;
    font-weight: 300;
  }

  .copy-address-button {
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border: none;
    padding: 0 15px;
    text-transform: uppercase;
  }
}

.user-eth-address {
  border: 0;
  padding: 0;
  margin-top: 20px;
  position: relative;
  .user-eth-address-input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #435353;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #fff;
    -webkit-appearance: none;
    border: solid 1px #cdd7da;
    padding: 15px 80px 15px 15px;
    font-weight: 300;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #cdd7da;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #cdd7da;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #cdd7da;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #cdd7da;
    }
  }

  .user-eth-address-validate-btn {
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border: none;
    padding: 0 15px;
    font-weight: 500;
    width: 80px;
    letter-spacing: 0.4px;
  }
}



.token-header{
  font-size: 18px;
  color: #597a84;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px 0;
  letter-spacing: 0.4px;
}


.simpletoken-alert{
  position:absolute;
  top: 0px;
  width:100%;
  opacity: 0;
  font-size: 20px;
  letter-spacing: 1.1px;
  color: #ffffff;
  padding: 20px 0;
  font-weight: 300;
  margin: 0;
  z-index: 999;

  &.success{
    background-color: #91c0ad;
  }

  &.error{
    background-color: #e7003b;
  }

  .icon{
    margin-right: 8px;
  }

  .ver-middle{
    vertical-align: middle;
  }

}

.margin35auto{
  margin: 35px auto;
}