@import "../../web/simple_token_theme/variables";

.pause-status{
  margin-top: 20px;
  a{
    border-bottom: solid 1px $blue-800;
  }
}
.dashboard-page{
  @media (min-width: map-get($grid-breakpoints, "md")) {
    width: 450px;
  }
  .registration-timer{
    padding: 0 30px;
  }
  .kyc-panel{
    margin-bottom: 15px;
    table{
      width: 100%;
      td{
        &:first-child{
          text-align: left;
          padding-right: 0;
          text-transform: capitalize;
        }
        &:last-child{
          text-align: right;
          padding-left: 0;
          text-transform: uppercase;
        }
      }
    }
    &.approved{
      background-color: $space-white-1;
      border: solid 1px $green-500;
    }
    &.denied{
      background-color: rgba(231, 0, 59, 0.05);
      border: solid 1px $red;
    }
    &.pending-issue{
      background-color: $space-white-2;
      border: solid 1px $yellow-300;
    }
    a{
      border-bottom: 1px solid $blue-800;
      margin-top: 2px;
    }
    .ver-middle{
      vertical-align: middle;
    }
    #prove-support-link, #community-bonus-link{
      &.close-accordian-icon {
        border-bottom: none;
        margin-top: 6px;
        text-indent: -9999px;
      }
    }
    .prove-support-content{
      &.drop-bonus{
        .header{
          border-top: solid 2px #e0eaed;
        }
      }
      .header{
        margin: 15px 0 0;
        padding: 15px 0 5px;
        border-top: solid 1px $blue-800;
      }
      .desc{
        color: $neptune;
      }
      a{
        display: inline-block;
        margin-top: 20px;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .progress-stats{
    margin-bottom: 10px;
    letter-spacing: $letter-spacing;
    .stats-number{
      font-weight: $font-weight-500;
    }
  }
  .stats-note-desc{
    padding: 20px 0 0;
  }
  .time-remain{
    text-transform: uppercase;
    font-weight: $font-weight-500;
    letter-spacing: $letter-spacing;
    .card-body{
      padding: 8px 10px;
      text-transform: uppercase;
      background-color: rgba(145, 192, 173, 0.15);
    }
  }
  .early-access-purchase{
    margin: 0px 0 10px;
    font-weight: $font-weight-500;
  }
}

.forgot-eth{
  a{
    padding: 15px 0;
  }
  border-bottom-blue-800{
    border-bottom: solid 1px $blue-800;
  }
}

.eth-deposit-address{
  padding: 30px 0;
  .header{
    color: $white;
    line-height: 26px;
    small{
      color: $white;
      font-weight: $font-weight-light;
    }
  }
  .btn{
    padding: 15px 30px;
  }
}


.instructions{
  padding: 20px 0 30px;
  a{
    font-size: $text2-size;
    font-weight: $font-weight-500;
    display: inline-block;
    margin-top: 10px;
    border-bottom: 1px solid $blue-800;
  }
}

.ethereum-deposit-address{
  border: 0;
  padding: 0;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  .copy-address-input{
    width: 100%;
    height: 50px;
    @media(max-width: map-get($grid-breakpoints, "xs")){
      font-size: 14px;
    }
    color: $green-800;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    -webkit-appearance: none;
    border: solid 1px $custom-gray-3;
    padding: 15px;
  }

  .copy-address-button {
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border: none;
    padding: 0 15px;
    font-weight: $font-weight-500;
    text-transform: uppercase;
  }
}

.user-eth-address {
  border: 0;
  padding: 0;
  margin-top: 20px;
  position: relative;
  .user-eth-address-input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: $green-800;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px $white;
    -webkit-appearance: none;
    border: solid 1px $custom-gray-3;
    padding: 15px 80px 15px 15px;
  }

  .user-eth-address-validate-btn {
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border: none;
    padding: 0 15px;
    font-weight: $font-weight-500;
    width: 80px;
  }
}



.simpletoken-alert{
  position:absolute;
  top: 0px;
  width:100%;
  opacity: 0;
  font-size: $text1-size;
  letter-spacing: $letter-spacing;
  color: $white;
  padding: 20px 0;
  margin: 0;
  z-index: 999;

  &.success{
    background-color: $green-300;
  }

  &.error{
    background-color: $red;
  }

  .icon{
    margin-right: 8px;
  }

  .ver-middle{
    vertical-align: middle;
  }

}

.margin35auto{
  margin: 35px auto;
}

.container-progress {
  text-align: center;
  margin: 0 auto;
  &.gradient{
    background: linear-gradient(to bottom, $custom-gray-1 0%, $white 100px, $white 100%);
  }
  h2.header {
    color: $neptune;
    font-weight: $font-weight-light;
    line-height: 1.5;
    margin-top: 20px;
    font-size: 38px;
    letter-spacing: 1.3px;
    text-align: center;
  }
  p.lead {
    color: $neptune;
    letter-spacing: $letter-spacing * 1.3;
  }
}

.container-ribbon{
  position: absolute;
  top: 140px;
  right: 0px;
  overflow-x: hidden;
  .ribbon{
    background: #d4111c;
    color: $white;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    .text{
      a,
      a:hover,
      a:active{
        color: $white;
      }
      u{
        text-decoration: none;
        border-bottom: 1px solid $white;
      }
    }
  }
  .ribbon-fold{
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    background: #a51119;
    transform: rotate(45deg) translate(0, -10px);
    z-index: -1;
  }
  .tweet{
    margin: 10px;
    text-align: center;
  }
}