/* Generic styling for forms across application.
 * Use mark-up prescribed by Bootstrap- http://getbootstrap.com/css/#forms-example
 * Use class .simple-token-form where you want to apply this along with .form-header or .form-footer as applicable
 */


.simple-token-form{

  .form-header{
    color: #6ca3a9;
    font-size: 30px;
    font-weight: 300;
    margin: 25px 0 0;
  }

  .form-sub-header{
    color: #597a84;
    margin-top: 10px;
    font-weight: 300;
  }

  .form-group{

    margin-bottom: 0;

    .input-group{

      .form-control:first-child{
        border-right: none;
      }
      .input-group-addon{
        background: #fff;
        border: solid 1px #cdd7da;
        color: #c2e8ea;
        border-left: none;
        box-shadow: none;
        top: 0px;
      }
      .input-group-addon.clicked{
        color: #75a9b0;
      }

    }

    .form-control{
      border: solid 1px #cdd7da;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #435353;
      height: 40px;
      font-size: 16px;
      font-weight: 300;
      &::-webkit-input-placeholder{
        color: #ccd4d4;
        font-style: italic;
      }
      &:-moz-placeholder{
        color: #ccd4d4;
        font-style: italic;
      }
      &::-moz-placeholder{
        color: #ccd4d4;
        font-style: italic;
      }
      &:-ms-input-placeholder{
        color: #ccd4d4;
        font-style: italic;
      }
    }

    > label{
      font-size: 12px;
      color: #6c9ba9;
      text-transform: uppercase;
      font-weight: 600 !important;
      letter-spacing: 0.4px;
      > a{
        color: #75a9b0;
        text-decoration: none;
        &:focus{
          outline: none;
        }
      }
      .requiredField{
        font-size: 10px;
        letter-spacing: 0.2px;
      }
      .popover{
        font-size: 12px;
        a{
          color: #30b3c5;
        }
      }
    }
  }

  .form-instructions{
    font-size: 12px;
    font-weight: 500;
    color: #9aaaaa;
    padding: 20px 0 10px 0;
    a{
      color: #597a84;
      border-bottom: 1px solid #597a84;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
  }

  .thumbnail-upload-instructions{
    padding: 0px 0px 0px 15px;
    display: inline-block;
    vertical-align: middle;
  }

  .upload-image-btn{
    border-radius: 5px;
    height: 45px;
    padding: 0;
    line-height: 43px;
    min-width: 160px;
    font-size: 12px;
    cursor: pointer;
  }

  .upload-image{
    min-width: 50px;
    border-radius: 4px;
    padding: 8px 0px;
    vertical-align: top;
  }

  .zxcvbn-group {
    overflow: hidden;

    .zxcvbn {
      height: 8px;
      background: #f2f2f2;
      float: left;
      width: 19%;
      margin: 8px 1% 4px 0;
    }
    .zxcvbn-0 {
      background-color: #e7003b;
    }
    .zxcvbn-1 {
      background-color: #ff7a00;
    }
    .zxcvbn-2 {
      background-color: #e6e664;
    }
    .zxcvbn-3 {
      background-color: #a7d646;
    }
    .zxcvbn-4 {
      background-color: #30b3c5;
    }
  }

  .error {
    font-size: smaller;
    color: #e7003b;
    padding: 2px 0;
    display: block;
    min-height: 20px;
  }

  .success{
    font-size: smaller;
    color: green;
    padding: 2px 0;
    display: block;
    min-height: 20px;
  }

  .error-group{
    display: block;
    min-height: 20px;
  }

  .error-inline{
    display: inline;
    min-height: 0 ;
  }

}


/* Webkit specific overrides
 */
input[type="text"]::-webkit-input-placeholder{
  color: #ccd4d4;
  font-style: italic;
}
input[type="text"]:-moz-placeholder{
  color: #ccd4d4;
  font-style: italic;
}
input[type="text"]::-moz-placeholder{
  color: #ccd4d4;
  font-style: italic;
}
input[type="text"]:-ms-input-placeholder{
  color: #ccd4d4;
  font-style: italic;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

label.upload-file input[type="file"] {
  position: fixed;
  top: -1000px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}