@import "../../web/simple_token_theme/variables";

.kyc-form{
  .kyc-instructions-title{
    margin-bottom: 25px;
  }
  .kyc-instructions{
    padding: 0;
    font-size: 0;
    margin: 0;
    li{
      display: inline-block;
      margin: 0 0 30px;
      min-width: 125px;
      @media(min-width: map-get($grid-breakpoints, "md")){
        min-width: 155px;
      }
      .instructions-icon{
        height: 75px;
        width: 75px;
        border-radius: 5px;
        display: inline-block;
        list-style-type: none;
        position: relative;
        border: dotted 1.5px $green-500;
        .icon-pos{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto;
        }
      }
      .title-name{
        font-weight: $font-weight-500;
      }
      .learn-more{
        text-transform: uppercase;
      }
    }
  }

  .form-instructions{
    color: $cyanish-gray;
    padding: 0 0 25px 0;
    @media(min-width:  map-get($grid-breakpoints, "lg")){
      padding: 25px 0 10px 0;
    }
    &.choose-file-instructions{
      padding: 0 0 0 5px;
      @media(min-width: map-get($grid-breakpoints, "md")){
        padding: 0 0 0 15px;
      }
    }
  }
}