$sprite-retina-location: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-homepage-press@2x-3.png";
$sprite-location: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-homepage-press@1x-3.png";

@mixin icon-generator($width,$height,$posX,$posY,$offsetHover,$offsetActive,$scale:100) {
  background-image: url($sprite-location);
  background-size: 2000px * $scale/100 2000px * $scale/100;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url($sprite-retina-location);
    background-size: 2000px * $scale/100 2000px * $scale/100;
  }
  display: inline-block;
  outline: none !important;
  &:focus {
    outline: none;
    background-position: $posX * $scale/100 $posY * $scale/100;
  }
  width: $width * $scale/100;
  height: $height * $scale/100;
  background-position: $posX * $scale/100 $posY * $scale/100;
  &:hover {
    background-position: $offsetHover * $scale/100 $posY * $scale/100;
  }
  &:active {
    background-position: $offsetActive * $scale/100 $posY * $scale/100;
  }
}


.epic-enter-logo{
  @include icon-generator(477px, 117px, -30px, -50px, -547px, -547px, 36);
}
.yahoo-finance-logo{
  @include icon-generator(456px, 145px, -30px, -211px, -547px, -547px, 36);
}
.block-tribune-logo{
  @include icon-generator(477px, 111px, -30px, -404px, -547px, -547px, 36);
}
.smith-crown-logo{
  @include icon-generator(485px, 121px, -30px, -559px, -547px, -547px, 36);
}
.chipin-logo{
  @include icon-generator(300px, 78px, -30px, -724px, -547px, -547px, 36);
}
.icorating-logo{
  @include icon-generator(472px, 102px, -28px, -847px, -545px, -547px, 36);
}
.blockchain-blog-logo{
  @include icon-generator(477px, 197px, -30px, -1000px, -547px, -547px, 36);
}
.btc-manager-logo{
  @include icon-generator(477px, 102px, -30px, -1242px, -547px, -547px, 36);
}
.venture-beat-logo{
  @include icon-generator(477px, 62px, -30px, -1389px, -547px, -547px, 36);
}