.container-press{
  background-image: linear-gradient(to bottom, #ffffff, #f8f9fa);
  padding:40px 0;
  overflow-x: hidden;
  &.paddingTop57{
    @media (min-width: 415px) {
      padding-top: 57px;
    }
    padding-top: 83px;
  }
  .latest-updates-title{
    margin-bottom: 25px;
    margin-top: 0;
  }
  .in-the-news{
    margin-bottom: 20px;
    margin-top: 0;
  }
  .new-videos{
    margin-bottom: 25px;
  }
  h1,h2{
    font-size: 38px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1.3px;
    color: #6ca3a9;
    margin-bottom: 40px;
    text-align: center;
  }

  .bit-more-sponsors{
    margin: 0;
    padding: 0;
    li{
      margin: 20px 0;
      min-height: 60px;
      list-style-type: none;
    }
  }

  .col-sm-4{
    margin-bottom: 25px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 66px;
  }
}