.container-timeline{

  &.vertical{
    display: none;
  }

  width: calc(100% - 100px);
  margin: 150px auto 0 auto;
  padding: 110px 0;
  position: relative;

  .progress{
    height: 5px;
    background-color: #c6ede8;
    box-shadow: none;

    .progress-bar{

      background-color: inherit;
      box-shadow: none;

      .pb-inner{
        height: 100%;
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
      }

      &.pb-1{
        .in-progress{
          background: #61bfba;
        }
        .complete{
          background: #61bfba;
          width: 100%;
        }
      }
      &.pb-2{
        .in-progress{
          background: #61bfba;
        }
        .complete{
          background: linear-gradient(to right, #61bfba, #e4b030 100%);
          width: 100%;
        }
      }
      &.pb-3{
        .in-progress{
          background: #e4b030;
        }
        .complete{
          background: linear-gradient(to right, #e4b030, #f58a23 100%);
          width: 100%;
        }
      }
      &.pb-4{
        .in-progress{
          background: #f58a23;
        }
        .complete{
          background: linear-gradient(to right, #f58a23, #d0021b 100%);
          width: 100%;
        }
      }
      &.pb-5{
        .in-progress{
          background: #d0021b;
        }
        .complete{
          background: linear-gradient(to right, #d0021b, #740602 100%);
          width: 100%;
        }
      }
    }
  }

  .milestones{
    .milestone{
      position: absolute;
      top: 40px;
      width: 100px;
      height: 200px;
      text-align: center;

      .o-circle{
        background: url('https://d36lai1ppm9dxu.cloudfront.net/assets/image/o-circle-2x.png');
        background-size: contain;
        width: 200px;
        height: 149.5px;
        position: absolute;
        top: -80%;
        left: -50%;
        display: none;
        .circle-inner{
          width: 60px;
          height: 60px;
          margin: 70px auto 20px auto;
          border-radius: 50%;
          font-size: 10px;
          padding: 15px 0;
          font-weight: 600;
          color: #fff;
        }
      }
      .st{
        font-size: 16px;
        color: #a7b2b5;
        margin-bottom:5px;
        strong{
          font-weight: 500;
        }
      }
      .line{
        height: 70px;
        width: 1px;
        border: 1px dashed #54b79e;
        position: absolute;
        left: 49px;
        top: 22px;
        z-index: -1;
      }
      .point{
        width:25px;
        height:25px;
        background: #fff;
        border: 3px solid #6c9ba9;
        border-radius: 50%;
        margin: 34px auto;
        .point-inner{
          width: 10px;
          height: 10px;
          margin: 5px;
          background: #afe1d4;
          border-radius: 50%;
        }
      }
      .check{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        left: 41px;
        top: 97px;
        z-index: -1;
        background: #a7d677;
        color: #fff;
        font-size: 12px;
        padding: 2px;
        display: none;
      }

      .desc{
        text-align: center;
        color: #6c9ba9;
        .title{
          font-size: 16px;
          font-weight: 500;
        }
        .sub{
          font-size: 11px;
        }
        .bonus{
          font-size: 13px;
          font-weight: 500;
        }
      }

      &.in-progress{
        .o-circle{
          display: block;
        }
        .st{
          color: #54b79e;
        }
        .point{
          width:30px;
          height:30px;
          border: none;
          margin: 34px auto;
          .point-inner{
            display: none;
          }
        }
        .check{
          display: block;
        }
      }

      &.complete{
        .st{
          color: #597a84;
        }
        .point{
          border: none;
          .point-inner{
            display: none;
          }
        }
        .check{
          display: block;
        }
      }

      &.ms-1.in-progress,
      &.ms-1.complete{
        .point,
        .circle-inner{
          background: #61bfba;
        }
        .desc{
          color: #61bfba;
        }
      }

      &.ms-2.in-progress,
      &.ms-2.complete{
        .point,
        .circle-inner{
          background: #e4b030;
        }
        .desc{
          color: #e4b030;
        }
      }

      &.ms-3.in-progress,
      &.ms-3.complete{
        .point,
        .circle-inner{
          background: #f58a23;
        }
        .desc{
          color: #f58a23;
        }
      }

      &.ms-4.in-progress,
      &.ms-4.complete{
        .point,
        .circle-inner{
          background: #d0021b;
        }
        .desc{
          color: #d0021b;
        }
      }

      &.ms-5.in-progress,
      &.ms-5.complete{
        .point,
        .circle-inner{
          background: #740602;
        }
        .desc{
          color: #740602;
        }
      }

    }

  }

}


@media (max-width: 767px) {

    .container-timeline{
      display:none;

      &.vertical{
        display: block;
        margin: 80px 0;
        position: relative;
        width: inherit;
        padding: inherit;

        .progress{
          height: 500px;
          width: 5px;
          margin: 0 auto;

          .progress-bar{
            width: 100%;
            background-color: inherit;
            box-shadow: none;

            .pb-inner{
              width: 100%;
            }

            &.pb-1{
              .complete{
                height: 100%;
              }
            }
            &.pb-2{
              .complete{
                background: linear-gradient(to bottom, #61bfba, #e4b030 100%);
                height: 100%;
              }
            }
            &.pb-3{
              .complete{
                background: linear-gradient(to bottom, #e4b030, #f58a23 100%);
                height: 100%;
              }
            }
            &.pb-4{
              .complete{
                background: linear-gradient(to bottom, #f58a23, #d0021b 100%);
                height: 100%;
              }
            }
            &.pb-5{
              .complete{
                background: linear-gradient(to bottom, #d0021b, #740602 100%);
                height: 100%;
              }
            }

          }
        }

        .milestones{

          .milestone{
            width: 100%;
            height: inherit;

            .st{
              position: absolute;
              float: right;
              right: calc(50% - 100px);
              top:0;
            }

            .line{
              height: 1px;
              width: 50px;
              left: calc(50% - 20px);
              top: 10px;
            }
            .point{
              margin: 0 auto;
            }
            .check{
              top:0;
            }

            .desc{
              position: absolute;
              float: left;
              left: calc(50% - 100px);
              top: 0;
            }

            &.in-progress{
              .point{
                margin: 0 auto;
              }
            }
          }

        }

      }

    }

}