.timeline-title{
  width: 250px;
  background: #e4b030;
  border-radius: 5px;
  margin:0 auto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 0;
}

.vertical.info{
  display: none;
}

.container-timeline{

  &.vertical{
    display: none;
  }

  width: calc(100% - 100px);
  margin: 110px auto 0 auto;
  padding: 110px 0;
  position: relative;

  .progress{
    height: 5px;
    background-color: #c6ede8;
    box-shadow: none;

    .progress-bar{

      background-color: inherit;
      box-shadow: none;

      .pb-inner{
        height: 100%;
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
      }

      .continued{
        width: 100%;
        border: 5px dotted #c6ede8;
        background: #ffffff;
      }

      &.pb-soft_cap{
        .in-progress{
          background: #61bfba;
        }
        .complete{
          background: #61bfba;
          width: 100%;
        }
        .continued{
          border: 5px dotted #61bfba;
        }
      }
      &.pb-target{
        .in-progress{
          background: #61bfba;
        }
        .complete{
          background: linear-gradient(to right, #61bfba, #e4b030 100%);
          width: 100%;
        }
        .continued{
          border: 5px dotted #e4b030;
        }
      }
      &.pb-kicker{
        .in-progress{
          background: #e4b030;
        }
        .complete{
          background: linear-gradient(to right, #e4b030, #f58a23 100%);
          width: 100%;
        }
        .continued{
          border: 5px dotted #f58a23;
        }
      }
      &.pb-power{
        .in-progress{
          background: #f58a23;
        }
        .complete{
          background: linear-gradient(to right, #f58a23, #d0021b 100%);
          width: 100%;
        }
        .continued{
          border: 5px dotted #d0021b;
        }
      }
      &.pb-hard_cap{
        .in-progress{
          background: #d0021b;
        }
        .complete{
          background: linear-gradient(to right, #d0021b, #740602 100%);
          width: 100%;
        }
        .continued{
          border: 5px dotted #740602;
        }
      }
    }
  }

  .milestones{
    .milestone{
      position: absolute;
      top: 40px;
      width: 100px;
      height: 200px;
      text-align: center;
      z-index: 1;

      .st{
        font-size: 16px;
        color: #a7b2b5;
        margin-bottom:5px;
        background: rgba(255, 255, 255, 0.7);
        strong{
          font-weight: 500;
        }
      }
      .line{
        height: 70px;
        width: 1px;
        border: 1px dashed #54b79e;
        position: absolute;
        left: 49px;
        top: 22px;
        z-index: -1;
      }
      .point{
        width:25px;
        height:25px;
        background: #fff;
        border: 3px solid #6c9ba9;
        border-radius: 50%;
        margin: 36px auto;
        .point-inner{
          width: 10px;
          height: 10px;
          margin: 5px;
          background: #afe1d4;
          border-radius: 50%;
        }
      }
      .arrow-line{
        height: 100px;
        width: 1px;
        border: 1px dashed #e4b030;
        position: absolute;
        left: 50%;
        top: -30px;
        z-index: -1;
      }
      .arrow{
        color: #54b79e;
        position: absolute;
        left: calc(50% - 8px);
        top: 58px;
        font-size: 20px;
      }
      .info{
        width: 170px;
        border-radius: 5px;
        background-color: #e4b030;
        color: #ffffff;
        padding: 6px 20px;
        position: absolute;
        bottom: 30px;
        p{
          margin:0;
          font-size: 13px;
          font-weight: 300;
        }
      }
      .check{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        left: 41px;
        top: 97px;
        z-index: -1;
        background: #a7d677;
        color: #fff;
        font-size: 12px;
        padding: 2px;
        display: none;
      }

      .desc{
        text-align: center;
        color: #6c9ba9;
        .title{
          font-size: 16px;
          font-weight: 500;
        }
        .sub{
          font-size: 11px;
        }
        .bonus{
          font-size: 13px;
          font-weight: 500;
        }
      }

      &.complete{
        .st{
          color: #597a84;
        }
        .point{
          border: none;
          width: 7px;
          border-radius: 25%;
          .point-inner{
            display: none;
          }
        }
        .check{
          display: block;
        }
      }

      &.last-milestone{
        .st{
          color: #54b79e;
        }
        .point{
          .point-inner{
            display: none;
          }
        }
        .check{
          display: block;
        }
      }

      &.ms-current{
        width: 170px;
        height: auto;
      }

      &.ms-soft_cap{
        &.complete{
          .point,
          .circle-inner{
            background: #61bfba;
          }
          .desc,
          .arrow{
            color: #61bfba;
          }
        }
        &.in-progress{
          .point{
            border: 3px solid #61bfba;
          }
        }
      }

      &.ms-target{
        &.complete{
          .point,
          .circle-inner{
            background: #e4b030;
          }
          .desc,
          .arrow{
            color: #e4b030;
          }
        }
        &.in-progress{
          .point{
            border: 3px solid #e4b030;
          }
        }
      }

      &.ms-kicker{
        &.complete{
          .point,
          .circle-inner{
            background: #f58a23;
          }
          .desc,
          .arrow{
            color: #f58a23;
          }
        }
        &.in-progress{
          .point{
            border: 3px solid #f58a23;
          }
        }
      }

      &.ms-power{
        &.complete{
          .point,
          .circle-inner{
            background: #d0021b;
          }
          .desc,
          .arrow{
            color: #d0021b;
          }
        }
        &.in-progress{
          .point{
            border: 3px solid #d0021b;
          }
        }
      }

      &.ms-hard_cap{
        &.complete{
          .point,
          .circle-inner{
            background: #740602;
          }
          .desc,
          .arrow{
            color: #740602;
          }
        }
        &.in-progress{
          .point{
            border: 3px solid #740602;
          }
        }
      }

    }

  }

}


@media (max-width: 1000px) {

    .vertical.info{
      display: block;
      width: 250px;
      border-radius: 5px;
      background-color: #e4b030;
      color: #ffffff;
      padding: 6px 20px;
      margin:10px auto;
      p{
        margin:0;
        font-size: 13px;
        font-weight: 300;
      }
    }

    .container-timeline{
      display:none;

      &.vertical{
        display: block;
        margin: 40px 0;
        position: relative;
        width: inherit;
        padding: inherit;

        .progress{
          height: 550px;
          width: 5px;
          margin: 0 auto;

          .progress-bar{
            width: 100%;
            background-color: inherit;
            box-shadow: none;

            .pb-inner{
              width: 100%;
            }

            &.pb-soft_cap{
              .complete{
                height: 100%;
              }
            }
            &.pb-target{
              .complete{
                background: linear-gradient(to bottom, #61bfba, #e4b030 100%);
                height: 100%;
              }
            }
            &.pb-kicker{
              .complete{
                background: linear-gradient(to bottom, #e4b030, #f58a23 100%);
                height: 100%;
              }
            }
            &.pb-power{
              .complete{
                background: linear-gradient(to bottom, #f58a23, #d0021b 100%);
                height: 100%;
              }
            }
            &.pb-hard_cap{
              .complete{
                background: linear-gradient(to bottom, #d0021b, #740602 100%);
                height: 100%;
              }
            }

          }
        }

        .milestones{

          .milestone{
            width: 100%;
            height: inherit;

            .st{
              position: absolute;
              float: right;
              right: calc(50% - 100px);
              top:0;
            }
            .line{
              height: 1px;
              width: 50px;
              left: calc(50% - 20px);
              top: 10px;
            }
            .point{
              margin: 0 auto;
            }
            .arrow{
              top:0;
              left: calc(50% - 10px);
            }
            .check{
              top:0;
              left: calc(50% - 140px);
            }
            .desc{
              position: absolute;
              float: left;
              left: calc(50% - 100px);
              top: 0;
            }

            &.complete{
              .point{
                margin: 8px auto;
                height: 7px;
                width: 25px;
              }
            }

            &.in-progress{
              .point{
                margin: 0 auto;
              }
            }
          }

        }

      }

    }

}