@import "../../web/simple_token_theme/variables";

.container-telegram{
  background-color: $green-300;
  padding: 20px 0;
  &.token-sale-telegram{
    background-color: $green-500;
  }
  .content{
    color: $white;
    max-width: 500px;

    .telegram-connect{
      font-size: 0;
      min-width: 300px;
      width: 80%;
      background: $white;
      border-radius: 5px;
      color: $green-300;
      text-transform: uppercase;
      line-height: 2;
      font-weight: $font-weight-600;
      margin: 30px auto 20px auto;
      position: relative;
      &.token-sale-telegram-connect{
        color: $neptune;
      }
      .left-comp, .right-comp{
        letter-spacing: $letter-spacing;
        display: inline-block;
        width: 125px;
        font-size: $text3-size;
      }
      .left-comp{
        margin-right: 25px;
      }
      .right-comp{
        margin-left: 25px;
      }
    }
    .telegram-connect-symbol{
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -25px;
      margin-top: -25px;
      font-size: 0;
    }
  }
}