.container-partners{
  background-image: linear-gradient(to bottom, #ffffff, #f1f8f5);
  padding: 20px 0 40px;
  .container-jumbotron{
    padding-bottom: 40px;
    h1.heading{
      margin: 0px 0 20px;
      font-weight: 700;
      color: #34445b;
      text-align: left;
      font-size: 50px;
      letter-spacing: 0.4px;
    }
    .desc{
      margin: 20px 0 30px;
      letter-spacing: 0.4px;
      color: #597a84;
      font-weight: 300;
      font-size: 18px;
    }
  }
}

.container-member-companies{
  padding: 40px 0;
  p.companies-desc{
    margin: 0 0 40px;
    letter-spacing: 0.4px;
    color: #597a84;
    line-height: 20px;
    font-weight: 300;
    .text-bold{
      font-weight: 500;
    }
  }
  .sub-desc{
    color: #597a84;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 22px;
    .text-bold{
      font-weight: 500;
    }
  }
}