.container-member-companies{
  h2{
    font-size: 36px;
    font-weight: 300;
    color: #597a84;
    margin: 30px 0 20px;
  }
  p{
    margin: 20px 0 40px;
    letter-spacing: 0.4px;
    color: #597a84;
    line-height: 20px;
    font-weight: 300;
    .text-bold{
      font-weight: 500;
    }
  }
  .sub-desc{
    color: #597a84;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 22px;
    .text-bold{
      font-weight: 500;
    }
  }
  .cta-group{
    margin-bottom: 50px;
    .get-started{
      margin-top:10px;
      margin-bottom: 15px;
      @media(min-width: 414px){
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}