.container-jumbotron{
  background-color: #f7faf8;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #f7faf8 80%, #f7faf8 100%);

  .image{
    img{
      max-width: 100%;
    }
  }

  .copy{
    max-width: 750px;
    margin:0 auto;

    .heading{
      color: #34445b;
      font-weight: 600;
      font-size: 44px;
      margin-top:20px;
      margin-bottom:10px;
      text-align: center;
    }
    p{
      color: #597a84;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.8px;
      text-align: center;
      margin: 20px auto;
    }
    .get-started{
      margin-top:10px;
      margin-bottom:40px;
    }
  }

}

.container-architecture-parts{

  padding-top: 20px;

  .part-connector{
    width: 500px;
    border-top: 2px dotted #84d1d4;
    position: relative;
    top: 66px;
    z-index: -1;
    margin: 0 auto;
  }

  .part-wrapper{

    display: inline-block;
    margin: 10px 60px;
    cursor: pointer;

    .part-outer{
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 7px;

      .part{
        width: 90px;
        height: 90px;
        border: 2px dotted #84d1d4;
        border-radius: 50%;
        padding: 15px;
        background: #fff;
        .svg{
          width: 100%;
          height: 100%;
          fill: #84d1d4;
        }
      }

    }

    &:hover{
      .part {
        border: 2px solid #6ca3a9;
        background: #6ca3a9;
        .svg {
          fill: #fff;
        }
      }
    }

    &.active{
      background: #fff;
      .part-outer{
        border: 1px solid #6ca3a9;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        .part{
          border: 2px solid #6ca3a9;
          background: #6ca3a9;
          .svg{
            fill: #fff;
          }
        }
      }
      .title{
        color: #6ca3a9;
        font-weight: 500;
      }
    }

    .title{
      color: #597a84;
      display: inline-block;
      margin: 8px 0;
      font-weight: 300;
      width: 96px;
      font-size: 16px;
    }

  }

  .part-description{
    height: 370px;
    p.lead {
      color: #597a84;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.8px;
      text-align: center;
      max-width: 700px;
      margin: 20px auto;
    }
    .part-static{
      .part-content{
        img{
          margin: 0 auto;
          width: auto;
          max-width: 95%;
          max-height: 300px;
        }
      }
    }
  }

}

.container-code{

  padding-bottom: 60px;

  .heading{
    color: #597a84;
    font-weight: 300;
    font-size: 36px;
    margin:20px 0;
    text-align: center;
  }

  .github{
    h3{
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.3px;
      text-align: left;
      color: #597a84;
      margin: 10px 0;
    }
    p{
      color: #597a84;
      font-size: 15px;
    }
    .btn-github{
      font-size: 12px;
      padding: 10px 20px;
      margin: 10px 0;
      color: #7f9183;
      &:hover,
      &:active{
        color: #7f9183;
        text-decoration: none;
      }
    }
    span{
      vertical-align: middle;
    }
  }

}

.container-management{

  background: #91c0ad;
  padding-top: 40px;
  padding-bottom: 170px;

  .heading{
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2;
    margin:20px 0;
    text-align: center;
  }
  .desc{
    color: #fff;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    text-align: center;
  }

}

.container-management-images{
  max-width: 600px;
  margin:-150px auto 20px auto;

  .images-desktop{
    .ipad{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 97%;
      border: 0;
    }
    .iphone{
      position: absolute;
      bottom: 0;
      right: 0;
      height: 75%;
      border: 0;
    }
  }

  .images-mobile{
    padding-bottom: 100%;
    position: relative;
    .iphone-1{
      width:30%;
      position:absolute;
      bottom: 0;
    }
    .iphone-2{
      width:44%;
      position:absolute;
      bottom: 0;
      right: 30%;
      z-index: 1;
    }
    .iphone-3{
      width:50%;
      position:absolute;
      bottom: 0;
      right:0;
    }
  }

}

.container-features{
  padding-top: 20px;
  padding-bottom: 20px;
  .feature{
    padding: 20px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .col-right{
    text-align: left;
    padding-right: 60px;
  }
  .col-left{
    text-align: right;
    padding-left: 60px;
  }
  .img-responsive{
    max-height: 400px;
    max-width: 85% !important;
    margin: 0 auto;
  }
  h1,h2{
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.3px;
    color: #597a84;
    margin: 20px 0;
  }
  .desc{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #597a84;
  }
  .cta-group{
    .cta-primary{
      margin: 20px 0 20px auto;
      text-align: right;
    }
    .cta-secondary{
      margin: 20px auto 20px 0;
      text-align: left;
    }
  }
}

.no-mobile{
  display: block !important;
}
.only-mobile{
  display: none !important;
}

// Mobile portrait, landscape
@media (max-width: 767px) {

  .container-architecture-parts{
    .part-connector{
      top: 50px;
      width: 250px;
      border-top: 1px dotted #84d1d4;
    }
    .part-wrapper{
      margin: 5px;
      .part-outer{
        padding: 5px;
        .part{
          width: 70px;
          height: 70px;
          padding: 7px;
          border: 1px dotted #84d1d4;
        }
      }
      .title{
        font-size: 14px;
        width:inherit;
      }
    }
    .part-description{
      height: 560px;

      p.lead {
        font-size: 16px;
        line-height: 1.3;
        margin: 20px;
      }

      .part-static{
        .part-content{
          img{
            width: auto;
            max-height: 400px;
            max-width: 88%;
          }
        }
      }
    }
  }

  .container-management{
    padding-bottom: 270px;
  }
  .container-management-images {
    margin: -250px auto 20px auto;
  }

  .container-code{
    .heading{
      font-size: 30px;
    }
    .github{
      p{
        min-height: inherit;
      }
    }
  }

  .container-features{
    h1,h2{
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 1.3px;
      color: #597a84;
    }
    .col-text{
      position: inherit;
      transform: none;
    }
    .col-right,
    .col-left{
      padding:0 30px;
      text-align: center;
    }
    .cta-group{
      div{
        text-align: center !important;
      }
    }
  }

  .no-mobile{
    display: none !important;
  }
  .only-mobile{
    display: block !important;
  }
}


.container-member-companies{
  h2{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.3px;
    color: #597a84;
    margin: 30px 0 40px;
  }
}