@import "../../../../assets/stylesheets/web/simple_token_theme/_variables";


.kyc-header-wrap {
    border-bottom: 1px solid $gray-200; 
}

.dropdown-menu{
  left: -20%;
  .dropdown-item{
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }
}