<div class="row kyc-header-wrap p-3">
  <div class="col-6">
      <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-brand-nav-menu.svg" width="150"/>
  </div>  

  <div class="col-6">
    <div class="row">
      <div class="col-6"> 
        <kyc-navbar-search [searchApi]="'api/admin/kyc/get-cases-by-email'" 
                    [entityName]="'email'" 
                    [placeholder]="'Search by Email'">
        </kyc-navbar-search>  
      </div>
      <div class="col-6"> User profile </div> 
    </div>  
  </div>  
</div>

