<nav class="navbar fixed-top">

	<a class="navbar-brand border-none" routerLink="/admin/new-dashboard">
		<img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-brand-nav-menu.svg" width="150"/>
	</a>

	<div class="d-flex justify-content-between align-items-center">
		<kyc-navbar-search class="d-none d-md-block mr-5" [searchApi]="'api/admin/kyc/get-cases-by-email'"
											[entityName]="'email'"
											[placeholder]="'Search by Email'">
		</kyc-navbar-search>

		<div class="dropdown mr-3">
			<a class="dropdown-toggle border-none" data-toggle="dropdown">
				{{appConfig.getLoggedInUserName()}}  <span class="caret"></span>
			</a>
			<div class="dropdown-menu dropdown-menu-right pb-0">
				<div class="triangle"></div>
				<a class="dropdown-item border-none" title="Manage Admins" [routerLink]="['/admin/admin-user/dashboard']">manage admins</a>
				<a href="/admin/change-password" title="Change Password" class="dropdown-item border-none">change password</a>
				<a href="/admin/logout" title="Logout" class="dropdown-item border-none">logout</a>
			</div>
		</div>

	</div>
</nav>

<div style="margin-bottom: 60px"><!-- Phantom for navbar fixed-top --></div>

