.marketing-page{
  .registration-timer{
    padding: 20px;
  }
  .logo-desktop{
    max-width: 60%;
  }
  .logo-mobile{
    display: none;
  }
  .send-updates{
    width: 100%;
    margin: 0;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 1px;
  }
  .form-control{
    border: solid 1px #6c9ba9;
    color: #435353;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    -webkit-appearance: none;
  }
  .error {
    font-size: 13px;
    color: #e7003b;
    padding: 3px 0 0;
    display: block;
    min-height: 22px;
    font-weight: 500;
  }
  .border-error{
    border-color: red !important;
  }
  #subscribe-success {
    text-align: center;
    background: #91c0ad;
    border-radius: 10px;
    padding: 10px 10px 25px 10px;
    margin: 40px auto 0;
  }
  .container-jumbotron-desc{
    padding-bottom: 0;
  }
}


@media (max-width: 767px){
  .marketing-page{
    .logo-desktop{
      display: none;
    }
    .logo-mobile{
      display: block;
      max-width: 220px;
      width:80%;
      text-align: center;
      margin:0 auto;
    }
  }
}
