.marketing-page{
  .registration-timer{
    padding: 20px;
  }
  .send-updates{
    width: 100%;
    margin: 0;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 1px;
  }
  .form-control{
    border: solid 1px #6c9ba9;
    color: #435353;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    -webkit-appearance: none;
  }
  .error {
    font-size: 13px;
    color: #e7003b;
    padding: 3px 0 0;
    display: block;
    min-height: 22px;
    font-weight: 500;
  }
  .border-error{
    border-color: red !important;
  }
  #subscribe-success {
    text-align: center;
    background: #91c0ad;
    border-radius: 10px;
    padding: 10px 10px 25px 10px;
    margin: 40px auto 0;
    .small-title, .small-desc{
      color: #ffffff;
    }
  }
  .container-jumbotron-desc{
    padding-bottom: 0;
  }
  .minHeight{
    min-height: calc(100vh - 60px)
  }
  .logo-desktop{
    display: none;
  }
  .logo-mobile{
    display: block;
    max-width: 220px;
    width:80%;
    text-align: center;
    margin:0 auto;
  }
  .container-illustration-desktop{
    background: #91c0ad;
    height: 107px;
  }
}


@media (min-width: 768px){
  .marketing-page{
    .logo-desktop{
      max-width: 60%;
      display: block;
    }
    .logo-mobile{
      display: none;
    }
//    .telegram-footer-pos{
//      bottom: 0;
//      width: 100%;
//      position: absolute;
//    }
  }
}
