.container-jumbotron{
  min-height: 800px;
  background-image: url('http://developmentopenst.org:3000/open-st-bg.png');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
  .btn-ost{
    margin-left: 20px;
  }
}

.container-mission{
  padding: 50px 0;
}

.container-team{
  padding: 50px 0;
  background: #f8fbf9;

  .board-team,
  .advisor-team{

    .thumbnail{
      padding:0;
      border: none;
      background: none;
      margin-bottom: 0;

      .caption{

        padding: 10px 0;

        [itemprop="name"]{
          font-size: 20px;
          height: 28px;
          line-height: 24px;
          font-weight: 300;
          color: #34445b;
          margin-top: 15px;
          margin-bottom: 5px;
        }
        [itemprop="jobTitle"]{
          font-size: 14px;
          height: 18px;
          line-height: 14px;
          font-weight: 300;
          color: #595b5e;
          margin: 5px 0;
        }
        .desc{
          color: #595b5e;
          font-weight: 300;
        }
        a{
          color: #34445b;
          font-weight: 500;
          &:hover, &:focus{
            text-decoration: none;
            color: #c0993a;
          }
        }
      }

    }

  }
}

.container-protocol{
  padding: 50px 0;
  background-image: url('http://developmentopenst.org:3000/open-st-muted-graphic.png');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
}