
request-state-handler{
    background-color: #fff;  
    background-image: url(https://dxwfxs8b4lg24.cloudfront.net/ost-kyc/images/graphic-bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}