<ng-container *ngIf="isProcessing || hasError">
  <request-state-handler class="d-flex w-100 justify-content-center h-100 contains-background pt-4"
    [isProcessing]="isProcessing" [hasError]="hasError">
      <ng-container class="processing-content">
        <div class="text-center display-1 mt-4">Loading PDF please wait ... </div>
      </ng-container>
      <ng-container class="error-content">
        <div class="col-12">
          <div class="pb-3">This does not seem to be a standard PDF, still want to view the PDF, click below.</div>
          <a class="btn btn-secondary mb-4" [href]="src" target="_blank">View PDF</a>
        </div>
      </ng-container>
    </request-state-handler>
</ng-container>  

<ng-container *ngIf="iframeSrc">
  <div class="embed-responsive embed-responsive-4by3" >
    <iframe class="embed-responsive-item" [src]='iframeSrc'></iframe>
  </div>
</ng-container>
