
<div class="rows-container mt-5 p-5">

  <ng-content select=".header"></ng-content>

  <div *ngIf="isProcessing==false; else loadingBlock">
    <ng-container *ngIf="tableType==='dashboard'">
      <app-row *ngFor="let row of rows" [row]='row' (deleteRowEvent)="deleteRow( $event )"></app-row>
    </ng-container>
  </div>

  <table-pagination *ngIf="isPagination()"
                      (pageChangeEvent)="getTableDataOnPageChange( $event )"
                      [totalPageCount]="getTotalPageCount()" >
  </table-pagination>

  <ng-template #loadingBlock>
    <div class="loading mx-auto mt-5" style="font-size:30px;">
    <strong>Loading...</strong>
    </div>
  </ng-template>

</div>
