<section class="container container-featured">

  <div class="row">
    <div class="col-xs-12">
      <h2 class="title text-center">Featured Development Partner</h2>
    </div>
    <div class="col-xs-12 col-sm-6"></div>
    <div class="col-xs-12 col-sm-6">
      <p class="secondary">
        The Simple Token company is developing some of the first OpenST solutions and providing sales and marketing support to the OpenST community.
      </p>
      <p class="secondary">
        Connect with Simple Token to learn about their OpenST solutions and to kickstart your OpenST implementation.
      </p>
      <a href="https://simpletoken.com/" target="_blank" class="btn-common btn-blue">Explore Simple Token</a>
    </div>
  </div>

</section>
