<section class="container container-mission">
  <div class="row text-center">
    <h2>We're on a mission to help mainstream organizations benefit from blockchain technologies.</h2>
    <p class="primary">
      The OpenST Foundation is dedicated to supporting initiatives that further mainstream adoption of Blockchain technologies.
    </p>
    <p class="primary">
      Founding in 2017, the OpenST Foundation provides support for the community and ecosystem. We fund ongoing development of the OpenST protocol for mainstream business tokenization, and supporting business development and marketing activities. We deploy financial and intellectual resources towards projects that can benefit the OpenST community and ecosystem.
    </p>
    <a href="#" class="btn-common btn-blue btn-explore">Governance and Mission</a>
  </div>
</section>
