<section class="container-fluid container-protocol">
  <div class="row">
    <div class="container">
      <h2 class="title text-center">The OpenST Protocol</h2>
      <p class="primary">
        Simple Token ['OST'] is an ERC-20 token and OpenST is a protocol to support token economies in mainstream consumer applications. The business and technical challenge we set out to solve is to enable mainstream consumer applications to benefit from deploying their own branded crypto-backed token economies, in a scalable and cryptographically auditable manner, without needing to mint and maintain their own publicly-tradeable EIP20 tokens.
      </p>
      <p class="primary">
        The OpenST protocol enables the creation of utility tokens on a utility blockchain while the value of those tokens is backed by staked crypto-assets on a value blockchain.
      </p>
    </div>
  </div>
</section>
