<div class="row">
 <h2 class="mt-4 kyc-header">KYC DASHBOARD</h2>

</div>


<div class="row  p-3 filters">
  <div class="col-12 col-md-9">
    <form #filterForm="ngForm" name='filters' (change)="onFilterChange()">
     <div class="row">
      <div class="col-12 col-md-3">
        <span class='filter-label'>ADMIN STATUS</span>
        <select class="select" name="filters[admin_status]" [(ngModel)]='adminStatus'>
            <option *ngFor="let option of getOptionValues('entity_configs.kyc_user_details.admin_status')"
                    value="{{option.value}}"  >
              {{option.display_text}}
            </option>
        </select>
       </div>
      <div class="col-12 col-md-3">
        <span class='filter-label'>ADMIN REVIEW STATUS</span>
        <select class="select" name="filters[admin_action_types]" [(ngModel)]='admimReviewStatus'>
            <option *ngFor="let option of getOptionValues('entity_configs.kyc_user_details.admin_action_types')"
                    value="{{option.value}}"  >
              {{option.display_text}}
            </option>
        </select>
      </div>
      <div class="col-12 col-md-3">
        <span class='filter-label'>CYNOPSIS STATUS</span>

        <select class="select" name="filters[cynopsis_status]" [(ngModel)]='cynopsisStatus'>
            <option *ngFor="let option of getOptionValues('entity_configs.kyc_user_details.cynopsis_status')"
                    value="{{option.value}}" >
              {{option.display_text}}
            </option>
        </select>
      </div>
      <div class="col-12 col-md-3">
          <span class='filter-label'>WHITELIST STATUS</span>

          <select class="select" name="filters[whitelist_status]" [(ngModel)]='whiteListStatus'>
              <option *ngFor="let option of getOptionValues('entity_configs.kyc_user_details.whitelist_status')"
                      value="{{option.value}}" >
                {{option.display_text}}
              </option>
          </select>
        </div>

    </div>
    </form>
  </div>

  <div class="col-12 col-md-3">
    <form #sortForm="ngForm" name='sorting' (change)="onSortChange()">
      <div class="col-12">
        <span class='filter-label'>SORT BY</span>

        <select class="select" name="sortings[sort_by]" [(ngModel)]='sortBy'>
          <option *ngFor="let option of getOptionValues('entity_configs.kyc_user_details.sort_by')"
                  value="{{option.value}}"  >
            {{option.display_text}}
          </option>
       </select>
    </div>
    </form>
  </div>
</div>

<div class="row" >
  <app-table class="w-100"
            [pageNumber]='pageNumber'
            [filterForm]='filterForm'
            [sortForm]='sortForm'
            [dataUrl]="'api/admin/kyc/dashboard/'"
            [tableType]="'dashboard'">
    <app-header class='header'></app-header>

    <ng-template #rowData let-row>
        <app-row [row]='row'></app-row>
      </ng-template>
  </app-table>
</div>

