@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";
.kyc-header{
  color: $yellow-500;
}

.filters{
  .form-control {
    font-size: 12px;
    letter-spacing: 1px;
    color: #597a84;
  }

  @media screen and (max-width: 1070px) and (min-width: 760px)  {
    .form-label{
      min-height: 35px;
    }

  }
}



