.kyc-header{
  margin-left:30px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #c0993a;
}

.filters{

  select {
    height: 30px;
    width: 100%;
    background-color: #ffffff;
    border: solid 0.8px #d3e3e5;




    font-family: Quasimoda;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
    color: #597a84;

  }

  .filter-label{

    font-family: Quasimoda;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: left;
    color: #9bafb5;
    display:block;
    padding-bottom: 5px;
  }

}



