<div class="row mt-4">
  <h2 class="kyc-header ml-4 text-transform-upper">KYC DASHBOARD</h2>
  <div class="float-right d-flex justify-content-center align-items-center ml-auto">
    <button class="btn btn-primary mr-4" data-toggle="modal" data-target="#downlaodCSV">DOWNLOAD CSV</button>
  </div>
</div>

<div class="row  p-3 filters">
    <div class="col-12 d-lg-none">
        <kyc-navbar-search  [searchApi]="'api/admin/kyc/get-cases-by-email'"
                            [entityName]="'email'"
                            [placeholder]="'Search by Email'">
        </kyc-navbar-search>
    </div>
    <div class="col-12 col-lg-8">
      <form class="form-group" #filterForm="ngForm" name='filters' (change)="onFilterChange(filterForm)">
        <div class="row">
          <div class="col-12 col-lg pr-lg-0 mt-3">
            <label class='form-label mb-2'>ADMIN STATUS</label>
            <select class="form-control selectpicker" name="filters[admin_status]" [(ngModel)]='adminStatus'
                    ostOptions [entityPath]="'entity_configs.kyc_user_details.admin_status'">
            </select>
          </div>
          <div class="col-12 col-lg pr-lg-0 mt-3">
            <label class='form-label mb-2'>ADMIN REVIEW STATUS</label>
            <select class="form-control selectpicker" name="filters[admin_action_types]" [(ngModel)]='admimActionStatus'
                    ostOptions [entityPath]="'entity_configs.kyc_user_details.admin_action_types'">
            </select>
          </div>
          <div class="col-12 col-lg pr-lg-0 mt-3">
            <label class='form-label mb-2'>CYNOPSIS STATUS</label>
            <select class="form-control selectpicker" name="filters[cynopsis_status]" [(ngModel)]='cynopsisStatus'
                    ostOptions [entityPath]="'entity_configs.kyc_user_details.cynopsis_status'">
            </select>
          </div>
          <div class="col-12 col-lg pr-lg-0 mt-3">
            <label class='form-label mb-2'>WHITELIST STATUS</label>
            <select class="form-control selectpicker" name="filters[whitelist_status]" [(ngModel)]='whiteListStatus'
                    ostOptions [entityPath]="'entity_configs.kyc_user_details.whitelist_status'">
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 col-lg-4 px-0 ml-auto mt-3">
      <form class="col-lg-7 ml-auto pr-lg-0 form-group" #sortForm="ngForm" name='sorting'  (change)="onSortChange(sortForm)">
        <label class='form-label mb-2'>SORT BY</label>
        <select class="form-control selectpicker" name="sortings[sort_by]" [(ngModel)]='sortBy'
                ostOptions  [entityPath]="'entity_configs.kyc_user_details.sort_by'">
        </select>
      </form>
    </div>
  </div>

<div class="row" >
  <app-table class="w-100"
            [dataUrl]="'api/admin/kyc/dashboard/'"
            [pageNumber]='pageNumber'
            [filterForm]='filterForm'
            [sortForm]='sortForm'
            (pageChangeEvent)="onPageChange( $event )"
            [warningMsg]="'We could not find any results, please try changing the filters or refresh the page.'"
            [customErrorMsg]="'Something went wrong, we couldnot load the dashboard, please refresh the page or try updating the filters'">
    <dashboard-table-header class='header'></dashboard-table-header>
    <ng-template #rowData let-row >
      <app-row [row]='row'></app-row>
    </ng-template>
    </app-table>
</div>


<div class="modal fade" id="downlaodCSV">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header d-flex justify-content-center align-items-center">
        <h5 class="modal-title text-center">Please confirm to download CSV</h5>
      </div>

      <!-- Modal body -->
      <div class="modal-body mx-5">
        <div>
          <input type="checkbox" class="form-check-input" id="securityCheckbox">
          <label class="form-check-label" for="securityCheckbox">OST KYC is not responsible for the security of data</label>
        </div>
        <div class="mt-2">
          <input type="checkbox" class="form-check-input" id="securityEthCheckbox">
          <label class="form-check-label" for="securityEthCheckbox">OST KYC is not responsible for the security of ETH address shared.</label>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer mt-3 mb-3">
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#successCSV">Confirm</button>
          <button type="button" class="btn btn-light ml-3 text-uppercase" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="successCSV">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header d-flex justify-content-center align-items-center mt-3">
        <svg class="svg model-success-svg">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-warning-icon"></use>
          </switch>
        </svg>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center mx-5">
        <div>
          <h4 class="success">Success</h4>
          <span>We are consolidating your CSV file. We will send an email on char@company.com, with a link to download it. Please check your inbox in sometime. </span>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer mb-3 d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#errorCSV">Ok</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="errorCSV">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header d-flex justify-content-center align-items-center mt-3">
        <svg class="svg model-warning-svg">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-warning-icon"></use>
          </switch>
        </svg>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center mx-5">
        <span>You can only download the CSV 5 times in 24 hours. Please try again after 2:30 PM tomorrow.</span>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer mb-3 d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-primary text-uppercase" data-dismiss="modal">Ok</button>
      </div>

    </div>
  </div>
</div>
