<div class="row mt-4">
    <h2 class="kyc-header ml-4">KYC DASHBOARD</h2>
</div>

<div class="row  p-3 filters">
    <div class="col-12 col-lg-8">
      <form class="form-group" #filterForm="ngForm" name='filters' (change)="onFilterChange()">
        <div class="row">
          <div class="col-12 col-lg pr-lg-0 mt-3">
            <label class='form-label'>ADMIN STATUS</label>
            <select class="form-control" name="filters[admin_status]" [(ngModel)]='adminStatus'
                    ostOptions [entityPath]="'entity_configs.kyc_user_details.admin_status'">
            </select>
          </div>
          <div class="col-12 col-lg pr-lg-0 mt-3">
            <label class='form-label mb-2'>ADMIN REVIEW STATUS</label>
            <select class="form-control" name="filters[admin_action_types]" [(ngModel)]='admimReviewStatus'
                    ostOptions [entityPath]="'entity_configs.kyc_user_details.admin_action_types'">
            </select>
          </div>
          <div class="col-12 col-lg pr-lg-0 mt-3">
            <label class='form-label mb-2'>CYNOPSIS STATUS</label>
            <select class="form-control" name="filters[cynopsis_status]" [(ngModel)]='cynopsisStatus'
                    ostOptions [entityPath]="'entity_configs.kyc_user_details.cynopsis_status'">
            </select>
          </div>
          <div class="col-12 col-lg pr-lg-0 mt-3">
            <label class='form-label mb-2'>WHITELIST STATUS</label>
            <select class="form-control" name="filters[whitelist_status]" [(ngModel)]='whiteListStatus'
                    ostOptions [entityPath]="'entity_configs.kyc_user_details.whitelist_status'">
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 col-lg-4 px-0 ml-auto mt-3">
      <form #sortForm="ngForm" name='sorting' class='col-lg-7 ml-auto pr-lg-0 form-group' (change)="onSortChange()">
        <label class='form-label mb-2'>SORT BY</label>
        <select class="form-control" name="sortings[sort_by]" [(ngModel)]='sortBy'
                ostOptions [entityPath]="'entity_configs.kyc_user_details.sort_by'">
        </select>
      </form>
    </div>
  </div>

<div class="row" >
  <app-table class="w-100"
            [pageNumber]='pageNumber'
            [filterForm]='filterForm'
            [sortForm]='sortForm'
            [dataUrl]="'api/admin/kyc/dashboard/'">
    <app-header class='header'></app-header>

      <ng-template #rowData let-row >
        <app-row [row]='row'></app-row>
      </ng-template>
    </app-table>
</div>



