<div class="change-password">
  <div class="row mt-4 pt-2 ">
    <div class="col-12 col-lg-6">
      <h4 class="kyc-header text-transform-upper">Change Password</h4>
    </div>
  </div>
  <div class="simple-token-form row mt-4">
    <form #changePassword="ngForm" (ngSubmit)="changePasswordSubmit(changePassword)" class="admin-form col-12 col-md-5" method="POST"
    action="/api/admin/profile/change-password" id="adminChangePasswordForm">
      <div class="form-group">
        <label class="form-label" for="current_password">Type old password</label>
        <input type="password"  class="form-control" ngModel #current_password="ngModel" name="current_password" id="current_password"
               title="current password" tabindex="1" minlength="8" required/>
        <ost-form-error-handler [errorFor]="current_password" [fieldName]="'Password'" [serverError]="errorResponse">
        </ost-form-error-handler>
      </div>

      <div class="form-group">
        <label class="form-label" for="new_password">Enter new password</label>
        <input type="password"  class="form-control" name="new_password" ngModel #new_password="ngModel" title="new password" id="new_password"
        tabindex="2" minlength="8" required/>
        <ost-form-error-handler [errorFor]="new_password" [fieldName]="'Password'" [serverError]="errorResponse">
        </ost-form-error-handler>
      </div>

      <div class="form-group">
        <label class="form-label" for="confirm_password">Re-enter new password</label>
        <input type="password"  class="form-control" ngModel #confirm_password="ngModel"
               name="confirm_password" title="confirm password"
               id="confirm_password" tabindex="3" minlength="8" required/>
        <ost-form-error-handler [errorFor]="confirm_password"
                                [fieldName]="'Password'"
                                [serverError]="errorResponse">
        </ost-form-error-handler>
      </div>

      <div class="form-group user-form-footer text-center text-sm-left row mt-4">
        <div class="col-12">
          <button [disabled]="!changePassword.valid || isSubmitting" type="submit" class="btn btn-primary mb-3 mb-xl-0"
          id="adminChangePassword" tabindex="4"
          title="CHANGE PASSWORD">{{btnText}}
          </button>
          <!--<button type="reset" (click)="resetForm()" class="btn btn-secondary ml-xl-3 mb-3 mb-xl-0">-->
          <!--Clear-->
          <!--</button>-->
        </div>
        <div class="general_error error text-center col-12">
          <ost-form-error-handler [errorFor]="'general_error'" [serverError]="errorResponse">
          </ost-form-error-handler>
        </div>
      </div>
    </form>
  </div>
</div>

<change-password-modal></change-password-modal>
