
<!---TODO REVERT--->
<div  *ngIf="true || showAMLSection()"class="row aml-section">
  <div class="col-12">
    <h5 class='customized-h5 pt-3 pb-1 d-inline-block'>AML/CTF details</h5>
    <div class="d-inline-block display-3">( 5 matches)
    </div>
  </div>
  <div class="col-12 col-md-6 pr-0 mb-3">
    <div class="card-group">
      <div class="card">
        <div class="card-body">

          <div class="aml-msg mb-3">{{getAMLStatusMsg()}}</div>
          <div class='row aml-content'>

            <div class="card-col col-12">
              <div class="row">
                <div class="col-4 my-auto">
                  <h6 class="card-title">PROFILE REF NO.</h6>
                </div>
                <div class="col-4 my-auto">
                  <h6 class="card-title">MATCH</h6>
                </div>
                <div class="col-4 my-auto">
                  <div class="btn-group-toggle" [ngClass]="caseDetails.is_case_closed ? 'disable':''" data-toggle="buttons" (click)="allNegativeMatchesPressed( $event )">
                    <label class="btn p-2 no-hit-btn">
                      <input type="checkbox" [(ngModel)]="allNegativeMatches">
                      <h6 class="mb-0 card-title">ALL NEGATIVE</h6>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let match of amlMatchList; let i = index" class="card-col col-12">
              <div class="row">
                <div class="col-4">
                  <a href="{{match.pdf_url}}" target="_blank" class="mr-2">{{match.qr_code}}</a>
                  <a href="{{match.pdf_url}}" target="_blank" class="border-none redirect">
                    <svg class="align-middle redirect-icon" style="height: 15px;width: 15px">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#redirect-icon"></use>
                      </switch>
                    </svg>
                    <svg class="align-middle redirect-hover-icon" style="height: 15px;width: 15px">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#redirect-hover-icon"></use>
                      </switch>
                    </svg>
                  </a>
                </div>
                <div class="col-4" [ngClass]="caseDetails.is_case_closed ? 'disable':''">
                  <ost-toggle [switchName]="'aml_match'+i"
                              [switchLabelYes]="'MATCH'"
                              [switchLabelNo]="'NO HIT'"
                              [switchSelectNo]="allNegativeMatches"
                              (switchYesSelected)="handleMatchSelection( match.qr_code)"
                              (switchNoSelected)="handleNoMatchSelection( match.qr_code )"></ost-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>