@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";



.alert-warning {
  border-color: $yellow-700;
  background-color:#FEFAF4;
  color: inherit;
}
.alert-danger{
  border-color: $red-100;
  background-color:#FEF2F5;
  color: inherit;
}

.alert-success{
  background-color: #EEF8EE;
  border-color: #5EBE55;
  color: inherit;
}

.alert{
  padding: 0.75rem 0rem 0rem 0rem;
}

.alert-message-wrap {
  margin-top: 2px;
  vertical-align: top;
}

.view{
  font-size: 0.8rem;
  font-weight: 600;
  vertical-align: top;
  margin-top: 6px;
  min-width:150px;
}

.caret{
  display: inline-block;
    background: url(https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/drop-down-arrow.svg) no-repeat center;
    height: 7px;
    width: 12px;
    position: relative;
    top: 1px;
}

.list{
  border-top: 1px solid #f5a623;
  padding: 0.75rem;
}

