@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";

.alert-warning {
  border-color: $yellow-700;
  background-color:#FEFAF4;
  color: inherit;
  .list-details-container {
    border-top: 1px solid $yellow-700;
  }  
}
.alert-danger{
  border-color: $red-100;
  background-color:#FEF2F5;
  color: inherit;
  .list-details-container {
    border-top: 1px solid  $red-100;
  }  
}

.alert-success{
  background-color: #EEF8EE;
  border-color: $green-400;
  color: inherit;
  .list-details-container {
    border-top: 1px solid $green-400;
  }  
}

svg {
  vertical-align: middle;
}

.alert{
  padding: 0.75rem 1.25rem 0.5rem;
}

.alert-message-wrap {
  margin-top: 2px;
  vertical-align: top;
  font-size: $text3-size;
}

.view-more-details-present {
  .message-content-wrap {
    width: 100%;
    display: inline-block;
    @media (min-width: map-get($grid-breakpoints , 'md')){
      width: calc(100% - 120px);
    }
  }
}

.view-more-details-text{
  border-bottom: none; 
  vertical-align: top;
  width:120px;
  letter-spacing: 1px;
  &:hover , &:active , &:focus {
    color: $blue-800; 
  }
}

.view-more-details-wrap {
  width: 120px;
  float: right;
  @media (max-width: map-get($grid-breakpoints , 'md')){
    width: 100%;
    float: none;
  }
}

.alert {
  margin-bottom: 0;
 
}

.down-arrow-icon,
.up-arrow-icon {
  pointer-events: none;
}

.list-details{
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: $text3-size;
}

