@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";

.alert-warning {
  border-color: $yellow-700;
  background-color:#FEFAF4;
  color: inherit;
}
.alert-danger{
  border-color: $red-100;
  background-color:#FEF2F5;
  color: inherit;
}

.alert-success{
  background-color: #EEF8EE;
  border-color: #5EBE55;
  color: inherit;
}
