<%= render :partial => "/shared/web/common/navbar" %>
<div class="container container-text-page container-documents">
  <div class="row">
    <div class="content">
      <h1 class="page-title">Simple Token <small>Careers</small></h1>

      <h4>
        <span class="sub-title">Berlin, Germany</span>
        <a href="https://recruit.zoho.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1hb8jhzRCzHmG9hlArEIonY-&embedsource=Embed" target="_blank">Community Manager&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>This position is located in Berlin, Germany, and we are especially looking for individuals who are flexible and willing/eager to contribute and support the team.</p>
      <div class="horizontal-line"></div>

      <h4>
        <a href="https://recruit.zoho.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1niVtvYiRecBhBiMLrOA2K0-&embedsource=Embed" target="_blank">Freelance Videographer&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>We’re looking for someone who can quickly learn our business and who will help us tell a story that inspires and educates our customers and the Simple Token community.</p>
      <div class="horizontal-line"></div>

      <h4>
        <a href="https://recruit.zohopublic.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1sxK%407qnG%40TJY8fU4PmHMOk-&embedsource=Embed" target="_blank">Product Manager&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>We’re specifically looking for business owners: product managers who think holistically about the product and who can function as mini CEO’s of their product lines, with complete ownership over project plans, deliverables timelines, specs, user experience, business cases, customer validation, and usage metrics.</p>
      <div class="horizontal-line"></div>

      <h4>
        <a href="https://recruit.zoho.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1hcXbJJT1jXmXFV4i91S.Ws-&embedsource=Embed" target="_blank">PR Director / Manager&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>We are looking for people who crave a challenge -- who want to work at the nexus of blockchain, cryptocurrency, and the future of business and society.</p>
      <div class="horizontal-line"></div>

      <h4>
        <a href="https://recruit.zoho.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1gD4Jq2RjUYY3G4kwIG9O5Y-&embedsource=Embed" target="_blank">Global Head of Content&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>Extraordinary written and oral communication skills; with direct past experience leading editorial teams and in writing and briefing creative teams.</p>
      <div class="horizontal-line"></div>

      <h4>
        <a href="https://recruit.zoho.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1qER6kOCe8Rme7Ke4.GBVOc-&embedsource=Embed" target="_blank">Technical Product Manager&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>Simple Token is looking for technical product managers who are passionate about bridging blockchain technology and real world problems. We’re specifically looking for business owners with deep technical knowledge: technical product managers who think holistically about the product, the underlying technology, and who can function as mini CEO’s of their product lines, with complete ownership over project plans, deliverables timelines, specs, user experience, business cases, customer validation, and usage metrics.</p>
      <div class="horizontal-line"></div>

      <h4>
        <a href="https://recruit.zoho.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1gnGwO3fRvLgpVz18n4hR7g-&embedsource=Embed" target="_blank">Business Development Manager&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>Simple Token is looking for a business development leader with a strong analytical consultative approach and passion for blockchain technology and crypto-currencies to join our growing team in Berlin, Germany. This is an exciting opportunity to drive market development, sales and partnerships within a dynamic team for one of the fastest growing Blockchain companies.</p>
      <div class="horizontal-line"></div>

      <h4>
        <span class="sub-title">Europe</span>
        <a href="https://recruit.zoho.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1kl7Jl3H5HZ6JSWuazMVJBY-&embedsource=Embed" target="_blank">Community Manager&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>We are looking for people who crave a challenge -- who want to work at the nexus of blockchain, cryptocurrency, and the future of business and society.</p>
      <div class="horizontal-line"></div>

      <h4>
        <span class="sub-title">Pune, India</span>
        <a href="https://recruit.zohopublic.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1hQkpjHUGnmWoXrpVWsuvVc-&embedsource=Embed" target="_blank">Product Manager&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>We’re specifically looking for business owners: product managers who think holistically about the product and who can function as mini CEO’s of their product lines, with complete ownership over project plans, deliverables timelines, specs, user experience, business cases, customer validation, and usage metrics.</p>
      <div class="horizontal-line"></div>

      <h4>
        <a href="https://recruit.zoho.com/recruit/ViewJob.na?digest=ZmrHtYbqDUPdk8.eRn7Z1nzMTcfcPMW5N0nRAyc4B8g-&embedsource=Embed" target="_blank">Technical Product Manager&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
      </h4>
      <p>Simple Token is looking for technical product managers who are passionate about bridging blockchain technology and real world problems. We’re specifically looking for business owners with deep technical knowledge: technical product managers who think holistically about the product, the underlying technology, and who can function as mini CEO’s of their product lines, with complete ownership over project plans, deliverables timelines, specs, user experience, business cases, customer validation, and usage metrics.</p>

    </div>
  </div>

</div>