<div style="padding-top:50px;text-align:center">
<span style="font-size:50px;color: black;font-weight: bold;"><%= @country %>
</span><span style="font-size:50px;color: black;font-weight: bold;"><%= @ip_address %></span>
</div>