<% content_for :gradient_class, "bg-gradient paddingTopBtm80" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/" title="Simple Token">
          <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-mobile.png" width="211"/>
        </a>
      </div>
      <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-circle selected">1</a>
          </div>
          <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
          </div>
        </div>
      </div>
      <div class="simple-token-form">
        <form class="pepo-form" action="" method="" id="">
          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <h1 class="text-center form-header" style="margin-bottom: 30px">Complete the Registration by Submitting Your KYC & Reserver Your Token Name</h1>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">first name</label>
                  <input type="text" class="form-control" name="" value="" tabindex="1"/>

                  <div class="error" id="err_ct_first_name"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">last name</label>
                  <input type="text" class="form-control" name="" value="" tabindex="2"/>

                  <div class="error" id="err_ct_last_name"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">birth date</label>
                  <input type="text" class="form-control" name="" value="" tabindex="3" />

                  <div class="error" id="err_ct_birth_date"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">email</label>
                  <input type="text" class="form-control" name="" value="" tabindex="4" />

                  <div class="error" id="err_ct_email"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">street address</label>
                  <input type="text" class="form-control" name="" value="" tabindex="5" />

                  <div class="error" id="err_ct_street_address"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">city</label>
                  <input type="text" class="form-control" name="" value="" tabindex="6" />

                  <div class="error" id="err_ct_city"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">state / region</label>
                  <input type="text" class="form-control" name="" value="" tabindex="7" />

                  <div class="error" id="err_ct_state"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">country</label>
                  <input type="text" class="form-control" name="" value="" tabindex="8" />

                  <div class="error" id="err_ct_country"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">zip / postal code</label>
                  <input type="text" class="form-control" name="" value="" tabindex="9" />

                  <div class="error" id="err_ct_zipcode"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 hidden-xs">
                <div class="form-group">
                  <label for="" style="visibility: hidden">country</label>
                  <input type="text" class="form-control" name="" value="" style="visibility: hidden" />

                  <div class="error"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">ethereum address</label>
                  <input type="text" class="form-control" name="" value="" tabindex="10" />

                  <div class="error" id="err_ct_ethereum_address"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-instructions">
                  You will be able to participate in this Token Sale <br/>only by using this specific address. Learn more <br/>about <a href="" title="Wallet Set Up Guide">Wallet Set Up Guide</a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="">estimated participation amount ($)</label>
                  <input type="text" class="form-control" name="" value="" tabindex="11" />

                  <div class="error" id="err_ct_estimated_amount"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-instructions">
                  Estimated amount in USD that you would like to <br/>invest in. For more details please check the <br/> <a href="" title="Registration Guide">Registration Guide</a>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-xs-12 col-sm-6">

                <div class="form-group">
                  <label for="">passport number</label>
                  <input type="text" class="form-control" name="" value="" tabindex="12" />

                  <div class="error" id="err_ct_passport_number"></div>
                </div>

                <div class="form-group">
                  <label for="">passport country</label>
                  <input type="text" class="form-control" name="" value="" tabindex="13" />

                  <div class="error" id="err_ct_passport_country"></div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6">

                <div class="form-group">
                  <label for="">passport scan</label>
                  <div>
                    <label class="upload-file btn-common btn-grey upload-image-btn">
                      <input type="file" name="file" id="" class="upload btn btn-orange" accept="image/*" tabindex="14" />
                      <span>Upload</span>
                    </label>
                    <a href="" class="btn-common btn-grey upload-image" title="image" tabindex="15">IMG</a>
                    <div class="form-instructions thumbnail-upload-instructions">Please upload a high quality image. Image size: Min 400kb Formats : JPG / PNG / PDF</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="">upload a selfie with your passport</label>
                  <div style="padding: 0 0 10px 0">
                    <img src="" width="105" height="105"/>
                  </div>
                  <div>
                    <label class="upload-file btn-common btn-grey upload-image-btn">
                      <input type="file" name="file" id="" class="upload btn btn-orange" accept="image/*" tabindex="16">
                      <span>Upload</span>
                    </label>
                    <a href="" class="btn-common btn-grey upload-image" title="image" tabindex="17">IMG</a>
                    <div class="form-instructions thumbnail-upload-instructions">Please upload a high quality image. Image size: Min 400kb Formats : JPG / PNG / PDF</div>
                  </div>
                </div>

                <div class="form-group">
                  <div>
                    <a href="" class="btn-common btn-grey upload-image-btn" title="back" tabindex="18">back</a>
                    <button href="" class="btn-common btn-gold upload-image-btn" title="submit" tabindex="19">submit</button>
                  </div>
                </div>

              </div>

            </div>


          </div>
        </form>
      </div>
    </div>
  </div>
</div>