<% content_for :gradient_class, "bg-gradient" %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/" title="Simple Token">
          <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-mobile.png" width="211"/>
        </a>
      </div>
      <form class="user-form simple-token-form" method="" action="" id="userSignupForm">
        <h1 class="text-center form-header">Login to Simple Token</h1>
        <div class="form-group">
          <label for="email">email address</label>
          <input type="text" name="email" id="email" value="" class="form-control" required="" autofocus tabindex="1">
          <span id="err_email" class="error"></span>
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <div class="input-group">
            <input type="password" class="form-control" name="password" id="password" tabindex="2" />
            <span class="input-group-addon glyphicon glyphicon-eye-open" id="showhide-password"></span>
          </div>
          <a href="" tabindex="3" title="Forgot password?" class="forgot-password">Forgot password?</a>
          <span id="err_password" class="error"></span>
        </div>
        <div class="form-group user-form-footer">
          <button type="submit" class="btn st-btn" id="" tabindex="4" title="LOGIN">login</button>
          <a href="" title="Create Your Account" tabindex="5" class="create-account">Create Your Account</a>
        </div>
      </form>
    </div>
  </div>
</div>