<%= render :partial => "/shared/web/common/navbar" %>
<div class="container container-text-page container-documents">
<div class="row">
  <div class="content">
    <h1 class="page-title">Simple Token <small>News</small></h1>

    <h4>
      <span class="sub-title">Medium Posts</span>
      <a href="https://medium.com/simple-token/gushcloud-joins-simple-token-9d4f47e12007" target="_blank">Gushcloud Joins Simple Token&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>We’re excited to announce today that Gushcloud — Asia’s leading influencer marketing and entertainment network — has joined Simple Token to collaborate together on new tokenization concepts.</p>
    <span>3-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://medium.com/simple-token/gil-penchina-and-mark-bonchek-join-the-simple-token-advisory-board-7ffe8b6b3cdf" target="_blank">Gil Penchina and Mark Bonchek join the Simple Token advisory board&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>I’m pleased to announce that Gil Penchina and Mark Bonchek, two technology industry veterans and visionaries, have joined the Simple Token advisory board as active advisors to the project.</p>
    <span>2-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://medium.com/simple-token/early-access-registration-for-simple-token-sale-is-now-underway-24a84125baf3" target="_blank">Early Access registration for Simple Token sale is now underway!&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Here’s a summary of everything you need to know in order to get on the Simple Token early access sale whitelist.</p>
    <span>1-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://medium.com/simple-token/announcing-the-first-4-simple-token-member-companies-xain-interviewbit-digitalknights-and-pepo-f912a550af4b" target="_blank">Announcing the first 4 Simple Token Member Companies: XAIN, InterviewBit, Digital Knights, and Pepo.&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>As we get ready to launch Simple Token on 14 November, 2017 we’ve been pursuing two main parallel tracks:</p>
    <span>31-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://medium.com/simple-token/simple-token-sale-key-data-registration-guide-f96a0517d00b" target="_blank">Simple Token Sale — Key Data & Registration Guide Released&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token “ST” is a utility token that enables any company to create, launch, and manage their own branded digital token economy, powered by Simple Token protocols and software.</p>
    <span>31-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://medium.com/simple-token/openst-protocol-and-platform-released-to-the-public-under-open-source-licenses-d4700d83ea7a" target="_blank">OpenST protocol and platform released to the public under open-source licenses&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>We are building Simple Token to enable mainstream consumer applications to integrate cryptocurrencies seamlessly into their existing applications.</p>
    <span>28-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://medium.com/simple-token/simple-token-finalizes-token-sale-price-43f96e37cc0b" target="_blank">Simple Token Finalizes Token Sale Price. Announces Advisors. Launches Community “Proof of Support” Rewards&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>We have 3 significant announcements today regarding the Simple Token initial sale event (“ICO”) on 14 November, 2017.</p>
    <span>26-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://medium.com/simple-token/the-simple-token-network-accelerator-program-grants-for-startups-and-promising-projects-6346ccc98c1a" target="_blank">The Simple Token Network Accelerator Program — grants for startups and promising projects.&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>This post introduces the Simple Token Network Accelerator program which provides grants to promising projects and developers.</p>
    <span>24-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://medium.com/simple-token/uses-lifecycle-of-demand-for-simple-token-8cbfc4ec40f" target="_blank">Uses & Lifecycle of Demand for Simple Token&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>One of the unique aspects of Simple Token [ST] is that it is initially a B2B token but that ultimately the demand for ST will come from consumers.</p>
    <span>20-Oct-2017</span>
    <div class="horizontal-line"></div>


    <h4>
      <span class="sub-title">Press Releases</span>
      <a href="https://docs.google.com/document/d/1XhlZpGqhB1ZWyXvNr295ueclkqSqWc_r3b4Esp3Gc3I/edit?usp=sharing" target="_blank">First 4 Member Companies Announced&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token Announces First Four Member Companies To Launch Branded Tokens on Project’s Ecosystem</p>
    <span>31-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://www.prnewswire.com/news-releases/simple-token-finalizes-token-sale-price-and-announces-dream-team-of-global-advisors-300544542.html" target="_blank">Final Sale Price Released&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token Finalizes Token Sale Price and Announces "Dream Team" of Global Advisors</p>
    <span>26-Oct-2017</span>
    <div class="horizontal-line"></div>

    <h4>
      <span class="sub-title">In the News</span>
      <a href="http://www.the-blockchain.com/2017/11/03/simple-token-announces-first-four-member-companies-launch-branded-tokens-projects-ecosystem/" target="_blank">Blockchain News&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token Announces First Four Member Companies To Launch Branded Tokens on Project’s Ecosystem</p>
    <span>3-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="http://etherinthenews.com/2017/11/03/simple-token-announces-advisory-board-token-sale-milestones/" target="_blank">Ether in the News&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token Announces Advisory Board, Token Sale Milestones</p>
    <span>3-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://www.coinspeaker.com/2017/11/03/simple-token-empowering-developers-get-blockchain/" target="_blank">Coinspeaker&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token Empowering Developers to Get on the Blockchain Tech</p>
    <span>3-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="http://www.the-blockchain.com/2017/11/03/simple-token-announces-advisory-board-token-sale-milestones/" target="_blank">Blockchain News&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token Announces Advisory Board, Token Sale Milestones</p>
    <span>3-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://medium.com/@codymcc4/simple-token-bridging-consumer-applications-to-the-blockchain-baff737aa226" target="_blank">Medium - Cody McCauley&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token: Bridging Consumer Applications to the Blockchain</p>
    <span>2-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://btcmanager.com/building-bridge-cryptocurrencies-main-street/" target="_blank">BTC Manager&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Building a Bridge Between Cryptocurrencies and Main Street</p>
    <span>2-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://hackernoon.com/top-10-cringiest-things-ive-been-told-during-the-ico-process-thus-far-a78e60927042" target="_blank">Hacker Noon - Jason Goldberg&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Top 10 Cringiest Things I’ve Been Told During the ICO Process (thus far)</p>
    <span>2-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://www.producthunt.com/posts/simple-token" target="_blank">Product Hunt&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token - Launch your own branded crypto token without the ICO drama</p>
    <span>2-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="http://www.hwlab.com/news.php?code=29268" target="_blank">Hardware Lab (Korea)&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token, Finalizes Token Sale Price and Announces Global Advisors</p>
    <span>2-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://venturebeat.com/2017/10/31/take-off-your-bitcoin-blinders-theres-no-right-way-to-use-blockchain/" target="_blank">VentureBeat&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Take off your Bitcoin blinders: There’s no ‘right way’ to use blockchain</p>
    <span>1-Nov-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="http://www.newstap.co.kr/news/articleView.html?idxno=61228" target="_blank">News Tap (Korea)&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token Finalizes Token Sale Price and Announces Global Advisors</p>
    <span>31-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="http://www.pnfnews.com/183392" target="_blank">PNF News (Korea)&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token, 0.0833 dollars, starting sales on the 14th… Global Advisors Announcement</p>
    <span>31-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="http://www.internews.kr/news/articleView.html?idxno=11903" target="_blank">Interface News (Korea)&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token Finalizes Token Sale Price… Announces Global Advisors</p>
    <span>31-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://hackernoon.com/so-you-want-to-have-a-utility-token-sale-part-i-of-many-the-registration-kyc-process-a3ef6f35f0a8" target="_blank">Hacker Noon - Jason Goldberg&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>So you want to have a utility token sale… (part I of many: the Registration & KYC process)</p>
    <span>31-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://www.smithandcrown.com/sale/simple-token/" target="_blank">Smith + Crown&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token: A Token Issuance Infrastructure for Consumer Apps</p>
    <span>31-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://www.chipin.com/simple-token-blockchain-app-tokens/" target="_blank">Chipin&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token Takes the Headache out of Blockchain Tokenization</p>
    <span>31-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://itsblockchain.com/simpletoken/" target="_blank">It’s Blockchain&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token is building Blockchain and Cryptocurrency as a Service</p>
    <span>28-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://finance.yahoo.com/video/bitcoin-may-stiff-competition-142955745.html%EF%BB%BF" target="_blank">Yahoo! Finance&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Bitcoin may be in for some stiff competition</p>
    <span>6-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="http://thisweekinstartups.com/jason-goldberg-pepo-simple-token/" target="_blank">This Week in Startups&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>E767: Jason Goldberg (Pepo, Fab.com) intros Simple Token for apps to launch branded crytpo tokens</p>
    <span>3-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="http://blocktribune.com/simple-tokens-aims-keep-tokening-simple-ico-soon/" target="_blank">Block Tribune&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Tokens Aims To Keep Tokening Simple – ICO Soon</p>
    <span>2-Oct-2017</span>
    <div class="horizontal-line"></div>
    <h4>
      <a href="https://www.youtube.com/watch?v=joXlimgSMdg" target="_blank">World Blockchain Forum (London, on-stage presentation)&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
    </h4>
    <p>Simple Token - World Blockchain Forum</p>
    <span>25-Sep-2017</span>
    <div class="horizontal-line"></div>

  </div>
</div>

</div>