<div class="row">
    <div class="col">
     {{row.case_id}}
    </div>  
    <div class="col">
      {{row.admin_status}}
    </div>  
    <div class="col">
      {{row.country}}
    </div>  
    <div class="col">
       {{row.nationality}}
    </div>  
    <div class="col">
        {{row.name}}
    </div>  
    <div class="col">
        {{row.kyc_confirmed_at}}
    </div>  
    <div class="col">
        {{row.last_acted_by}}
    </div> 
    <div class="col">
      {{row.whitelist_status}}
    </div>  
</div>  