<%= render :partial => "admin/shared/kyc_loggedin_header" %>
<div class="simple-token-form text-center py-5">
  <h3 class="mt-4">Your account has been de-activated</h3>
  <p>Please contact your admin</p>
</div>