<div class="simple-token-form text-center py-5">
  <h3 class="mt-5"><%= display_text %></h3>
    <p>You can login now</p>
    <a href="/admin/login" class="btn btn-primary" title="Login">Login</a>
</div>

