<div class="simple-token-form">
  <h2 class="text-center mt-4">Check Your Inbox</h2>
  <p class="text-center">We have sent an email to <span id="emailSuccess"></span> please click on the <br/>Reset
    Password Button in the email to activate your account
  </p>
</div>

