<div class="simple-token-form">
  <h2 class="text-center mt-4">Check Your Inbox</h2>
  <p class="text-center">Please check your email. If you have not received an email,<br/>
    please make sure that your email has not been typed incorrectly into the form and try again
  </p>
</div>

