<span id="searchCaseContainer">
  <input type="text" id="searchCase" placeholder="SEARCH BY EMAIL">
  <div id="caseSearchResults"></div>
</span>
<span id="dashboardContainer">
  <span id="dashboardHeader"> DASHBOARDS </span>
  <div id="dashboardHolder">
    <a href="/admin/dashboard" title="Log out" class="dashElement">KYC Dash</a>
    <a href="/admin/sale-all-dashboard" title="Sale All Dash" class="dashElement">Sale All Dash</a>
    <a href="/admin/sale-daily-dashboard" title="Log out" class="dashElement">Sale Daily Dash</a>
    <a href="/admin/whitelist-dashboard" title="Whitelist Dash" class="dashElement">Whitelist Dash</a>
    <a href="/admin/get-contract-events-dashboard" title="Whitelist Dash" class="dashElement">Contract Events Dash</a>
  </div>
</span>
<span> | </span>
<span>
  <a href="/admin/logout" title="Log out" class="logOut">Log out</a>
</span>