<div class="simple-token-form">
  <h4 class="text-center mt-4">Check Your Inbox</h4>

  <p class="text-center">We have sent an email to <span id="emailSuccess"></span> please click on the <br/>Reset
    Password Button in the email to Activate your account
  </p>
  <div class="user-form form-group text-center">
    <div class="user-form-footer">
      <p class="mb-2">Did not receive the email yet?</p>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <a href="javascript:void(0)" id="resendLink" class="btn btn-secondary" title="Re-send Email" tabindex="3">re-send
        email</a>
      <div class="success" id="successMessage"></div>

      <div class="error" data-for="general_error"></div>
    </div>
  </div>
</div>

