<div class="simple-token-form text-center">
  <h3 class="mt-4">Your Password Is Updated Successfully</h3>
  <p>You can now login to your account</p>
  <a href="admin/login" class="btn btn-primary" title="Login">Login</a>
</div>

