<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/admin/dashboard" title="Simple Token">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" width="211"/>
        </a>
      </div>

      <div class="simple-token-form">
        <h1 class="text-center form-header">Update Your Password</h1>
        <br><br>

        <form class="admin-form center" method="POST" action="/api/admin/profile/change-password" id="adminChangePasswordForm">
          <div class="form-group">
            <label for="current_password">current password</label>
            <input type="password" class="form-control" name="current_password" id="current_password" tabindex="1"/>

            <div class="error" data-for="current_password"></div>
          </div>

          <div class="form-group">
            <label for="new_password">new password</label>
            <input type="password" class="form-control" name="new_password" id="new_password" tabindex="2"/>

            <div class="error" data-for="new_password"></div>
          </div>

          <div class="form-group">
            <label for="confirm_password">confirm password</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" tabindex="3"/>

            <div class="error" data-for="confirm_password"></div>
          </div>

          <div class="form-group user-form-footer text-center">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <a href="/admin/dashboard" class="btn  btn-gold cancel-btn ">cancel</a>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-gold form-btn-gold-password" id="adminChangePassword" tabindex="4" title="CHANGE PASSWORD">change
              password
            </button>
            <div class="error" data-for="general_error"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>