<div class="raw">
  <div id="kyc-case-details" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div style="margin:20px;">
          <div class="row">
            <div class="col-sm-12">

              <span class="kyc-case-detail-header">
                KYC check Dashboard
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4">
            <div class="case-status-box first">
              <div>
                <span class="status-label"> Status ST : </span> <span class="status-icon"> &nbsp; </span> <span class="status-value"> Unprocessed </span>
              </div>
              <div>
                <span class="status-label"> Status CY : </span> <span class="status-icon"> &nbsp; </span> <span class="status-value"> Pending </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="case-status-box middle">
              <div>
                <span class="status-label"> Resubmitted : </span> <span class="bigGreenDot"> &nbsp; </span> <span class="status-value"> No </span>
              </div>
              <div>
                <span class="status-label"> Duplicate : </span> <span class="bigGreenDot"> &nbsp; </span> <span class="status-value"> No </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="case-status-box last">
              <div>
                <span class="status-label"> Agent : </span> <span class="status-value"> Frankie </span>
              </div>
              <div>
                <span class="status-label"> View Logs </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="case-detail-box">
              <span class="case-detail-col1">
                <span class="detail-label margin-top-0">First Name</span>
                <span class="detail-value">Thahir</span>
                <span class="detail-label">Birth Date</span>
                <span class="detail-value">12/08/2014</span>
                <span class="detail-label">Passport Number</span>
                <span class="detail-value">sd,fnlk230sjdm,.23</span>
              </span>
              <span class="case-detail-col2">
                <span class="detail-label margin-top-0">Last Name</span>
                <span class="detail-value">Gangareddy</span>
                <span class="detail-label">Residence Country</span>
                <span class="detail-value">India</span>
                <span class="detail-label">Nationality</span>
                <span class="detail-value">Nepal</span>
              </span>
              <span class="case-detail-col3">
                <span class="detail-label margin-top-0">Email Address</span>
                <span class="detail-value">Gangareddy@gmail.com</span>
                <span class="detail-label">Street Address</span>
                <span class="detail-value">PuneWala Road</span>
                <span class="detail-label">Zip Code</span>
                <span class="detail-value">420420</span>
              </span>
              <span class="case-detail-col4">
                <span class="detail-label margin-top-0">Date & Time</span>
                <span class="detail-value">12/08/2018 14:31</span>
                <span class="detail-label">City</span>
                <span class="detail-value">Pune</span>
                <span class="detail-label">State/ Region</span>
                <span class="detail-value">Maharashtra</span>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>