<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/" title="Simple Token">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" width="211"/>
        </a>
      </div>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Login to Admin</h1>
        <form class="user-form" method="POST" action="/api/admin/login" id="adminLoginForm">
          <div class="form-group">
            <label for="email">email address</label>
            <input type="text" name="email" id="email" value="" class="form-control" autofocus tabindex="1">
            <div class="error" data-for="email"></div>
          </div>
          <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" name="password" id="password" tabindex="2" />
            <a href="javascript:void(0)" title="Forgot password?" class="forgot-password" tabindex="3">Forgot password?</a>
            <div class="error" data-for="password"></div>
          </div>
          <div class="form-group user-form-footer">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <button type="submit" class="btn btn-gold form-btn-gold" id="adminLogin" tabindex="4" title="LOGIN">login</button>
            <div class="error" data-for="general_error"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>