.display-background{
  padding: 0.5rem;
  background-color: #d3e3e5;
}

.upload-file-close-btn {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  float: right;
}

.btn-secondary{
  &.disable-upload-button{
    border-width: 0px;
    color:#34445b;
    opacity: 0.65;
  }
}

.loader-content{
  .status, .status-text{
    color: #597a84;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
  .progress{
    border: solid 0.5px #84d1d4;
    border-radius: 20px;
    background-color: #ffffff;
    .progress-bar{
      background: linear-gradient(to left, #98d9e2, #96e0dc);
    }
  }
}