.display-background{
  padding: 0.5rem;
  background-color: #d3e3e5;
}

.upload-file-close-btn {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  float: right;
}

.btn-secondary{
  &.disable-upload-button{
    border-width: 0px;
    color:#34445b;
    opacity: 0.65;
  }
}