.container-contact-us {
  background-color: #aee1e3;
  padding-top: 40px;
  padding-bottom: 40px;
  h2{
    font-size: 44px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
  }
  h3{
    font-size: 30px;
    font-weight: 500;
    color: #597a84;
    text-align: center;
    letter-spacing: 2px;
  }
  p{
    color: #597a84;
    font-weight: 300;
    margin: 0 0 30px;
    text-align: center;
    letter-spacing: 1px;
  }
  .custom-form{
    font-weight: 400;
    font-size: 16px;
  }

  :focus {
    outline: none;
  }

  label{
    font-size: 12px;
    color: #5f818b;
    font-weight: 500;
    letter-spacing: 0.4px;
  }

  .radio-label{
    font-size: 1rem;
    cursor: pointer;
    color: #597A84;
  }

  .input-container {
    padding: 0;
    position: relative;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"]{
    color: #3c5056;
  }

  .input {
    border: 0;
    padding: 0 0 5px;
    background-color: transparent;
    &::-moz-placeholder {
      color: #74989C;
    }
  }

  .border-line {
    border-bottom: 1px solid #3c5056;
    width: 100%;
    display: block;
  }

  .error{
    padding: 2px 0 0;
    min-height: 25px;
  }
  .info-text{
    color: #587a85;
    font-size: 11px;
  }
}

#send-message-success{
  position: relative;
  .send-message-success{
    text-align: center;
    background: #91C0AD;
    border-radius: 10px;
    padding: 10px 15px 25px 10px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    .small-title{
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 3px;
      margin-top: 20px;
      margin-bottom: 5px;
      display: block;
    }
    .small-desc{
      color: #fff;
      font-weight: 300;
      font-size: 16px;
      display: block;
    }
  }
}


.form-recapcha .form-recapcha-wrap div {
  text-align: center;
  width:auto !important;
}
.form-recapcha .form-recapcha-wrap div div {
  display: inline-block;
  width:auto !important;
}

textarea{
  background-color: transparent;
  border: 1px solid #3c5056;
  color: #3c5056;
}
input[type="text"]::-webkit-input-placeholder{
  color: #3c5056;
  opacity: 0.5;
}

.datepicker{
  padding: 15px!important;
  table{
    tr{
      td{
        width: 25px;
        height: 25px;
        &.disabled{
          opacity: 0.3;
        }
      }
    }
  }
}
.datepicker-dropdown{
  &:after, &:before{
    display: none!important;
  }
}

body.modal-open{
  overflow: hidden;
}