.container-contact-us {
  background-color: #aee1e3;
  padding-top: 40px;
  padding-bottom: 40px;
  h2{
    font-size: 44px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
  }
  h3{
    font-size: 30px;
    font-weight: 500;
    color: #597a84;
    text-align: center;
    letter-spacing: 2px;
  }
  p{
    color: #597a84;
    font-weight: 300;
    margin: 0 0 30px;
    text-align: center;
    letter-spacing: 1px;
  }
  .custom-form{
    font-weight: 400;
    font-size: 16px;
    max-width: 350px;
    margin: 0 auto;
  }

  :focus {
    outline: none;
  }

  label{
    font-size: 12px;
    color: #6c9ba9;
    font-weight: 500;
    letter-spacing: 0.4px;
  }

  .input-container {
    padding: 0;
    position: relative;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"]{
    width: 100%;
  }

  .input {
    border: 0;
    padding: 0 0 5px;
    background-color: transparent;
    border-bottom: 1px solid #3c5056;
  }

  .input ~ .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #6ca3a9;
  }

  .input:focus ~ .border {
    width: 100%;
    transition: 0.5s;
  }
  .error{
    padding: 2px 0 0;
    min-height: 22px;
  }
}

#send-message-success{
  position: relative;
  .send-message-success{
    text-align: center;
    background: #91C0AD;
    border-radius: 10px;
    padding: 10px 15px 25px 10px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    .small-title{
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 3px;
      margin-top: 20px;
      margin-bottom: 5px;
      display: block;
    }
    .small-desc{
      color: #fff;
      font-weight: 300;
      font-size: 16px;
      display: block;
    }
  }
}