html,
body{
  font-family: 'Quasimoda', Source Sans Pro, sans-serif;
  color: #597a84;
  font-weight: 100;
  line-height: 1.43;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

