html,
body{
  font-family: 'Quasimoda', Source Sans Pro, sans-serif;
  font-weight: 100;
  line-height: 1.43;
  color: inherit;
}

.btn{
  font-size: 0.9rem;
  font-weight: 500;
  padding: .688rem 1.6rem;
  &.btn-primary{
    padding: .782rem 1.6rem !important;
  }
  &.btn-secondary{
    border: 1.5px solid #34445b;
  }
}

.ost-triangleSpace{
  padding-top: 4em;
  width: 100%;
}

.ost-backward-triangle{
  position: absolute;
  left: -40px;
  right: -40px;
  top: -60px;
  height: 80px;
  transform: rotate(-0.8deg);
  background: #fff;
  @media (max-width: 512px){
    transform: rotate(-3.6deg);
  }
  @media (min-width: 513px) and (max-width: 768px){
    transform: rotate(-2.8deg);
  }
  @media (min-width: 769px) and (max-width: 1024px){
    transform: rotate(-1.8deg);
  }
  @media (min-width: 1025px){
    transform: rotate(-2.4deg);
  }
}

//@media (min-width: 768px) {
//  .container {
//    width: 750px;
//  }
//}
//@media (min-width: 992px) {
//  .container {
//    width: 750px;
//  }
//}
//@media (min-width: 1200px) {
//  .container {
//    width: 970px;
//  }
//}

