
.kyc-marketing-page-wrapper {
  .btn-primary , .btn-secondary {
    border-width: 2px;
    padding: .75rem 1.6rem;
    font-size: 14.4px;
    font-weight: 500;
  }
}

.container-jumbotron{

  .ost-kyc-logo{
    max-width: 60%;
  }

  h2{
    font-weight: 700;
    color: #438BAD;
  }

  .display-text-p{
    font-weight: 300;
    line-height: 1.6rem;
    color: #597a84;
  }

  .ost-kyc-hero{
    margin-bottom: -40px;
  }

  .btn-ost-kyc{
    letter-spacing: 1px;
    display: inline-block;
    height: 40px;
    width: 150px;
  }

  .btn-play{
    .play{
      width: 18px;
      height: 18px;
      display: inline-block;
      svg{
        width:100%;
        height:100%;
        fill: #34445b;
      }
    }

    &:hover{
      .play{
        .svg{
          fill: #fff;
        }
      }
      span{
        color: #fff;
      }
    }
  }

}