.container-jumbotron{

  .ost-kyc-logo{
    max-width: 60%;
  }

  h2{
    font-size: 28px;
    font-weight: 100;
    line-height: 1.4;
  }

  .desc{
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .ost-kyc-hero{
    margin-bottom: -40px;
  }
}