.container-more-benefits {
  background-color: #ffd242;
  padding-top: 40px;
  padding-bottom: 40px;
  h2{
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0 0 50px;
    letter-spacing: 2px;
  }
  h3{
    font-size: 20px;
    font-weight: 500;
    color: #736844;
    margin: 15px 0 10px;
    letter-spacing: 1px;
  }
  p{
    color: #736844;
    font-weight: 300;
    margin: 0 0 40px;
    letter-spacing: 1px;
  }
  a{
    margin: 0 auto;
    letter-spacing: 2.2px;
//    line-height: 40px;
//    font-size: 12px;
  }
}
