.container-powered{
  padding-bottom: 50px;
  .powered-desc {
    background-color: #a4dee0;
    padding-top: 35px;
    h2{
      font-size: 44px;
      font-weight: 300;
      color: #fff;
      text-align: center;
      margin: 0;
      letter-spacing: 2px;
    }
    p{
      color: #597a84;
      font-weight: 300;
      margin: 20px 0 30px;
      letter-spacing: 0.4px;
      text-align: center;
      font-size: 16px;
    }
  }
  .square-btn{
    margin: 15px auto 0;
    line-height: 40px;
    padding: 0 20px;
  }

  .table-tabs{
    margin-bottom: 0;
    .title{
      color: #234359;
      font-size: 18px;
      font-weight: 400;
      padding: 15px;
    }
    .desc{
      color: #5a7a7f;
    }
    .active{
      opacity: 0.8;
    }
    .transparent{
      box-shadow: -2px 0 3px 2.2px rgba(0, 0, 0, 0.08);
    }
  }
}

.data-rows{
  .item{
    color: #234359;
    font-size: 14px;
    padding: 15px;
    font-weight: 300;
    &:first-child{
      color: #597a84;
    }
  }
  .last-div{
    box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.08);
  }
  small{
    font-size: 0.625rem;
  }
  .price-text{
    color: #c0993a;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .price-text-small{
    font-size: 0.875rem;
    color: #c0993a;
  }
  .mobileshow{
    display:none;
  }
  @media only screen and (max-width : 768px){
    .price-text{
      font-size: 1.2rem;
    }
  }
}

.active{
  background-color: #f3fbfd;
}
.transparent{
  background-color: #FFFFFF;
}