.container-powered {
  background-color: #a4dee0;
  padding-top: 50px;
  h2{
    font-size: 44px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
  }
  h3{
    font-size: 20px;
    font-weight: 500;
    color: #597a84;
    margin: 15px 0 10px;
    letter-spacing: 1px;
  }
  p{
    color: #597a84;
    font-weight: 300;
    margin: 0 0 30px;
    letter-spacing: 1px;
  }
  .read-more{
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 40px;
    color: #c0993a;
    padding-bottom: 3px;
    border-bottom: 1px solid #c0993a;
    &:hover, &:focus{
      outline: none;
      text-decoration: none;
    }
  }
  .square-btn{
    margin: 30px auto 0;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 0 20px;
  }
}
