<request-state-handler class="d-block w-100 page-loader" [isProcessing]="isProcessing" [hasError]="hasError">
  <ng-container class="error-content">
    <div class="col-12">{{ errorMessage }}</div>
  </ng-container>
</request-state-handler>

<div class="mfa-settings" *ngIf="!isProcessing && !hasError" >
  <div class="row mt-4 pt-2 ">
    <div class="col-12 col-lg-8">
      <h4 class="kyc-header text-transform-upper">MFA & Session Settings</h4>
    </div>
    <div class="col-12 mt-3 mfa-sub-header">
      OST KYC provides a high level of security for accessing the system. Security measures include MFA (Multi-Factor Authentication) step and Session timeout.
      In this section, super admins can modify these settings to fit their organization's work needs.
    </div>
  </div>
  <div class="row">
    <form #mfaSessionSettings="ngForm" (ngSubmit)="mfaSessionSettingsSubmit(mfaSessionSettings)" class="col-12"
          id="mfaSessionSettingsForm">
      <div class="form-group pl-0 mt-5 col-md-6 col-12">
        <div class="form-label">MFA FREQUENCY</div>
        <div class="form-check form-check-inline">
          <input  type="radio"
                  class="form-check-input radio-button"
                  id="mfa_frequency_always"
                  name="admin_setting[mfa_type]" [value]="0" [(ngModel)]="adminMFAType" />
          <label class="radio-button-label position-relative" for="mfa_frequency_always" style="top: 5px;">
            <span class="radio-button-circle d-inline"></span>Each login attempt
          </label>
        </div>
        <div class="mt-2">
          <div class="row mfa-container">
            <div class="col-4 col-md-3 col-xl-2">
              <div class="form-check form-check-inline">
                <input  type="radio"
                        class="form-check-input radio-button"
                        id="mfa_frequency_custom"
                        name="admin_setting[mfa_type]" [value]="1" [(ngModel)]="adminMFAType" />
                <label class="radio-button-label position-relative" for="mfa_frequency_custom" style="top: 5px;">
                  <span class="radio-button-circle d-inline"></span>Custom
                </label>
              </div>
            </div>
            <ng-container *ngIf="adminMFAType == 1" >
              <div class="col-8 col-md-9 col-xl-10 d-flex pr-0 pl-0 pl-md-3 align-items-center">
                  <ost-input-number [(ngModel)]="adminMFAFrequency"
                                    #adminMFAFrequencyModel="ngModel"
                                    name="admin_setting[mfa_frequency]"
                                    [minValue]="1" [maxValue]="14"
                                    min="1" max="14" customInputValidator required>
                  </ost-input-number>
                  <span class="ml-2">{{mfaInputLabel}}</span>
              </div>
              <div class="col-12">
                <ost-form-error-handler [errorFor]="adminMFAFrequencyModel"
                                        [fieldName]="'Admin MFA Frequency'"
                                        [serverError]="errorResponse"
                                        [errorMsgConfig]="errorMsgConfig">
                </ost-form-error-handler>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-group pl-0 mt-4 col-md-6 col-12">
        <div class="form-label">SESSION TIMEOUT</div>
        <div class="d-flex pr-0 align-items-center">
          <span class="mr-3">Enable for</span>
          <ost-input-number     #adminSessionTimeoutModel="ngModel"
                                [(ngModel)]="adminSessionTimeout"
                                name="admin_setting[session_timeout]"
                                 [minValue]="1" [maxValue]="3"
                                min="1" max="3" customInputValidator required>
          </ost-input-number>
          <span class="ml-2">{{sessionInputLabel}}</span>
        </div>
          <ost-form-error-handler [errorFor]="adminSessionTimeoutModel"
                                [fieldName]="'Admin Session Timeout'"
                                [serverError]="errorResponse"
                                  [errorMsgConfig]="errorMsgConfig">
        </ost-form-error-handler>
      </div>

      <div class="divider col-12 my-3"></div>

      <div class="super-admin-settings p-2 p-md-4">
        <div class="form-group px-1 px-md-3 pb-3">
          <ost-toggle [labelTxt]="toggleLabel"
                      [(ngModel)]="enableForSuperAdmin"
                      name="has_sa_setting"
                      data-toggle="collapse"
                      data-target="#superAdminSettings"
                      aria-expanded="false"
                      aria-controls="superAdminSettings">>
          </ost-toggle>
        </div>
        <ng-container *ngIf="enableForSuperAdmin">
          <div [ngClass]="enableForSuperAdmin ? 'show' : ''" class="collapse pl-1 pl-md-3" id="superAdminSettings">
            <div class="form-group pl-0 col-md-6 col-12">
              <div class="form-label">MFA FREQUENCY</div>
              <div class="form-check form-check-inline">
                <input  type="radio"
                        class="form-check-input radio-button"
                        id="sadmin_mfa_frequency_always"
                        name="super_admin_setting[mfa_type]"  [value]="0" [(ngModel)]="sadminMFAType" />
                <label class="radio-button-label position-relative" for="sadmin_mfa_frequency_always" style="top: 5px;">
                  <span class="radio-button-circle d-inline"></span>Each login attempt
                </label>
              </div>
              <div class="mt-2">
                <div class="row mfa-container">
                  <div class="col-4 col-md-3 col-xl-2">
                    <div class="form-check form-check-inline">
                      <input  type="radio"
                              class="form-check-input radio-button"
                              id="sadmin_mfa_frequency_custom"
                              name="super_admin_setting[mfa_type]" [value]="1" [(ngModel)]="sadminMFAType" />
                      <label class="radio-button-label position-relative" for="sadmin_mfa_frequency_custom" style="top: 5px;">
                        <span class="radio-button-circle d-inline"></span>Custom
                      </label>
                    </div>
                  </div>
                  <ng-container *ngIf="sadminMFAType == 1" >
                    <div class="col-8 col-md-9 col-xl-10 d-flex pr-0 pl-0 pl-md-4 align-items-center">
                      <ost-input-number [(ngModel)]="sadminMFAFrequency"
                                        #sadminMFAFrequencyModel="ngModel"
                                        name="super_admin_setting[mfa_frequency]"
                                        [minValue]="1" [maxValue]="14"
                                        min="1" max="14" customInputValidator required>
                      </ost-input-number>
                      <span class="ml-2">{{mfaInputLabel}}</span>
                    </div>
                    <div class="col-12">
                      <ost-form-error-handler [errorFor]="sadminMFAFrequencyModel"
                                              [fieldName]="'Super Admin MFA Frequency'"
                                              [serverError]="errorResponse"
                                              [errorMsgConfig]="errorMsgConfig">
                      </ost-form-error-handler>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="form-group pl-0 mt-4 col-md-6 col-12">
              <div class="form-label">SESSION TIMEOUT</div>
              <div class="d-flex pr-0 align-items-center">
                <span class="mr-3">Enable for</span>
                <ost-input-number     #sadminSessionTimeoutModel="ngModel"
                                      [(ngModel)]="sadminSessionTimeout"
                                      name="super_admin_setting[session_timeout]"
                                      [minValue]="1" [maxValue]="3"
                                      min="1" max="3" customInputValidator required>
                </ost-input-number>
                <span class="ml-2">{{sessionInputLabel}}</span>
              </div>
              <ost-form-error-handler [errorFor]="sadminSessionTimeoutModel"
                                      [fieldName]="'Super Admin Session Timeout'"
                                      [serverError]="errorResponse"
                                      [errorMsgConfig]="errorMsgConfig">
              </ost-form-error-handler>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="form-group user-form-footer text-sm-left row mt-4">
        <div class="col-12">
          <button [disabled]="isSubmitting || isInValidInput() || !mfaSessionSettings.touched" type="submit" class="btn btn-primary"
                  id="applyChanges" title="Apply Changes">{{btnText}}
          </button>
          <div class="general_error error">
            <ost-form-error-handler [errorFor]="'general_error'" [serverError]="errorResponse">
            </ost-form-error-handler>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal cms-modal fade" id="mfa-settings-success-modal" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class='row'>
          <div class="text-center col-12">
            <svg class="icon" style="width:50px; height: 50px">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon">
                </use>
              </switch>
            </svg>
            <h5 class="my-3">Settings have been successfully applied.</h5>
          </div>
          <div class="col-12 form-group text-center">
            <button class="btn btn-primary px-5" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
