<request-state-handler class="d-block w-100 page-loader" [isProcessing]="isProcessing" [hasError]="hasError">
  <ng-container class="error-content">
    <div class="col-12">{{ errorMessage }}</div>
  </ng-container>
</request-state-handler>

<div class="mfa-settings" *ngIf="!isProcessing && !hasError" >
  <div class="row mt-4 pt-2 ">
    <div class="col-12 col-lg-8">
      <h4 class="kyc-header text-transform-upper">MFA & Session Settings</h4>
    </div>
    <div class="col-12 mt-3 mfa-sub-header">
      OST KYC provides a high level of security for accessing the system. Security measures include MFA (Multi-Factor Authentication) step and Session timeout.
      In this section, super admins can modify these settings to fit their organization's work needs.
    </div>
  </div>
  <div class="row">
    <form #mfaSessionSettings="ngForm" (ngSubmit)="mfaSessionSettingsSubmit(mfaSessionSettings)" class="col-12"
          id="mfaSessionSettingsForm">
      <div class="form-group pl-0 mt-5 col-md-6 col-12">
        <div class="form-label">MFA FREQUENCY</div>
        <div class="form-check form-check-inline">
          <input  type="radio"
                  class="form-check-input radio-button"
                  id="mfa_frequency_always"
                  name="admin_settings[mfa_type]" [value]="0" [(ngModel)]="adminMFAType" />
          <label class="radio-button-label position-relative" for="mfa_frequency_always" style="top: 5px;">
            <span class="radio-button-circle d-inline"></span>Each login attempt
          </label>
        </div>
        <div class="mt-2 d-flex align-items-center">
          <div class="row mfa-container">
            <div class="col-4 d-flex align-items-center">
              <div class="form-check form-check-inline">
                <input  type="radio"
                        class="form-check-input radio-button"
                        id="mfa_frequency_custom"
                        name="admin_settings[mfa_type]" [value]="1" [(ngModel)]="adminMFAType" />
                <label class="radio-button-label position-relative" for="mfa_frequency_custom" style="top: 5px;">
                  <span class="radio-button-circle d-inline"></span>Custom
                </label>
              </div>
            </div>
            <div *ngIf="adminMFAType == 1" class="col-8 d-flex pr-0 align-items-center">
              <span class="input-number-container">
                <input class="form-control d-inline py-0" name="admin_settings[mfa_frequency]" #admin_mfa_freq="ngModel"
                       [(ngModel)]="adminMFAFrequency" type="number"/>
                <span class="button button-up pl-1" (click)="increment('adminMFAFrequency')"></span>
                <span class="button button-down pl-1" (click)="decrement('adminMFAFrequency')"></span>
              </span>
              <span class="ml-2">Days (1 - 14)</span>
            </div>
          </div>
        </div>
        <div *ngIf="!isValidMFAFrequency( adminMFAFrequency )" class="error">{{validationMessage}}</div>
        <ost-form-error-handler [errorFor]="admin_mfa_freq"
                                [fieldName]="'MFA Frequency'"
                                [serverError]="errorResponse">
        </ost-form-error-handler>
      </div>

      <div class="form-group pl-0 mt-4 col-md-6 col-12">
        <div class="form-label">SESSION TIMEOUT</div>
        <div class="mt-3 d-flex align-items-center">
          <span class="mr-2">Enable for</span>
          <span class="input-number-container ml-3">
            <input class="form-control d-inline py-0" name="admin_settings[session_timeout]" #admin_session_timeout="ngModel"
                   [(ngModel)]="adminSessionTimeout" type="number"/>
            <span class="button button-up pl-1" (click)="increment('adminSessionTimeout')"></span>
            <span class="button button-down pl-1" (click)="decrement('adminSessionTimeout')"></span>
          </span>
          <span class="ml-2">Hours (1 - 3)</span>
        </div>
        <div *ngIf="!isValidSessionTimeout( adminSessionTimeout )" class="error">{{validationMessage}}</div>
        <ost-form-error-handler [errorFor]="admin_session_timeout"
                                [fieldName]="'Session Timeout'"
                                [serverError]="errorResponse">
        </ost-form-error-handler>
      </div>

      <div class="divider col-12 my-3"></div>

      <div class="super-admin-settings p-2 p-md-4">
        <div class="form-group px-1 px-md-3 pb-3">
          <ost-toggle [labelTxt]="toggleLabel"
                      [(ngModel)]="enableForSuperAdmin"
                      name="has_sa_setting"
                      data-toggle="collapse"
                      data-target="#superAdminSettings"
                      aria-expanded="false"
                      aria-controls="superAdminSettings">>
          </ost-toggle>
        </div>
        <div [ngClass]="enableForSuperAdmin ? 'show' : ''" class="collapse pl-1 pl-md-3" id="superAdminSettings">
          <div class="form-group pl-0 col-md-6 col-12">
            <div class="form-label">MFA FREQUENCY</div>
            <div class="form-check form-check-inline">
              <input  type="radio"
                      class="form-check-input radio-button"
                      id="sadmin_mfa_frequency_always"
                      name="super_admin_settings[mfa_type]"  [value]="0" [(ngModel)]="sadminMFAType" />
              <label class="radio-button-label position-relative" for="sadmin_mfa_frequency_always" style="top: 5px;">
                <span class="radio-button-circle d-inline"></span>Each login attempt
              </label>
            </div>
            <div class="mt-2 d-flex align-items-center">
              <div class="row mfa-container">
                <div class="col-4 d-flex align-items-center">
                  <div class="form-check form-check-inline">
                    <input  type="radio"
                            class="form-check-input radio-button"
                            id="sadmin_mfa_frequency_custom"
                            name="super_admin_settings[mfa_type]" [value]="1" [(ngModel)]="sadminMFAType" />
                    <label class="radio-button-label position-relative" for="sadmin_mfa_frequency_custom" style="top: 5px;">
                      <span class="radio-button-circle d-inline"></span>Custom
                    </label>
                  </div>
                </div>
                <div *ngIf="sadminMFAType == 1" class="col-8 d-flex pr-0 align-items-center">
                  <span class="input-number-container">
                    <input class="form-control d-inline py-0" name="super_admin_settings[mfa_frequency]" #sadmin_mfa_freq="ngModel"
                           [(ngModel)]="sadminMFAFrequency" type="number"/>

                    <span class="button button-up pl-1" (click)="increment('sadminMFAFrequency' )"></span>
                    <span class="button button-down pl-1" (click)="decrement('sadminMFAFrequency')"></span>
                  </span>
                  <span class="ml-2">Days (1 - 14)</span>
                </div>
              </div>
              <ost-form-error-handler [errorFor]="sadmin_mfa_freq"
                                      [fieldName]="'MFA Frequency'"
                                      [serverError]="errorResponse">
              </ost-form-error-handler>
            </div>
            <div *ngIf="!isValidMFAFrequency( sadminMFAFrequency )" class="error">{{validationMessage}}</div>

          </div>

          <div class="form-group pl-0 mt-4 col-md-6 col-12">
            <div class="form-label">SESSION TIMEOUT</div>
            <div class="mt-3 d-flex align-items-center">
              <span class="mr-2">Enable for</span>
              <span class="input-number-container ml-1 ml-md-3">
                <input class="form-control d-inline py-0" name="super_admin_settings[session_timeout]" #sadmin_session_timeout="ngModel"
                       [(ngModel)]="sadminSessionTimeout"
                       type="number"/>
                <span class="button button-up pl-1" (click)="increment( 'sadminSessionTimeout' )"></span>
                <span class="button button-down pl-1" (click)="decrement( 'sadminSessionTimeout' )"></span>
              </span>
              <span class="ml-2">Hours (1 - 3)</span>
            </div>
            <div *ngIf="!isValidSessionTimeout( sadminSessionTimeout )" class="error">{{validationMessage}}</div>
            <ost-form-error-handler [errorFor]="sadmin_session_timeout"
                                    [fieldName]="'Session Timeout'"
                                    [serverError]="errorResponse">
            </ost-form-error-handler>
          </div>
        </div>
      </div>

      <div class="form-group user-form-footer text-sm-left row mt-4">
        <div class="col-12">
          <button [disabled]="isSubmitting || isInValidInput()" type="submit" class="btn btn-primary"
                  id="applyChanges" title="Apply Changes">{{btnText}}
          </button>
          <div class="general_error error">
            <ost-form-error-handler [errorFor]="'general_error'" [serverError]="errorResponse">
            </ost-form-error-handler>
          </div>
        </div>
      </div>
    </form>
    <pre>{{ mfaSessionSettings.value | json }}</pre>
  </div>
</div>

<div class="modal cms-modal fade" id="mfa-settings-success-modal" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class='row'>
          <div class="text-center col-12">
            <svg class="icon" style="width:50px; height: 50px">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon">
                </use>
              </switch>
            </svg>
            <h5 class="my-3">Settings have been successfully applied.</h5>
          </div>
          <div class="col-12 form-group text-center">
            <button class="btn btn-primary px-5" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
