<form class="user-form" id="subscribe-form">
  <div>
    <input type="email" class="form-control" id="subscribe-form-email" name="email" placeholder="email@example.com">
    <div class="error"></div>
  </div>
  <div style="margin-top: 5px">
    <button type="submit" class="btn btn-square-gold send-updates" id="subscribe-form-submit" data-jsonp="<%= GlobalConstant::PepoCampaign.subscribe_url %>">keep me updated</button>
  </div>
</form>
<div id="subscribe-success" style="display: none">
  <div class="desc">
    <span class="small-title">Almost finished</span>
    <span class="small-desc">To confirm your email address, please click the link in the email we just sent you.</span>
  </div>
  <table class="subscribe-success-links">
    <tr>
      <td>
        <a href="/" title="Learn More">Learn More</a>
      </td>
      <td>
        <a href="/about" title="Meet the Team">Meet the Team</a>
      </td>
      <td>
        <a href="/documents" title="Read the Docs">Read the Docs</a>
      </td>
    </tr>
  </table>
</div>