<div class="container-fluid">
  <div class="row container-telegram">
    <div class="col-xs-12">
      <div class="content">
        <a href="https://t.me/simpletoken" title="Simple Token Telegram" class="telegram-link" target="_blank">
          <div class="telegram-connect">
            <span style="margin-right:50px;letter-spacing: 1px">Telegram</span><span style="margin-left:50px;letter-spacing: 1px">Connect</span>
            <span class="telegram-connect-symbol"><span class="telegram-connect-icon"></span></span>
          </div>
        </a>
      </div>
      <!--<p class="content" style="font-weight: 500">Only on our Telegram.</p>-->
      <p class="content" style="max-width: 100%">Chat with the founding team and get the latest information</p>
    </div>
  </div>

</div>