<% content_for :gradient_class, "marketing-page height100vh" %>
<div class="minHeight">
  <%= render :partial => "/web/marketing/jumbotron" %>
  <%= render :partial => "/web/marketing/telegram" %>
</div>
<%= render :partial => "/shared/web/common/footer" %>