@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";

.breadcrumb{
  background-color: transparent;
  padding: 0.75rem 0;
  .breadcrumb-item + .breadcrumb-item::before{
    content: '>'
  }
  .kyc-dashboard-breadcrumb{
    color: $yellow-800;
    border-bottom: none;
    font-weight: $font-weight-normal;
    font-weight: $font-weight-600;
    letter-spacing: 1px;
  }
}

.alert-error-svg, .alert-warning-svg{
  height: 1.5rem;
  width: 1.5rem;
}

.carousel-nav{
  position: fixed;
  top: 50%;
  color: $green-900;
  padding: 0.5rem;
  border: 1px solid $green-900;
  cursor: pointer;
  &.right{
    right: -1px;
    border-radius: 5px 0 0 5px;
  }
  &.left{
    left: -1px;
    border-radius: 0 5px 5px 0;
  }
}
@media screen and (min-width:576px){
.other-documents{
  .col-sm-6{
    &:nth-child(even){
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
     }
     &:nth-child(odd){
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
     }
    &:last-child{
      border-right:  solid 0.8px $blue-400;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
}

.customized-h5{
  font-weight: 500;
  letter-spacing: 0.5px;
}

// .card-group{
  .card{
    border: solid 0.8px $blue-400;


     &.grey-background{
      background-color:#f7f7f7;
     }
     .external-link{
      color: white;
      position: absolute;
      top: 16px;
      right:8px;
      background-color: $green-900;
    }
    .title-div{
      background-color:$white;

    }
    .row {
      margin : 0px -19px;
    .card-title{
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 2px;
    }
    .card-row{
      margin-right: -1.23rem;
      margin-left: -1.23rem;
      &:nth-child(even) {
        background: $green-1000;
      }
      &:nth-child(odd) {
        background: $white;
      }
    }
    @media screen and (min-width: 576px){
      .col-sm-6:nth-child(4n+1), .col-sm-6:nth-child(4n+2){
        background-color: $green-1000;
       }
    }
    @media screen and (max-width: 576px){
      .col-sm-6:nth-child(odd){
        background-color: $green-1000;
       }
    }

    .card-col{
      padding: 1rem 1.25rem;
      .label{
        color: $cyanish-gray;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 2px;
        font-weight: 600;
      }
      .value{
        color: $blue-800;
        font-size: 0.9rem;
      }
    }
  }
  }
// }

.box-border{
  border-radius: 2.5px;
  border: solid 0.8px $blue-400;
  color: $blue-800;
  font-size: $display3-size;

  .key{
    font-weight: $font-weight-light;
  }
  .value{
    font-weight: $font-weight-500;
    padding-left: 5px;
    &.blue-bar{
      border-left: 2px solid $green-300;
    }

    &.red-bar{
      border-left: 2px solid $red-100;
    }
  }

  .button-UI{
    background-color: transparent;
    border: none;
    float: right;
    display: inline-block;
    font-size: 12px;
    font-weight: $font-weight-600;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover, &:active {
      border-bottom: 1px solid $yellow-500;
      color: $yellow-500;
    }
  }
}
.title{
  color: $blue-800;
  font-size: $display2-size;
  font-weight: $font-weight-600;
}

@media screen and (min-width: 769px){

.button-container{
  position: fixed;
  bottom: 0;
  background-color: $white;
  box-shadow: 0 -2px 2px -0.5px rgba(155, 175, 181, 0.2);
    .float-lg-right{
      .btn{
        width: 180px;
      }
    }
  }
}

@media screen and (max-width: 768px){

  .button-container{
    background-color: $white;
        .btn{
          width: 100%;
        }
    }
}
#logsModal, #detailsModal{
  .modal-dialog{
    margin: auto;
    float: right;
    width: 50%;
    height: 100vh;
    max-width: 700px;

    .modal-content{

      border: none;
      border-radius: 0px;
      min-height: 100%;

      .modal-body{
        padding-top:0px;
      }
    }
  }
  @media screen and (max-width: 1076px) {
    .modal-dialog{
      width:80%;

    }
  }
  @media screen and (max-width: 400px) {
    .modal-dialog{
      width:100%;
    }
  }

  &.modal.fade:not(.show)  {
    .modal-dialog{
      -webkit-transform: translate(100%, 0);
      transform: translate(100%, 0);
    }
  }
  &.modal.show  {
    .modal-dialog{
      -webkit-transform: translate(0, 0);
    transform: translate(0, 0);

    }
  }

}












