<script type="text/x-handlebars-template" id="ost-add-component-footer">
  <div class="row form-group pb-2">
    <div class="col-10 align-self-center pr-0">
      <div class="form-label mb-0">
        <label class="align-middle mb-0">Add Checkbox Field</label>
      </div>
    </div>
    <div class="col-2 add-component-el align-self-center" data-component-to-add="{{ componentToAdd }}">
      <svg class="add-icon">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#add-icon"></use>
        </switch>
      </svg>
    </div>
  </div>
</script>