<script type="text/x-handlebars-template" id="ost-color-picker">
  <div class="color-picker-wrapper">
      <div class="form-group">
        <div class="col">
          <label class="form-lable">{{label}</label>
        </div>
        <div class="col">
          <input type='text' name="{{name}}"  {{required}} value="{{value}}" />
        </div>
        <div class="invalid-feedback" data-forname="{{name}}"></div>
      </div>
  </div>
</script>


<script type="text/javascript">

</script>