<script type="text/x-handlebars-template" id="ost-collapse">
  <div class="card mb-4">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" data-target="#{{configurator_component_id 'collapse' }}" data-parent="#accordion">
        {{header}}
        {{#ifTooltip tooltip}}
        <span data-toggle="tooltip" data-placement="right" title="{{tooltip}}" class='config-info-icon align-middle'>
            <svg class="config-info-icon" style="width: 16px; height: 16px;">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info-icon"></use>
              </switch>
            </svg>
          </span>
        {{/ifTooltip}}
      </a>
    </div>
    <div class="collapse show" id="{{configurator_component_id 'collapse' true}}">
      <div class="card-body collapse-content-wrap">
      </div>
      {{#ifCollapseFooter footer}}
        <div class="card-footer">
         {{{ getCollapseFooter footer }}}
        </div>
      {{/ifCollapseFooter}}
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="add-configurator-component">
  <div class="row">
    <div class="col-8">Add Checkbox Field</div>
    <div class="col-4 add-component-wrap" data-component-to-add="{{ component }}">
      Add Icon
    </div>
  </div>
</script>

<% content_for :ost_components do %>
  <script type="text/javascript">
    $(function () {

      Handlebars.registerHelper('ifCollapseFooter', function( data, options ) {
        if( data ){
          return options.fn(this);
        }
        return options.inverse(this);
      });

      Handlebars.registerHelper('getCollapseFooter', function( data , options ) {
        var selector  = data.selector ,
            jMarkup   = ost.handlebarHelper.getMarkup( selector , data ) ;
        return jMarkup ;
      });

    });
  </script>
<%end%>