<script type="text/x-handlebars-template" id="ost-file-uploader">
  <div class="form-group row ost-file-uploader-wrap">
    <div class="col-6">
      <div class="form-label">
        {{label}}
        {{#ifTooltip tooltip}}
          <span data-toggle="tooltip" data-placement="right" title="{{tooltip}}" class='ml-2'>
            <svg class="svg"  width="20px" height="20px">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info-icon"></use>
              </switch>
            </svg>
          </span>
        {{/ifTooltip}}
      </div>
    </div>
    <div class="col-6 text-right" >
      <label class="input-label-wrapper" for="{{get_input_id data_key_name}}" title="{{title}}">
        <svg class="fav-svg align-middle" >
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cms-fav-icon-logo"></use>
          </switch>
        </svg>
      </label>
      <input id="{{get_input_id data_key_name true}}"
             data-get-signed-url="{{signed_url}}"
             class="file-upload-input"
             {{is_required validation.required}}
             data-min-bytes="{{validation.min_bytes}}"
             data-max-bytes="{{validation.max_bytes}}"
             accept="{{getAccept validation.accept}}"
             type='file'
             name="{{data_key_name}}"
             value="{{value}}" />
    </div>
    <div class="invalid-feedback col-12" data-forname="{{data_key_name}}"></div>
  </div>
</script>

<script type="unknown" id="j-processing-icon">
  <img class="img-fluid processing-icon" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif"/>
</script>

<script type="text/x-handlebars-template" id="uploaded-image-wrap">
  <img class="img-fluid file-uploaded-img" src="{{img_src}}"/>
  <svg class="fav-svg align-middle">
    <switch>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cms-fav-icon-logo"></use>
    </switch>
  </svg>
</script>

<% content_for :ost_components do %>
  <script type="text/javascript">
    $(function () {
      Handlebars.registerHelper('getAccept', function( data, options ) {
        if( typeof data == "string" ){
          return data;
        }else if( data.constructor == Array ) {
          return data.join(' , ');
        }
        return "";
      });
    });
  </script>
<%end%>


