<script type="text/x-handlebars-template" id="ost-input-toggle">
  <div class="row form-group ost-input-toggle-wrap {{entityKey}}">
    <div class="col-8 align-self-center">
      <div class="form-label mb-0">
        <label class="align-middle mb-0">{{label}}</label>
      </div>
    </div>
    <div class="col-4 text-right align-self-center">
      <label class="switch mb-0">
        <input type="checkbox" name="{{data_key_name}}" value="{{value}}" {{isToggleChecked value}} />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="invalid-feedback col-12" data-forname="{{data_key_name}}"></div>
  </div>
</script>


<% content_for :ost_components do %>
  <script type="text/javascript">
    $(function () {
      Handlebars.registerHelper('isToggleChecked', function( value ,  options ) {
        if( value == 1 ){
          return "checked";
        }
        return "";
    });
    });
  </script>
<%end%>