<script type="text/x-handlebars-template" id="ost-file-uploader">
  <div class="form-group row ost-file-uploader-wrap">
    <div class="col-6">
      <label class="form-label"> {{label}} </label>
    </div>
    <div class="col-6 text-right" >
      <label class="input-label-wrapper" for="{{get_input_id name}}">
       Upload Img
      </label>
      <input id="{{get_input_id name true}}"
             data-get-signed-url="{{signed_url}}"
             class="file-upload-input"
             {{is_required isRequired}}
             data-min-bytes="{{min_bytes}}"
             data-max-bytes="{{max_bytes}}"
             accept="{{accept}}"
             type='file'
             name="{{name}}"
             value="{{value}}" />
    </div>
    <div class="invalid-feedback col-12" data-forname="{{name}}"></div>
  </div>
</script>

<script type="unknown" id="j-processing-icon">
  <img class="img-fluid" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif"/>
</script>

<script type="unknown" id="uploaded-image-wrap">
  <img class="img-fluid" src="{{img_src}}"/>
  <div >Edit icon </div>
</script>

<% content_for :ost_components do %>
  <script type="text/javascript">
    $(function () {

      Handlebars.registerHelper('is_required', function(data, options ) {
        if( data ){
          return "required";
        }else {
          return "";
        }
      });

      var idCount = 1 ;
      Handlebars.registerHelper('get_input_id', function( name, isSameId , options ) {
        if( !isSameId ) {
          idCount++
        }
        if( name ){
          return name + "_" + idCount ;
        }else {
          return "no_name" + "_" + idCount ;
        }
      });

    });
  </script>
<%end%>


