<!--<script type="text/x-handlebars-template" id="ost-file-uploader">-->
  <div class="form-group row ost-file-uploader-wrap">
    <div class="col-12">
      <label class="form-label"> Rich text editor </label>
    </div>
    <div class="col-12 text-right" >
      <textarea class="rich-editor-tmc"  name="rich-editor-tmc"></textarea>
    </div>
    <div class="invalid-feedback col-12" data-forname="{{name}}"></div>
  </div>

<!--</script>-->

<% content_for :ost_components do %>
  <script type="text/javascript" >

    $(function(){
      tinymce.init({
        selector:'.rich-editor-tmc' ,
        menubar: false,
        plugins: ['link'],
        toolbar: 'bold , italic , underline,  link ',
        statusbar: false,
        toolbar_item_size: "small",
        setup: function (editor) {
          editor.on('keyup change', function () {
            $('.rich-editor-tmc')
              .val(tinymce.activeEditor.getContent())
              .trigger('keyup');
          });
        }
      });
    });

  </script>
<%end%>