<script type="text/x-handlebars-template" id="ost-collapse">
  <div class="card mb-4">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" data-target="{{id}}" data-parent="#accordion">
        {{header}}
      </a>
    </div>
    <div class="collapse" id="{{id}}">
      <div class="card-footer">
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">

</script>
