
      <div class="row" >
        <div class="container-fluid button-container py-2">
          <div class="container mt-2">
            <ng-container *ngIf="caseDetails.is_case_closed == 1 then caseClosed else caseOpen"></ng-container>

            <!----Close case section start---->
            <ng-template #caseClosed>
              <div class="d-flex justify-content-center align-items-center mb-2">
                <ng-container *ngIf="caseDetails.case_reopen_inprocess || caseDetails.whitelist_confirmation_pending then caseInProcess else caseNotReopening;">

                </ng-container>
                <ng-template #caseInProcess>
                  <span class="mr-2 font-weight-normal text-center mt-1"
                    *ngIf="caseDetails.whitelist_status == 'failed' || caseDetails.whitelist_confirmation_pending">
                    {{caseDetails.whitelist_status == 'failed' ?
                      "Whitelisting failed. Please proceed by contacting OST KYC support."
                      : "Whitelist confirmation is pending. Please check back after some time." }}
                  </span>
                  <span class="mr-2 font-weight-normal text-center mt-1" *ngIf="caseDetails.case_reopen_inprocess">The case will be re-opened shortly. Please check back after some time.</span>
                </ng-template>

                <ng-template #caseNotReopening>
                  <span class="mr-2 font-weight-normal">
                    This case
                    <ng-container *ngIf="caseDetails.kyc_status == 'approved'">has been approved and</ng-container>
                    <ng-container *ngIf="caseDetails.kyc_status == 'denied'">has been denied and</ng-container>
                    is closed
                  </span>
                  <ng-container *ngIf="caseDetails.can_reopen_case == 1"><!--allows always-->
                    <button type="button" class="btn btn-secondary text-uppercase" data-toggle="modal" data-target="#reopenModal">Re-open</button>
                  </ng-container>
                </ng-template>
              </div>
            </ng-template>
            <!----Close case section end---->


            <!----Open case section start---->
            <ng-template #caseOpen>
              <div class="w-100">

                 <!----T-0 state start---->
                <ng-container *ngIf="isTZeroState()">
                  <ng-container *ngIf="appConfig.hasEmailSetup()">
                      <button type="button"
                        class="btn btn-secondary mr-2 mb-2 text-uppercase float-left"
                        (click)="showPageState(false, true)">REQUEST DETAILS UPDATE</button>
                  </ng-container>
                  <div class="float-right">
                    <button type="button" class="btn btn-danger mr-2 mb-2 text-uppercase"
                            data-toggle="modal" data-target="#denyActionModal">Deny Case
                    </button>
                    <button type="button" class="btn btn-success mb-2 text-uppercase"
                              data-toggle="modal" data-target="#approveDetailsModal">APPROVE DETAILS
                    </button>
                  </div>
                </ng-container>
                <!----T-0 state end---->

                <!----Pre T-1 state start---->
                <ng-container *ngIf="isPreTOneState()">
                  <ng-container *ngIf="appConfig.hasEmailSetup()">
                      <button type="button"
                        class="btn btn-secondary mr-2 mb-2 text-uppercase float-left"
                        (click)="showPageState(false, true)">REQUEST DETAILS UPDATE</button>
                  </ng-container>
                  <div class="float-right">
                    <button type="button" disabled class="btn btn-danger mr-2 mb-2 text-uppercase">Deny Case</button>
                    <button type="button" disabled class="btn btn-success mb-2 text-uppercase" >QUALIFY CASE</button>
                  </div>
                </ng-container>
                <!----Pre T-1 state end---->

                <!---- T-1 state start---->
                <ng-container *ngIf="isTOneState()">
                  <ng-container *ngIf="appConfig.hasEmailSetup()">
                      <button type="button"
                        class="btn btn-secondary mr-2 mb-2 text-uppercase float-left"
                        (click)="showPageState(false, true)">REQUEST DETAILS UPDATE</button>
                  </ng-container>
                  <div class="float-right">
                    <button type="button" class="btn btn-danger mr-2 mb-2 text-uppercase"
                              data-toggle="modal" data-target="#denyActionModal">Deny Case
                    </button>
                    <!-- refactor this-->
                    <button type="button" class="btn btn-success mb-2 text-uppercase"
                            (click)="qualifyCase()">Qualify CASE
                    </button>

                  </div>
                </ng-container>
                <!---- T-1 state end---->

              </div>
            </ng-template>
            <!----Open case section end---->


          </div>
        </div>
        <div class="container-fluid button-container-phantom"></div>
      </div>

      <div id="amlErrorModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0">
          <div class="modal-content rounded-0">
            <div class="modal-body text-center py-4">
              <svg class="icon" style="width:40px; height: 40px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-error-icon">
                  </use>
                </switch>
              </svg>
              <h5 class="my-3">Please take AML/CTF action before choosing to qualify the user.</h5>
              <div class="col-12 mt-3 text-center">
                <button class="btn btn-primary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="amlErrorModal2" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0">
          <div class="modal-content rounded-0">
            <div class="modal-body text-center py-4">
              <svg class="icon" style="width:40px; height: 40px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-error-icon">
                  </use>
                </switch>
              </svg>
              <h5 class="my-3">Case can not be approved.Please review all AML results or if applicable, select ‘No Hit’</h5>
              <div class="col-12 mt-3 text-center">
                <button class="btn btn-primary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
