<div class="container-fluid container-architecture">

    <h2>Platform Architecture</h2>
    <p class="lead">
      The Simple Token platform provides all the benefits of blockchain tokens
      without the high costs and risks of building everything from scratch.
    </p>

</div>

<div class="container container-architecture-parts">

  <div class="row">

    <div class="parts-container text-center">

      <div class="part-connector"></div>

      <div data-part="st" data-partnum="1" class="part-wrapper active">
          <div class="part-outer">
            <div class="part">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-st"></use>
                </switch>
              </svg>
            </div>
          </div>
          <span class="title">Simple<br/> Token</span>
      </div>

      <div data-part="bt" data-partnum="2" class="part-wrapper">
          <div class="part-outer">
            <div class="part">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bt"></use>
                </switch>
              </svg>
            </div>
          </div>
          <span class="title">Branded<br/> Token</span>
      </div>

      <div data-part="ut" data-partnum="3" class="part-wrapper">
          <div class="part-outer">
            <div class="part">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ut"></use>
                </switch>
              </svg>
            </div>
          </div>
          <span class="title">Users &amp;<br/> Transaction</span>
      </div>

      <div data-part="stn" data-partnum="4" class="part-wrapper">
          <div class="part-outer">
            <div class="part">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-stn"></use>
                </switch>
              </svg>
            </div>
          </div>
          <span class="title">Simple Token<br/> Network</span>
      </div>

    </div>

  </div>

</div>

<div class="container-fluid container-architecture-parts">

  <div class="row">

    <div class="part-description text-center">

        <p data-part="st" class="lead">Simple Token is a freely floated utility ERC-20 token on Ethereum mainnet that supports the function of the OpenST platform.</p>
        <p data-part="bt" class="lead" style="display:none">Member Companies can stake Simple Token on the OpenST platform to create their own Branded Token in their consumer application.</p>
        <p data-part="ut" class="lead" style="display:none">Users can earn and spend Branded Tokens within the consumer application by providing services to other users.</p>
        <p data-part="stn" class="lead" style="display:none">Simple Token powers a network of networks where users can seamlessly transact across different applications.</p>

        <div class="part-animation">
          <div class="asset p1-i1"></div>
          <div class="asset p1-i2"></div>
          <div class="asset p1-i3"></div>
          <div class="asset p2-i1"></div>
          <div class="asset p2-i2"></div>
          <div class="asset p2-i3"></div>
          <div class="asset p3-i1"></div>
          <div class="asset p3-i2"></div>
          <div class="asset p4-i1"></div>
          <div class="asset p4-i2"></div>
          <div class="asset p4-i3"></div>
          <div class="asset p4-i4"></div>
          <div class="asset p4-i5"></div>
          <div class="asset p4-i6"></div>
        </div>

        <div class="part-static">
          <div data-part="st" class="part-content st">
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step1-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step1-2x.png 1000w"/>
          </div>
          <div data-part="bt" class="part-content bt" style="display: none">
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step2-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step2-2x.png 1000w"/>
          </div>
          <div data-part="ut" class="part-content ut" style="display: none">
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step3-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step3-2x.png 1000w"/>
          </div>
          <div data-part="stn" class="part-content stn" style="display: none">
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step4-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step4-2x.png 1000w"/>
          </div>
        </div>

    </div>

  </div>

</div>