<div class="container container-jumbotron">
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="desc">
        <h1>Token Platform</h1>
        <p>
          Simple Token platform is a robust suite of open-source technology protocols that consumer marketplaces can utilize to power their own branded tokens.
        </p>
      </div>
      <a href="#features" class="btn-common btn-gold btn-10 smooth-scroll btn-features">Get Started</a>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="embed-responsive embed-responsive-4by3 images-desktop">
        <img class="ipad" src="//d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-ipad-1x.png" srcset="//d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-ipad-2x.png 1000w" />
        <img class="iphone" src="//d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-1x.png" srcset="//d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-2x.png 1000w" />
      </div>
      <div class="images-mobile">
        <img class="iphone-1" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-1-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-1-2x.png 1000w" />
        <img class="iphone-2" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-2-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-2-2x.png 1000w" />
        <img class="iphone-3" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-3-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-iphone-3-1x.png 1000w" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-jumbotron-band">
</div>