<div class="container-fluid container-stack-band">
  <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-no-text.png" class="logo" />
</div>

<div class="container-fluid container-stack-spacer">
</div>

<div class="container container-stack-heading">
  <div class="row">
      <h2>Simple Token Stack</h2>
      <p class="lead">Simple Token Stack modules offer everything needed to easily tokenize your app.</p>
  </div>
</div>

<div class="container container-stack-modules">

  <div class="row">
      <div class="module-container text-center">

        <div data-module="identity" class="module-wrapper identity">
            <div class="module-outer">
              <div class="module">
                <svg class="svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-identity"></use>
                  </switch>
                </svg>
              </div>
            </div>
            <span class="title">Identity</span>
        </div>

        <div data-module="admin" class="module-wrapper admin">
            <div class="module-outer">
              <div class="module">
                <svg class="svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-admin"></use>
                  </switch>
                </svg>
              </div>
            </div>
            <span class="title">Administration</span>
        </div>

        <div data-module="wallet" class="module-wrapper wallet">
            <div class="module-outer">
              <div class="module">
                <svg class="svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-wallet"></use>
                  </switch>
                </svg>
              </div>
            </div>
            <span class="title">Wallet</span>
        </div>

        <div data-module="transaction" class="module-wrapper transaction active">
            <div class="module-outer ">
              <div class="module">
                <svg class="svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-transaction"></use>
                  </switch>
                </svg>
              </div>
            </div>
            <span class="title">Transaction</span>
        </div>

        <div data-module="ledger" class="module-wrapper ledger">
            <div class="module-outer">
              <div class="module">
                <svg class="svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ledger"></use>
                  </switch>
                </svg>
              </div>
            </div>
            <span class="title">Ledger</span>
        </div>

        <div data-module="rights" class="module-wrapper rights">
            <div class="module-outer">
              <div class="module">
                <svg class="svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-rights"></use>
                  </switch>
                </svg>
              </div>
            </div>
            <span class="title">Rights</span>
        </div>

        <div data-module="token-design" class="module-wrapper token-design">
            <div class="module-outer">
              <div class="module">
                <svg class="svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-token-design"></use>
                  </switch>
                </svg>
              </div>
            </div>
            <span class="title">Design</span>
        </div>

      </div>
  </div>

</div>

<div class="container-fluid container-stack-modules">

  <div class="row">

    <div class="module-description">
        <div class="module-contents">


          <div data-module="identity" class="module-content identity" style="display:none">
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li>Unique User</li>
                  <li>KYC checks</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-identity.png" />
              </div>
            </div>
          </div>

            <div data-module="admin" class="module-content admin" style="display:none">
                <div class="row">
                  <div class="col-sm-6">
                    <ul>
                      <li>Analytics</li>
                      <li>Alerts</li>
                      <li>Monitoring</li>
                      <li>Fraud Prevention</li>
                      <li>Security</li>
                      <li>Supply &amp; Economy Management</li>
                      <li>Purchase more Simple Token</li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-admin.png" />
                  </div>
                </div>
            </div>

            <div data-module="wallet" class="module-content wallet" style="display:none">
                <div class="row">
                  <div class="col-sm-6">
                    <ul>
                      <li>Consumer Friendly</li>
                      <li>History</li>
                      <li>Buy Tokens</li>
                      <li>Cash Out &amp; Exchange</li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-wallet.png" />
                  </div>
                </div>
            </div>

            <div data-module="transaction" class="module-content transaction">
                <div class="row">
                  <div class="col-sm-6">
                    <ul>
                      <li>Peer to Peer</li>
                      <li>B2C</li>
                      <li>Subscriptions</li>
                      <li>Optional Transaction Fees</li>
                      <li>Incentives &amp; Rewards (e.g. tips, up-votes)</li>
                      <li>B2B &amp; APIs</li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-transactions.png" />
                  </div>
                </div>
            </div>

          <div data-module="ledger" class="module-content ledger" style="display:none">
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li>Public Transaction History</li>
                  <li>Transaction Auditing</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-ledger.png" />
              </div>
            </div>
          </div>


          <div data-module="rights" class="module-content rights" style="display:none">
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li>Digital Rights Management</li>
                  <li>Royalties</li>
                  <li>Commissions</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-rights.png" />
              </div>
            </div>
          </div>


          <div data-module="token-design" class="module-content token-design" style="display:none">
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li>Branding</li>
                  <li>Staking</li>
                  <li>Exchange Rate</li>
                  <li>Token types &amp; restrictions</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-token-design.png" />
              </div>
            </div>
          </div>

        </div>
    </div>

    <div class="text-center">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" />
    </div>

  </div>

</div>

<div class="container-fluid container-stack-modules-mobile">

  <div class="row">

    <div class="panel-group" id="module-accordion" class="module-title-contents" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#module-accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne"></a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#module-accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo"></a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#module-accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree"></a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#module-accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree"></a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#module-accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseThree"></a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#module-accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseThree"></a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#module-accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseThree"></a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body"></div>
        </div>
      </div>

    </div>

  </div>

</div>