.container-subscribe {
  h1,h2{
    font-size: 44px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1.3px;
    color: #6ca3a9;
    text-align: center;
  }
  h2{
    font-size: 36px;
  }
  .desc{
    text-align: center;
    color: #5a768c;
    font-size: 17px;
    font-weight: 400;
    padding: 15px 0 0px;
    line-height: 1.6;
  }
  .register-now-btn{
    margin: 30px 0px 60px;
  }
  .error{
    min-height: 25px;
    font-weight: 300;
    font-size: 14px;
  }
  .simpletoken-form{
    .form-group{
      label.help-block{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #5a768c;
      }
      .checkbox{
        margin-bottom: 20px;
        label{
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.5px;
          color: #5a768c;
          .help-block{
            font-size: 14px;
            font-weight: 100;
            letter-spacing: 0.5px;
            color: #5a768c;
          }
        }
        input[type=checkbox]:checked {
          ~ label{
            font-weight: 700;
          }
        }
      }
    }
    .subscribe{
//      padding:30px 0 0;
      .form-group{
        width:100%;
        input.form-control{
          width:70%;
          display: inline-block;
          font-size: 16px;
          height: 40px;
          border-color: #CDD7DA;
          margin-top: 25px;
          vertical-align: top;
          &:focus{
            border-color: #5a768c;
            box-shadow: none;
            -webkit-box-shadow: none;
          }
        }
      }
    }
  }
}

#subscribe-success{
  text-align: center;
  background: #91C0AD;
  border-radius: 10px;
  padding: 10px 15px 25px 10px;
  margin: 30px auto 0;
  .small-title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
  }
  .small-desc{
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    display: block;
  }
}