.container-technology{
  padding: 40px 0;
  .header{
    color: #6ca3a9;
    margin-top: 0;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
  .token-allocation-radial-wrap{
    padding-right: 20px;
  }
  .ver-middle{
    display: table;
    font-size: 0;
    .ver-middle-inner{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .header-title{
    font-weight: 600;
    color: #6ca3a9;
    margin-top: 0;
    font-size: 18px;
  }
  .desc{
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #597a84;
    font-weight: 300;
  }
  .use-of-assets{
    .image{
      text-align: center;
      img{
        width: 100%;
        max-width: 350px;
      }
    }
    .copy{
      padding: 15px 0 0;
    }
  }
}
