@import "../../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";

  .case-id{
    color: $yellow-300;
  }

  .mobile{
    .card{
      border-color: $custom-grey-7;
      .card-body{
        .mobile-name-div{
          background-color: $green-900;
        }
      }
    }
  }
