<div class="row py-3 mx-0 desktop d-none d-md-flex">
  <div class="col-1 display-3  font-weight-500">
  <span class="case-id"  (click)="closeModalEvent()"  > {{row.id}} </span>
  </div>
  <div class="col-2  text-capitalize display-3">
    {{row.admin_status}}
  </div>
  <div class="col-3 text-capitalize display-3">
      {{row.cynopsis_status}}
  </div>
  <div class="col-3 display-3">
    <div *ngIf="row.active.length; else default">
        {{row.active}}
    </div>
  </div>
  <div class="col-3 display-3">
    <div *ngIf="row.inactive.length; else default">
        {{row.inactive }}
    </div>
    <ng-template #default>
      --
    </ng-template>
  </div>
</div>

<div class="mobile d-md-none mt-3">
  <div class="card">
    <div class="card-body p-0">
        <div class="col-12 mobile-name-div py-3">
            <span class='display-1 mr-2 font-weight-500'>Case Id</span>
            <span class="display-3 font-weight-500 case-id" (click)="closeModalEvent()">{{row.id}}</span>
        </div>
        <div class="row px-1 pt-3 mx-0 ">
          <div class="col-6 px-2">
              <div class='font-weight-600 display-4 text-transform-upper'>ADMIN STATUS</div>
              <span class="display-3 text-capitalize">  {{row.admin_status}}</span>
          </div>
          <div class="col-6 px-2">
              <div class='font-weight-600 display-4 text-transform-upper'>AML/CTF STATUS</div>
              <span class="display-3 text-capitalize">  {{row.cynopsis_status}}</span>

          </div>

        </div>
        <div class="row px-1 py-3 mx-0">
          <div class="col-6 px-2">
              <div class='font-weight-600 display-4 text-transform-upper'>CURRENT MATCHES</div>
              <span class="display-3">
                  <div *ngIf="row.active.length; else default">
                      {{row.active}}
                  </div>

              </span>
          </div>
          <div class="col-6 px-2">
              <div class='font-weight-600 display-4 text-transform-upper'>PREVIOUS STATUS</div>
              <span class="display-3">
                  <div *ngIf="row.inactive.length; else default">
                      {{row.inactive }}
                  </div>

              </span>
          </div>
        </div>
    </div>
  </div>
 </div>
