@import "../../web/simple_token_theme/variables";

.sign-up-form {
  min-height: calc(100vh - #{$bottom-footer-height});
  .user-form{
    @media (min-width: map-get($grid-breakpoints, "md")) {
      width: 350px;
    }
    margin: 25px auto 0;
    width: 280px;
    .forgot-password {
      &:hover{
        text-decoration: none;
        border-bottom: 1px solid $yellow-500;
      }
    }
    .user-form-footer{
      text-align: center;
      .create-account{
        text-decoration: none;
        display: inline-block;
        &:hover, &:focus{
          text-decoration: none;
          outline: none;
        }
      }
    }
  }

  .form-recapcha .form-recapcha-wrap div {
    text-align: center;
    width:auto !important;
  }
  .form-recapcha .form-recapcha-wrap div div {
    display: inline-block;
    width:auto !important;
  }

  .btn-primary , .btn-secondary {
    width: 288px;
  }
}

.datepicker a.datepicker-selected {
  color: $white;
  border-radius: 4px;
  background: $neptune;
}

.termsConditions{
  max-width: 350px;

  label {
    text-align: left;
    &:focus {
      outline: none;
    }
  }
}

.file-name{
  font-weight: $font-weight-500;
}

.minimum-characters {
  margin-top: 5px;
}

.img-container {
  display: inline-block;
  width: 100%;
}