.simple-token-form{
  .check-inbox{
    font-weight: 500;
    font-size: 18px;
    margin-top: 25px;
  }
  .verification-user-form{
    margin-top:40px;

    .success{
      color: #91c0ad;
    }
  }
  .no-mail{
    font-size: 18px;
    font-weight: 500;

  }
}