<div class="row py-3 mx-0 desktop d-none d-md-flex">
  <div class="col">
  {{row.id}}
  </div>
  <div class="col text-capitalize">
    {{row.admin_status}}
  </div>
  <div class="col text-capitalize">
      {{row.cynopsis_status}}
  </div>
  <div class="col">
    {{row.active}}
  </div>
  <div class="col">
    <div *ngIf="(row.inactive | json) == '{}'; else default">
        {{row.inactive }}
    </div>
    <ng-template #default>
      --
    </ng-template>



  </div>
</div>

<div class="mobile d-md-none">
  <div class="card m-3">
    <div class="card-body">
        <div class="col-12 mobile-name-div py-4">
            <span class='mobile-name'>Case Id</span>
            <span class="mobile-confirmed-at">{{row.id}}</span>
        </div>
        <div class="row py-4 mx-0">
          <div class="col-6">
              <div class='mobile-sub-heading'>ADMIN STATUS</div>
              <span class="mobile-text">  {{row.admin_status}}</span>
          </div>

          <div class="col-6">
              <div class='mobile-sub-heading'>CYNOPSIS STATUS</div>
              <span class="mobile-text">  {{row.cynopsis_status}}</span>

          </div>

        </div>


        <div class="row py-4 mx-0">
          <div class="col-6">
              <div class='mobile-sub-heading'>CURRENT MATCHES</div>
              <span class="mobile-text">  {{row.active}}</span>
          </div>

          <div class="col-6">
              <div class='mobile-sub-heading'>PREVIOUS STATUS</div>
              <span class="mobile-text">
                  <div *ngIf="(row.inactive | json) == '{}'; else default">
                      {{row.inactive }}
                  </div>

              </span>

          </div>

        </div>

    </div>
  </div>


 </div>
