<div class="row py-3 mx-0 desktop d-none d-md-flex">
  <div class="col">
  {{row.id}}
  </div>
  <div class="col text-capitalize">
    {{row.admin_status}}
  </div>
  <div class="col text-capitalize">
      {{row.cynopsis_status}}
  </div>
  <div class="col">
    {{row.active}}
  </div>
  <div class="col">
    {{row.inactive}}
  </div>
</div>

<div class="mobile d-md-none">
  <div class="card m-3">
    <div class="card-body">
        <div class="col-12 mobile-name-div py-4">
            <span class='mobile-name'>Date/Time </span>
            <span class="mobile-confirmed-at">  {{row.created_at_timestamp * 1000 | date: 'dd/MM/yyyy hh:mm'}}</span>
        </div>
        <div class="row py-4 mx-0">
          <div class="col-6">
              <div class='mobile-sub-heading'>AGENT </div>
              <span class="mobile-text">  {{row.agent}}</span>
          </div>

          <div class="col-6">
              <div class='mobile-sub-heading'>ACTIVITY </div>
              <span [innerHTML]='row.action' class='mobile-text'></span>

          </div>

        </div>

    </div>
  </div>


 </div>
