<div class="modal fade" id="{{modalId}}">
    <div class="modal-dialog modal-lg modal-dialog-centered h-100 my-0 pb-5">
      <div class="modal-content">
        <div class="modal-body p-5">
          <div class="perResquestContent text-center px-3" *ngIf="!isProcessing && !hasError">
            <ng-content class="modal-body-content"></ng-content>
            <div class="text-center mt-4">
                <button type="button" class="btn {{actionBtnPrimaryClass}} mr-md-2 mt-2" (click)="onAction()" >
                    {{actionBtnPrimaryName}}
                  </button>
                <button type="button" class="btn btn-secondary mt-2" data-dismiss="modal">
                    {{actionBtnSecondaryName}}
                </button>

            </div>
          </div>
          <request-state-handler [isProcessing]="isProcessing"
                                 [hasError]="hasError"
                                 [errorMessage]="errorMessage">
              <div class="processing-content mt-3">Processing, please wait ... </div>
              <button class="btn btn-primary error-content mt-4" data-dismiss="modal">OK</button>
          </request-state-handler>

        </div>
      </div>
    </div>
  </div>
