<div class="modal fade" id="changePasswordSuccess">
    <div class="modal-dialog modal-dialog-centered  modal-lg h-100 my-0 pb-5">
      <div class="modal-content">
        <div class="modal-body px-5 py-4">

              <div class="text-center p-1" >
                  <div class="success-icon-wrap mb-3">
                      <svg class="icon" style="width:50px; height: 50px" *ngIf="!hasError">
                          <switch>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon">
                            </use>
                          </switch>
                      </svg>
                  </div>
                  <h5 class="success-message mb-3">Password has been successfully updated.</h5>
                  <button class="btn btn-primary" data-dismiss="modal">OK</button>
              </div>
        </div>
      </div>
    </div>
</div>
