<request-state-handler class="d-block w-100 page-loader" [isProcessing]="isProcessing" [hasError]="hasError">
  <ng-container class="error-content">
    <div class="col-12">{{ errorMessage }}</div>
  </ng-container>
</request-state-handler>


<div class="advance-compliance" *ngIf="!isProcessing && !hasError">
  <div class="row mt-4 pt-2 ">
    <div class="col-12">
      <h4 class="kyc-header text-transform-upper">Webhooks</h4>
    </div>
  </div>
  <div class="row sub-header mt-2">
    <div class="col-12">
      This section enables to setup Webhooks and to stay up-to-date with the status changes of KYC applicants.

      Https POST requests with signature will be made to URLs provided here below in the Webhooks setup.

      It is possible to activate, deactivate, or update a Webhook from the settings here below.
      It is possible to filter on events type and sources to subscribe to specific events.

      Each webhook has a Secret Key that is not changing on Webhook Update action, but it can be independently refreshed.

      A 200 HTTP status code response shall be received within 5 sec from the server, otherwise event will be marked as failed.
      Failed events will be retried up to 6 times at an interval of 1 hour increasing exponentially with a factor of 2.
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-12">
      <button [disabled]="webhooks && webhooks.length == maxWebhookCount" class="btn btn-primary" (click)="addWebHook()">ADD NEW WEBHOOK</button>
    </div>
  </div>
  <ng-container *ngIf="webhooks">
    <div class="row modify-hook-section">
      <div *ngFor="let hook of webhooks; let i = index" class="col-11 col-md-12 mx-auto hook-details my-4">
        <form #webhooksForm="ngForm">
          <div class="row py-3">
            <div class="col-11 col-md-4">
              <div class="row pl-3 align-items-center form-group">
                <label class="col-4 pl-0 form-label" for="url">URL</label>
                <input type="url"  class="col-8 form-control" ngModel #url="ngModel" name="url" id="url"
                       title="url" [(ngModel)]="hook.url" required/>
                <ost-form-error-handler [errorFor]="url" [fieldName]="'URL'" [serverError]="hook.error">
                </ost-form-error-handler>
              </div>
              <div class="row pl-3 mt-3 align-items-center form-group">
                <label class="col-4 pl-0 form-label" for="url">SECRET KEY</label>
                <div class="col-8 px-0">
                  <div class="input-group">
                    <input disabled type="text" class="form-control" ngModel #secret_key="ngModel" name="secret_key" id="secret_key"
                           title="secret key" [(ngModel)]="hook.decrypted_secret_key"/>
                    <div class="input-group-append">
                      <button class="btn btn-secondary refresh-btn" type="button" (click)="refreshSecretKey( hook.id, hook.isNew )">
                        <svg class="icon pt-1" style="width:20px; height: 20px">
                          <switch>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#refresh-key-icon">
                            </use>
                          </switch>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <ost-form-error-handler [errorFor]="secret_key" [fieldName]="'Secret Key'" [serverError]="hook.error">
                </ost-form-error-handler>
              </div>
            </div>
            <div class="col-12 mt-4 px-md-4 mt-md-0 col-md-6">
              <div class="row pl-lg-4 ml-md-4">
                <div class="form-group pr-0 pl-md-4 col-6">
                  <div class="form-label">FILTER: EVENT SOURCE</div>
                  <div class="pt-2 pr-2 pl-0 form-check" *ngFor="let option of config.event_sources; let j = index">
                    <input  type="checkbox"
                            class="form-check-input"
                            (change)="onChange( hook.event_sources_array, option.value, hook.id)"
                            [checked]="isChecked( hook.event_sources_array, option.value, hook.id )"
                            name="{{option.key}}"
                            id="event_sources-{{i}}{{j}}"/>
                    <label class="form-check-label"
                           for="event_sources-{{i}}{{j}}">{{option.display_text}}</label>
                  </div>
                  <div class="error">
                    <ng-container *ngIf="hook.event_sources_array.length == 0">
                      Please select at least one option
                    </ng-container>
                  </div>
                </div>

                <div class="form-group col-6">
                  <div class="form-label">FILTER: EVENT TYPE</div>
                  <div class="pt-2 pr-2 pl-0 form-check" *ngFor="let option of config.event_result_types; let j = index">
                    <input  type="checkbox"
                            class="form-check-input"
                            (change)="onChange( hook.event_result_types_array, option.value, hook.id )"
                            [checked]="isChecked( hook.event_result_types_array, option.value, hook.id )"
                            name="{{option.key}}"
                            id="event_types-{{i}}{{j}}"/>
                    <label class="form-check-label"
                           for="event_types-{{i}}{{j}}">{{option.display_text}}</label>
                  </div>
                  <div class="error">
                    <ng-container *ngIf="hook.event_result_types_array.length == 0">
                      Please select at least one option
                    </ng-container>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-12 mt-4 mt-md-0 px-4 col-md-2">
              <div class="row pr-md-2">
                <div class="col-sm-4 col-6 px-md-0 col-md-12">
                  <button [disabled]="!webhooksForm.valid || !isValid( hook.id )" class="btn w-100 btn-primary" (click)="showSaveOrUpdateModal( hook.id, hook.isNew, webhooksForm )">{{getBtnText( hook.isNew )}}</button>
                </div>
                <div class="col-sm-4 col-6 px-md-0 mt-md-4 col-md-12">
                  <button class="btn w-100 btn-secondary" (click)="showDeleteModal( hook.id, hook.isNew )">DELETE</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</div>

<confirmation-modal [callBack]="confirmationCallBack" [success]="processingCompleted" [errorResponse]="errorResponse">
  <div class="success-content">Settings have been successfully applied.</div>
  <div class="confirm-message">Are you sure you want to {{action}} ?</div>
</confirmation-modal>



