<div class="row mt-4 pt-2">
    <div class="col-12 col-lg-6">
      <h4 class="kyc-header text-transform-upper">user management</h4>
    </div>
  <div class="col-12 col-lg-6">
    <button class="btn btn-primary download-csv-btn"
            data-toggle="modal"
            data-target="#confirmDownload">
      DOWNLOAD CSV
    </button>
  </div>
</div>
<div class='row py-3 mb-3'>
<div class="col-12 col-lg-4 search-wrapper">
   <form class='form-group' #searchForm="ngForm" name="search" (submit)="onSearch(searchForm)">
    <div class="col-12 mt-3 px-0 pr-lg-3">
        <label class='form-label mb-2'>SEARCH WITHIN THIS PAGE</label>
        <div class="search-input-wrapper">
            <div class="form-group">
                <input type="text"
                       #search="ngModel"
                       (keyup)="resetSearch(search)"
                       [placeholder]="placeholder"
                       name="filters[email]"
                       [(ngModel)]="q"
                       class="form-control"/>
                <button type="submit" class="search-addon rounded-right" style='border:none;'>
                  <svg class="svg" style="height: 20px;width: 20px">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search-icon"></use>
                    </switch>
                  </svg>
                </button>

              </div>
          </div>
      </div>
    </form>
</div>
<div class="col-12 col-lg-4 pl-lg-0">
    <form class="form-group" #filterForm="ngForm" name='filters' (change)="onFilterChange(filterForm)">
      <div class="row px-3 px-lg-0">

        <div class="col-12 col-lg-6 px-0 mt-3">
          <label class='form-label mb-2'>KYC SUBMITTED</label>
          <select class="form-control selectpicker" name="filters[is_kyc_submitted]" [(ngModel)]='is_kyc_submitted'
                  ostOptions [entityPath]="'entity_configs.user_management_dashboard.is_kyc_submitted'">
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-4 ml-auto mt-3">
      <form class="col-lg-5 px-0 ml-auto form-group" #sortForm="ngForm" (change)="onSortChange(sortForm)" name='sorting'>
        <label class='form-label mb-2'>SORT BY</label>
        <select class="form-control selectpicker" name="sortings[order]" [(ngModel)]='order'
                ostOptions  [entityPath]="'entity_configs.user_management_dashboard.order'">
        </select>
      </form>
    </div>
  </div>

  <div class="row" >
      <app-table class="w-100 alternate-style-lg"
                [action]="'post'"
                [dataUrl]="'api/admin/users/list'"
                [pageNumber]='page_number'
                [searchForm]='searchForm'
                [filterForm]='filterForm'
                [sortForm]='sortForm'
                (pageChangeEvent)="onPageChange( $event )"
                [warningMessage]="'We could not find any results, please try changing the filters.'"
                [customErrorMessage]="'Something went wrong, we could not load the dashboard, please refresh the page or try updating the filters'">
        <manage-user-header class='header'></manage-user-header>
        <ng-template #rowTemplate let-row >
          <manage-user-row [row]='row'
          (deleteRowEvent) = "onDeleteRow( $event )"
          (updatedEthAddressEvent) = "onUpdateEthAddress( $event )"
          ></manage-user-row>
        </ng-template>
        </app-table>
    </div>


    <manage-user-modal  [modalId]="'deleteUserModal'"
                        [user]="user"
                        [postApi]="'api/admin/users/delete-user'"
                        [actionButtonClass]="'delete-user'"
                        [actionBtnPrimaryName]="'DELETE'"
                        [DataType]="'user_id'"
                        (actionSuccessEvent)="onDeleteRowSucces( $event )">
      <ng-container class="modal-body-content">
          <div class="col-12">
              <h5 class="text-center">Attention! You are about to delete this user. This action is permanent and cannot be undone. Are you sure you want to continue?
              </h5>
          </div>
      </ng-container>
      <ng-container class="custom-processing-content">
          <span>Processing ...</span>
      </ng-container>
      <ng-container class="custom-error-content">
          <span>There was some issue.<br>Please Try Again.</span>
      </ng-container>
      <ng-container class="custom-success-content">
          <span>User Deleted</span>
      </ng-container>
  </manage-user-modal>

<manage-user-modal  [modalId]="'reopenCaseModal'"
                    [user]="user"
                    [postApi]="'api/admin/kyc/open-case'"
                    [actionButtonClass]="'case-reopen'"
                    [actionBtnPrimaryName]="'RE-OPEN'"
                    [DataType]="'case_id'"
                    (actionSuccessEvent)="onReopenSuccess( $event )">
  <ng-container class="modal-body-content">
    <div class="col-12">
      <h5 class="text-center">To perform action on user who has already been approved, you will need to reopen the case. Do you want to continue?
      </h5>
    </div>
  </ng-container>
  <ng-container class="custom-processing-content">
    <span>Processing ...</span>
  </ng-container>
  <ng-container class="custom-error-content">
    <span>There was some issue.<br>Please Try Again.</span>
  </ng-container>
  <ng-container class="custom-success-content">
    <span>The case will be re-opened shortly. You will be able to perform action on the user once the case has been reopened.</span>
  </ng-container>
</manage-user-modal>

  <update-eth-modal [user]="user" ></update-eth-modal>

<div class="modal fade" id="confirmDownload" >
  <div class="modal-dialog modal-dialog-centered h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-header border-none">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body px-sm-5  pt-0">
          <div class='row' *ngIf="!isProcessing && !hasError && !isCSVDownloaded">
            <div class="modal-body pt-0">
              <div class="d-flex mb-4">
                <h5 class="modal-title text-center mx-auto">Please confirm to download CSV</h5>
              </div>
              <div class="text-center">
                <input type="checkbox" class="form-check-input" id="securityCheckbox"
                      [(ngModel)]="securityCheckbox" (change)='checkboxChecked()'>
                <label class="form-check-label display-3 securityCheckbox" for="securityCheckbox">
                  OST KYC is not responsible for the security of data
                </label>
              </div>
              <div class="mb-3 form-group">
                <div class="">
                  <span class="error text-center" > {{checkboxError}} </span>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-primary text-uppercase" (click)='validateAndDownload()'>I Agree</button>
                  <!--<button type="button" class="btn btn-secondary ml-3 text-uppercase" data-dismiss="modal">Cancel</button>-->
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <request-state-handler class="d-block w-100"
                                  [isProcessing]="isProcessing"
                                  [hasError]="hasError">
              <div class="processing-content mt-3">Downloading CSV, please wait ... </div>
              <div class="error-content col-12 text-center">
                <div *ngIf="errorMessage">{{errorMessage}}</div>
                <div *ngIf="!errorMessage">There was some issue while downloading CSV.</div>
                <button class="btn btn-primary mt-3" data-dismiss="modal">OK</button>
              </div>
            </request-state-handler>
          </div>

        <div class="row">
          <div class="col-12 success-hanlder-wrap text-center p-1"  *ngIf="isCSVDownloaded">
            <div class="success-icon-wrap mb-1">
              <svg class="icon" style="width:50px; height: 50px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon">
                  </use>
                </switch>
              </svg>
            </div>
            <span class='font-weight-500'>Success!</span>
            <div class="mt-2 mb-3">{{modalSuccessMessage}}</div>
            <button class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




