@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";

.search-wrapper{
  @media (min-width: map-get($grid-breakpoints , 'lg')) {
    max-width: 300px;
  }
  .search-input-wrapper{
    position: relative;
    min-width: 100px;
    .form-control{
      border-radius: 0px;
    }

    .request-handler-wrapper {
        padding: 0;
    }
}

}

.download-csv-btn {
  @media (max-width: map-get($grid-breakpoints , 'lg')){
    float: left;
    margin-bottom: 20px;
  }
  @media (min-width: map-get($grid-breakpoints , 'lg')){
    float: right;
  }
}


