<div class="row mt-4 pt-2">
    <div class="col-12 col-lg-6">
      <h4 class="kyc-header text-transform-upper">user management</h4>
    </div>

</div>
<div class='row py-3 mb-3'>
<div class="col-12 col-lg-8">
    <form class="form-group" #filterForm="ngForm" name='filters' (change)="onFilterChange(filterForm)">
      <div class="row">
        <div class="col-12 col-lg-4 pr-lg-2 mt-3">
          <label class='form-label mb-2'>SEARCH WITHIN THIS PAGE</label>

          <div class="search-input-wrapper">
              <div class="form-group">
                  <input type="text"
                        [placeholder]="placeholder"
                        name="filters[q]"
                        [(ngModel)]="q"
                        (change)="onSearch()"
                        class="form-control" />
                  <span class="search-addon rounded-right">
                    <svg class="svg" style="height: 20px;width: 20px">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search-icon"></use>
                      </switch>
                    </svg>
                  </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 pr-lg-2 mt-3">
          <label class='form-label mb-2'>KYC SUBMITTED</label>
          <select class="form-control selectpicker" name="filters[admin_action_types]" [(ngModel)]='admin_action_types'
                  ostOptions [entityPath]="'entity_configs.kyc_user_details.admin_action_types'">
          </select>
        </div>
        <div class="col-12 col-lg-3 pr-lg-2 mt-3">
          <label class='form-label mb-2'>VERIFICATION STATUS</label>
          <select class="form-control selectpicker" name="filters[cynopsis_status]" [(ngModel)]='cynopsis_status'
                  ostOptions [entityPath]="'entity_configs.kyc_user_details.cynopsis_status'">
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-4 ml-auto mt-3">
      <form class="col-lg-7 px-0 ml-auto pr-lg-0 form-group" #sortForm="ngForm" name='sorting'>
        <label class='form-label mb-2'>SORT BY</label>
        <select class="form-control selectpicker" name="sortings[sort_by]" [(ngModel)]='sort_by'
                ostOptions  [entityPath]="'entity_configs.kyc_user_details.sort_by'">
        </select>
      </form>
    </div>
  </div>

  <div class="row" >
      <app-table class="w-100 alternate-style-lg"
                [dataUrl]="'api/admin/users/list'"
                [pageNumber]='page_number'
                [filterForm]='filterForm'
                [sortForm]='sortForm'
                (pageChangeEvent)="onPageChange( $event )"
                [warningMessage]="'We could not find any results, please try changing the filters.'"
                [customErrorMessage]="'Something went wrong, we could not load the dashboard, please refresh the page or try updating the filters'">
        <manage-user-header class='header'></manage-user-header>
        <ng-template #rowTemplate let-row >
          <manage-user-row [row]='row'></manage-user-row>
        </ng-template>
        </app-table>
    </div>
