<div id="successModal" class="modal fade user-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-0">
      <div class="modal-body text-center py-4">
        <svg class="icon" style="width:50px; height: 50px">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon">
            </use>
          </switch>
        </svg>
        <h5>Thank you for contacting us.</h5>
        <h5>We have received your request and our team will get back to you very soon.</h5>
        <button class="btn btn-primary mt-4" title="Send Email">Send Email</button>
      </div>
    </div>
  </div>
</div>