<div id="ethereum-confirm-modal" class="modal fade user-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" style="opacity: 1;font-size: 18px;position: absolute;right: 12px;top: 15px;z-index: 1">
        <span aria-hidden="true" class="modal-close-black-icon" title="close"></span>
      </button>
      <div class="modal-body">
        <div class="verify-content">
          <div class="heading text-center">Simple Tokens are not for everyone.<br/>I confirm the following:</div>
          <% @presenter_obj.ethereum_confirm_checkbox_points_html.each_with_index do |line, index| %>
            <div class="checkbox">
              <input type="checkbox" value="" id="check<%= index%>" name="check<%= index%>">
              <label for="check<%= index%>">
               <%= raw line %>
              </label>
            </div>
          <% end %>
          <div class="error" data-for="general_error"></div>
          <button id="userConfirm" class="btn-common client-primary-btn verify-btn" title="Verify">CONFIRM</button>
          <img id="user-confirm-loader" class="gif-loader-img hide" src="//d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token_round_loader.gif"/>
        </div>
      </div>
    </div>
  </div>
</div>