<div id="kycUpdateFailedModel" class="modal fade user-modal" role="dialog" tabindex="-2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="verify-content">

          <div class="text-center mt-2">

              <!--<span class="kyc-status-icon-approved ver-middle text-center"></span>-->
              <img class="failure-dialog"
              src="group-3.svg"  alt="Image"/>

            <div class="model-content mt-3">
              <span>There was were some issues while submitting the form. <br />Please check the errors before retrying.</span>
            </div>

          </div>

          <div class="col-12 text-center">
            <button id="kycUpdateFailed" class="btn btn-primary verify-btn mt-4" title="Verify" id="kycVerify">OK</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>