<div id="kycUpdateFailedModel" class="modal fade user-modal" role="dialog" tabindex="-2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="verify-content">

          <div class="text-center mt-2">

            <svg class="icon" style="width:50px; height: 50px">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#error-icon">
                </use>
              </switch>
            </svg>

            <div class="model-content mt-3">
              <span>There was were some issues while submitting the form. <br />Please check the errors before retrying.</span>
            </div>

          </div>

          <div class="col-12 text-center">
            <button id="kycUpdateFailed" class="btn btn-primary verify-btn mt-4" title="Verify" id="kycVerify">OK</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>