<div id="kycSuccessModel" class="modal fade user-modal" role="dialog" tabindex="-2">
  <div class="modal-dialog modal-dialog-centered h-100 my-0 pb-5">
    <div class="modal-content">
      <div class="modal-body py-5">
        <div class="verify-content">
          <div class="text-center">
              <svg class="icon" style="width:40px; height: 40px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon">
                  </use>
                </switch>
              </svg>
            <div class="model-content mt-1">
              <h4 class="kyc-update-success">Success!</h4>
              <div>You can check the status of your KYC on our dashboard </div>
            </div>
          </div>
          <div class="text-center">
            <a id="redictToDashboard" class="btn btn-primary verify-btn mt-4" title="Verify" id="kycVerify" href="/dashboard">GO TO THE DASHBOARD</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>