<!--<div class="modal fade" id="youtube-video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">-->
  <!--<button type="button" class="close" data-dismiss="modal" style="opacity: 1;font-size: 18px;position: absolute;right: 12px;top: 15px;z-index: 1">-->
    <!--<span aria-hidden="true" class="modal-close-icon" title="close"></span>-->
  <!--</button>-->
  <!--<div class="modal-dialog modal-md" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-body">-->
        <!--<iframe src="" frameborder="0" allowfullscreen id="frameVideo"></iframe>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->