<div class="modal fade" id="youtube-video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="" frameborder="0" allowfullscreen id="frameVideo"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>