<div id="verifyModal" class="modal fade user-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" style="opacity: 1;font-size: 18px;position: absolute;right: 12px;top: 15px;z-index: 1">
        <span aria-hidden="true" class="modal-close-black-icon" title="close"></span>
      </button>
      <div class="modal-body">
        <div class="verify-content">
          <div class="heading text-center">Verify Information</div>
          <div class="checkbox">
            <input type="checkbox" value="" id="is_correct_information" name="is_correct_information" >
            <label for="is_correct_information">
              All the personal information I have entered is correct.
            </label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value="" id="is_participating_token_distribution" name="is_participating_token_distribution" >
            <label for="is_participating_token_distribution">
              I certify that I’m  participating in the token distribution event in the capacity of an individual (and benificial owner) and not as a representative (or agent) of a third party corporate entity (non natural Person)
            </label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value="" id="cannot_participate" name="cannot_participate" >
            <label for="cannot_participate">
              I understand that I can only participate in the token distribution event with the Ethereum Wallet Address that was entered in this form.
            </label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value="" id="i_agree_terms_conditions" name="i_agree_terms_conditions" >
            <label for="i_agree_terms_conditions">
              I agree to <a href="https://drive.google.com/file/d/0B1E_xJPbELBKeU9pUk5uSnNqWFU/view" title="Terms and Conditions" target="_blank">Terms and Conditions</a>.
            </label>
          </div>
          <div class="error" data-for="verify_error"></div>
          <button class="btn-common btn-gold verify-btn" title="Verify" id="kycVerify">Verify</button>
        </div>
        <div class="loader-content" style="display: none">
          <p class="status">Encrypting your data...</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 1%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>