<div id="verifyLinkModal" class="modal fade user-modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <div class="kyc-status-modal-error-icon"></div>
          <div class="heading" style="padding-bottom: 20px">Verification Link Issue</div>
          <div class="desc" style="padding-bottom: 30px">There seems to be an issue with the verification link, please click the Button Below to Generate a new link.</div>
          <button class="btn btn-primary verify-btn resendLink" title="SEND VERIFICATION LINK" id="errorVerificationLinkBtn">SEND VERIFICATION LINK</button>
        </div>
      </div>
    </div>
  </div>
</div>