<div id="verifyModal" class="modal fade user-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" style="opacity: 1;font-size: 18px;position: absolute;right: 12px;top: 15px;z-index: 1">
        <span aria-hidden="true" class="modal-close-black-icon" title="close"></span>
      </button>
      <div class="modal-body">
        <div class="verify-content form-group">
          <h4 class="mt-4 mb-4 text-center">I confirm the following</h4>
          <% kyc_checkbox_points_html.each_with_index do |line, index| %>
            <div class="checkbox mt-2">
              <input type="checkbox" id="p<%= index %>" name="p<%= index %>">
              <label for="p<%= index %>">
                <span class="">
                  <%= raw line%>
                </span>
              </label>
            </div>
          <% end %>
          <div class="error" data-for="verify_error"></div>
          <div class="col-12 text-center">
            <button class="btn btn-primary verify-btn mt-4" title="Verify" id="kycVerify">I Agree</button>
          </div>
        </div>
        <div class="loader-content" style="display: none">
          <p class="status">Encrypting your data...</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 1%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>