<request-state-handler class="d-block w-100 page-loader" [isProcessing]="isProcessing" [hasError]="hasError">
  <ng-container class="error-content">
    <div class="col-12">{{ errorMessage }}</div>
  </ng-container>
</request-state-handler>


<div class="profile-settings" *ngIf="!isProcessing && !hasError" >
  <div class="company-profile-info">
    <div class="row mt-4 pt-2 ">
      <div class="col-12 col-lg-6">
        <h4 class="kyc-header text-transform-upper">Account Information
          <span class="view-only py-1 px-2 d-inline-block"> View only</span>
        </h4>
      </div>
    </div>
    <div class="my-3 company-profile-header">
      Company Account Information
    </div>
    <div class="row mt-3">
      <div class="form-group col-12 col-md-5">
        <div class="form-label">
          client name
        </div>
        <div>
          <input disabled type="text" class="form-control" title="Client Name" [ngModel]="clientName"/>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="form-group col-12 col-md-5">
        <div class="form-label">
          domain Name
        </div>
        <div *ngIf="domainName || ! hasLoaded; else domainNA">
          <input disabled type="text" class="form-control" title="Domain Name" [ngModel]="domainName"/>
        </div>
        <ng-template #domainNA>
          <div>
            <input disabled type="text" class="form-control" title="Domain Name" value="NA"/>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="form-group col-12 col-md-5">
        <div class="form-label">
          SUPER ADMIN EMAIL ID
        </div>
        <div class="mb-3" *ngFor="let superAdminEmail of superAdminEmails">
          <input disabled type="text" class="form-control" title="Super Admin Email" [ngModel]="superAdminEmail"/>
        </div>
      </div>
    </div>
  </div>
</div>

