<request-state-handler class="d-block w-100 page-loader" [isProcessing]="isProcessing" [hasError]="hasError">
  <ng-container class="error-content">
    <div class="col-12">{{ errorMessage }}</div>
  </ng-container>
</request-state-handler>


<div class="profile-settings" *ngIf="!isProcessing && !hasError" >
  <div class="company-profile-info">
    <div class="row mt-4 pt-2 ">
      <div class="col-12 col-lg-6">
        <h4 class="kyc-header text-transform-upper">Account Information
          <span class="view-only py-1 px-2 d-inline-block"> View only</span>
        </h4>
      </div>
    </div>
    <div class="my-3 company-profile-header">
      Company Account Information
    </div>
    <div class="row mt-3">
      <div class="form-group col-12 col-md-5">
        <div class="form-label">
          client name
        </div>
        <div class="read-only-fields p-2">
          <small>{{clientName}}</small>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="form-group col-12 col-md-5">
        <div class="form-label">
          domain Name
        </div>
        <div class="read-only-fields p-2">
          <small *ngIf="domainName || ! hasLoaded; else domainNA">{{domainName}}</small>
          <ng-template #domainNA>
            <small >NA</small>
          </ng-template>
        </div>

      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="form-group col-12 col-md-5">
        <div class="form-label">
          SUPER ADMIN EMAIL ID
        </div>
        <div class="read-only-fields p-2 mb-2" *ngFor="let superAdminEmail of superAdminEmails">
          <small>{{superAdminEmail}}</small>
        </div>

      </div>
    </div>
  </div>
</div>

