@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";
.profile-settings{
  .company-profile-info{
    .kyc-header{
      color: $yellow-500;
    }
    .company-profile-header{
      letter-spacing: 1px;
    }
    .view-only{
      vertical-align: middle;
      color: $white;
      background-color: $green-1200;
      font-size: $text5-size;
    }
    .read-only-fields{
      overflow-x: auto;
      min-height: 42px;
      border-radius: 4px;
      background-color: $grey-bg;
      border: solid 1px $custom-grey-7;
        small{
          font-weight: 300;
        }
    }

  }


}
