<div class="mt-4"> 
    <div class="row" *ngIf="!showInviteUser" >
        <div class="col-6 invite-btn-wrap text-left">  
            <h4 class="text-transform-upper">USER DASHBOARD</h4>
        </div> 
        <div class="col-6" style="text-align: right;">
            <button class="btn btn-primary" (click)="showInviteUserSection()">Invite Users</button>
        </div>      
        <div class="col-12 user-table-wrap p-0 mt-4">
            <app-table [dataUrl]="'api/admin/admin-user/dashboard'">
                <user-dash-board-header class="header"></user-dash-board-header>    
                <ng-template #rowData let-row >
                    <user-dash-board-row [row]='row' 
                                         (deleteRowEvent) = "onDeleteRow( $event )"
                                         (resendInviteEvent) = "onResendInvite( $event )"
                                         (resetMfaEvent) = "onResetMfa( $event)" >
                    </user-dash-board-row>
                </ng-template>          
            </app-table>
        </div>    
    </div>      
    <invite-user *ngIf="showInviteUser"  (closeInviteUser)="hideInviteUserSection( $event )"></invite-user>
</div>

<delete-user-modal  (deleteUserSuccessEvent)="onDeleteRowSucces( $event )" 
                    [user]="user" [deleteUserApi]="'api/admin/admin-user/delete-admin'">
</delete-user-modal>

<resend-invite-modal  (resendInviteSuccessEvent)="onResendInviteSucces( $event )" 
                      [user]="user" [resendInviteApi]="'api/admin/admin-user/resend-invite'">
</resend-invite-modal>

<reset-mfa-modal  (resetMfaSuccessEvent)="onResetMfaSucces( $event )" 
                  [user]="user" [resetMfaApi]="'api/admin/admin-user/reset-mfa'">
</reset-mfa-modal>
