@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";

.invite-user-btn {
    @media (max-width: map-get($grid-breakpoints , 'lg')){
      float: left;
    }
    @media (min-width: map-get($grid-breakpoints , 'lg')){
      float: right;
    }
}

.kyc-header {
  .view-only{
    vertical-align: middle;
    color: $white;
    background-color: $green-1200;
    font-size: $text5-size;
  }
}

.temp-deploy-css{
  //Delete it whoever see's it first.
}
