<% content_for :gradient_class, "bg-gradient poRel height100vh" %>
<div class="errorPageContent container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-404-image.png" class="img-responsive" width="675"/>
      <div class="text-center">
        <h1 class="heading">page not found</h1>
        <div class="desc">It looks like you are lost!</div>
        <a href="/" class="homeBtn" title="Lets Get You Home">lets get you home</a>
      </div>
    </div>
  </div>
</div>

<div class="errorPageContent container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-500-image.png" class="img-responsive" width="585"/>
      <div class="text-center">
        <h1 class="heading">internal server error</h1>
        <div class="desc">The server Encountered an Error and could not complete your request. <br/><span>We are looking into this problem!</span>  </div>
        <a href="/" class="homeBtn" title="Lets Get You Home">lets get you home</a>
      </div>
    </div>
  </div>
</div>

