<div class="simple-token-form" >
  <div class="text-center" style="margin-top: 30px;">
    <span class="success-tick-green-icon"></span>
  </div>
  <h1 class="text-center form-header">Password Reset Successfully</h1>

  <div class="form-sub-header text-center" style="padding: 10px 0 30px">Please Click the link below to login to your
    <br/><%= @presenter_obj.account_name %> Account
  </div>
  <a href="/login" class="btn client-primary-btn form-btn-gold" title="return to login" tabindex="2">return to login</a>
</div>
