<div class="container-fluid dashboard-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1 class="header">Ethereum Deposit Address</h1>
        <fieldset class="ethereum-deposit-address">

          <input type="text" id="visible-input" class="copy-address-input" placeholder="Ethereum Deposit Address" value=""/>
          <input type="button" id="visible-button" class="btn-gold copy-address-button" value="Copy">

        </fieldset>
      </div>
      <div class="instructions text-center">
        Participation is only open for <span class="font500">for all registered users</span> Have questions please check the documentation below
        <a href="">Token Sale Guide</a>
      </div>
    </div>
  </div>
</div>


<% content_for :end_js do %>
  <script type="text/javascript">

  </script>
<% end %>