<div class="container-fluid dashboard-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1 class="header">Ethereum Deposit Address</h1>
        <fieldset class="ethereum-deposit-address">
          <input id="shorten_url" name="" type="text" class="copy-address-input" placeholder="Ethereum Deposit Address" value="" autocomplete="off" autocorrect="off" autocapitalize="off" autofocus="">
          <input id="shorten_btn" type="submit" class="btn-gold copy-address-button" value="COPY" data-toggle="tooltip" data-placement="top" data-trigger="manual">
        </fieldset>
      </div>
      <div class="instructions text-center">
        Participation is only open for <span class="font500">for all registered users</span> Have questions please check the documentation below
        <a href="">Token Sale Guide</a>
      </div>
    </div>
  </div>
</div>