<div class="text-center">
  <h1 class="header">Have Invested In the Token Sale Already? </h1>
  <a href="" class="btn-common btn-grey" style="margin: 30px 0 50px">CHECK YOUR BALANCE HERE</a>
</div>
<div class="container-fluid dashboard-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <div class="registration-timer">
          <h2>PUBLIC SALE OPENS IN</h2>
          <table class="countdown" data-countdown="1510703999000">
            <tr class="time">
              <td class="days">00</td>
              <td>:</td>
              <td class="hours">00</td>
              <td>:</td>
              <td class="minutes">00</td>
              <td>:</td>
              <td class="seconds">00</td>
            </tr>
            <tr class="labels">
              <td>Days</td>
              <td></td>
              <td>Hours</td>
              <td></td>
              <td>Mins</td>
              <td></td>
              <td>Secs</td>
            </tr>
          </table>
        </div>
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 30px auto;display: block;"/>
        <div class="panel panel-default kyc-panel default">
          <div class="panel-body">
            <span class="pull-left">KYC Verification</span>
            <a href="" class="pull-right">UPDATE INFO</a>
          </div>
        </div>
        <div class="panel panel-default kyc-panel error">
          <div class="panel-body">
            <span class="pull-left">Reserve Token Name</span>
            <a href="" class="pull-right">CHANGE NAME</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>