<div class="container-fluid dashboard-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1 class="header">This is Your Account Dashboard</h1>
        <div class="status-msg">Status : KYC Submitted</div>
        <div class="panel panel-default kyc-panel approved">
          <div class="panel-body">
            <span class="pull-left">
              <span class="kyc-status-icon-approved ver-middle"></span>
              <span class="ver-middle">KYC Verification</span>
            </span>
            <span class="pull-right">
              <a href="" class="ver-middle">UPDATE INFO</a>
            </span>
          </div>
        </div>
        <div class="panel panel-default kyc-panel denied">
          <div class="panel-body">
            <span class="pull-left">
              <span class="kyc-status-icon-denied ver-middle"></span>
              <span class="ver-middle">Reserve Token Name</span>
            </span>
            <span class="pull-right">
              <a href="" class="ver-middle">CHANGE NAME</a>
            </span>
          </div>
        </div>
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 30px auto;display: block;"/>
        <div class="registration-timer">
          <h2>PUBLIC SALE OPENS IN</h2>
          <table class="countdown" data-countdown="1510703999000">
            <tr class="time">
              <td class="days">00</td>
              <td>:</td>
              <td class="hours">00</td>
              <td>:</td>
              <td class="minutes">00</td>
              <td>:</td>
              <td class="seconds">00</td>
            </tr>
            <tr class="labels">
              <td>Days</td>
              <td></td>
              <td>Hours</td>
              <td></td>
              <td>Mins</td>
              <td></td>
              <td>Secs</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center have-question">
  <div class="question-txt">Have Question on the Token Sale? Check these Docs!</div>
  <a href="">TOKEN SALE GUIDE</a><a href="">WALLET SETUP GUIDE</a>
</div>
