<div class="simple-token-form">
  <h3 class="text-center mt-4">Check Your Inbox</h3>

  <h6 class="text-center">We have sent an email to <span id="emailSuccess"></span> please click on the <br/>Reset
    Password Button in the email to Activate your account
  </h6>
  <div class="user-form form-group">
    <div class="user-form-footer">
      <div class="create-account mb-2" tabindex="5">Did not receive the email yet?</div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <a href="javascript:void(0)" id="resendLink" class="btn btn-secondary" title="Re-send Email" tabindex="3">re-send
        email</a>
      <div class="success" id="successMessage"></div>

      <div class="error" data-for="general_error"></div>
    </div>
  </div>
</div>

