<div class="simple-token-form">
  <h3 class="text-center mt-5">Check Your Inbox</h3>
  <h6 class="text-center mt-4">Please check your email. If you have not received an email,<br/>please make sure that your
    email has not been typed incorrectly into the form and try again
  </h6>
</div>

