<div class="simple-token-form">
  <h1 class="text-center form-header">Check Your Inbox</h1>

  <div class="form-sub-header">We have sent an email to <span id="emailSuccess"></span> please click on the <br/>Reset
    Password Button in the email to Activate your account
  </div>
  <div class="user-form">
    <div class="user-form-footer">
      <div class="create-account" tabindex="5">Did not receive the email yet?</div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <a href="javascript:void(0)" id="resendLink" class="btn-common btn-grey form-btn-transparent" title="Re-send Email" tabindex="3">re-send
        email</a>
      <div class="success" id="successMessage"></div>

      <div class="error" data-for="general_error"></div>
    </div>
  </div>
</div>

