<div class="text-center">
  <h1 class="header">Public Token Sale Ended, Thank You for the overwhelming Response</h1>
  <a href="" class="btn-common btn-grey" style="margin: 30px 0 50px">CHECK YOUR BALANCE HERE</a>
</div>
<div class="container-fluid dashboard-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <div class="registration-timer">
          <h2>TOKEN SALE UPDATE</h2>
          <div style="font-weight: 500">Total Raised: 1216 ETH ($4,535,680)</div>
        </div>
      </div>
    </div>
  </div>
</div>