<div class="text-center">
  <h1 class="header">We are sorry to inform you that the Token Sale is Paused because of the your overwhelming response.</h1>
  <div class="status-msg">We will keep everyone registered updates on the progress and send an email as soon as the sale starts again </div>
</div>
<div class="container-fluid dashboard-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <div class="registration-timer">
          <h2>TOKEN SALE PROGRESS</h2>
          <%= render :partial => "/shared/web/common/token_sale_progress" %>
          <div style="font-weight: 500">Raised: 1216 ETH ($4,535,680)</div>
          <div style="font-weight: 500">Avialable: 200 ETH ($332,998)</div>
          <div style="font-weight: 500">Ratio: 1 Simple Token = 0.01 ETH</div>
        </div>
      </div>
    </div>
  </div>
</div>