<% content_for :gradient_class, "bg-gradient poRel height100vh" %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-mobile.png" width="211"/>
      </div>

      <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-circle selected">1</a>
          </div>
          <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
          </div>
        </div>
      </div>

      <div class="simple-token-form">
        <h1 class="text-center form-header">Enter a name for your token. If it’s available, <br/>we’ll reserve it for you.</h1>
        <form class="user-form" method="POST" action="/api/user/bt-submit" id="userBtForm">
          <div class="form-group">
            <label for="token_name">token name</label>
            <input type="text" name="bt_name" id="token_name" class="form-control" autofocus tabindex="1">
          </div>
          <div class="form-instructions text-center" style="max-width: 350px">
            All name reservations are subject to approval from the OpenST Foundation and Trademark rights. For more details <a href="">click here</a> for <a href="">terms and conditions</a> of name reservations.
          </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <div class="user-form-footer" style="margin-top: 20px">
            <button type="submit" id="btSkip" title="skip" class="btn-common btn-grey upload-image-btn" tabindex="5">skip</button>
            <button type="submit" id="btSubmit" class="btn-common btn-gold upload-image-btn" title="done" tabindex="6">done</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
<%= render :partial => "/shared/web/common/footer" %>