<% content_for :gradient_class, "bg-gradient poRel" %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/" title="Simple Token">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/simple-token-dashboard-logo-1x.png" width="202" alt="Simple Token Logo"/>
        </a>
      </div>
      <div class="simple-token-form" id="changePassword">
        <h1 class="text-center form-header">Change Your Password</h1>
        <form class="user-form" method="POST" action="/api/user/reset-password" id="changePasswordForm">
          <div class="form-group">
            <label for="password">password</label>

            <div style="position: relative">
              <input type="password" name="password" id="password" value="" class="form-control" tabindex="1" autocomplete="off"/>
              <span class="input-group-addon showhide-addon" id="showhide-password"><span class="show-password-eye-icon"></span></span>
            </div>
            <div class="zxcvbn-group"></div>
            <div class="error" data-for="password"></div>
          </div>
          <input hidden name="r_t" value="<%= params[:r_t] %>"/>

          <div class="form-group">
            <label for="confirm_password">confirm password</label>
            <input type="password" name="confirm_password" id="confirm_password" value="" class="form-control" tabindex="2" autocomplete="off"/>
            <div class="error" data-for="confirm_password"></div>
          </div>
          <div class="user-form-footer">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <button type="submit" class="btn btn-gold form-btn-gold" id="resetBtn" title="Reset Password" tabindex="3">reset password</button>
            <div class="error" data-for="general_error"></div>
          </div>
        </form>
      </div>

      <div id="changePasswordSuccess" hidden>
        <%= render :partial => "/web/user/change_password_success" %>
      </div>

    </div>
  </div>
</div>