<% content_for :gradient_class, "bg-gradient" %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/" title="Simple Token">
          <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-mobile.png" width="211"/>
        </a>
      </div>
      <div class="simple-token-form">
        <div class="text-center" style="margin-top: 30px;">
          <span class="success-tick-icon"></span>
        </div>
        <h1 class="text-center form-header">Password Reset Successfully</h1>
        <div class="form-sub-header text-center" style="padding: 10px 0 30px">Please Click the link below to login to you <br/>Simple Token Account</div>
        <a href="" class="btn btn-gold form-btn-gold" title="return to login" tabindex="2">return to login</a>
      </div>
    </div>
  </div>
</div>