<% content_for :gradient_class, "bg-gradient poRel height100vh" %>
<div class="container-fluid sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-mobile.png" width="211"/>
      </div>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Login to Simple Token</h1>
        <form class="user-form" method="POST" action="/api/user/login" id="userLoginForm">
          <div class="form-group">
            <label for="email">email address</label>
            <input type="text" name="email" id="email" value="" class="form-control" autofocus tabindex="1">
            <span id="err_email" class="error"></span>
          </div>
          <div class="form-group">
            <label for="password">password</label>
            <div class="input-group">
              <input type="password" name="password" id="password" value="" class="form-control" tabindex="2" />
              <span class="input-group-addon"><span class="show-password-eye-icon"></span></span>
            </div>
            <a href="" title="Forgot password?" class="forgot-password" tabindex="3">Forgot password?</a>
            <span id="err_password" class="error"></span>
          </div>
          <div class="user-form-footer">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <button type="submit" class="btn btn-gold form-btn-gold" id="userLogin" title="LOGIN" tabindex="4">login</button>
          </div>
          <!--<img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 30px auto;display: block;"/>-->
          <div class="user-form-footer">
            <div class="create-account" tabindex="5">Don’t Have an Account Yet?</div>
            <a href="/sign-up" class="btn-common btn-grey form-btn-transparent" id="" title="Register To Participate" tabindex="6">register to participate</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "/shared/web/common/footer" %>