<% content_for :gradient_class, "bg-gradient poRel height100vh" %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/" title="Simple Token">
          <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-mobile.png" width="211"/>
        </a>
      </div>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Reset Password</h1>
        <div class="form-sub-header">Enter your email address to receive the link to reset your password</div>
        <form class="user-form" method="" action="" id="userSignupForm">
          <div class="form-group">
            <label for="email">email address</label>
            <input type="text" name="email" id="email" value="" class="form-control" autofocus tabindex="1">
            <span id="err_email" class="error"></span>
          </div>
          <div class="form-group user-form-footer">
            <button type="submit" class="btn btn-gold form-btn-gold" title="Recover" tabindex="2">Recover</button>
          </div>
        </form>
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 30px auto;display: block;"/>
        <div class="user-form-footer">
          <a href="" class="btn-common btn-grey form-btn-transparent" title="Return To Login" tabindex="3">return to login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "/shared/web/common/footer" %>