<% content_for :gradient_class, "bg-gradient poRel" %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/" title="Simple Token">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/simple-token-dashboard-logo-1x.png" width="202" alt="Simple Token Logo"/>
        </a>
      </div>

        <div class="simple-token-form" id="resetPassword">
          <h1 class="text-center form-header">Reset Password</h1>

          <div class="form-sub-header text-center">Enter your email address to receive the link to reset your password</div>

          <form class="user-form" method="POST" action="/api/user/send-reset-password-link" id="userPasswordResetForm">
            <div class="form-group">
              <label for="email">email address</label>
              <input type="text" name="email" id="email" value="" class="form-control" autofocus tabindex="1" autocomplete="off"/>

              <div class="error" data-for="email"></div>
            </div>
            <div class="form-group user-form-footer">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <button id="recoverPassword" type="submit" class="btn btn-gold form-btn-gold" title="Recover" tabindex="2">Recover</button>
              <div class="error" data-for="general_error"></div>
            </div>
          </form>

          <div class="user-form-footer">
            <a href="/login" class="btn-common btn-grey form-btn-transparent" title="Return To Login" tabindex="3">return
              to login</a>
          </div>

        </div>

        <div id="resetPasswordSuccess" hidden>
          <%= render :partial => "/web/user/reset_password_success" %>
        </div>

    </div>
  </div>
</div>