<div style="padding-top:50px;text-align:center">
  <span style="font-size:35px;color: black;">The country you are in is not entitled to participate in the ST token sale and therefore your current IP is blacklisted.
    Please refer to the <a href="https://simpletoken.org/terms" style="color: black;">Terms and Conditions page.</a></span>
</div>