<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>

    body {
      text-align: center;
    }

    .errorPageContent{
      min-height: calc(100vh - 60px);
      max-width: 640px;
      padding: 30px 0;
      margin: 0 auto;
    }

    img {
      padding-top: 50px;
      margin: 0 auto;
    }

    .homeBtn {
      padding: 15px 40px;
    }

  </style>
</head>

<body>

<div class="errorPageContent">
  <div class="errorPageContentInner">

    <%= render :partial => "/shared/web/common/kycaas_logo_header" %>

    <h4 class="mt-4 p-2">The IP you are trying to connect is blocked.</h4>
    <div class="pr-4  pl-4">The country you are in is not eligible to participate in the token sale and therefore your
      current IP is blocked. Please refer to the Terms and Conditions page.
    </div>
    <% if @presenter_obj.terms_and_conditions.present? %>
      <a href="<%= raw @presenter_obj.terms_and_conditions %>" target="_blank" class="btn btn-primary homeBtn mt-5" title="Lets Get You Home">terms
        and conditions</a>
    <% end %>
  </div>
</div>
</body>
</html>