<% content_for :gradient_class, "bg-gradient" %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <a href="/" title="Simple Token">
          <img src="//d3attjoi5jlede.cloudfront.net/simpletoken/logo/logo-with-tagline-mobile.png" width="211"/>
        </a>
      </div>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Check Your Inbox</h1>
        <div class="form-sub-header">We have sent an email to prineel@pepo.com please click on the <br/>Reset Password Button in the email to Activate your account</div>
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 30px auto;display: block;"/>
        <form class="user-form" method="" action="" id="">
          <div class="user-form-footer">
            <a href="" title="Did not receive the email yet?" class="create-account" tabindex="5">Did not receive the email yet?</a>
            <a href="" class="btn-common btn-grey form-btn-transparent" title="re-send verification link" tabindex="3">re-send verification link</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>