<% content_for :gradient_class, "bg-gradient poRel height100vh" %>
<div class="container sign-up-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" width="211"/>
      </div>
      <div class="simple-token-form">
        <h1 class="text-center form-header">Check Your Inbox</h1>
        <div class="form-sub-header">We have sent an email to <%= @user["email"] %> please click on the <br/>Reset Password Button in the email to Activate your account</div>
        <div class="user-form">
          <div class="user-form-footer">
            <div class="create-account" tabindex="5">Did not receive the email yet?</div>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <a href="javascript:void(0)" id="resendLink" class="btn-common btn-grey form-btn-transparent" title="Re-send Verification Link" tabindex="3">re-send verification link</a>
            <div class="error" data-for="general_error"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "/shared/web/common/footer" %>