
<div>
  <div class="modal fade" id="confirmation-modal" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg h-100 my-0 pb-5">
      <div class="modal-content">
        <div class="modal-body p-5">
          <div class='row' *ngIf="!isSuccess">
            <div class="text-center col-12">
              <h5 class="my-4">
                <ng-content select=".confirm-message"></ng-content>
              </h5>
            </div>
            <div class="col-12 mb-4 form-group text-center">
              <button class="btn btn-secondary px-5" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary px-5 ml-xl-3" (click)="callBack()">{{btnText}}</button>
              <div class="pt-2">
                <ost-form-error-handler [errorFor]="'general_error'" [serverError]="errorResponse" ></ost-form-error-handler>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="isSuccess">
            <div class="col-12 success-hanlder-wrap text-center" >
              <div class="success-icon-wrap my-2">
                <svg class="icon" style="width:50px; height: 50px">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon">
                    </use>
                  </switch>
                </svg>
              </div>
              <div class="mb-3">
                <ng-content select=".success-content"></ng-content>
              </div>
              <button class="btn mb-3 btn-primary" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



