
<div class="row py-4" routerLink="/admin/case-id/{{row.id}}">
    <div class="col pl-5 name-date">
        <div class="name">
        {{row.name}}
        </div>
        <div class="date">
         {{row.kyc_confirmed_at * 1000 | date: 'dd/MM/yyyy hh:mm'}}
        </div>
      </div>
    <div class="col">
      {{row.admin_status}}
    </div>
    <div class="col">
      {{row.cynopsis_status}}
    </div>
    <div class="col">
       {{row.whitelist_status}}
    </div>
    <div class="col">
       {{row.country}}
    </div>
    <div class="col">
        {{row.nationality}}
    </div>
    <div class="col">
        {{row.submission_count}}
    </div>
    <div class="col duplicate-status">
        <div *ngIf="row.is_duplicate;else original">
            Duplicate
        </div>

        <ng-template #original><div class="original-span"></div> <div>Original</div></ng-template>

    </div>
    <div class="col">
        <div *ngIf="row.last_acted_by; else elseBlock">
            {{row.last_acted_by}}

         </div>
         <ng-template #elseBlock>
           <div>
            --
           </div>
         </ng-template>

      </div>
</div>

