<div class="update-eth-address">
<h4>Update Eth Address</h4>
<hr />
<div class="row">
    <div class="col-12 col-sm-6 form-group">
        <form #updateEthAdressForm="ngForm">
            <div class="form-group">
                <label class="form-label">Enter Eth address</label>
                <input type="text" name="address" class="form-control" (keyup)="onKey($event)"  ngModel>
              </div>
        </form>
       <div >
          <span class='error d-block mb-1' >{{errorMsg}}</span>
          <button type="button" class="btn btn-primary text-uppercase mb-2 mr-2"  (click)=updateEthAddress(updateEthAdressForm)>{{updateMsg}}</button>
          <button type="button" class="btn btn-secondary text-uppercase mb-2" (click)="hideEthAddress()">Cancel</button>
       </div>
    </div>
  </div>
 </div>
