
<div class="request-handler-wrapper" *ngIf="isRequestStatus()">
  <div class="processing-hanlder-wrap text-center" *ngIf="isProcessing">
    <div class="loader-icon-wrap">
      <img class="img-fluid" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif"/>
    </div> 
    <ng-content select=".processing-content"></ng-content>
  </div>  

  <div class="error-hanlder-wrap text-center" *ngIf="hasError">
      <div class="error-icon-wrap" *ngIf="isErrorIcon">  
        <svg class="svg">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-error-icon"></use>
            </switch>
          </svg>
      </div> 
      <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
      <ng-content select=".error-content"></ng-content>
  </div>  

  <div class="warning-hanlder-wrap text-center" *ngIf="hasWarning">
      <div class="warning-img" *ngIf="isWarningIcon">
        <svg class="svg">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-error-icon"></use>
            </switch>
          </svg>
      </div> 
      <div class="warning-message" *ngIf="warningMessage">{{noResultMessage}}</div>
      <ng-content select=".warning-content"></ng-content>
  </div>  
</div>  