@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";

.request-handler-wrapper {
    .img-fluid, .svg{
        width: 40px;
        height: 40px;
    }
}

:host(.smaller) {
    .request-handler-wrapper {
        padding: 0;
        .img-fluid, .svg{
            width: 20px;
            height: 20px;
        }
    }
}
