@import "../variables";

$icon-dimension : 18px !default;


// HTML and Body styling
html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: $bottom-footer-height;

  .bg-gradient{
    background: linear-gradient(to bottom, $custom-gray-1 0%, $white 135px, $white 100%);
  }

  .display-none {
    display: none;
  }

  .info-icon{
    height: $icon-dimension;
    width: $icon-dimension;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
  }

  .container-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $bottom-footer-height;
    font-size: $text3-size;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing * 1.3;
    text-align: center;
    padding: 20px 10px;
    color: $custom-gray-6;
    background: $custom-gray-2;

    @media (max-width: map-get($grid-breakpoints, "md")) {
      font-size: 10px;
    }

    a,
    a:hover,
    a:active{
      color: $custom-gray-6;
      border-bottom: 1px solid $custom-gray-6;
      text-decoration: none;
    }
  }

}