@import "../variables";


// HTML and Body styling
html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: $bottom-footer-height;

  .bg-gradient{
    background: linear-gradient(to bottom, $custom-gray-1 0%, $white 135px, $white 100%);
  }

  .display-none {
    display: none;
  }

  .instructions-icon{
    background: $green-500;
    cursor: pointer;
    color: $white;
    padding: 0;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    span{
      font-size: 0.85rem;
      line-height: 18px;
    }
  }

}