@import "../variables";


// HTML and Body styling
html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: $bottom-footer-height;

  .bg-gradient{
    background: linear-gradient(to bottom, $custom-gray-1 0%, $white 135px, $white 100%);
  }

  .display-none {
    display: none;
  }

  .info-icon{
    cursor: pointer;
    padding: 0;
    height: 18px;
    width: 18px;
    vertical-align: middle;
  }

  .navbar-simpletoken{
    .navbar-toggler{
      background-color: #f4f8f9;
      margin: 0;
      border: 0;
      border-radius: 0;
      padding: 17px;
      &:focus{
        outline: none;
      }
      .icon-bar{
        display: block;
        width: 26px;
        height: 2px;
        border-radius: 1px;
        margin: 5px 0;
        background-color: #34445b;
      }
    }
    @media (max-width: 767px){
      .navbar-collapse {
        background-color: #f4f8f9;
      }
    }
  }

}