
a {
  border-bottom: solid 1px $blue-800;
  &:hover, &:active {
    border-bottom: 1px solid $yellow-500;
  }
}

.border-none {
  border-bottom: none;
  &:hover, &:active {
    border-bottom: none;
  }
}