<div class="container-press container-binance">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">

        <div class="row text-center">
          <h2 class="header">OST Token</h2>
          <p class="desc">Did you miss our token sale? Need to buy more OST? Here are some recommended places to purchase OST.</p>
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/st-company/images/binance-logo@3x.png" alt="Binance Logo" width="202"/>
          <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/documents" class="btn-square gold" title="Buy More OST">buy more ost</a>
        </div>

      </div>

    </div>

  </div>

</div>