<div class="container-press">

  <div class="container">

    <div class="row">
      <h2>In the News</h2>
      <div class="col-xs-12 col-md-8 col-md-offset-2">

        <div class="row">

          <ul class="bit-more-sponsors">
            <li class="col-xs-12 col-sm-4 text-center">
              <a href="https://epicenter.tv/episode/204/" title="Epic Enter" target="_blank">
                <span class="epic-enter-logo"></span>
              </a>
            </li>
            <li class="col-xs-12 col-sm-4 text-center">
              <a href="https://finance.yahoo.com/video/bitcoin-may-stiff-competition-142955745.html" title="Yahoo Finance" target="_blank">
                <span class="yahoo-finance-logo"></span>
              </a>
            </li>
            <li class="col-xs-12 col-sm-4 text-center">
              <a href="http://blocktribune.com/simple-tokens-aims-keep-tokening-simple-ico-soon/" title="Block Tribune" target="_blank">
                <span class="block-tribune-logo"></span>
              </a>
            </li>
          </ul>
          <ul class="bit-more-sponsors">
            <li class="col-xs-12 col-sm-4 text-center">
              <a href="https://www.smithandcrown.com/sale/simple-token/" title="Smith Crown" target="_blank">
                <span class="smith-crown-logo"></span>
              </a>
            </li>
            <li class="col-xs-12 col-sm-4 text-center">
              <a href="https://www.chipin.com/simple-token-blockchain-app-tokens/" title="Chipin" target="_blank">
                <span class="chipin-logo"></span>
              </a>
            </li>
            <li class="col-xs-12 col-sm-4 text-center">
              <a href="http://icorating.com/project/594/Simple-Token/review" title="Icorating" target="_blank">
                <span class="icorating-logo"></span>
              </a>
            </li>
          </ul>
          <ul class="bit-more-sponsors">
            <li class="col-xs-12 col-sm-4 text-center">
              <a href="https://itsblockchain.com/simpletoken/" title="Blockchain Blog" target="_blank">
                <span class="blockchain-blog-logo"></span>
              </a>
            </li>
            <li class="col-xs-12 col-sm-4 text-center">
              <a href="https://btcmanager.com/building-bridge-cryptocurrencies-main-street/" title="BTCMANAGER" target="_blank">
                <span class="btc-manager-logo"></span>
              </a>
            </li>
            <li class="col-xs-12 col-sm-4 text-center">
              <a href="https://venturebeat.com/2017/10/31/take-off-your-bitcoin-blinders-theres-no-right-way-to-use-blockchain/" title="VentureBeat" target="_blank">
                <span class="venture-beat-logo"></span>
              </a>
            </li>
          </ul>

        </div>

        <div class="row text-center">
          <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/documents" class="btn-square transparent" title="See All In News">see all in news</a>
        </div>

      </div>

    </div>

  </div>

</div>