<div class="container-press" id="latestupdates">

  <div class="container">

    <div class="row">

        <div class="col-xs-12">

          <div class="latest-updates-carousel" style="opacity: 0"></div>

        </div>

    </div>

  </div>

</div>


<script type="custom" id="latest-update-carousel-item">
    <div class="carousel-item">
      <div class="thumbnail">
        <a href="__link__" target="_blank">
          <img src="__image__" alt="__title__" style="width: 100%;">
          <div class="caption">
            <h4>__title__</h4>
          </div>
        </a>
      </div>
    </div>
</script>