<% img_path="//d36lai1ppm9dxu.cloudfront.net/assets/st-company/images" %>
<div class="container-fluid container-benefits" id="simple_token_technology_benefits">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">
              <img src="<%=img_path%>/benefits-transparent@2x.png" class="img-responsive" width="40" alt="SimpleToken Technology Benefits - User Transparent"/>
              <h3>User Transparent</h3>
              <p>
                Simple Token lets you design a unique experience. Brand your token, set desired exchange rates and allowable fluctuations, setup various transaction types and user incentives.
              </p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
              <img src="<%=img_path%>/benefits-scalable@2x.png" class="img-responsive" width="40" alt="SimpleToken Technology Benefits - Scalable"/>
              <h3>Scalable</h3>
              <p>
                It’s your economy, we give you the tools to manage it. Simple Token includes world class monitoring, analytics, macro and micro economy trends, fraud detection.
              </p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
              <img src="<%=img_path%>/benefits-flexible@2x.png" class="img-responsive" width="40" alt="SimpleToken Technology Benefits - Flexible"/>
              <h3>Flexible</h3>
              <p>
                It’s your economy, we give you the tools to manage it. Simple Token includes world class monitoring, analytics, macro and micro economy trends, fraud detection.
              </p>
            </div>

          </div> <!-- Sub Row Ending -->
        </div> <!-- Col Ending -->
      </div> <!-- row ending -->
    </div>
  </div>
  <div style="margin-bottom:35px"></div>
</div> <!-- container-fluid ending -->
