<% img_path="https://d36lai1ppm9dxu.cloudfront.net/assets/st-company/images" %>
<section class="container-fluid" id="technology">
  <div class="row container-technology">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="side-by-side-content">
          <div class="col-xs-12 col-sm-6">
            <div class="header">Technology H1</div>
            <div class="copy">
              <p class="desc">Focus on your users and your marketplace rather than on learning and developing blockchain infrastructure. Leverage the Simple Token protocols to easily tokenize your app.</p>
            </div>
            <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/" class="btn-square gold" title="CTA DEV PAGE" style="margin-left: 0">CTA DEV PAGE</a>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="image">
              <img src="<%= img_path %>/technology-image@3x.png" class="img-responsive" alt="SimpleToken - Technology" srcset="<%= img_path %>/technology-image@3x.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>