<section class="container-fluid container-token-allocation" id="technology">

  <div class="row">
    <div class="use-of-assets">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="row">
            <div class="side-by-side-content">
              <div class="col-xs-12 col-sm-6">
                <div class="copy">
                  <p class="desc">Focus on your users and your marketplace rather than on learning and developing blockchain infrastructure. Leverage the Simple Token protocols to easily tokenize your app.</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="image">
                  <img src="http://developmentsimpletoken.com:3000/technology-image@21x.png" class="img-responsive" alt="Use of Proceeds" title="Use of Proceeds" srcset="http://developmentsimpletoken.com:3000/technology-image@2x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</section>