@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";
.form-configurator {
  .form-configurator-info {
    .kyc-header {
      color: $yellow-500;
    }
    .content{
      white-space: pre-line;
      letter-spacing: 1px;
    }
    .bottomSection{
      border-top: 1px solid #d3e3e5;
    }
  }
}
