<div class="form-configurator">
  <div class="form-configurator-info">
    <div class="row mt-4 pt-2 ">
      <div class="col-12 col-lg-6">
        <h4 class="kyc-header text-transform-upper">Form Configurator</h4>
      </div>
    </div>

    <div *ngIf="appConfig.getEnvironment() == 'production'">
      <div class="row mt-4 content pl-3">
        KYC CMS (Content Management System) is created to empower you to tailor the KYC experience for your users as per your requirement.

        Here, you can make the changes you desire, and click on ‘Save to Preview’ to view the changes made.

        Please note that there is no live preview available, hence the you will need to use the button ‘Save to Preview’ to see the changes.

        Once you’re done making the required changes, please copy the link of each page and share it with the Super Admin. The Super Admin will be able to publish the changes to Sandbox.
      </div>
        <form class="mt-4">
          <div class="row">
            <div class="form-group col-12 col-md-5">
              <label class="form-label" for="sandboxApiKey">Sandbox Api Key</label>
              <input type="text" class="form-control api-key" id="sandboxApiKey">
            </div>
          </div>
          <div class="row">
            <div class="form-group mt-3 col-12 col-md-5">
              <label class="form-label" for="sandboxApiSecret">Sandbox Api Secret</label>
              <input type="text" class="form-control api-secret" id="sandboxApiSecret">
            </div>
          </div>
        </form>
      <button class="btn btn-primary mt-5 mb-3 mb-xl-0">Import from sandbox and publish</button>
    </div>

    <div *ngIf="appConfig.getEnvironment() == 'staging'">
      <div class="row mt-4 content pl-3">
        KYC CMS (Content Management System) is created to empower you to tailor the KYC experience for your users as per your requirement.

        Here, you can make the changes you desire, and click on ‘Save to Preview’ to view the changes made.

        Please note that there is no live preview available, hence the you will need to use the button ‘Save to Preview’ to see the changes.

        Once you’re done making the required changes, please copy the link of each page and share it with the Super Admin. The Super Admin will be able to publish the changes to Sandbox.
      </div>
      <button class="btn btn-primary mt-5 mb-3 mb-xl-0">Go to form configurator</button>
    </div>
  </div>
</div>

