<div class="container container-architecture-parts">

  <div class="row">

    <div class="parts-container text-center">

      <div class="part-connector"></div>

      <div data-part="bt" class="part-wrapper active">
        <div class="part-outer">
          <div class="part">
            <svg class="svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bt"></use>
              </switch>
            </svg>
          </div>
        </div>
        <span class="title">Mint <br />Branded <br />Token</span>
      </div>

      <div data-part="ut" class="part-wrapper">
        <div class="part-outer">
          <div class="part">
            <svg class="svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ut"></use>
              </switch>
            </svg>
          </div>
        </div>
        <span class="title">Grow <br />Your <br />Economy</span>
      </div>

      <div data-part="stn" class="part-wrapper">
        <div class="part-outer">
          <div class="part">
            <svg class="svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-stn"></use>
              </switch>
            </svg>
          </div>
        </div>
        <span class="title">Benefit from <br />Network <br />Effects</span>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">

        <div class="part-description text-center">

          <div class="part-static">
            <div data-part="bt" class="part-content bt">
              <p class="lead">Launch your own branded digital currency, powered by Simple Tokens. The OpenST protocol enables you to mint your Branded Tokens on open scaleable side blockchains, in a cryptographically auditable manner. </p>
              <img class="no-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage1-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage1-2x.png 1000w" alt="Simple Token Mint Branded Token Image"/>
              <img class="only-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage1-mobile-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage1-mobile-2x.png 1000w" alt="Simple Token Mint Branded Token Image"/>
            </div>
            <div data-part="ut" class="part-content ut" style="display: none">
              <p class="lead">Use your brand’s tokens to incentivize user behavior, reward customer contributions, and create a vibrant digital economy.</p>
              <img class="no-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage2-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage2-2x.png 1000w" alt="Simple Token Grow Your Economy Image"/>
              <img class="only-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage2-mobile-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage2-mobile-2x.png 1000w" alt="Simple Token Grow Your Economy Image"/>
            </div>
            <div data-part="stn" class="part-content stn" style="display: none">
              <p class="lead">Customers can earn tokens from one brand and spend them with another. The more companies building on Simple Token, the more everyone benefits!</p>
              <img class="no-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage2-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage3-2x.png 1000w" alt="Simple Token Benefit from Network Effects Image"/>
              <img class="only-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage2-mobile-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage3-mobile-2x.png 1000w" alt="Simple Token Benefit from Network Effects Image"/>
            </div>
          </div>

        </div>

    </div>

  </div>

  <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 35px auto 30px;display: block;">

</div>