<div class="container container-architecture-parts">

  <div class="row">

    <div class="parts-container text-center">

      <div class="part-connector"></div>

      <div data-part="bt" class="part-wrapper active">
        <div class="part-outer">
          <div class="part">
            <svg class="svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bt"></use>
              </switch>
            </svg>
          </div>
        </div>
        <span class="title">Branded<br/> Token</span>
      </div>

      <div data-part="ut" class="part-wrapper">
        <div class="part-outer">
          <div class="part">
            <svg class="svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ut"></use>
              </switch>
            </svg>
          </div>
        </div>
        <span class="title">Users &amp;<br/> Transaction</span>
      </div>

      <div data-part="stn" class="part-wrapper">
        <div class="part-outer">
          <div class="part">
            <svg class="svg">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-stn"></use>
              </switch>
            </svg>
          </div>
        </div>
        <span class="title">Simple Token<br/> Network</span>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">

        <div class="part-description text-center">

          <div class="part-static">
            <div data-part="bt" class="part-content bt">
              <p class="lead">Member Companies can stake Simple Token on the OpenST platform to create their own Branded Token in their consumer application.</p>
              <img class="no-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage1-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage1-2x.png 1000w"/>
              <img class="only-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step2-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step2-2x.png 1000w"/>
            </div>
            <div data-part="ut" class="part-content ut" style="display: none">
              <p class="lead">Users can earn and spend Branded Tokens within the consumer application by providing services to other users.</p>
              <img class="no-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage2-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage2-2x.png 1000w"/>
              <img class="only-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step3-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step3-2x.png 1000w"/>
            </div>
            <div data-part="stn" class="part-content stn" style="display: none">
              <p class="lead">Simple Token powers a network of networks where users can seamlessly transact across different applications.</p>
              <img class="no-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage2-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-stage3-2x.png 1000w"/>
              <img class="only-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step4-1x.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-step4-2x.png 1000w"/>
            </div>
          </div>

        </div>

    </div>

  </div>

</div>