<div class="container container-code">

  <div class="row">
    <div class="col-xs-12">
      <h2 class="heading">OpenST Source Code</h2>
    </div>
  </div>

  <div class="row">
    <div class="github">
        <div class="col-xs-12 col-sm-4">
          <h3>OpenST-Protocol</h3>
          <p>
            The smart contracts that implement the core of the protocol.
            These contracts enable a member company to stake value on Ethereum and in a cryptographically auditable way mint branded tokens on a utility side-chain.
            Available under Apache License 2.0.
          </p>
          <a href="https://github.com/OpenSTFoundation/openst-protocol" target="_blank" class="btn-common btn-github">
            <span>View on Github</span>
            <span class="social-github-icon-small"></span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3>OpenST-Platform</h3>
          <p>
            The web3 extension and API’s for any company to integrate their branded tokens into their consumer application. Available under GNU LGPLv3 license.
          </p>
          <a href="https://github.com/OpenSTFoundation/openst-platform" target="_blank" class="btn-common btn-github">View on Github <span class="social-github-icon-small"></span></a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3>Simple Token Sale</h3>
          <p>
            SimpleTokenSale is the OpenST smart contract repository for the ST public token sale. Available under the MIT License.
          </p>
          <a href="https://github.com/OpenSTFoundation/SimpleTokenSale" target="_blank" class="btn-common btn-github">View on Github <span class="social-github-icon-small"></span></a>
        </div>
    </div>
  </div>

</div>