<div class="container container-features">

  <div class="row feature">
    <div class="col-sm-6 col-left no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-token-design.png" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Token Design</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-token-design.png" class="img-responsive only-mobile" />
      <p class="desc">
        Setup your token brand. Set an exchange rate for your branded tokens to Simple Token. Enable custom token types and restricted tokens.
      </p>
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left col-text">
      <h2>Identity</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-identity.png" class="img-responsive only-mobile" />
      <p class="desc">
        Tools to help you monitor your users and prevent fraudulent behavior. Know-Your-Customer (KYC) services to ensure compliance with local regulations.
      </p>
    </div>
    <div class="col-sm-6 col-right no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-identity.png" class="img-responsive" />
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-wallet.png" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Wallet</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-wallet.png" class="img-responsive only-mobile" />
      <p class="desc">
        User-friendly wallet designs that can be easily re-skinned and customized to suit your economy. Key management. Transaction history.
      </p>
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left col-text">
      <h2>Transactions</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-transactions.png" class="img-responsive only-mobile" />
      <p class="desc">
        Enable various transaction types, such as: User incentives, customer rewards, peer-to-peer, business to consumer, recurring subscriptions, API monetization, and more!
      </p>
    </div>
    <div class="col-sm-6 col-right no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-transactions.png" class="img-responsive" />
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-ledger.png" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Ledger</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-ledger.png" class="img-responsive only-mobile" />
      <p class="desc">
        Offer your customers user-friendly ledgers to track and audit transactions. Fully browsable and searchable, always immutable.
      </p>
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left col-text">
      <h2>Rights Management</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-rights.png" class="img-responsive only-mobile" />
      <p class="desc">
        Use your token to convey and track digital rights, copyrights, and allowable uses. Enable digital contracts attached to token transactions.
      </p>
    </div>
    <div class="col-sm-6 col-right no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-rights.png" class="img-responsive" />
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-admin.png" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Administration</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-admin.png" class="img-responsive only-mobile" />
      <p class="desc">
        Critical tools for your teams to manage your users and economy. Monitor supply and demand, and how users are earning and spending of your token. Fraud early warning alerts. Analytics and reports.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="cta-group">
        <div class="col-xs-12 col-sm-6">
            <div class="cta-primary">
              <a href="" class="btn-common btn-gold">Get Started</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="cta-secondary">
              <a href="/documents" class="btn-common btn-grey">Get the Docs</a>
            </div>
        </div>
    </div>
  </div>

</div>