<div class="container container-features">

  <div class="row feature">
    <div class="col-sm-6 col-left no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-token-design.png" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Token Design</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-token-design.png" class="img-responsive only-mobile" />
      <p class="desc">
        Focus on your users and your marketplace rather than on learning and developing blockchain infrastructure. Leverage the Simple Token protocols to easily tokenize your app.
      </p>
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left col-text">
      <h2>Identity</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-identity.png" class="img-responsive only-mobile" />
      <p class="desc">
        Simple Token lets you design a unique experience. Brand your token, set desired exchange rates and allowable fluctuations, setup various transaction types and user incentives. You own the experience from end to end.
      </p>
    </div>
    <div class="col-sm-6 col-right no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-identity.png" class="img-responsive" />
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-wallet.png" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Wallet</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-wallet.png" class="img-responsive only-mobile" />
      <p class="desc">
        It’s your economy, we give you the tools to manage it. Simple Token includes world class monitoring, analytics, macro and micro economy trends, fraud detection and prevention, and security.
      </p>
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left col-text">
      <h2>Transactions</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-transactions.png" class="img-responsive only-mobile" />
      <p class="desc">
        Simple Token lets you design a unique experience. Brand your token, set desired exchange rates and allowable fluctuations, setup various transaction types and user incentives. You own the experience from end to end.
      </p>
    </div>
    <div class="col-sm-6 col-right no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-transactions.png" class="img-responsive" />
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-ledger.png" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Ledger</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-ledger.png" class="img-responsive only-mobile" />
      <p class="desc">
        It’s your economy, we give you the tools to manage it. Simple Token includes world class monitoring, analytics, macro and micro economy trends, fraud detection and prevention, and security.
      </p>
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left col-text">
      <h2>Rights</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-rights.png" class="img-responsive only-mobile" />
      <p class="desc">
        Simple Token lets you design a unique experience. Brand your token, set desired exchange rates and allowable fluctuations, setup various transaction types and user incentives. You own the experience from end to end.
      </p>
    </div>
    <div class="col-sm-6 col-right no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-rights.png" class="img-responsive" />
    </div>
  </div>

  <div class="row feature">
    <div class="col-sm-6 col-left no-mobile">
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-admin.png" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-right col-text">
      <h2>Administration</h2>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-stack-admin.png" class="img-responsive only-mobile" />
      <p class="desc">
        It’s your economy, we give you the tools to manage it. Simple Token includes world class monitoring, analytics, macro and micro economy trends, fraud detection and prevention, and security.
      </p>
    </div>
  </div>

</div>