<div class="container-fluid container-jumbotron">
  <div class="row">
    <div class="col-xs-12">
        <div class="text-center image">

        </div>
        <div class="text-center copy">
          <h1 class="heading">Simple Token Architecture</h1>
          <p>
            Simple Token is a software that connects utility chains to the public ethereum blockchain andenable any business to launch personalized tokens to give life to user ecosystems. Simple Token is a software that connects
          </p>
          <a href="#features" class="btn-common btn-gold get-started">Get Started</a>
        </div>
    </div>
  </div>
</div>