<div class="container-fluid container-jumbotron">

  <div class="row">
    <div class="text-center image">
      <img class="no-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-web-1x.png" alt="The Simple Token Solution" title="The Simple Token Solution" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-web-2x.png" />
      <img class="only-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-mobile-1x.png" alt="The Simple Token Solution" title="The Simple Token Solution" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-mobile-2x.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="text-center copy">
          <h1 class="heading">The Simple Token Solution</h1>
          <p>
            Launch your own Branded Tokens and turn your business into a dynamic ecosystem. The OpenST protocol enables any business to stake Simple Tokens against minting their own Branded Tokens. The Simple Token Software-as-a-Service gives you the tools to manage, customize, and analyze your token economy.
          </p>
          <a href="#features" class="btn-common btn-gold get-started">Get Started</a>
        </div>
    </div>
  </div>
</div>