<div class="container-fluid container-jumbotron">

  <div class="row">
    <div class="text-center image">
      <img class="no-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-web-1x.png" alt="The Simple Token Solution" title="The Simple Token Solution" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-web-2x.png" />
      <img class="only-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-mobile-1x.png" alt="The Simple Token Solution" title="The Simple Token Solution" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-mobile-2x.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="text-center copy">
          <h1 class="heading">The Simple Token Solution</h1>
          <p>
            Launch your own Branded Tokens and turn your business into a dynamic ecosystem. The OpenST protocol enables any business to stake Simple Tokens against minting their own Branded Tokens. The Simple Token Software-as-a-Service gives you the tools to manage, customize, and analyze your token economy.
          </p>
          <a href="javascript:void(0)" class="btn-common btn-gold get-started" title="Watch Demo" data-toggle="modal" data-target="#youtube-video-modal" data-src="https://www.youtube.com/embed/-SxJ8c1Xh_A?rel=0&autoplay=1">Watch Demo</a>
          <a href="https://drive.google.com/file/d/0Bwgf8QuAEOb7Z2xIeUlLd21DSjQ/view" class="btn-common btn-grey get-started" title="White Paper" target="_blank">White Paper</a>
        </div>
    </div>
  </div>
</div>


<div class="modal fade youtube-modal" id="youtube-video-modal" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal" style="opacity: 1;font-size: 18px;position: absolute;right: 12px;top: 15px;z-index: 1">
    <span aria-hidden="true" class="modal-close-icon" title="close"></span>
  </button>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background: transparent; box-shadow: none; -webkit-box-shadow:none; border:none">
      <div class="modal-body" style="padding: 0px;">
        <iframe src="" frameborder="0" allowfullscreen id="frameVideo" style="width:100%"></iframe>
      </div>
    </div>
  </div>
</div>