<div class="container-fluid container-jumbotron">

  <div class="row">
    <div class="text-center image">
      <img class="no-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-web-1x.png" alt="Simple Token Architecture" title="Simple Token Architecture" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-web-2x.png" />
      <img class="only-mobile" src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-mobile-1x.png" alt="Simple Token Architecture" title="Simple Token Architecture" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-architecture-jumbotron-mobile-2x.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="text-center copy">
          <h1 class="heading">Simple Token Architecture</h1>
          <p>
            Simple Token is a software that connects utility chains to the public ethereum blockchain andenable any business to launch personalized tokens to give life to user ecosystems. Simple Token is a software that connects
          </p>
          <a href="#features" class="btn-common btn-gold get-started">Get Started</a>
        </div>
    </div>
  </div>
</div>