<div class="container container-features container-member-companies">
  <h2 class="text-center">Meet Our Member Companies</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <div class="text-center sub-desc">Pepo Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in <span class="text-bold">Email us at community@simpletoken.org</span> of the Semantics, a large language rd mountains, far from the countries Vokalia and Consonantia, there live the</div>
    </div>
  </div>
  <div class="cta-primary text-center" style="margin-bottom: 50px">
    <a href="" class="btn-common btn-gold">Learn More</a>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/pepo@2x.png" class="img-responsive" width="217"/>
          <p class="companies-desc">
            <span class="text-bold">Pepo</span> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/gushcloud@2x.png" class="img-responsive" width="332"/>
          <p class="companies-desc">
            <span class="text-bold">Gushcloud</span> A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/digital-knights@2x.png" class="img-responsive" width="216"/>
          <p class="companies-desc">
            <span class="text-bold">Digital Knights</span> When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/interviewbit@2x.png" class="img-responsive" width="210"/>
          <p class="companies-desc">
            <span class="text-bold">Interview Bit</span> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/vidi-vr@2x.png" class="img-responsive" width="145"/>
          <p class="companies-desc">
            <span class="text-bold">Vidi-VR</span> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/floship@2x.png" class="img-responsive" width="271"/>
          <p class="companies-desc">
            <span class="text-bold">Floship</span> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/xain@2x.png" class="img-responsive" width="294"/>
          <p class="companies-desc">
            <span class="text-bold">XAIN</span> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cta-group">
      <div class="col-xs-12 col-sm-6">
        <div class="cta-primary">
          <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/" class="btn-common btn-gold" title="Get Early Access">Get Early Access</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="cta-secondary">
          <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/documents" class="btn-common btn-grey" title="Get the Docs">Get the Docs</a>
        </div>
      </div>
    </div>
  </div>
</div>