<img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124" style="margin: 35px auto 30px;display: block;"/>
<div class="container container-member-companies" id="member-companies">
  <h2 class="text-center">Business Cases & Member Companies</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class="text-center sub-desc">The business and technical challenge our team set out to solve with Simple Token is to enable mainstream applications to benefit from deploying their own branded crypto-backed token economies, in a scalable and cryptographically-auditable manner, without needing to mint and maintain their own publicly-tradable crypto tokens. Meet below the companies who have already joined Simple Token. <span class="text-bold">Connect with us at partners@simpletoken.org</span> if you are interested in exploring how the Simple Token solution can apply to your business.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="cta-primary text-center" style="margin-bottom: 50px">
        <a href="https://medium.com/simple-token/announcing-the-first-4-simple-token-member-companies-xain-interviewbit-digitalknights-and-pepo-f912a550af4b" class="btn-common btn-gold" target="_blank">Read More</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/pepo@2x.png" class="img-responsive" width="144" alt="Simple Token Member Companies - Pepo Image"/>
          <p class="companies-desc">
            Thousands of people use <span class="text-bold">Pepo</span> every day to share insider tips on local hot spots and travel destinations. Every time a tip is upvoted, Pepo Coin are transferred from one user to another as thanks for the tip. Pepo users will be able to spend Pepo Coin on related local and travel services such as travel advise, personalized itineraries and tours.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/gushcloud@2x.png" class="img-responsive" width="221" alt="Simple Token Member Companies - Gushcloud Image"/>
          <p class="companies-desc">
            <span class="text-bold">Gushcloud</span> is Asia’s leading influencer marketing and entertainment network that connects audiences and brands with more than 12,000 global influencers and creators. We have been exploring tokenization across rewarding and incentivizing online influencer marketing, micro-payments, gaming, and analytics.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/digital-knights@2x.png" class="img-responsive" width="144" alt="Simple Token Member Companies - Digital Knights Image"/>
          <p class="companies-desc">
            <span class="text-bold">Digital Knights</span> is building a network of verified development teams and innovation projects. The marketplace will be driven through the tech due diligence curation of participants and tokenized rewards and feedback mechanisms down to individual developer level. Blockchain supported features will make the marketplace transparent to all participants.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/interviewbit@2x.png" class="img-responsive" width="140" alt="Simple Token Member Companies - Interview Bit Image"/>
          <p class="companies-desc">
            <span class="text-bold">Interview Bit</span> is a SaaS e-learning and job-discovery platform that prepared > 250,000 software engineers for companies including Amazon, Uber, Facebook and others. InterviewBit is exploring tokenizing their native coin, that users can spend on courses and coaches as they build a portfolio, to give it a tradable marketvalue.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/vidi-vr@2x.png" class="img-responsive" width="96" alt="Simple Token Member Companies - VR/AR Image"/>
          <p class="companies-desc">
            Look (by Vidi-VR)  is a VR/AR social media platform and application integrating  tokenization as a core feature for members of the community to reward and incentivize eachother for actively participating in the 3D media creation and sharing experience through elements such as bounties, ratings, and micro-payments.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/floship@2x.png" class="img-responsive" width="180" alt="Simple Token Member Companies - Floship Image"/>
          <p class="companies-desc">
            <span class="text-bold">Floship</span> is the World’s #1 international crowdfunding fulfillment provider by packages shipped; they have delivered rewards globally for over 100 of the most funded Kickstarter and Indiegogo projects. In addition to micro-payments they are exploring blockchain benefits to smooth the supply chain through their integrations with webshops and couriers.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/member-companies/xain@2x.png" class="img-responsive" width="196" alt="Simple Token Member Companies - XAIN Image"/>
          <p class="companies-desc">
            <span class="text-bold">XAIN</span> builds applications using AI to secure, stabilize and scale distributed ledger networks and in turn using the blockchain verified data to develop AI products. Xain will be using the OpenST protocol to explore tokenized applications on their networks for ride-sharing and medical patient records amongst others.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cta-group text-center">
      <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/" class="btn-common btn-gold get-started" title="Join The Token Sale">Join The Token Sale</a>
      <a href="<%= GlobalConstant::Base.simple_token_web['root_url'] %>/documents" class="btn-common btn-grey get-started" title="Get the Docs">Get the Docs</a>
    </div>
  </div>
</div>