<span class="input-number-container d-flex align-items-center">
  <input class="form-control d-inline py-0 pl-2 pr-4" [(ngModel)]="innerModel" min="{{minValue}}" max="{{maxValue}}"
          step="{{step}}" type="number" (keyup)="onKeyUp()" />
  <span class="button button-up px-1 d-flex align-top pt-2" [ngClass]="maxDisabled ? 'disable' :''">
    <svg (click)="increment()" class="icon mfa-session-up-arrow-icon" style="width:16px; height: 7px;">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mfa-session-up-arrow-icon">
        </use>
      </switch>
    </svg>
    <svg class="icon mfa-session-up-arrow-disabled-icon" style="width:16px; height: 7px;">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mfa-session-up-arrow-disabled-icon">
        </use>
      </switch>
    </svg>
  </span>
  <span class="button button-down d-flex pt-1 align-top px-1"  [ngClass]="minDisabled ? 'disable' :''">
    <svg (click)="decrement()" class="icon mfa-session-down-arrow-icon" style="width:16px; height: 7px">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mfa-session-down-arrow-icon">
        </use>
      </switch>
    </svg>
    <svg class="icon mfa-session-down-arrow-disabled-icon" style="width:16px; height: 7px;">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mfa-session-down-arrow-disabled-icon">
        </use>
      </switch>
    </svg>
  </span>
</span>
