@import "../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";
.sale-settings {
  .date-label{
    text-transform: capitalize;
    font-size: $display3-size;
    letter-spacing: 1px;
  }
  .sale-info {
    .kyc-header {
      color: $yellow-500;
    }
    .sale-header, .registration-header {
      color: $cyanish-gray;
      letter-spacing: 1px;
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
    .sale-sub-header {
      color: $cyanish-gray;
    }
    .view-only {
      vertical-align: middle;
      color: $white;
      background-color: $green-1200;
      font-size: $text5-size;
    }
    .form-inline label {
      display: block;
    }
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch {
      width: 8rem;
      position: relative;
      input {
        position: absolute;
        top: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        &:checked {
          z-index: 1;
          & + label {
            opacity: 1;
            cursor: default;
          }
        }
        &:not(:checked) {
          & + label {
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
      .toggle-outside {
        height: 100%;
        border-radius: 2rem;
        padding: 0.25rem;
        overflow: hidden;
        transition: 0.25s ease all;
      }
      .toggle-inside {
        border-radius: 5rem;
        background-color: $blue-800;
        position: absolute;
        transition: 0.25s ease all;
      }
    }
    .switch--horizontal {
      width: 18rem;
      height: 1.25rem;
      margin: 0;
      font-size: 0;
      input {
        height: 1.5rem;
        width: 2.2rem;
        left: 6rem;
        margin: 0;
        &:checked {
          & ~ .toggle-outside {
            .toggle-inside {
              left: 0.25rem;
            }
          }
        }
        & ~ input {
          &:checked {
            & ~ .toggle-outside {
              .toggle-inside {
                left: 1rem;
              }
            }
          }
        }
      }

      .toggle-outside {
        background-color: $custom-grey-7;
        position: absolute;
        width: 2.2rem;
        left: 6rem;
      }
      .toggle-inside {
        height: 1rem;
        width: 1rem;
        top: 1.5px;
      }
    }
    .switch--no-label {

      input {
        &:checked {
          & ~ .toggle-outside {
            .toggle-inside {
              background: $blue-800;
              border: 1px solid rgba(0, 0, 0, 0.2);
            }
          }
        }
        & ~ input {
          &:checked {
            & ~ .toggle-outside {
              background: $custom-grey-7;
              .toggle-inside {
                background: $blue-800;
              }
            }
          }
        }
      }
      &.switch--horizontal {
        width: 2.5rem;
        top: 6px;
      }
    }
    .switch--no-label.switch--horizontal input,
    .switch--no-label.switch--horizontal .toggle-outside {
      left: 0;
    }

    .timeSpan {
      border: 1px solid $custom-grey-7;
      display: block;
      height: 38px;
      border-radius: 4px;
      width: 100px;
    }

    .timeSpan input:focus {
      outline: none;
    }

    .timeSpan input {
      color: $blue-800;
    }

    .separator::after {
      content: ":";
      color: $custom-grey-7;
      font-size: 20px;
      line-height: 36px;
    }

    .hour, .min {
      width: 45%;
      border-radius: 4px;
    }

    .divider {
      border-top: 1px solid $custom-grey-7;
    }

    .registration-wrapper {
      overflow: hidden;
      &.show {
        max-height: 500px;
        -webkit-transition : max-height 0.6s ease;
        -moz-transition    : max-height 0.6s ease;
        -ms-transition     : max-height 0.6s ease;
        -o-transition      : max-height 0.6s ease;
        transition         : max-height 0.6s ease;
      }
      &.hide {
        max-height: 0;
        -webkit-transition : max-height 0.6s ease 0ms;
        -moz-transition    : max-height 0.6s ease 0ms;
        -ms-transition     : max-height 0.6s ease 0ms;
        -o-transition      : max-height 0.6s ease 0ms;
        transition         : max-height 0.6s ease 0ms ;
      }
    }
  }
  .timeSpan.disabled {
    & input {
      background-color: $gray-200;
    }
    & .separator::after {
      color: $blue-800;
      opacity: 0.5;
    }
    background-color: $gray-200;
  }
}

.date-icon, .saleStartDate{
  &:after{
    content: "";
    display: inline-block;
    background: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/drop-down-arrow.svg') no-repeat center;
    background-size: 75%;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 9px;
    right: 22px;
    pointer-events: none;
  }
}

