<div class="py-3 px-3 logged-in-header">
  <a class="border-none d-inline-block align-middle" href="" title="OST KYC" style="height: 25px">
    <svg class="svg" style="height: 25px; width: 125px">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kyc-loggedin-header-logo"></use>
      </switch>
    </svg>
  </a>
</div>

