<div class="toggle-header mt-3">
  <span class="mr-md-5 form-label">{{labelTxt}}</span>
  <span class="ml-2 ml-md-5 float-right">
    <span>No</span>
    <div class="switch switch--horizontal switch--no-label ml-auto"
         data-target="#superAdminSettings"
         aria-expanded="false"
         aria-controls="superAdminSettings"
         data-toggle="collapse">
      <input type="radio" [(ngModel)]="modelValue" [value]="0" (change)="onChange()"/>
      <input type="radio" [(ngModel)]="modelValue" [value]="1" (change)="onChange()"/>
      <span class="toggle-outside">
      <span class="toggle-inside"></span>
    </span>
    </div>
    <span>Yes</span>
  </span>
</div>
