<% if @presenter_obj.can_purchase? %>
<div class="container-fluid">
  <div class="row eth-deposit-address">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="text-center">
        <h1 class="header">Ethereum Deposit Address for ST Public Sale</h1>

        <fieldset id="ethereum-deposit-address" class="ethereum-deposit-address" style="display: none">
          <input  type="text" id="ethereum-address-input" class="copy-address-input" placeholder="Ethereum Deposit Address" readonly value=""/>
          <input type="button" id="ethereum-address-copy-btn" class="btn-gold copy-address-button" value="Copy">
        </fieldset>
        
        <a href="javascript:void(0)" class="btn-common btn-gold btn" id="get-deposit-address">GET DEPOSIT ADDRESS</a>
      </div>
    </div>
  </div>
</div>
<div class="token-sale-progress text-center dashboard">
  <%= render :partial => "/web/token_sale/sale_stats" %>
</div>
<div class="eth-address-links text-center" style="margin: 25px 0">
  <span class="jumbotron-links">
    <a href="javascript:void(0)" target="_blank" class="link" title="Wallet Setup Guide">
      <span class="registration-guide-link-icon icon-pos"></span>
      <span class="border-btm">how to purchase</span>
    </a>
  </span>
  <span class="jumbotron-links">
    <a href="#eth-address" class="smooth-scroll eth-link link" title="Check Your ETH Address">
      <span class="check-your-eth-link-icon icon-pos"></span>
      <span class="border-btm">verify eth address</span>
    </a>
  </span>
  <span class="jumbotron-links">
    <a href="https://simpletoken.org/faq/categories/token-sale/" target="_blank" class="link" title="Token Sale Faq">
      <span class="token-sale-link-icon icon-pos"></span>
      <span class="border-btm">token sale faq</span>
    </a>
  </span>
</div>
<% end %>


<%= render :partial => "/shared/web/modals/ethereum_confirm_modal" %>