<% if @presenter_obj.can_purchase? %>
    <div class="container-fluid">
      <div class="row eth-deposit-address">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <div class="text-center">
            <h1 class="header">Ethereum Deposit Address for ST Public Sale</h1>
            <fieldset id="ethereum-deposit-address" class="ethereum-deposit-address" style="display: none">
              <% if @presenter_obj.show_max_limit_for_early_purchase_text? %>
                  <div class="max-cap"><span>INDIVIUDAL MAX CAP XXETH</span></div>
              <% end %>
              <div style="position:relative;">
                <input type="text" id="ethereum-address-input" class="copy-address-input" placeholder="Ethereum Deposit Address" readonly value=""/>
                <input type="button" id="ethereum-address-copy-btn" class="btn-gold copy-address-button" value="Copy">
              </div>
              <div style="color: #fff;padding-top: 15px;font-size: 13px;">Paste this link into your Ethereum wallet to complete your ST purchase.</div>
            </fieldset>

            <a href="javascript:void(0)" class="btn-common btn-gold btn" id="get-deposit-address">GET DEPOSIT
              ADDRESS</a>
          </div>
        </div>
      </div>
    </div>

    <div class="eth-address-links text-center" style="margin: 25px 0">
      <span class="jumbotron-links">
        <a href="https://docs.google.com/document/d/1eFv60FGP39XqkMrtZE5FZK49rQ2QSyH3_TCm0wO5FM0/edit?ts=5a06f473&pli=1" target="_blank" class="link" title="How to Purchase">
          <span class="registration-guide-link-icon icon-pos"></span>
          <span class="border-btm">how to purchase</span>
        </a>
      </span>
      <span class="jumbotron-links">
        <a href="#eth-address" class="smooth-scroll eth-link link" title="Check Your ETH Address">
          <span class="check-your-eth-link-icon icon-pos"></span>
          <span class="border-btm">verify eth address</span>
        </a>
      </span>
      <span class="jumbotron-links">
        <a href="#eth-address" class="smooth-scroll eth-link link" title="Check Your ST Balance">
          <span class="check-st-balance-link-icon icon-pos"></span>
          <span class="border-btm">check your st balance</span>
        </a>
      </span>
    </div>

<% end %>


<%= render :partial => "/shared/web/modals/ethereum_confirm_modal" %>