<div class="text-center forgot-eth">
  <div class="header">Forgot which ETH address you registered for the sale?</div>
  <a href="javascript:void(0)" class="btn-common btn-grey" target="_blank">check here</a>
</div>