<% if !@presenter_obj.is_kyc_denied? %>
  <div class="container-fluid forgot-eth margin35auto" id="eth-address">
    <div class="row">
      <div class="col-12">
        <div class="text-center" id="user-eth-address">
          <% if @presenter_obj.had_sale_begun_for_user? %>
              <h5 class="header mb-3">Check your ST Balance</h5>
          <% else %>
            <h5 class="header mb-3">Check your ST Balance</h5>
          <% end %>

          <div id="user-eth-address-input-wrap" class="dashboard-page mx-auto">
            <fieldset id="user-eth-address-fieldset" class="user-eth-address">
              <input type="text" name="user_etherenum_address" id="user-eth-address-input" class="user-eth-address-input" 
                      placeholder="Enter the ETH Address you submitted" value="" />
              <input type="button" id="user-eth-address-validate-btn" class="btn-gold user-eth-address-validate-btn" value="CHECK">
            </fieldset>
            <div class="errors-wrap">
              <div class="error" data-for="user_etherenum_address"></div>
              <div class="error" data-for="general_error"></div>
            </div>
          </div>

          <div id="user-eth-address-success" class="dashboard-page" style="margin: 20px auto;display: none;">
            <div class="card kyc-panel approved">
              <div class="card-body">
                <h5 class="header mb-3 pb-2 border-bottom-blue-800" ><span class="kyc-status-icon-approved" style="vertical-align: middle"></span>&nbsp;Yes, this is the ETH address you provided.</h5>
                <input type="button" id="user-eth-address-success-done-btn" class="done-btn btn user-eth-address-validate-btn" value="DONE">
              </div>
            </div>
          </div>

          <div id="user-eth-address-purchase-details" class="dashboard-page" style="margin: 20px auto;display: none;">
            <div class="card kyc-panel approved">
              <div class="card-body">
                <h5 class="header mb-3 pb-2 border-bottom-blue-800" >Your ST Purchase Summary</div>
                <div class="progress-stats">
                  <span>ETH Sent:</span>
                  <span id="user-eth-address-purchase-eth-sent" class="stats-number"></span>
                </div>
                <div class="progress-stats">
                  <span>ST Purchased:</span>
                  <span id="user-eth-address-purchase-st-allotted" class="stats-number"></span>
                </div>
                <div class="progress-stats mb-3">
                  <span>ST Bonuses Earned:</span>
                  <span id="user-eth-address-bonus-st-allotted" class="stats-number"></span>
                </div>
                <input type="button" id="user-eth-address-purchase-details-done-btn" style="letter-spacing: 2px" class="done-btn btn user-eth-address-validate-btn" value="DONE">
                <div class="stats-note-desc display-4">*ST bonuses will be distributed on 15 January, 2018.</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>