<% if !@presenter_obj.is_kyc_denied? %>
  <div class="container-fluid forgot-eth margin35auto">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <div class="header">Forgot which ETH address you registered for the sale?</div>
          <a href="javascript:void(0)" class="btn-common btn-grey" target="_blank">check here</a>
      </div>
    </div>
  </div>
</div>
<% end %>