<div class="text-center eth-deposit-address">
  <h1 class="header">Ethereum Deposit Address</h1>
  <a href="javascript:void(0)" class="btn-common btn-grey btn" target="_blank">GET DEPOSIT ADDRESS</a>
  <div style="margin: 25px 0">
    <a href="#eth-address" class="smooth-scroll eth-link" title="Check Your ETH Address">check your eth address</a>
    <a href="javascript:void(0)" target="_blank" class="eth-link" title="Token Sale Guide">token sale guide</a>
    <a href="javascript:void(0)" target="_blank" class="eth-link" title="Wallet Setup Guide">wallet setup guide</a>
  </div>
</div>