<div class="container-fluid dashboard-page">
  <div class="row">

    <div class="col-xs-12">
      <div class="text-center">

        <div class="panel panel-default kyc-panel <%= @presenter_obj.is_kyc_denied? ? 'denied' : 'approved' %>">
          <table class="panel-body">
            <tr>
              <td>
                <span class="kyc-status-icon-<%= @presenter_obj.user_kyc_data['kyc_status'] %> ver-middle"></span>
                <span class="ver-middle"><%= @presenter_obj.is_kyc_denied? ? 'KYC Verification Failed' : @presenter_obj.is_kyc_approved? ? 'KYC Verified' : 'KYC Verification' %></span>
              </td>
              <% if @presenter_obj.is_kyc_pending? %>
                <td>
                  <a href="/update-kyc">update info</a>
                </td>
              <% end %>
            </tr>
          </table>
        </div>

        <div class="panel panel-default kyc-panel approved">
          <table class="panel-body">
            <tr>
              <td>
                <span class="kyc-status-icon-<%= @presenter_obj.token_name_status_class %> ver-middle"></span>
                <span class="ver-middle">Reserve Token Name</span>
              </td>
              <% if @presenter_obj.is_kyc_pending? %>
                <td>
                  <a href="/update-token">change name</a>
                </td>
              <% end %>
            </tr>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>