<div id="sale-progress-container" class="container-fluid container-progress <%= !@presenter_obj.has_sale_ended? && !@presenter_obj.has_sale_paused? && !@presenter_obj.can_purchase? ? 'gradient' : '' %> ">
  <div class="content">
    <% if !@presenter_obj.has_sale_ended? && !@presenter_obj.has_sale_paused? %>
        <h2 class="header">Community Crowd Sale Bonuses</h2>
        <p class="lead">The more ST sold, the more everyone benefits!</p>
    <% end %>
    <%= render :partial => "/shared/web/common/progress" %>
  </div>
</div>

<div class="token-sale-progress text-center dashboard">
  <%= render :partial => "/web/token_sale/sale_stats" %>
</div>