<div class="container container-progress">
  <div class="content">
    <h2 class="header">Community Crowd Sale Bonuses</h2>
    <p class="lead">The more ST sold, the more everyone benefits!</p>
    <%= render :partial => "/shared/web/common/progress" %>
  </div>
</div>
<div class="token-sale-progress text-center dashboard">
  <%= render :partial => "/web/token_sale/sale_stats" %>
</div>