<div class="container-fluid have-question margin35auto">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center ">
        <div class="question-txt">Have questions on the Token Sale? Check these Docs!</div>
        <span class="jumbotron-links">
          <a href="https://simpletoken.org/faq/categories/token-sale/" class="link" target="_blank" title="Token Sale FAQ">
            <span class="token-sale-link-icon icon-pos"></span>
            <span class="border-btm">Token Sale FAQ</span>
          </a>
        </span>
        <span class="jumbotron-links">
          <a href="https://docs.google.com/document/d/1eFv60FGP39XqkMrtZE5FZK49rQ2QSyH3_TCm0wO5FM0/edit?ts=5a06f473&pli=1" target="_blank" class="link" title="How to Purchase">
            <span class="faq-link-icon icon-pos"></span>
            <span class="border-btm">How to Purchase</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>