<div class="container-fluid have-question margin35auto">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center ">
        <div class="question-txt">Have Question on the Token Sale? Check these Docs!</div>
        <a href="https://simpletoken.org/faq/categories/token-sale/" target="_blank">token sale faq</a><a href="https://simpletoken.org/documents" target="_blank">documents</a>
      </div>
    </div>
  </div>
</div>