<div class="container-fluid have-question margin35auto">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center ">
        <div class="question-txt">Have questions on the Token Sale? Check these Docs!</div>
        <span class="jumbotron-links">
          <a href="https://simpletoken.org/faq/categories/token-sale/" class="link" target="_blank" title="Token Sale FAQ">
            <span class="token-sale-link-icon icon-pos"></span>
            <span class="border-btm">Token Sale FAQ</span>
          </a>
        </span>
        <span class="jumbotron-links">
          <a href="https://simpletoken.org/documents" target="_blank" class="link" title="Documents">
            <span class="documents-link-icon icon-pos"></span>
            <span class="border-btm">Documents</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>