<div class="container-fluid have-question margin35auto">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center ">
        <div class="question-txt">Have Question on the Token Sale? Check these Docs!</div>
        <a href="javascript:void(0)" target="_blank" title="Token Sale Guide">token sale guide</a><a href="javascript:void(0)" target="_blank" title="Wallet Setup Guide">wallet setup guide</a>
      </div>
    </div>
  </div>
</div>