<div class="text-center have-question">
  <div class="question-txt">Have Question on the Token Sale? Check these Docs!</div>
  <a href="javascript:void(0)">TOKEN SALE GUIDE</a><a href="">WALLET SETUP GUIDE</a>
</div>