<div class="container-fluid dashboard-page margin35auto">
  <div class="row">
    <div class="col-12">
      <div class="registration-timer">
        <h6 class="text-center pb-2" style="color: <%= @presenter_obj.page_data.title_text_color%>;"><%= @presenter_obj.is_early_access_mode_on_for_user? ? 'early access sale' : 'sale' %> <%= @presenter_obj.is_sale_live_for_user? ? 'is live' : 'starts in' %></h6>
        <% if @presenter_obj.is_sale_live_for_user? %>
          <div class="time-remain text-center mb-3 display-3" >&mdash;&nbsp;Time Remaining&nbsp;&mdash;</div>
        <% end %>

        <%=
          render partial: '/shared/web/common/kycaas_countdown_timer',
                 locals: {
                     timestamp: (@presenter_obj.countdown_timestamp - Time.now.to_i) * 1000
                 }
        %>
        <% if @presenter_obj.is_sale_live_for_user? && !@presenter_obj.is_early_access_mode_on_for_user? %>
          <div class="time-remain text-center mt-3 pt-2 display-3">OR TILL TOKENS LAST</div>
        <% end %>

      </div>
    </div>
  </div>
</div>