<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center ">
        <span class="jumbotron-links" style="margin: 25px 0 0 0">
          <a href="https://medium.com/simple-token" class="link" target="_blank" title="Blog">
            <span class="sale-end-blog-icon icon-pos"></span>
            <span class="border-btm">blog</span>
          </a>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span class="jumbotron-links" style="margin: 25px 0 0 0">
          <a href="mailto:support@simpletoken.org" target="_top" class="link" title="Email Support">
            <span class="sale-end-support-email-icon icon-pos"></span>
            <span class="border-btm">Email Support</span>
          </a>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span class="jumbotron-links" style="margin: 25px 0 0 0">
          <a href="https://docs.google.com/document/d/19eUCyVHSWBGB79djGnTS6h-OV1EtTkNl8v4ECPQ8xNk/edit" target="_blank" class="link" title="After Sale Guide">
            <span class="sale-end-after-sale-guide-icon icon-pos"></span>
            <span class="border-btm">after sale guide</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>