<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center ">
        <span class="jumbotron-links" style="margin: 25px 0 0 0">
          <a href="https://simpletoken.org/faq/categories/token-sale/" class="link" target="_blank" title="Blog">
            <span class="sale-end-blog-icon icon-pos"></span>
            <span class="border-btm">blog</span>
          </a>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span class="jumbotron-links" style="margin: 25px 0 0 0">
          <a href="mailto:support@simpletoken.com" target="_top" class="link" title="Support Email">
            <span class="sale-end-support-email-icon icon-pos"></span>
            <span class="border-btm">support email</span>
          </a>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span class="jumbotron-links" style="margin: 25px 0 0 0">
          <a href="https://docs.google.com/document/d/1eFv60FGP39XqkMrtZE5FZK49rQ2QSyH3_TCm0wO5FM0/edit?ts=5a06f473&pli=1" target="_blank" class="link" title="After Sale Guide">
            <span class="sale-end-after-sale-guide-icon icon-pos"></span>
            <span class="border-btm">after sale guide</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>