<% if @presenter_obj.page_data['telegram_href'].present? %>
<div class="container-fluid container-telegram token-sale-telegram" style="background-color: <%= @presenter_obj.page_data['container_background_color'] %>;">
  <div class="content">
    <p>Live Updates & News on the Public Token Sale</p>
    <a href="<%= @presenter_obj.page_data['telegram_href'] %>" title="<%= @presenter_obj.account_name %> Telegram" class="telegram-link" target="_blank">
      <div class="telegram-connect token-sale-telegram-connect">
        <div class="left-comp">Learn More</div>
        <div class="right-comp">on telegram</div>
        <span class="telegram-connect-symbol"><span class="microsite-telegram-connect-icon"></span></span>
      </div>
    </a>
  </div>
</div>
<% end %>