<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h1 class="header">We are sorry to inform you that the Token Sale is Paused because of the your overwhelming response.</h1>
      <div class="kyc-status-msg pause-status">We will keep everyone registered updates on the progress and send an email as soon as the sale starts again </div>
    </div>
  </div>
</div>