<div class="container-fluid dashboard-page">
  <div class="registration-timer">
    <div class="progress-stats">Raised: 1216 ETH ($4,535,680)</div>
        <div class="progress-stats">Avialable: 200 ETH ($332,998)</div>
        <div class="progress-stats">Ratio: 1 Simple Token = 0.01 ETH</div>
  </div>
</div>