<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <h1 class="header" style="font-size: 28px">The Token Sale is currently paused due to overwhelming response.</h1>
      <div class="pause-status">We will keep everyone registered updated on the progress and send an email as soon as the sale starts again</div>
    </div>
  </div>
</div>