<div class="container-fluid">
  <div class="row text-center ">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <h1 class="header" style="font-size: 28px;margin-bottom: 20px">The ST Token Sale Ended</h1>
      <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/sale-ended-arrow-image.png" width="135"/>
      <div class="pause-status">We want to thank the community for the overwhelming response and participation. The ST token sale has been successfully completed.</div>
    </div>
  </div>
</div>