<% content_for :gradient_class, "poRel" %>
<div class="container-fluid">
  <div class="row text-center ">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <h1 class="header" style="font-size: 28px">The ST Token Sale Ended</h1>
      <div class="pause-status">We want to thank the community for the overwhelming response and participation. The ST token sale has been successfully completed. Login to view your ST account balance. <a href="https://www.t.me/simpletoken" target="_blank" title="Connect with us on Telegram">Connect with us on Telegram</a> for the latest updates.</div>
    </div>
  </div>
</div>