<div class="container-fluid dashboard-page" style="margin-bottom: 50px;">
  <div class="registration-timer">
    <div class="token-header">token sale update</div>
    <div class="progress-stats">Raised: 1216 ETH ($4,535,680)</div>
  </div>
</div>