<div class="text-center">
  <h1 class="header">We are sorry to inform you that the Token Sale is Paused because of the your overwhelming response.</h1>
  <div class="status-msg">We will keep everyone registered updates on the progress and send an email as soon as the sale starts again </div>
</div>