<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
      <h4 class="header mt-4">Pardon the Interruption</h4>
      <div class="pause-status display-1 mt-3">The Token Sale has been temporarily paused. We will notify everyone via email as soon as it is live again. <a href="<%= @presenter_obj.page_data['telegram_href'] %>" target="_blank" title="Connect with us on Telegram">Connect with us on Telegram</a> to get the latest updates.</div>
    </div>
  </div>
</div>