<div class="container container-jumbotron ">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <a href="/" title="Simple Token">
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline.png" srcset="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-2x.png 1000w" class="logo-desktop img-responsive hidden-xs"/>
        <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/logo/logo-with-tagline-mobile.png" class="logo-mobile img-responsive"/>
      </a>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <h1 class="desc text-center">Branded Tokens to Turn Your Business into a Dynamic Ecosystem</h1>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="sub-desc text-center">Simple Token enables any business to launch a branded cryptocurrency on open Ethereum sidechains.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      <div class="row side-by-side-content">

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <div class="laptop-wrapper">
            <div class="ipad-frame">
              <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/marketing-page-video-cover-image@2x.png" alt="Marketing Image" class="img-responsive play-video-image"/>
              <iframe id="videoFrame" class="video-frame-container" data-src="https://www.youtube.com/embed/oLQSM5prDgk?rel=0&autoplay=1" frameborder="0" allowfullscreen hidden style="display:none;"></iframe>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-0 col-lg-5 timerTopMargin">
          <div class="get-early-access text-center">
            <h2>as seen on <br/>product hunt</h2>
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/product-hunt-logo@3x.png" alt="Producthunt Image" width="113"/>
            <a href="<%= GlobalConstant::Base.simple_token_web['sale_root_url'] %>/sign-up" class="btn-common btn-gold form-btn-transparent get-early-access-btn" title="Get Early Access">get early access</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>