@import "../../../../../assets/stylesheets/admin/simple_token_theme_admin/_variables";
.error {
  font-size: $text4-size;
  color: color('red');
  min-height: 25px;
  font-weight: $font-weight-500;
}
