<request-state-handler class="d-block w-100 page-loader" [isProcessing]="isProcessing" [hasError]="hasError">
  <ng-container class="error-content">
    <div class="col-12">{{ errorMessage }}</div>
  </ng-container>
</request-state-handler>

<div class="contract-addresses" *ngIf="!hasError && !isProcessing">
  <div class="row mt-4 pt-2 ">
    <div class="col-12 col-lg-6">
      <h4 class="kyc-header text-transform-upper">Contract Addresses</h4>
    </div>
  </div>
  <div *ngIf="web_host_setup_done" class="deposit-address-section">
    <div class="row">
      <div class="col-12 mt-2 contract-sub-header">
        Deposit Contract Address
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2 contract-header-content">The Deposit Contract Address is displayed in the User Dashboard to your potential purchases once they are KYC approved. From this section you are able to update the Deposit Contract Address.
      </div>
    </div>
    <div class="row mt-4">
      <form #depositAddress="ngForm" (ngSubmit)="submitDepositAddress( depositAddress )" class="col-12 col-md-5 mb-3" id="depositAddressForm">
        <div class="form-group">
          <label class="form-label" for="deposit_address">DEPOSIT CONTRACT ADDRESS</label>
          <input type="text" class="form-control" ngModel #deposit_address="ngModel" name="ethereum_deposit_address"
                 [(ngModel)]="ethereum_deposit_address"
                 placeholder="<enter Deposit Contract Address here>"
                 id="deposit_address"
                 title="deposit contract address"
                 pattern="(0x|0X)?[0-9a-fA-F]{40}"
                 required />
          <ost-form-error-handler [errorFor]="deposit_address" [fieldName]="'Deposit Address'"
                                  [serverError]="errorResponse">
          </ost-form-error-handler>
        </div>
        <div class="form-group user-form-footer text-center text-sm-left row mt-3 mb-3">
          <div class="col-12">
            <button type="submit" [disabled]="!depositAddress.valid || (ethereum_deposit_address == saved_eth_addr)" class="btn btn-primary">
              Apply
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="web_host_setup_done && has_whitelist_add_on" class="divider"></div>
  <div *ngIf="has_whitelist_add_on" class="whitelisting-address mt-3">
    <div class="row">
      <div class="col-12 mt-2 contract-sub-header">
        Whitelisting Contract Address
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2 contract-header-content">The Whitelisting Contract Address is the Smart Contract where the Ethereum Address of your KYC Approved potential purchases are whitelisted. It can be the same or different from the Deposit Contract Address based on the details of your ICO. From this section, you can update your Whitelisting Contract Address.

        The Ethereum addresses of the KYC Approved potential purchases are Whitelisted through a VOA (Verified Operator Address) which calls a function in your ICO Whitelisting Contract Address. Please refer to our documentation here for the proper setup and testing of the Whitelisting functionality.
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <form #whitelistingAddress="ngForm" (ngSubmit)="submitWhitelistingAddress( whitelistingAddress )" class="col-12 col-md-5" id="whitelistingAddressForm">
        <div class="form-group">
          <label class="form-label" for="deposit_address">WHITELISTING CONTRACT ADDRESS</label>
          <input type="text" class="form-control" ngModel #whitelisting_address="ngModel" name="whitelist_contract_address"
                 [(ngModel)]="whitelist_contract_address"
                 placeholder="<enter Whitelist Contract Address here>"
                 id="whitelisting_address"
                 title="whitelisting contract address"
                 pattern="(0x|0X)?[0-9a-fA-F]{40}"
                 required />
          <ost-form-error-handler [errorFor]="whitelisting_address" [fieldName]="'Whitelisting Address'"
                                  [serverError]="errorResponse">
          </ost-form-error-handler>
        </div>
        <div class="form-group mt-2">
          <div class="form-label">
            VERIFIED OPERATOR ADDRESS
          </div>
          <div class="form-group">
            <input disabled class="form-control" value="{{verified_operator_address}}"/>
          </div>
        </div>
        <div class="form-check mt-3 pl-0">
          <input  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]= "rewhitelist_users"
                  [checked]="rewhitelist_users"
                  name="rewhitelist"
                  id="rewhitelist"  />
          <label class="form-check-label rewhitelist_checkbox"
                 for="rewhitelist">Rewhitelist all previously whitelisted users</label>
        </div>
        <div class="form-group user-form-footer text-center text-sm-left row mt-4">
          <div class="col-12">
            <button [disabled]="!whitelistingAddress.valid || (whitelist_contract_address == saved_whitelist_addr)" type="submit" class="btn btn-primary">
              Apply
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<verify-otp-modal [context]="context" (serverError)="handleError($event)" >
  <ng-container class="custom-success-content">
    <h5>The {{context.fieldName}} has been successfully updated.</h5>
  </ng-container>
</verify-otp-modal>



